Repository sympy/sympy, pull requests merged in 2018-11, with the labels that each got.

#15423 Reverts backwards incompatible changes to theano_function()
  doc/src/modules/numeric-computation.rst
  sympy/printing/tests/test_theanocode.py
  sympy/printing/theanocode.py
Labels: Backwards Incompatibility, printing

#15341 matrices: Improved speed of solve()
  sympy/matrices/matrices.py
  sympy/matrices/tests/test_matrices.py
Labels: PR: sympy's turn, matrices

#15434 Rescale ODEs to match Euler solver
  sympy/solvers/ode.py
  sympy/solvers/tests/test_ode.py
Labels: solvers

#15368 Enable Jupyter LaTeX formatting by default
  sympy/core/basic.py
  sympy/interactive/printing.py
  sympy/matrices/matrices.py
  sympy/physics/vector/dyadic.py
  sympy/physics/vector/vector.py
  sympy/tensor/array/ndim_array.py
Labels: printing
