Repository sympy/sympy, pull requests merged in 2018-07, with the labels that each got.

#13100 Codegen: More AST nodes
  .gitignore
  .travis.yml
  bin/test_travis.sh
  doc/src/modules/codegen.rst
  doc/src/modules/ntheory.rst
  doc/src/modules/printing.rst
  setup.py
  sympy/codegen/__init__.py
  sympy/codegen/algorithms.py
  sympy/codegen/ast.py
  sympy/codegen/cfunctions.py
  sympy/codegen/cnodes.py
  sympy/codegen/cutils.py
  sympy/codegen/cxxnodes.py
  sympy/codegen/ffunctions.py
  sympy/codegen/fnodes.py
  sympy/codegen/futils.py
  sympy/codegen/pyutils.py
  sympy/codegen/tests/test_algorithms.py
  sympy/codegen/tests/test_applications.py
  sympy/codegen/tests/test_ast.py
  sympy/codegen/tests/test_cnodes.py
  sympy/codegen/tests/test_cxxnodes.py
  sympy/codegen/tests/test_ffunctions.py
  sympy/codegen/tests/test_fnodes.py
  sympy/core/tests/test_args.py
  sympy/integrals/tests/test_integrals.py
  sympy/physics/continuum_mechanics/beam.py
  sympy/physics/continuum_mechanics/tests/test_beam.py
  sympy/printing/ccode.py
  sympy/printing/codeprinter.py
  sympy/printing/cxxcode.py
  sympy/printing/fcode.py
  sympy/printing/glsl.py
  sympy/printing/lambdarepr.py
  sympy/printing/latex.py
  sympy/printing/llvmjitcode.py
  sympy/printing/printer.py
  sympy/printing/pycode.py
  sympy/printing/str.py
  sympy/printing/tests/test_ccode.py
  sympy/printing/tests/test_fcode.py
  sympy/printing/tests/test_pycode.py
  sympy/utilities/_compilation/__init__.py
  sympy/utilities/_compilation/availability.py
  sympy/utilities/_compilation/compilation.py
  sympy/utilities/_compilation/runners.py
  sympy/utilities/_compilation/tests/__init__.py
  sympy/utilities/_compilation/tests/test_compilation.py
  sympy/utilities/_compilation/util.py
Labels: codegen

#14861 Add methods for isomorphism computation
  sympy/combinatorics/homomorphisms.py
  sympy/combinatorics/tests/test_homomorphisms.py
Labels: PR: author's turn, combinatorics

#13889 Tribonacci numbers and constant
  doc/src/modules/core.rst
  doc/src/modules/functions/combinatorial.rst
  sympy/assumptions/handlers/calculus.py
  sympy/assumptions/handlers/sets.py
  sympy/assumptions/tests/test_query.py
  sympy/core/__init__.py
  sympy/core/numbers.py
  sympy/core/tests/test_args.py
  sympy/core/tests/test_numbers.py
  sympy/functions/__init__.py
  sympy/functions/combinatorial/numbers.py
  sympy/functions/combinatorial/tests/test_comb_numbers.py
  sympy/printing/codeprinter.py
  sympy/printing/str.py
  sympy/printing/tests/test_repr.py
  sympy/printing/tests/test_str.py
  sympy/series/tests/test_sequences.py
  sympy/utilities/tests/test_pickling.py
Labels: combinatorics, concrete, functions, series

#14735 Add automaton for word reduction in rewriting systems
  sympy/combinatorics/rewritingsystem.py
  sympy/combinatorics/rewritingsystem_fsm.py
  sympy/combinatorics/tests/test_rewriting.py
Labels: PR: author's turn

#14847 Added multivariate forms of Laplace, studentT and NormalGamma distributions
  sympy/core/tests/test_args.py
  sympy/stats/crv_types.py
  sympy/stats/joint_rv_types.py
  sympy/stats/tests/test_joint_rv.py
Labels: stats

#14896 added contour plotting method in sympy/plotting/plot.py
  sympy/plotting/plot.py
  sympy/plotting/tests/test_plot.py
Labels: plotting

#14865 linsolve: added a check to remove `Prefix` objects from equation
  sympy/physics/units/prefixes.py
  sympy/physics/units/tests/test_util.py
  sympy/physics/units/util.py
  sympy/solvers/tests/test_solvers.py
  sympy/solvers/tests/test_solveset.py
Labels: PR: author's turn, physics, solvers

#14736 transcendental equation solver for solveset: transolve
  doc/src/modules/solvers/solveset.rst
  sympy/solvers/solveset.py
  sympy/solvers/tests/test_solveset.py
Labels: PR: author's turn, solvers

#14856 continuum_mechanics can now use units
  sympy/physics/continuum_mechanics/tests/test_beam.py
Labels: GSoC, physics.continuum_mechanics, physics.units

#14922 Add moment generating functions to stats
  sympy/stats/__init__.py
  sympy/stats/crv.py
  sympy/stats/crv_types.py
  sympy/stats/drv.py
  sympy/stats/drv_types.py
  sympy/stats/frv.py
  sympy/stats/rv.py
  sympy/stats/rv_interface.py
  sympy/stats/tests/test_continuous_rv.py
  sympy/stats/tests/test_discrete_rv.py
  sympy/stats/tests/test_finite_rv.py
Labels: PR: sympy's turn

#14883 continuum_mechanics: added `Beam_3d` class
  sympy/physics/continuum_mechanics/beam.py
  sympy/physics/continuum_mechanics/tests/test_beam.py
Labels: GSoC, PR: author's turn

#14830 Add implementation of the modified coset enumeration
  sympy/combinatorics/coset_table.py
  sympy/combinatorics/tests/test_coset_table.py
Labels: PR: author's turn

#14963 meijerint: another missing factor of 2*pi*I in a transform
  sympy/integrals/meijerint.py
  sympy/integrals/tests/test_meijerint.py
Labels: integrals

#14870 fix to issue #14732
  sympy/core/evalf.py
Labels: PR: author's turn

#14971 RisingFactorial/FallingFactorial: fix high-precision floats
  sympy/core/evalf.py
  sympy/functions/combinatorial/tests/test_comb_factorials.py
  sympy/utilities/lambdify.py
Labels: floats

#14980 factor_terms: don't assume `as_coeff_Mul()[0]` is real
  sympy/core/exprtools.py
Labels: core

#14995 Modification in `MarginalDistribution.pdf`
  sympy/stats/joint_rv.py
  sympy/stats/tests/test_mix.py
Labels: PR: author's turn, stats
