Repository sympy/sympy, pull requests merged in 2018-10, with the labels that each got.

#15241 Derivative._sort_variable_count correction
  sympy/core/function.py
  sympy/core/tests/test_function.py
Labels: PR: sympy's turn, Wrong Result

#15304 Fixed Beam.apply_load() wrong result for high order loads with ends
  doc/src/modules/physics/continuum_mechanics/beam_problems.rst
  sympy/physics/continuum_mechanics/beam.py
  sympy/physics/continuum_mechanics/tests/test_beam.py
Labels: PR: sympy's turn, Wrong Result, physics.continuum_mechanics

#15295 Fix Definite Integral for functions with ConditionSet singularities
  sympy/core/expr.py
  sympy/integrals/tests/test_integrals.py
Labels: PR: sympy's turn

#15272 Regression in matrix docs
  doc/src/modules/matrices/matrices.rst
  sympy/matrices/matrices.py
Labels: PR: sympy's turn

#15310 Improvement to the beam sphinx docs
  .travis.yml
  doc/src/conf.py
  doc/src/modules/physics/continuum_mechanics/beam_problems.rst
  sympy/physics/continuum_mechanics/beam.py
Labels: Documentation, PR: sympy's turn, physics.continuum_mechanics

#15317 Eq.rewrite(Add) defined
  sympy/codegen/cfunctions.py
  sympy/concrete/products.py
  sympy/core/basic.py
  sympy/core/numbers.py
  sympy/core/power.py
  sympy/core/relational.py
  sympy/core/tests/test_relational.py
  sympy/functions/combinatorial/factorials.py
  sympy/functions/combinatorial/numbers.py
  sympy/functions/elementary/complexes.py
  sympy/functions/elementary/exponential.py
  sympy/functions/elementary/hyperbolic.py
  sympy/functions/elementary/integers.py
  sympy/functions/elementary/miscellaneous.py
  sympy/functions/elementary/piecewise.py
  sympy/functions/elementary/trigonometric.py
  sympy/functions/special/bessel.py
  sympy/functions/special/delta_functions.py
  sympy/functions/special/elliptic_integrals.py
  sympy/functions/special/error_functions.py
  sympy/functions/special/gamma_functions.py
  sympy/functions/special/hyper.py
  sympy/functions/special/polynomials.py
  sympy/functions/special/singularity_functions.py
  sympy/functions/special/spherical_harmonics.py
  sympy/functions/special/zeta_functions.py
  sympy/geometry/ellipse.py
  sympy/geometry/line.py
  sympy/integrals/transforms.py
  sympy/logic/boolalg.py
  sympy/matrices/expressions/trace.py
  sympy/physics/optics/waves.py
  sympy/physics/quantum/qexpr.py
  sympy/physics/quantum/sho1d.py
  sympy/physics/quantum/spin.py
  sympy/solvers/solvers.py
  sympy/solvers/solveset.py
  sympy/solvers/tests/test_solvers.py
  sympy/solvers/tests/test_solveset.py
  sympy/stats/symbolic_probability.py
Labels: PR: sympy's turn

#15320 disallow non-symbol generator for RootOf
  sympy/polys/rootoftools.py
  sympy/polys/tests/test_polytools.py
  sympy/polys/tests/test_rootoftools.py
Labels: PR: sympy's turn

#15256 Improve doc for det and add test for legacy
  sympy/matrices/matrices.py
  sympy/matrices/tests/test_matrices.py
Labels: PR: sympy's turn

#15333 Added support for slice assignments to N-dimensional arrays
  sympy/tensor/array/dense_ndim_array.py
  sympy/tensor/array/ndim_array.py
  sympy/tensor/array/sparse_ndim_array.py
  sympy/tensor/array/tests/test_immutable_ndim_array.py
  sympy/tensor/array/tests/test_mutable_ndim_array.py
Labels: tensor

#14132 Sum : added piecewise for fractional inside `eval_sum_symbolic`
  sympy/concrete/summations.py
  sympy/concrete/tests/test_sums_products.py
Labels: PR: sympy's turn

#15342 CodePrinter deleted `_not_supported` prematurely
  sympy/printing/codeprinter.py
  sympy/utilities/tests/test_lambdify.py
Labels: PR: sympy's turn

#15204 documentation mods for transolve
  sympy/solvers/solveset.py
Labels: Documentation, PR: sympy's turn, solvers.solveset

#15371 restore 1.0 subs behavior wrt new
  sympy/core/basic.py
  sympy/core/tests/test_basic.py
  sympy/core/tests/test_subs.py
Labels: PR: sympy's turn

#15300 broaden dummy_eq capabilities
  sympy/concrete/expr_with_limits.py
  sympy/concrete/summations.py
  sympy/concrete/tests/test_sums_products.py
  sympy/core/basic.py
  sympy/core/function.py
  sympy/core/symbol.py
  sympy/core/tests/test_basic.py
  sympy/core/tests/test_function.py
  sympy/core/tests/test_symbol.py
  sympy/diffgeom/diffgeom.py
  sympy/integrals/integrals.py
  sympy/printing/tests/test_repr.py
  sympy/solvers/ode.py
  sympy/solvers/tests/test_ode.py
Labels: PR: sympy's turn

#15049 Derivative related modifications
  sympy/algebras/quaternion.py
  sympy/concrete/tests/test_sums_products.py
  sympy/core/expr.py
  sympy/core/function.py
  sympy/core/mul.py
  sympy/core/relational.py
  sympy/core/tests/test_basic.py
  sympy/core/tests/test_diff.py
  sympy/core/tests/test_expr.py
  sympy/core/tests/test_function.py
  sympy/core/tests/test_relational.py
  sympy/core/tests/test_subs.py
  sympy/diffgeom/diffgeom.py
  sympy/functions/elementary/piecewise.py
  sympy/functions/elementary/tests/test_piecewise.py
  sympy/holonomic/holonomic.py
  sympy/integrals/integrals.py
  sympy/integrals/tests/test_integrals.py
  sympy/logic/boolalg.py
  sympy/logic/tests/test_boolalg.py
  sympy/matrices/dense.py
  sympy/matrices/matrices.py
  sympy/matrices/tests/test_matrices.py
  sympy/printing/latex.py
  sympy/series/formal.py
  sympy/series/tests/test_series.py
  sympy/simplify/tests/test_cse.py
  sympy/solvers/tests/test_ode.py
  sympy/tensor/array/ndim_array.py
  sympy/utilities/tests/test_wester.py
  sympy/vector/basisdependent.py
Labels: PR: sympy's turn, Wrong Result

#15345 Mathematica code printing of Max and Min
  sympy/printing/mathematica.py
  sympy/printing/tests/test_mathematica.py
Labels: PR: author's turn, printing

#15321 added implementation of Carmichael and Euler pseudo-prime numbers
  sympy/core/tests/test_args.py
  sympy/functions/__init__.py
  sympy/functions/combinatorial/numbers.py
  sympy/functions/combinatorial/tests/test_comb_numbers.py
  sympy/ntheory/primetest.py
  sympy/ntheory/tests/test_primetest.py
  sympy/series/series.py
Labels: PR: author's turn

#15308 Add LaTeX printing for matrix symbol trace
  sympy/printing/latex.py
  sympy/printing/tests/test_latex.py
Labels: PR: sympy's turn, printing

#15390 Partially reverts backwards incompatible changes made in PR 13641
  doc/src/modules/physics/mechanics/examples/rollingdisc_example_lagrange.rst
  sympy/matrices/matrices.py
  sympy/matrices/tests/test_matrices.py
  sympy/physics/mechanics/tests/test_lagrange.py
Labels: Backwards Incompatibility, Critical
