Repository sympy/sympy, pull requests merged in 2018-09, with the labels that each got.

#14821 Octave/Matlab codegen improvements
  sympy/printing/octave.py
  sympy/printing/tests/test_octave.py
Labels: PR: sympy's turn

#15165 Example of an Autolev output test
  sympy/parsing/tests/test_autolev.py
Labels: PR: sympy's turn, parsing, physics.mechanics

#15184 Implement expression-based recursive sequence
  sympy/core/tests/test_args.py
  sympy/series/sequences.py
Labels: PR: author's turn, series

#15212 linear_coeffs function added to solveset
  sympy/physics/continuum_mechanics/beam.py
  sympy/physics/continuum_mechanics/tests/test_beam.py
  sympy/solvers/solveset.py
  sympy/solvers/tests/test_solveset.py
Labels: PR: sympy's turn

#14927 Add derived dimensions to si.py.
  sympy/physics/units/systems/si.py
Labels: PR: sympy's turn, physics.units

#15248 Add doc build tutorial for windows users.
  doc/README.rst
Labels: Documentation

#15246 Poly.replace note and handling of non-gen replacement
  sympy/polys/polytools.py
  sympy/polys/tests/test_polytools.py
Labels: PR: sympy's turn, polys

#15247 ordinal(1)->1st: ordinal added to misc
  sympy/utilities/misc.py
  sympy/utilities/tests/test_misc.py
Labels: PR: sympy's turn, utilities

#15239 Sum gets dummy_eq method
  sympy/concrete/summations.py
  sympy/concrete/tests/test_sums_products.py
Labels: PR: sympy's turn

#15244 print Subs with singleton replacement without tuple
  sympy/core/function.py
  sympy/core/tests/test_function.py
  sympy/core/tests/test_subs.py
  sympy/printing/str.py
  sympy/printing/tests/test_str.py
  sympy/series/tests/test_series.py
  sympy/solvers/pde.py
  sympy/solvers/tests/test_ode.py
Labels: PR: sympy's turn
