Repository sympy/sympy, pull requests merged in 2018-03, with the labels that each got.

#14286 quantities:simplify is added
  sympy/physics/units/tests/test_util.py
  sympy/physics/units/util.py
  sympy/simplify/simplify.py
Labels: physics.units

#13768 dot product fixed
  sympy/matrices/matrices.py
  sympy/matrices/tests/test_matrices.py
Labels: PR: sympy's turn

#14564 increase safety of ConditionSet
  sympy/printing/latex.py
  sympy/printing/pretty/pretty.py
  sympy/printing/str.py
  sympy/printing/tests/test_latex.py
  sympy/sets/conditionset.py
  sympy/sets/tests/test_conditionset.py
Labels: PR: sympy's turn

#14370 implementation of multivariate resultants.
  doc/src/modules/polys/literature.rst
  examples/notebooks/Bezout_Dixon_resultant.ipynb
  examples/notebooks/Macaulay_resultant.ipynb
  examples/notebooks/Sylvester_resultant.ipynb
  sympy/polys/multivariate_resultants.py
  sympy/polys/tests/test_multivariate_resultants.py
Labels: PR: sympy's turn

#14576 Optimizing binomial(n, k) evaluation for integers 0 <= k <= n
  sympy/functions/combinatorial/factorials.py
  sympy/functions/combinatorial/tests/test_comb_factorials.py
Labels: PR: author's turn
