Repository sympy/sympy, pull requests merged in 2018-08, with the labels that each got.

#14923 14547: avoid evaluation of (Dimension|Quantity - 1)
  sympy/physics/units/dimensions.py
  sympy/physics/units/quantities.py
  sympy/physics/units/tests/test_dimensions.py
  sympy/physics/units/tests/test_quantities.py
  sympy/physics/units/tests/test_util.py
  sympy/physics/units/util.py
Labels: PR: sympy's turn

#14994 Write docs for discrete module
  doc/src/modules/core.rst
  doc/src/modules/crypto.rst
  doc/src/modules/discrete.rst
  doc/src/modules/index.rst
  doc/src/modules/integrals/integrals.rst
  doc/src/modules/logic.rst
  sympy/discrete/recurrences.py
Labels: Documentation

#14453 continuum_mechanics : added more beam problems
  doc/src/modules/physics/continuum_mechanics/beam_problems.rst
Labels: GSoC, PR: author's turn, physics.continuum_mechanics

#14965 inverse Laplace transform of exp is shifted Dirac delta
  sympy/integrals/meijerint.py
  sympy/integrals/tests/test_meijerint.py
  sympy/integrals/tests/test_transforms.py
Labels: integrals

#14695 Use S.true in the conditions in integral transforms
  sympy/integrals/transforms.py
Labels: NeedsReview, integrals

#14962 Zeta printing in octave
  sympy/printing/octave.py
  sympy/printing/tests/test_octave.py
Labels: codegen

#15036 Added implementation of Cauchy's principal value in integrals.py
  sympy/integrals/integrals.py
  sympy/integrals/tests/test_integrals.py
Labels: PR: sympy's turn, integrals

#15040 Convert latex() docstring to the numpydoc format.
  sympy/printing/latex.py
Labels: Documentation, PR: sympy's turn, printing

#14446 continuum_mechanics : slope and deflection method now returns complete answer
  doc/src/modules/physics/continuum_mechanics/beam_problems.rst
  sympy/physics/continuum_mechanics/beam.py
  sympy/physics/continuum_mechanics/tests/test_beam.py
Labels: GSoC, PR: author's turn, physics.continuum_mechanics

#15030 Accelerated eigenvalue calculation for large triangular matrices
  sympy/matrices/matrices.py
  sympy/matrices/tests/test_matrices.py
  sympy/stats/crv_types.py
  sympy/stats/tests/test_joint_rv.py
Labels: PR: author's turn, matrices

#14792 log solver for transolve
  doc/src/modules/solvers/solveset.rst
  sympy/solvers/solveset.py
  sympy/solvers/tests/test_solveset.py
Labels: GSoC, PR: sympy's turn, solvers.solveset

#15046 Autolev Parser Documentation
  doc/src/modules/physics/mechanics/autolev_parser.rst
  doc/src/modules/physics/mechanics/index.rst
  sympy/utilities/runtests.py
Labels: GSoC, PR: author's turn, physics.mechanics

#15010 Fixed pretty printing and codegen error messages for empty piecewise
  sympy/functions/elementary/piecewise.py
  sympy/functions/elementary/tests/test_piecewise.py
Labels: PR: author's turn

#14967 continuum_mechanics: Added plotting methods
  sympy/physics/continuum_mechanics/beam.py
Labels: GSoC, PR: sympy's turn, physics.continuum_mechanics

#15080 Replace **kwargs with explicit argument names in 'latex'
  sympy/printing/latex.py
Labels: PR: author's turn

#15095 UndefinedFunction should not evalf
  sympy/core/function.py
  sympy/core/tests/test_evalf.py
  sympy/core/tests/test_function.py
Labels: core, functions

#9064 Stop Symbols from becoming Functions
  doc/src/modules/vector/examples.rst
  sympy/concrete/summations.py
  sympy/concrete/tests/test_sums_products.py
  sympy/core/symbol.py
  sympy/core/tests/test_count_ops.py
  sympy/core/tests/test_eval.py
  sympy/core/tests/test_function.py
  sympy/core/tests/test_symbol.py
  sympy/matrices/tests/test_commonmatrix.py
  sympy/matrices/tests/test_matrices.py
  sympy/parsing/sympy_parser.py
  sympy/parsing/tests/test_latex.py
  sympy/parsing/tests/test_sympy_parser.py
  sympy/printing/pretty/tests/test_pretty.py
  sympy/series/formal.py
  sympy/simplify/tests/test_radsimp.py
  sympy/simplify/tests/test_simplify.py
  sympy/solvers/ode.py
  sympy/solvers/tests/test_ode.py
  sympy/solvers/tests/test_solvers.py
Labels: core, functions

#15052 Added more beam problems for documentation
  doc/src/modules/physics/continuum_mechanics/beam_problems.rst
  sympy/physics/continuum_mechanics/beam.py
Labels: Documentation, GSoC, PR: author's turn, physics.continuum_mechanics

#15029 Beams with variable second moment(or elastic modulus) can now be solved
  sympy/physics/continuum_mechanics/beam.py
  sympy/physics/continuum_mechanics/tests/test_beam.py
Labels: GSoC, PR: author's turn, physics.continuum_mechanics

#15104 Removed unnecessary files and updated setup and Manifest
  MANIFEST.in
  setup.py
  sympy/parsing/latex/_antlr/latex.interp
  sympy/parsing/latex/_antlr/latex.tokens
  sympy/parsing/latex/_antlr/latexlexer.interp
  sympy/parsing/latex/_antlr/latexlexer.tokens
  sympy/parsing/tests/test_latex.py
Labels: GSoC, PR: author's turn, parsing, physics.mechanics

#15077 SymPy Mechanics for Autolev Users guide
  doc/src/modules/physics/mechanics/autolev_parser.rst
  doc/src/modules/physics/mechanics/index.rst
  doc/src/modules/physics/mechanics/sympy_mechanics_for_autolev_users.rst
Labels: GSoC, PR: author's turn

#15068 `Beam3D` can now solve for reaction loads
  sympy/physics/continuum_mechanics/beam.py
  sympy/physics/continuum_mechanics/tests/test_beam.py
Labels: GSoC, PR: author's turn, physics.continuum_mechanics

#15013 Tests for center_of_mass and _w_diff_dcm
  sympy/physics/mechanics/functions.py
  sympy/physics/mechanics/tests/test_functions.py
  sympy/physics/vector/tests/test_frame.py
Labels: GSoC, PR: author's turn, physics.mechanics

#15125 Fixed 'simplify' keyword not working in eigenvals()
  sympy/matrices/matrices.py
  sympy/matrices/tests/test_matrices.py
Labels: matrices

#15085 Allow CodePrinter to generate code for any Function
  doc/src/modules/printing.rst
  sympy/printing/ccode.py
  sympy/printing/codeprinter.py
  sympy/printing/fcode.py
  sympy/printing/glsl.py
  sympy/printing/jscode.py
  sympy/printing/julia.py
  sympy/printing/mathematica.py
  sympy/printing/octave.py
  sympy/printing/tests/test_ccode.py
  sympy/printing/tests/test_fcode.py
  sympy/utilities/tests/test_lambdify.py
Labels: PR: sympy's turn

#15006 Updated parser code
  setup.py
  sympy/parsing/autolev/Autolev.g4
  sympy/parsing/autolev/__init__.py
  sympy/parsing/autolev/_antlr/__init__.py
  sympy/parsing/autolev/_antlr/autolevlexer.py
  sympy/parsing/autolev/_antlr/autolevlistener.py
  sympy/parsing/autolev/_antlr/autolevparser.py
  sympy/parsing/autolev/_listener_autolev_antlr.py
  sympy/parsing/autolev/_parse_autolev_antlr.py
  sympy/parsing/autolev/test-examples/__init__.py
  sympy/parsing/autolev/test-examples/pydy-example-repo/__init__.py
  sympy/parsing/autolev/test-examples/pydy-example-repo/chaos_pendulum.al
  sympy/parsing/autolev/test-examples/pydy-example-repo/chaos_pendulum.py
  sympy/parsing/autolev/test-examples/pydy-example-repo/double_pendulum.al
  sympy/parsing/autolev/test-examples/pydy-example-repo/double_pendulum.py
  sympy/parsing/autolev/test-examples/pydy-example-repo/mass_spring_damper.al
  sympy/parsing/autolev/test-examples/pydy-example-repo/mass_spring_damper.py
  sympy/parsing/autolev/test-examples/pydy-example-repo/non_min_pendulum.al
  sympy/parsing/autolev/test-examples/pydy-example-repo/non_min_pendulum.py
  sympy/parsing/autolev/test-examples/ruletest1.al
  sympy/parsing/autolev/test-examples/ruletest1.py
  sympy/parsing/autolev/test-examples/ruletest10.al
  sympy/parsing/autolev/test-examples/ruletest10.py
  sympy/parsing/autolev/test-examples/ruletest11.al
  sympy/parsing/autolev/test-examples/ruletest11.py
  sympy/parsing/autolev/test-examples/ruletest12.al
  sympy/parsing/autolev/test-examples/ruletest12.py
  sympy/parsing/autolev/test-examples/ruletest2.al
  sympy/parsing/autolev/test-examples/ruletest2.py
  sympy/parsing/autolev/test-examples/ruletest3.al
  sympy/parsing/autolev/test-examples/ruletest3.py
  sympy/parsing/autolev/test-examples/ruletest4.al
  sympy/parsing/autolev/test-examples/ruletest4.py
  sympy/parsing/autolev/test-examples/ruletest5.al
  sympy/parsing/autolev/test-examples/ruletest5.py
  sympy/parsing/autolev/test-examples/ruletest6.al
  sympy/parsing/autolev/test-examples/ruletest6.py
  sympy/parsing/autolev/test-examples/ruletest7.al
  sympy/parsing/autolev/test-examples/ruletest7.py
  sympy/parsing/autolev/test-examples/ruletest8.al
  sympy/parsing/autolev/test-examples/ruletest8.py
  sympy/parsing/autolev/test-examples/ruletest9.al
  sympy/parsing/autolev/test-examples/ruletest9.py
  sympy/parsing/autolev/test_examples/output.py
  sympy/parsing/autolev/test_examples/ruletest1.py
  sympy/parsing/autolev/test_examples/ruletest3.py
  sympy/parsing/tests/test_autolev.py
  sympy/utilities/runtests.py
Labels: GSoC, PR: author's turn, parsing, physics.mechanics
