Repository sympy/sympy, pull requests merged in 2019-03, with the labels that each got.

#16109 Added is_abundant and is_deficient with test cases
  sympy/ntheory/__init__.py
  sympy/ntheory/factor_.py
  sympy/ntheory/tests/test_factor_.py
Labels: ntheory

#16075 added the fold_frac_powers and fold_short_frac flag to mathml printer
  sympy/printing/mathml.py
  sympy/printing/tests/test_mathml.py
Labels: printing, printing.mathml

#16108 Stats:Improved parameter handling by Benini distribution
  sympy/stats/crv_types.py
  sympy/stats/tests/test_continuous_rv.py
Labels: stats

#16068 periodicity of e**(I*x)
  sympy/calculus/tests/test_util.py
  sympy/calculus/util.py
Labels: calculus

#16134 Added limit on 8 variables for simplify_logic
  sympy/logic/boolalg.py
Labels: logic

#16012 Dsolve constantsimp
  sympy/solvers/ode.py
  sympy/solvers/tests/test_constantsimp.py
  sympy/solvers/tests/test_ode.py
Labels: solvers.dsolve

#15868 More numerically stable nullity-chain construction for jordan_block
  sympy/matrices/matrices.py
  sympy/matrices/tests/test_matrices.py
Labels: PR: author's turn, floats, matrices

#16035 PDE docstrings
  sympy/solvers/pde.py
Labels: Documentation, solvers.dsolve

#15803 Fix Integer and StdFactKB memory leak with patch from #9294
  sympy/core/numbers.py
  sympy/core/tests/test_numbers.py
Labels: PR: sympy's turn, core

#15855 Fixed summation in summation(x**y*y, (y, -oo, oo)).doit() to prevent infinite loop
  sympy/concrete/summations.py
  sympy/concrete/tests/test_sums_products.py
Labels: PR: author's turn, concrete

#15878 Resolved simple merge conflict in #1053
  sympy/physics/quantum/qapply.py
  sympy/physics/quantum/tests/test_qapply.py
Labels: physics.quantum

#15912 Introduced pattern-based simplification for Boolean functions with Relational
  sympy/logic/boolalg.py
  sympy/logic/tests/test_boolalg.py
Labels: logic

#16142 Added Functions for Amicable Number
  sympy/ntheory/__init__.py
  sympy/ntheory/factor_.py
  sympy/ntheory/tests/test_factor_.py
Labels: ntheory

#16133 SOPform and POSform accepts terms as integers
  sympy/logic/boolalg.py
  sympy/logic/tests/test_boolalg.py
Labels: logic

#16057 Calculation of critical angle and Fresnel coefficients
  sympy/physics/optics/__init__.py
  sympy/physics/optics/medium.py
  sympy/physics/optics/tests/test_utils.py
  sympy/physics/optics/utils.py
Labels: PR: author's turn, physics.optics

#16136 Function for rotation in iterables
  sympy/utilities/__init__.py
  sympy/utilities/iterables.py
  sympy/utilities/tests/test_iterables.py
Labels: utilities

#16130 Remove code quality test from doctests matrix
  bin/test_travis.sh
Labels: Testing, Travis

#16143 Updated docstrings for utilities.iterables
  sympy/utilities/iterables.py
Labels: Documentation

#15923 raise value error for Eq(RootOf(), Symbol)
  sympy/polys/rootoftools.py
  sympy/polys/tests/test_rootoftools.py
Labels: PR: author's turn, core

#16154 Added -q flag in travis.yml file
  .travis.yml
Labels: Testing, Travis

#16128 Mathematica code printer should not use StrPrinter.doprint
  sympy/printing/mathematica.py
  sympy/printing/tests/test_mathematica.py
Labels: printing

#15887 Mutable matrices should not use caches for eigenvectors and properties
  sympy/matrices/immutable.py
  sympy/matrices/matrices.py
  sympy/matrices/tests/test_matrices.py
  sympy/utilities/tests/test_pickling.py
Labels: core.cache, matrices

#15962 Corrected physics.vector printing dots on top for ASCII to indicate derivatives to Apostrophe
  sympy/physics/vector/printing.py
  sympy/physics/vector/tests/test_printing.py
Labels: PR: author's turn, physics, printing, printing.pretty

#16141 Fixed printing of minus-signs in MathML presentation
  sympy/printing/mathml.py
  sympy/printing/tests/test_mathml.py
Labels: printing, printing.mathml

#16162 Crypto : Improve speed of RSA
  sympy/crypto/crypto.py
  sympy/crypto/tests/test_crypto.py
Labels: crypto

#16171 solved subs problem when wrt and count are same and added test case
  sympy/core/function.py
  sympy/core/tests/test_diff.py
Labels: core

#16164 Remove most examples of except AttributeError from the codebase
  bin/test_external_imports.py
  doc/ext/docscrape.py
  examples/intermediate/sample.py
  release/fabfile.py
  sympy/assumptions/ask.py
  sympy/assumptions/assume.py
  sympy/core/assumptions.py
  sympy/core/basic.py
  sympy/core/decorators.py
  sympy/core/evalf.py
  sympy/core/expr.py
  sympy/core/exprtools.py
  sympy/core/function.py
  sympy/core/relational.py
  sympy/core/singleton.py
  sympy/core/sympify.py
  sympy/core/tests/test_sympify.py
  sympy/external/tests/test_numpy.py
  sympy/geometry/point.py
  sympy/geometry/util.py
  sympy/holonomic/holonomic.py
  sympy/matrices/common.py
  sympy/matrices/dense.py
  sympy/matrices/densetools.py
  sympy/matrices/expressions/blockmatrix.py
  sympy/matrices/expressions/kronecker.py
  sympy/matrices/expressions/transpose.py
  sympy/matrices/matrices.py
  sympy/matrices/sparse.py
  sympy/ntheory/factor_.py
  sympy/parsing/autolev/_listener_autolev_antlr.py
  sympy/parsing/autolev/_parse_autolev_antlr.py
  sympy/physics/mechanics/functions.py
  sympy/physics/mechanics/system.py
  sympy/physics/secondquant.py
  sympy/plotting/plot_implicit.py
  sympy/polys/rootoftools.py
  sympy/printing/pretty/pretty.py
  sympy/printing/theanocode.py
  sympy/simplify/simplify.py
  sympy/simplify/trigsimp.py
  sympy/solvers/solvers.py
  sympy/solvers/solveset.py
  sympy/stats/rv.py
  sympy/tensor/indexed.py
  sympy/utilities/lambdify.py
  sympy/utilities/randtest.py
  sympy/utilities/tests/test_lambdify.py
  sympy/vector/basisdependent.py
Labels: Code quality

#16159 Improved parameter handling and documentation of continuous distributions
  sympy/stats/crv_types.py
  sympy/stats/tests/test_continuous_rv.py
Labels: stats

#16139 added some mathml functions
  sympy/printing/mathml.py
  sympy/printing/tests/test_mathml.py
Labels: printing.mathml

#16170 dsolve gave NotImplemented error while solving with ics
  sympy/solvers/ode.py
  sympy/solvers/tests/test_ode.py
Labels: solvers

#16153 Revived: Travis Code Coverage
  .coveragerc
  .travis.yml
  bin/test_travis.sh
  codecov.yml
Labels: Testing, Travis

#16168 TypeError with too many functions
  sympy/solvers/ode.py
  sympy/solvers/tests/test_ode.py
Labels: solvers.dsolve

#16185 correct diffrent behaviour of diff on symbol and function
  sympy/core/function.py
  sympy/core/tests/test_function.py
  sympy/functions/elementary/complexes.py
  sympy/functions/elementary/tests/test_complexes.py
Labels: functions

#16189 Added an unchanged function in utilities
  sympy/core/expr.py
  sympy/functions/elementary/tests/test_complexes.py
  sympy/polys/tests/test_rootoftools.py
Labels: Testing, utilities

#16102 Make keywords in jordan_block explicit, and improve docs
  sympy/matrices/common.py
  sympy/matrices/tests/test_commonmatrix.py
Labels: Code quality, Documentation, Needs Decision, PR: author's turn, matrices

#16131 Created class for finite fourier series
  sympy/series/fourier.py
  sympy/series/tests/test_fourier.py
Labels: series

#16106 MathML presentation printer: Added Methods for Indexed, IndexedBase and tuple type objects
  sympy/printing/mathml.py
  sympy/printing/tests/test_mathml.py
Labels: printing.mathml

#16192 Increase test coverage of LaTeX printer
  sympy/printing/latex.py
  sympy/printing/tests/test_latex.py
Labels: Testing, printing.latex

#16205 fix unicode handling of replacement string in subs()
  sympy/core/basic.py
  sympy/core/tests/test_basic.py
Labels: core

#16126 MathML presentation printing for Range, Min, Max, exp, true, false, None
  sympy/printing/mathml.py
  sympy/printing/tests/test_mathml.py
Labels: printing, printing.mathml

#16220 Replaced redundant checks
  sympy/core/tests/test_arit.py
Labels: Testing, core

#16218 Cleanup of imports in sets
  sympy/matrices/expressions/matpow.py
  sympy/sets/conditionset.py
  sympy/sets/fancysets.py
  sympy/sets/setexpr.py
  sympy/sets/sets.py
  sympy/sets/tests/test_conditionset.py
  sympy/sets/tests/test_fancysets.py
  sympy/sets/tests/test_setexpr.py
  sympy/sets/tests/test_sets.py
Labels: Code quality, sets

#16211 Corrected LaTeX and pretty printing of Gradient
  sympy/printing/latex.py
  sympy/printing/pretty/pretty.py
  sympy/printing/pretty/tests/test_pretty.py
  sympy/printing/tests/test_latex.py
Labels: printing, printing.latex, printing.pretty

#16210 Fixed MathML presentation printing of integrals
  sympy/printing/mathml.py
  sympy/printing/tests/test_mathml.py
Labels: printing, printing.mathml

#16216 Increased test coverage
  sympy/combinatorics/tests/test_graycode.py
  sympy/integrals/intpoly.py
  sympy/integrals/tests/test_integrals.py
  sympy/integrals/tests/test_intpoly.py
  sympy/solvers/tests/test_solvers.py
  sympy/utilities/tests/test_iterables.py
  sympy/utilities/tests/test_misc.py
  sympy/vector/tests/test_vector.py
Labels: coverage

#16238 Matrices : Faster Singular Values Computation
  sympy/matrices/matrices.py
  sympy/matrices/tests/test_commonmatrix.py
Labels: matrices

#16235 Updated Wester test status and fixed some
  sympy/utilities/tests/test_wester.py
Labels: Testing

#16224 PEP8 and coverage increase
  sympy/core/logic.py
  sympy/core/relational.py
  sympy/core/tests/test_logic.py
  sympy/core/tests/test_relational.py
  sympy/logic/boolalg.py
  sympy/logic/tests/test_boolalg.py
Labels: Code quality, coverage

#16190 Boolean objects ignores set flags in solve
  sympy/solvers/solvers.py
  sympy/solvers/tests/test_solvers.py
Labels: solvers

#15617 printing: Attempt at speeding up ccode(Min(*long_list))
  sympy/printing/ccode.py
  sympy/printing/tests/test_ccode.py
Labels: printing

#16221 Printing : N-Dimensional Array for Mathematica
  sympy/printing/mathematica.py
  sympy/printing/tests/test_mathematica.py
Labels: PR: sympy's turn, matrices, printing, tensor

#16223 PEP8-fixes in MathML and LaTeX printers
  sympy/printing/latex.py
  sympy/printing/mathml.py
  sympy/printing/tests/test_latex.py
  sympy/printing/tests/test_mathml.py
Labels: Code quality, printing.mathml

#16255 Replace non-ascii in docstring
  sympy/printing/mathematica.py
Labels: printing

#16199 Added class to represent unevaluated laplacian.
  sympy/core/tests/test_args.py
  sympy/vector/__init__.py
  sympy/vector/functions.py
  sympy/vector/operators.py
  sympy/vector/tests/test_operators.py
Labels: vector

#16214 Added MathML printing for sympy.vector classes
  sympy/printing/mathml.py
  sympy/printing/tests/test_mathml.py
  sympy/vector/vector.py
Labels: printing, printing.mathml, vector

#16056 Some minor fixes for LaTeX printer
  sympy/core/numbers.py
  sympy/core/tests/test_numbers.py
  sympy/diffgeom/diffgeom.py
  sympy/printing/latex.py
  sympy/printing/tests/test_latex.py
Labels: printing, printing.latex

#16096 Fix for Unicode compliance in Python 2.7
  bin/sympy_time_cache.py
  doc/ext/docscrape_sphinx.py
  sympy/combinatorics/fp_groups.py
  sympy/core/logic.py
  sympy/core/multidimensional.py
  sympy/core/tests/test_basic.py
  sympy/geometry/util.py
  sympy/holonomic/holonomic.py
  sympy/holonomic/recurrence.py
  sympy/integrals/rubi/parsetools/parse.py
  sympy/ntheory/factor_.py
  sympy/physics/mechanics/particle.py
  sympy/physics/mechanics/rigidbody.py
  sympy/physics/vector/frame.py
  sympy/physics/vector/point.py
  sympy/plotting/experimental_lambdify.py
  sympy/plotting/pygletplot/color_scheme.py
  sympy/plotting/pygletplot/plot_interval.py
  sympy/plotting/pygletplot/plot_mode.py
  sympy/plotting/pygletplot/util.py
  sympy/polys/ring_series.py
  sympy/polys/specialpolys.py
  sympy/printing/codeprinter.py
  sympy/printing/glsl.py
  sympy/printing/pretty/stringpict.py
  sympy/printing/preview.py
  sympy/printing/repr.py
  sympy/printing/rust.py
  sympy/printing/str.py
  sympy/solvers/ode.py
  sympy/tensor/tensor.py
  sympy/utilities/_compilation/runners.py
  sympy/utilities/exceptions.py
  sympy/utilities/iterables.py
  sympy/utilities/lambdify.py
  sympy/utilities/misc.py
  sympy/utilities/pytest.py
  sympy/utilities/runtests.py
  sympy/utilities/source.py
Labels: Code quality, PR: author's turn

#16248 Add Elementary and Polycyclic groups in Permutation groups
  sympy/combinatorics/perm_groups.py
  sympy/combinatorics/tests/test_perm_groups.py
Labels: combinatorics

#16252 Trim some evaluations for min, max when evaluate=False
  sympy/functions/elementary/miscellaneous.py
  sympy/functions/elementary/tests/test_piecewise.py
Labels: functions

#16225 Add connected_components function in iterables
  sympy/utilities/iterables.py
  sympy/utilities/tests/test_iterables.py
Labels: utilities

#16099 More MathML functions
  sympy/printing/mathml.py
  sympy/printing/tests/test_mathml.py
Labels: printing, printing.mathml

#15587 Use dont_inherit arg to compile in test runner
  sympy/core/tests/test_numbers.py
  sympy/geometry/tests/test_plane.py
  sympy/geometry/tests/test_polygon.py
  sympy/integrals/tests/test_manual.py
  sympy/physics/mechanics/tests/test_linearize.py
  sympy/plotting/intervalmath/tests/test_interval_functions.py
  sympy/series/tests/test_limitseq.py
  sympy/solvers/tests/test_ode.py
  sympy/solvers/tests/test_solveset.py
  sympy/utilities/runtests.py
Labels: PR: sympy's turn, Testing

#16274 MathML printing of matrix functions, constants and SingularityFunction
  sympy/printing/latex.py
  sympy/printing/mathml.py
  sympy/printing/tests/test_latex.py
  sympy/printing/tests/test_mathml.py
Labels: printing, printing.mathml

#16280 Updated a bit of information for the Wester tests
  sympy/utilities/tests/test_wester.py
Labels: utilities

#16271 MathML Presentation printer: added method for printing MatrixElement type objects
  sympy/printing/mathml.py
  sympy/printing/tests/test_mathml.py
Labels: printing.mathml

#16241 Removed possible failures from Codecov and changed precision
  codecov.yml
Labels: coverage

#16226 Enabled a few tests in Python 3
  sympy/integrals/tests/test_heurisch.py
  sympy/integrals/tests/test_rde.py
  sympy/physics/quantum/tests/test_identitysearch.py
  sympy/polys/tests/test_polytools.py
  sympy/series/tests/test_formal.py
  sympy/stats/tests/test_continuous_rv.py
Labels: Testing

#16083 correct input needs 2 arguments
  sympy/combinatorics/fp_groups.py
  sympy/combinatorics/tests/test_fp_groups.py
Labels: combinatorics

#15953 solved Incorrect lambdify of constant times matrix symbol
  sympy/printing/pycode.py
  sympy/utilities/tests/test_lambdify.py
Labels: matrices.expressions, utilities.lambdify

#16209 Matrices : Add rank factorization
  sympy/matrices/matrices.py
  sympy/matrices/tests/test_matrices.py
Labels: matrices

#16284 MathML presentation printer: Added more printing methods
  sympy/printing/mathml.py
  sympy/printing/tests/test_mathml.py
Labels: printing, printing.mathml

#16293 Added printing of Laplacian and some special numbers
  sympy/functions/combinatorial/numbers.py
  sympy/printing/latex.py
  sympy/printing/mathml.py
  sympy/printing/precedence.py
  sympy/printing/pretty/pretty.py
  sympy/printing/pretty/tests/test_pretty.py
  sympy/printing/tests/test_latex.py
  sympy/printing/tests/test_mathml.py
Labels: printing, printing.latex, printing.mathml, printing.pretty

#16309 Fix mathematica code user_functions argument
  sympy/printing/mathematica.py
  sympy/printing/tests/test_mathematica.py
Labels: printing

#16303 Added tests to physics.vector for increased coverage
  sympy/physics/vector/dyadic.py
  sympy/physics/vector/tests/test_dyadic.py
  sympy/physics/vector/tests/test_frame.py
  sympy/physics/vector/tests/test_functions.py
  sympy/physics/vector/tests/test_printing.py
  sympy/physics/vector/tests/test_vector.py
Labels: physics

#16322 replace is exact by default
  sympy/core/basic.py
  sympy/core/tests/test_expr.py
  sympy/integrals/tests/test_heurisch.py
  sympy/matrices/common.py
  sympy/matrices/tests/test_commonmatrix.py
  sympy/physics/vector/tests/test_printing.py
  sympy/utilities/misc.py
Labels: core

#16336 indicate that rot_order can be int; use translate
  sympy/physics/vector/frame.py
  sympy/physics/vector/functions.py
  sympy/physics/vector/tests/test_frame.py
  sympy/physics/vector/tests/test_functions.py
Labels: physics, vector

#16349 Increased coverage and fixed bugs in combinatorics
  sympy/combinatorics/rewritingsystem.py
  sympy/combinatorics/subsets.py
  sympy/combinatorics/tests/test_generators.py
  sympy/combinatorics/tests/test_graycode.py
  sympy/combinatorics/tests/test_named_groups.py
  sympy/combinatorics/tests/test_partitions.py
  sympy/combinatorics/tests/test_perm_groups.py
  sympy/combinatorics/tests/test_prufer.py
  sympy/combinatorics/tests/test_rewriting.py
  sympy/combinatorics/tests/test_subsets.py
Labels: combinatorics, coverage

#16302 added `fraction` flag in `factor()`
  sympy/polys/polytools.py
  sympy/polys/rationaltools.py
  sympy/polys/tests/test_polytools.py
Labels: polys

#16331 Make var names in generated Cython code unique
  sympy/utilities/autowrap.py
  sympy/utilities/tests/test_autowrap.py
Labels: utilities.autowrap

#16334 Improved code of sympy.core.power.Pow
  sympy/core/power.py
  sympy/core/tests/test_assumptions.py
Labels: core

#16338 Added tests to physics.optics for increased coverage
  sympy/physics/optics/tests/test_medium.py
  sympy/physics/optics/tests/test_utils.py
  sympy/physics/optics/tests/test_waves.py
Labels: physics.optics

#16364 Some LGTM fixes
  sympy/codegen/array_utils.py
  sympy/core/basic.py
  sympy/core/function.py
  sympy/plotting/experimental_lambdify.py
  sympy/printing/gtk.py
  sympy/solvers/ode.py
  sympy/solvers/solvers.py
  sympy/tensor/tensor.py
  sympy/utilities/randtest.py
Labels: Code quality

#10685 added two _sage_ methods for gamma function
  sympy/external/tests/test_sage.py
  sympy/functions/special/gamma_functions.py
Labels: Easy to revive, PR: author's turn, external, functions

#16330 Removing unicode from coset_table and fp_groups
  sympy/combinatorics/coset_table.py
  sympy/combinatorics/fp_groups.py
Labels: Code quality, Needs Decision, combinatorics

#16325 Added some tests of concrete
  sympy/concrete/tests/test_delta.py
  sympy/concrete/tests/test_gosper.py
  sympy/concrete/tests/test_guess.py
  sympy/concrete/tests/test_sums_products.py
Labels: concrete, coverage

#16376 Fixed some LGTM issues and unmarked slow test to increase coverage
  sympy/calculus/util.py
  sympy/codegen/ast.py
  sympy/functions/combinatorial/numbers.py
  sympy/functions/combinatorial/tests/test_comb_numbers.py
  sympy/matrices/immutable.py
  sympy/matrices/matrices.py
  sympy/physics/continuum_mechanics/beam.py
  sympy/physics/continuum_mechanics/tests/test_beam.py
  sympy/physics/quantum/state.py
  sympy/plotting/plot.py
  sympy/printing/latex.py
Labels: Code quality, coverage

#15948 Handle matrices in Add and Mul as a postprocessor
  sympy/core/add.py
  sympy/core/basic.py
  sympy/core/exprtools.py
  sympy/core/mul.py
  sympy/core/operations.py
  sympy/core/tests/test_constructor_postprocessor.py
  sympy/core/tests/test_subs.py
  sympy/matrices/expressions/matexpr.py
  sympy/matrices/expressions/matmul.py
  sympy/matrices/expressions/tests/test_derivatives.py
  sympy/matrices/expressions/tests/test_matexpr.py
  sympy/matrices/expressions/tests/test_matmul.py
  sympy/matrices/expressions/tests/test_trace.py
  sympy/matrices/expressions/trace.py
Labels: core, matrices.expressions

#15723 Trace derivative correction
  sympy/core/expr.py
  sympy/core/function.py
  sympy/matrices/expressions/matexpr.py
  sympy/matrices/expressions/tests/test_derivatives.py
  sympy/matrices/tests/test_matrices.py
Labels: PR: author's turn, matrices.expressions

#16397 bug fix on matrix derivative with trace
  sympy/core/mul.py
  sympy/matrices/expressions/tests/test_derivatives.py
Labels: matrices.expressions

#16353 Use argparse for generate_logos.py
  doc/generate_logos.py
Labels: Documentation

#16401 Fix derivative of vector in matrices/expressions
  sympy/matrices/expressions/matexpr.py
  sympy/matrices/expressions/tests/test_derivatives.py
Labels: matrices.expressions

#16414 Fixed issue introduced in #15898
  sympy/functions/elementary/piecewise.py
  sympy/functions/elementary/tests/test_piecewise.py
Labels: functions

#16368 Added expand() method for SeqFormula
  sympy/series/sequences.py
  sympy/series/tests/test_sequences.py
Labels: core, series

#16410 Fix warnings and warning handling code under pytest
  sympy/assumptions/tests/test_satask.py
  sympy/crypto/tests/test_crypto.py
  sympy/matrices/tests/test_commonmatrix.py
Labels: Testing

#16386 Delete unnecessary coding=utf8
  bin/mailmap_update.py
  sympy/codegen/approximations.py
  sympy/codegen/rewriting.py
  sympy/codegen/tests/test_approximations.py
  sympy/codegen/tests/test_rewriting.py
  sympy/combinatorics/tests/test_fp_groups.py
  sympy/core/facts.py
  sympy/integrals/trigonometry.py
  sympy/physics/mechanics/models.py
  sympy/physics/optics/gaussopt.py
  sympy/physics/units/__init__.py
  sympy/physics/units/dimensions.py
  sympy/physics/units/prefixes.py
  sympy/physics/units/quantities.py
  sympy/physics/units/systems/__init__.py
  sympy/physics/units/systems/mks.py
  sympy/physics/units/systems/mksa.py
  sympy/physics/units/systems/natural.py
  sympy/physics/units/systems/si.py
  sympy/physics/units/tests/__init__.py
  sympy/physics/units/tests/test_dimensions.py
  sympy/physics/units/tests/test_dimensionsystem.py
  sympy/physics/units/tests/test_prefixes.py
  sympy/physics/units/tests/test_quantities.py
  sympy/physics/units/tests/test_unitsystem.py
  sympy/physics/units/tests/test_util.py
  sympy/physics/units/unitsystem.py
  sympy/physics/units/util.py
  sympy/physics/vector/printing.py
  sympy/utilities/_compilation/__init__.py
  sympy/utilities/_compilation/availability.py
  sympy/utilities/_compilation/compilation.py
  sympy/utilities/_compilation/runners.py
  sympy/utilities/_compilation/tests/test_compilation.py
  sympy/utilities/_compilation/util.py
Labels: Code quality

#16413 Omit calculation of derived_series() if Order is odd
  sympy/combinatorics/perm_groups.py
  sympy/combinatorics/tests/test_perm_groups.py
Labels: combinatorics

#16312 Stats: Added check on the parameters of F Distribution
  sympy/stats/crv_types.py
  sympy/stats/tests/test_continuous_rv.py
Labels: stats

#16399 Finish nth_order_reducible
  doc/src/modules/solvers/ode.rst
  sympy/solvers/ode.py
  sympy/solvers/tests/test_ode.py
Labels: solvers.dsolve

#16409 fixed incorrect literal_float regex
  sympy/core/numbers.py
Labels: core

#16429 combine single unknown log with others
  sympy/simplify/simplify.py
  sympy/simplify/tests/test_simplify.py
  sympy/solvers/tests/test_solvers.py
Labels: simplify

#16402 Changed mpf(0) to None in evalf_sum
  sympy/core/evalf.py
  sympy/core/tests/test_evalf.py
Labels: core.evalf

#16440 added tests for particle and rigidbody in physics/mechanics
  sympy/physics/mechanics/tests/test_functions.py
  sympy/physics/mechanics/tests/test_particle.py
  sympy/physics/mechanics/tests/test_rigidbody.py
Labels: physics.mechanics

#16343 SparseMatrix: accept values that are matrix-like
  sympy/matrices/sparse.py
  sympy/matrices/tests/test_sparse.py
Labels: PR: sympy's turn, matrices

#16341 merge common.diag and dense.diag
  sympy/core/function.py
  sympy/matrices/common.py
  sympy/matrices/dense.py
  sympy/matrices/matrices.py
  sympy/matrices/tests/test_commonmatrix.py
  sympy/matrices/tests/test_matrices.py
Labels: PR: sympy's turn, matrices

#16359 Fix Bspline _add_bsplines
  sympy/functions/special/bsplines.py
Labels: functions

#16375 Added PerfectGroup Function
  sympy/combinatorics/perm_groups.py
  sympy/combinatorics/tests/test_perm_groups.py
Labels: PR: author's turn, combinatorics

#16450 Possible fix for Posify
  sympy/simplify/simplify.py
  sympy/simplify/tests/test_simplify.py
Labels: simplify

#16455 Use ignore_warnings instead of warns for numpy
  sympy/functions/elementary/tests/test_miscellaneous.py
Labels: Testing, external

#16437 Fixes float misplace decimal issue
  sympy/core/numbers.py
  sympy/core/tests/test_numbers.py
Labels: PR: author's turn, core

#16443 Hadamard power added
  sympy/core/tests/test_args.py
  sympy/matrices/__init__.py
  sympy/matrices/expressions/__init__.py
  sympy/matrices/expressions/hadamard.py
  sympy/matrices/expressions/tests/test_hadamard.py
  sympy/printing/precedence.py
  sympy/printing/str.py
Labels: matrices.expressions

#16454 Matrix __mod__ and diagonal defined
  doc/src/modules/matrices/matrices.rst
  sympy/matrices/common.py
  sympy/matrices/tests/test_commonmatrix.py
  sympy/utilities/tests/test_wester.py
Labels: matrices

#16442 added support for derivatives of ElementwiseApplyFunction
  sympy/core/tests/test_args.py
  sympy/matrices/expressions/applyfunc.py
  sympy/matrices/expressions/diagonal.py
  sympy/matrices/expressions/matexpr.py
  sympy/matrices/expressions/matmul.py
  sympy/matrices/expressions/tests/test_applyfunc.py
  sympy/matrices/expressions/tests/test_derivatives.py
  sympy/matrices/expressions/tests/test_diagonal.py
  sympy/printing/str.py
Labels: matrices.expressions

#16482 Change return type of sort_key function
  sympy/combinatorics/partitions.py
  sympy/combinatorics/tests/test_partitions.py
Labels: combinatorics

#16408 fixing matrix derivative bugs
  sympy/core/expr.py
  sympy/core/function.py
  sympy/core/mul.py
  sympy/matrices/expressions/matexpr.py
  sympy/matrices/expressions/tests/test_derivatives.py
  sympy/matrices/tests/test_matrices.py
Labels: matrices.expressions

#16463 Code quality fixes
  sympy/calculus/singularities.py
  sympy/calculus/util.py
  sympy/codegen/array_utils.py
  sympy/combinatorics/permutations.py
  sympy/core/exprtools.py
  sympy/functions/elementary/miscellaneous.py
  sympy/geometry/line.py
  sympy/integrals/meijerint.py
  sympy/integrals/rubi/parsetools/parse.py
  sympy/integrals/rubi/rules/binomial_products.py
  sympy/integrals/rubi/rules/miscellaneous_algebraic.py
  sympy/integrals/rubi/utility_function.py
  sympy/matrices/dense.py
  sympy/matrices/sparse.py
  sympy/ntheory/factor_.py
  sympy/physics/optics/utils.py
  sympy/physics/units/definitions.py
  sympy/physics/units/dimensions.py
  sympy/physics/units/quantities.py
  sympy/physics/units/systems/mks.py
  sympy/physics/units/systems/mksa.py
  sympy/physics/units/systems/si.py
  sympy/physics/units/unitsystem.py
  sympy/physics/units/util.py
  sympy/polys/ring_series.py
  sympy/printing/ccode.py
  sympy/printing/cxxcode.py
  sympy/printing/fcode.py
  sympy/printing/julia.py
  sympy/printing/mathematica.py
  sympy/printing/pycode.py
  sympy/printing/rust.py
  sympy/printing/str.py
  sympy/series/formal.py
  sympy/sets/handlers/add.py
  sympy/sets/handlers/functions.py
  sympy/sets/handlers/intersection.py
  sympy/sets/handlers/mul.py
  sympy/sets/handlers/power.py
  sympy/sets/handlers/union.py
  sympy/simplify/cse_main.py
  sympy/simplify/powsimp.py
  sympy/solvers/diophantine.py
  sympy/solvers/inequalities.py
  sympy/solvers/ode.py
  sympy/solvers/polysys.py
  sympy/solvers/solvers.py
  sympy/utilities/_compilation/compilation.py
  sympy/utilities/_compilation/runners.py
  sympy/utilities/_compilation/util.py
  sympy/utilities/autowrap.py
Labels: Code quality

#16487 add See Also entries to diag*
  sympy/matrices/common.py
  sympy/matrices/dense.py
Labels: Documentation, matrices

#16491 Added some tests to physics to increase coverage
  sympy/physics/quantum/tests/test_pauli.py
  sympy/physics/tests/test_secondquant.py
Labels: Coverage, physics, physics.quantum

#16492 Remove Python 3.4 support
  .travis.yml
  doc/src/install.rst
  release/rever.xsh
Labels: Alternate Python

#16502 Updated documentation on stats.rst
  doc/src/modules/stats.rst
  sympy/stats/drv_types.py
Labels: Documentation, stats
