Repository sympy/sympy, pull requests merged in 2019-08, with the labels that each got.

#17301 Add simplification for log(exp())
  sympy/functions/elementary/exponential.py
  sympy/functions/elementary/tests/test_exponential.py
  sympy/solvers/tests/test_solvers.py
Labels: functions

#17327 Travis test failing after numpy 1.17
  sympy/external/tests/test_numpy.py
  sympy/utilities/lambdify.py
Labels: external

#17294 Mathml content printing of Piecewise
  sympy/printing/mathml.py
  sympy/printing/tests/test_mathml.py
Labels: printing.mathml

#17045 Fixed issue with complex constants in manual integration
  sympy/integrals/manualintegrate.py
  sympy/integrals/rationaltools.py
  sympy/integrals/tests/test_failing_integrals.py
  sympy/integrals/tests/test_integrals.py
  sympy/integrals/tests/test_manual.py
Labels: integrals, integrals.manualintegrate

#17223 Rewrite of non-commutative multiplication matching
  sympy/core/mul.py
  sympy/core/tests/test_match.py
Labels: NonCommutative, core

#17320 Fixed package import typo in documentation
  doc/src/modules/physics/mechanics/masses.rst
Labels: Documentation

#17144 Improvement in satask
  sympy/assumptions/ask.py
  sympy/assumptions/ask_generated.py
  sympy/assumptions/cnf.py
  sympy/assumptions/satask.py
  sympy/assumptions/sathandlers.py
  sympy/assumptions/tests/test_query.py
  sympy/assumptions/tests/test_satask.py
  sympy/core/core.py
  sympy/core/sympify.py
  sympy/logic/algorithms/dpll.py
  sympy/logic/algorithms/dpll2.py
  sympy/logic/boolalg.py
  sympy/logic/inference.py
  sympy/logic/tests/test_boolalg.py
Labels: GSoC, assumptions

#17335 Make masses tutorial doctestable
  doc/src/modules/physics/mechanics/masses.rst
Labels: physics.mechanics

#17307 Abs arg handling
  sympy/concrete/tests/test_sums_products.py
  sympy/core/basic.py
  sympy/core/expr.py
  sympy/functions/elementary/complexes.py
  sympy/functions/elementary/tests/test_complexes.py
  sympy/integrals/transforms.py
  sympy/physics/continuum_mechanics/beam.py
  sympy/printing/pretty/tests/test_pretty.py
  sympy/simplify/radsimp.py
  sympy/simplify/simplify.py
  sympy/simplify/tests/test_radsimp.py
  sympy/simplify/tests/test_simplify.py
  sympy/solvers/solvers.py
  sympy/solvers/tests/test_ode.py
  sympy/solvers/tests/test_solvers.py
  sympy/solvers/tests/test_solveset.py
Labels: functions, simplify, solvers

#17010 Fixed some issues with negative indexes for Laguerre polynomials
  sympy/functions/special/polynomials.py
  sympy/functions/special/tests/test_spec_polynomials.py
Labels: functions

#17310 SciPy numeric test failing.
  sympy/utilities/tests/test_lambdify.py
Labels: utilities.lambdify

#17340 Make permutation atom
  sympy/codegen/array_utils.py
  sympy/combinatorics/perm_groups.py
  sympy/combinatorics/permutations.py
  sympy/combinatorics/tests/test_perm_groups.py
  sympy/core/tests/test_args.py
  sympy/printing/pycode.py
  sympy/printing/tensorflow.py
Labels: combinatorics

#17124 Tensor module code refinement
  sympy/core/tests/test_args.py
  sympy/physics/hep/gamma_matrices.py
  sympy/physics/hep/tests/test_gamma_matrices.py
  sympy/printing/pretty/tests/test_pretty.py
  sympy/printing/tests/test_latex.py
  sympy/tensor/tensor.py
  sympy/tensor/tests/test_tensor.py
  sympy/tensor/tests/test_tensor_element.py
  sympy/tensor/tests/test_tensor_operators.py
  sympy/tensor/toperators.py
Labels: tensor

#17254 Sparse triangular and diagonal solve bug
  sympy/matrices/dense.py
  sympy/matrices/matrices.py
  sympy/matrices/sparse.py
  sympy/matrices/tests/test_sparse.py
Labels: matrices

#17167 [GSoC] Added aseries function
  sympy/core/expr.py
  sympy/series/aseries.py
  sympy/series/tests/test_aseries.py
Labels: GSoC, series

#17326 bidirectional Limit.doit() implemented
  sympy/series/limits.py
  sympy/series/tests/test_limits.py
Labels: limits

#17361 Add flag to control verbosity to print_tree
  sympy/printing/tests/test_tree.py
  sympy/printing/tree.py
Labels: printing

#17367 Unmarked earlier slow assumption tests
  sympy/assumptions/tests/test_assumptions_2.py
  sympy/assumptions/tests/test_query.py
  sympy/assumptions/tests/test_refine.py
  sympy/assumptions/tests/test_satask.py
  sympy/assumptions/tests/test_sathandlers.py
Labels: Testing, assumptions

#16707 modify checkodesol for bessel type function
  sympy/simplify/simplify.py
  sympy/simplify/tests/test_simplify.py
  sympy/solvers/ode.py
  sympy/solvers/tests/test_ode.py
Labels: PR: author's turn, solvers

#17273 Updated value for hbar, G, kB to reflect current standards
  doc/src/modules/physics/units/examples.rst
  sympy/physics/units/__init__.py
  sympy/physics/units/definitions.py
  sympy/physics/units/tests/test_quantities.py
  sympy/physics/units/tests/test_util.py
  sympy/physics/units/util.py
Labels: physics.units

#17134 [GSoC] Introduction of FiniteFormalPowerSeries Class, which is returned by compose and inverse functions
  sympy/core/tests/test_args.py
  sympy/series/formal.py
  sympy/series/tests/test_formal.py
Labels: GSoC, series

#17306 Matrices with random expressions
  sympy/stats/__init__.py
  sympy/stats/random_matrix_models.py
  sympy/stats/tests/test_random_matrix.py
Labels: GSoC, stats

#17352 Fixed issue with showing empty plot
  sympy/plotting/plot.py
  sympy/plotting/tests/test_plot.py
Labels: plotting

#17308 New __iter__ for Array module
  sympy/core/tests/test_args.py
  sympy/tensor/array/arrayop.py
  sympy/tensor/array/dense_ndim_array.py
  sympy/tensor/array/ndim_array.py
  sympy/tensor/array/sparse_ndim_array.py
  sympy/tensor/array/tests/test_arrayop.py
  sympy/tensor/array/tests/test_immutable_ndim_array.py
  sympy/tensor/array/tests/test_mutable_ndim_array.py
  sympy/tensor/tensor.py
  sympy/tensor/tests/test_tensor.py
  sympy/utilities/iterables.py
Labels: tensor

#17348 diophantine: note re parametric soln; remove gcd
  sympy/solvers/diophantine.py
  sympy/solvers/tests/test_diophantine.py
Labels: solvers.diophantine

#17336 [WIP] Modifed sympy.assumptions.handlers for DenseMatrix
  sympy/assumptions/ask.py
  sympy/assumptions/handlers/sets.py
  sympy/assumptions/tests/test_query.py
Labels: GSoC, assumptions, matrices

#17359 Extend quadratic_denom_rule in manual integration
  sympy/integrals/manualintegrate.py
  sympy/integrals/tests/test_manual.py
Labels: integrals.manualintegrate

#17329 Check for infinite iteration in calculus.util.function_range()
  sympy/calculus/tests/test_util.py
  sympy/calculus/util.py
Labels: calculus

#17386 Fixed pretty printing of summations
  sympy/printing/pretty/pretty.py
  sympy/printing/pretty/tests/test_pretty.py
Labels: concrete, printing.pretty

#17398 Fix LambertW printing for LaTeX and Mathematica
  sympy/printing/latex.py
  sympy/printing/mathematica.py
  sympy/printing/tests/test_latex.py
  sympy/printing/tests/test_mathematica.py
Labels: printing, printing.latex

#17272 Do not try heurisch if integral contains abs or sign
  sympy/integrals/heurisch.py
  sympy/integrals/tests/test_failing_integrals.py
  sympy/integrals/tests/test_heurisch.py
  sympy/integrals/tests/test_integrals.py
Labels: PR: sympy's turn, Performance, integrals

#17001 Added a new method cut_section() which would return a new polygon which lies above the given line that intersects it.
  sympy/geometry/polygon.py
  sympy/geometry/tests/test_polygon.py
Labels: GSoC, geometry, physics.continuum_mechanics

#17393 Fixed bug of index with slicing in Array
  sympy/tensor/array/dense_ndim_array.py
  sympy/tensor/array/ndim_array.py
  sympy/tensor/array/sparse_ndim_array.py
  sympy/tensor/array/tests/test_immutable_ndim_array.py
  sympy/tensor/array/tests/test_mutable_ndim_array.py
Labels: tensor

#17342 added test cases for lie_group type ode
  sympy/solvers/tests/test_ode.py
Labels: solvers.dsolve

#17391 Update loggamma._eval_is_real
  sympy/functions/special/gamma_functions.py
  sympy/functions/special/tests/test_gamma_functions.py
Labels: assumptions, functions

#17406 Removed unused code and added tests for increased coverage
  sympy/concrete/summations.py
  sympy/concrete/tests/test_guess.py
  sympy/concrete/tests/test_products.py
  sympy/concrete/tests/test_sums_products.py
  sympy/printing/pretty/pretty.py
Labels: concrete

#17400 Make pytest tests work under pytest with -Werror
  sympy/utilities/tests/test_pytest.py
Labels: Testing

#17394 Fixed code generation for beta, fresnelc, fresnels, lowergamma, and uppergamma
  sympy/functions/special/beta_functions.py
  sympy/functions/special/tests/test_beta_functions.py
  sympy/printing/codeprinter.py
  sympy/printing/pycode.py
  sympy/printing/tests/test_pycode.py
  sympy/stats/crv_types.py
  sympy/utilities/tests/test_lambdify.py
Labels: codegen, printing

#17259 Improvements of Sum and Product
  doc/src/modules/codegen.rst
  sympy/concrete/expr_with_limits.py
  sympy/concrete/products.py
  sympy/concrete/summations.py
  sympy/concrete/tests/test_products.py
  sympy/concrete/tests/test_sums_products.py
  sympy/core/add.py
  sympy/core/function.py
  sympy/core/mul.py
  sympy/core/tests/test_exprtools.py
  sympy/core/tests/test_function.py
  sympy/functions/elementary/piecewise.py
  sympy/physics/tests/test_clebsch_gordan.py
  sympy/printing/conventions.py
  sympy/printing/latex.py
  sympy/printing/mathml.py
  sympy/printing/pretty/pretty.py
  sympy/printing/tests/test_conventions.py
  sympy/simplify/simplify.py
  sympy/solvers/tests/test_ode.py
  sympy/stats/tests/test_discrete_rv.py
  sympy/stats/tests/test_finite_rv.py
Labels: Performance, concrete, core, functions, simplify

#17346 Fixed some comparison issues
  sympy/algebras/quaternion.py
  sympy/algebras/tests/test_quaternion.py
  sympy/calculus/finite_diff.py
  sympy/calculus/tests/test_finite_diff.py
  sympy/concrete/products.py
  sympy/concrete/summations.py
  sympy/concrete/tests/test_products.py
Labels: concrete

#17409 Fixed #17405
  sympy/plotting/plot.py
  sympy/plotting/tests/test_plot.py
Labels: plotting

#17412 added support for Sum/Product expansion with exp/log
  sympy/functions/elementary/exponential.py
  sympy/functions/elementary/tests/test_exponential.py
Labels: concrete

#17317 Added induced pcgs and exponent-vector
  sympy/combinatorics/pc_groups.py
  sympy/combinatorics/tests/test_pc_groups.py
Labels: GSoC, combinatorics

#17432 Fixed issue with identical conditions in Piecewise
  sympy/functions/elementary/piecewise.py
  sympy/functions/elementary/tests/test_piecewise.py
Labels: functions.elementary.piecewise

#17416 elementwise apply function printer review
  sympy/printing/latex.py
  sympy/printing/pretty/pretty.py
  sympy/printing/pretty/pretty_symbology.py
  sympy/printing/pretty/tests/test_pretty.py
  sympy/printing/tests/test_latex.py
Labels: printing

#16974 Creating a C parser
  .travis.yml
  bin/test_travis.sh
  setup.py
  sympy/parsing/c/__init__.py
  sympy/parsing/c/c_parser.py
  sympy/parsing/fortran/fortran_parser.py
  sympy/parsing/sym_expr.py
  sympy/parsing/tests/test_c_parser.py
  sympy/parsing/tests/test_fortran_parser.py
  sympy/parsing/tests/test_sym_expr.py
  sympy/utilities/runtests.py
Labels: GSoC, parsing

#17399 Added Documentation for Polycyclic Groups
  doc/src/modules/combinatorics/pc_groups.rst
Labels: Documentation, GSoC

#17408 Added support for lambda in ArrayComprehension
  sympy/core/tests/test_args.py
  sympy/tensor/array/__init__.py
  sympy/tensor/array/array_comprehension.py
  sympy/tensor/array/tests/test_array_comprehension.py
Labels: tensor

#17444 Fixed error in logic simplify
  sympy/logic/boolalg.py
  sympy/logic/tests/test_boolalg.py
Labels: logic

#17304 Added circular ensembles
  sympy/core/tests/test_args.py
  sympy/stats/__init__.py
  sympy/stats/random_matrix_models.py
  sympy/stats/tests/test_random_matrix.py
Labels: GSoC, stats

#17426 Code cleanup in stats
  sympy/stats/crv.py
  sympy/stats/crv_types.py
  sympy/stats/drv.py
  sympy/stats/frv.py
  sympy/stats/rv.py
  sympy/stats/tests/test_continuous_rv.py
Labels: Code quality, stats

#17390 Series expansion for LambertW and a number of tests
  sympy/calculus/tests/test_util.py
  sympy/concrete/tests/test_sums_products.py
  sympy/functions/elementary/exponential.py
  sympy/functions/elementary/tests/test_exponential.py
  sympy/functions/special/gamma_functions.py
  sympy/functions/special/tests/test_gamma_functions.py
  sympy/series/tests/test_limits.py
  sympy/series/tests/test_series.py
Labels: calculus, concrete, functions, series

#17371 Extend RSA capability
  sympy/crypto/crypto.py
  sympy/crypto/tests/test_crypto.py
  sympy/ntheory/factor_.py
Labels: crypto

#17313 floor and ceiling inequality simplification
  sympy/functions/elementary/integers.py
  sympy/functions/elementary/tests/test_integers.py
Labels: functions

#17221 [WIP] Add matrix logarithm
  sympy/matrices/matrices.py
  sympy/matrices/tests/test_matrices.py
Labels: matrices

#17445 Added sample methods for finite RV
  sympy/stats/frv_types.py
  sympy/stats/tests/test_finite_rv.py
Labels: GSoC, stats

#17268 Allow symbolic parameters in joint_rv_types
  sympy/stats/crv_types.py
  sympy/stats/joint_rv_types.py
  sympy/stats/tests/test_joint_rv.py
Labels: GSoC, stats

#17314 Check the invalid dimensions for matrix symbol creation
  sympy/matrices/expressions/fourier.py
  sympy/matrices/expressions/funcmatrix.py
  sympy/matrices/expressions/matexpr.py
  sympy/matrices/expressions/tests/test_fourier.py
  sympy/matrices/expressions/tests/test_funcmatrix.py
  sympy/matrices/expressions/tests/test_matexpr.py
  sympy/printing/tests/test_tree.py
Labels: matrices.expressions

#17410 Set cwd as the local sympy root in subprocess call to make tests run from different directory.
  sympy/utilities/runtests.py
Labels: Testing

#17295 Made output from str more copy-pastable
  doc/src/modules/solvers/solveset.rst
  sympy/calculus/util.py
  sympy/matrices/expressions/hadamard.py
  sympy/matrices/expressions/tests/test_hadamard.py
  sympy/printing/julia.py
  sympy/printing/octave.py
  sympy/printing/pretty/pretty.py
  sympy/printing/pretty/tests/test_pretty.py
  sympy/printing/str.py
  sympy/printing/tests/test_octave.py
  sympy/printing/tests/test_str.py
  sympy/sets/fancysets.py
  sympy/sets/sets.py
Labels: printing

#17448 Better is_constant
  sympy/core/expr.py
  sympy/core/tests/test_expr.py
Labels: core

#17429 Add automatic evaluation for compositions of inverse hyperbolic functions
  sympy/core/tests/test_evalf.py
  sympy/functions/elementary/exponential.py
  sympy/functions/elementary/hyperbolic.py
  sympy/functions/elementary/tests/test_exponential.py
  sympy/functions/elementary/tests/test_hyperbolic.py
Labels: functions

#17078 Add Marcum Q-function
  sympy/core/tests/test_args.py
  sympy/functions/__init__.py
  sympy/functions/special/bessel.py
  sympy/functions/special/tests/test_bessel.py
Labels: functions, stats

#17153 Added functionality to determine polar second moment of area and section modulus of a polygon
  sympy/geometry/ellipse.py
  sympy/geometry/polygon.py
  sympy/geometry/tests/test_ellipse.py
  sympy/geometry/tests/test_polygon.py
Labels: GSoC, geometry

#17447 exp.as_leading_term() returns wrong results
  sympy/functions/elementary/exponential.py
  sympy/functions/elementary/tests/test_exponential.py
Labels: functions

#17464 Fix invalid code in solvers._tsolve
  sympy/solvers/solvers.py
  sympy/solvers/tests/test_solvers.py
Labels: solvers

#17462 Update Pow._eval_is_extended_real
  sympy/core/power.py
  sympy/core/tests/test_power.py
Labels: solvers

#17460 Plotting Piecewise with Eq or Ne now works
  sympy/plotting/experimental_lambdify.py
  sympy/plotting/tests/test_plot.py
Labels: plotting

#16976 [GSOC] Added _solve_modular for handling equations a - Mod(b, c) = 0 where only b is expr
  sympy/solvers/solveset.py
  sympy/solvers/tests/test_solveset.py
Labels: GSoC, solvers.solveset

#17466 Solve fixes and tests
  sympy/solvers/solvers.py
  sympy/solvers/tests/test_solvers.py
Labels: solvers.solve

#17439 Add Abs(imaginary).rewrite(Piecewise) and use in solve
  sympy/functions/elementary/complexes.py
  sympy/functions/elementary/tests/test_complexes.py
  sympy/simplify/simplify.py
  sympy/simplify/tests/test_simplify.py
  sympy/solvers/solvers.py
Labels: functions, solvers.solve

#17469 add missing 'return' keyword in atan2._eval_evalf. closes #17461
  sympy/functions/elementary/tests/test_trigonometric.py
  sympy/functions/elementary/trigonometric.py
Labels: functions

#17475 Enabled Doctests (and fixed a small bug)
  sympy/assumptions/ask.py
  sympy/functions/elementary/miscellaneous.py
  sympy/functions/special/polynomials.py
  sympy/matrices/dense.py
  sympy/physics/continuum_mechanics/beam.py
  sympy/physics/secondquant.py
  sympy/physics/tests/test_secondquant.py
  sympy/physics/units/prefixes.py
  sympy/solvers/ode.py
  sympy/stats/crv_types.py
  sympy/utilities/runtests.py
Labels: Documentation, Testing, physics

#17472 Rewrite Abs as conjugate
  sympy/functions/elementary/complexes.py
  sympy/functions/elementary/tests/test_complexes.py
Labels: functions

#17468 Show examples of FunctionMatrix using a symbolic shape
  sympy/matrices/expressions/funcmatrix.py
Labels: matrices

#17440 Add pycosat as an optional dependency.
  .travis.yml
  bin/test_external_imports.py
  bin/test_travis.sh
  sympy/logic/algorithms/pycosat_wrapper.py
  sympy/logic/inference.py
Labels: assumptions, external

#17477 use equals as fallback in solve
  sympy/solvers/solvers.py
  sympy/solvers/tests/test_solvers.py
Labels: solvers

#17375 polygamma improvements (evaluation, real and positivity determination)
  sympy/functions/special/gamma_functions.py
  sympy/functions/special/tests/test_gamma_functions.py
Labels: functions

#17278 Added evaluation of atan(0, complex) and fixed issue with re/im in Piecewise
  sympy/core/tests/test_power.py
  sympy/functions/elementary/piecewise.py
  sympy/functions/elementary/tests/test_piecewise.py
  sympy/functions/elementary/tests/test_trigonometric.py
  sympy/functions/elementary/trigonometric.py
  sympy/simplify/tests/test_simplify.py
Labels: functions, functions.elementary.piecewise

#17457 Testing examples
  .travis.yml
  bin/test_travis.sh
  examples/beginner/limits_examples.py
  examples/intermediate/partial_differential_eqs.py
Labels: Testing

#17343 Added some tests and fixed some bugs
  sympy/concrete/tests/test_sums_products.py
  sympy/integrals/manualintegrate.py
  sympy/integrals/meijerint.py
  sympy/integrals/tests/test_failing_integrals.py
  sympy/integrals/tests/test_integrals.py
  sympy/integrals/tests/test_meijerint.py
  sympy/solvers/tests/test_solvers.py
Labels: concrete, integrals

#17379 Improvement in satask: Reduce the need of costly rcall() on SymPy expression
  sympy/assumptions/cnf.py
  sympy/assumptions/satask.py
  sympy/assumptions/sathandlers.py
  sympy/assumptions/tests/test_query.py
  sympy/assumptions/tests/test_sathandlers.py
  sympy/core/tests/test_args.py
  sympy/physics/quantum/tests/test_density.py
Labels: GSoC, assumptions

#17476 Extended Polycyclic Group docstrings
  sympy/combinatorics/pc_groups.py
  sympy/combinatorics/perm_groups.py
Labels: Documentation, GSoC, combinatorics

#17419 modified _nth_algebraic_redundant method for general dsolve
  sympy/solvers/ode.py
  sympy/solvers/tests/test_ode.py
Labels: solvers.dsolve

#17501 Reorder allow_unknown_functions handling
  sympy/printing/codeprinter.py
  sympy/printing/tests/test_pycode.py
  sympy/utilities/tests/test_lambdify.py
Labels: printing

#17491 Sets: Replace is_EmptySet by a new is_empty attribute
  sympy/sets/fancysets.py
  sympy/sets/sets.py
  sympy/sets/tests/test_fancysets.py
  sympy/sets/tests/test_sets.py
  sympy/utilities/tests/test_pickling.py
Labels: sets

#17499 FIXED : Make the Sphinx modules headers match the filenames
  doc/src/modules/algebras.rst
  doc/src/modules/assumptions/index.rst
  doc/src/modules/categories.rst
  doc/src/modules/codegen.rst
  doc/src/modules/combinatorics/index.rst
  doc/src/modules/concrete.rst
  doc/src/modules/core.rst
  doc/src/modules/crypto.rst
  doc/src/modules/diffgeom.rst
  doc/src/modules/discrete.rst
  doc/src/modules/evalf.rst
  doc/src/modules/functions/index.rst
  doc/src/modules/geometry/index.rst
  doc/src/modules/holonomic/index.rst
  doc/src/modules/index.rst
  doc/src/modules/integrals/integrals.rst
  doc/src/modules/liealgebras/index.rst
  doc/src/modules/logic.rst
  doc/src/modules/ntheory.rst
  doc/src/modules/parsing.rst
  doc/src/modules/physics/index.rst
  doc/src/modules/plotting.rst
  doc/src/modules/polys/index.rst
  doc/src/modules/printing.rst
  doc/src/modules/rewriting.rst
  doc/src/modules/series/index.rst
  doc/src/modules/sets.rst
  doc/src/modules/simplify/hyperexpand.rst
  doc/src/modules/simplify/simplify.rst
  doc/src/modules/stats.rst
  doc/src/modules/tensor/index.rst
  doc/src/modules/vector/index.rst
Labels: Documentation

#17534 allow And/Or.subs to short-circuit
  sympy/logic/boolalg.py
  sympy/logic/tests/test_boolalg.py
Labels: logic

#17533 powsimp correctly handles sign extraction from signed base
  sympy/series/order.py
  sympy/series/tests/test_order.py
  sympy/simplify/cse_opts.py
  sympy/simplify/powsimp.py
  sympy/simplify/tests/test_powsimp.py
Labels: Wrong Result, simplify

#17512 Range accepts symbolic arguments
  sympy/sets/fancysets.py
  sympy/sets/tests/test_fancysets.py
Labels: sets

#16508 Fix matrix-matrix hadamard power
  doc/src/modules/matrices/expressions.rst
  sympy/matrices/expressions/hadamard.py
  sympy/matrices/expressions/tests/test_hadamard.py
Labels: matrices.expressions

#17385 Fix HTML rendering of parameters and returns section
  doc/src/_static/default.css_t
  sympy/crypto/crypto.py
Labels: Documentation

#16612 Rewriting signum to heaviside theta
  sympy/functions/elementary/complexes.py
  sympy/functions/elementary/tests/test_complexes.py
  sympy/functions/special/delta_functions.py
  sympy/functions/special/tests/test_delta_functions.py
Labels: functions

#17414 Added assumption methods to Sum and Product
  sympy/concrete/expr_with_intlimits.py
  sympy/concrete/expr_with_limits.py
  sympy/concrete/products.py
  sympy/concrete/summations.py
  sympy/concrete/tests/test_sums_products.py
Labels: assumptions, concrete

#17551 Quaternion: Fixed the order of multiplication with a complex number
  sympy/algebras/quaternion.py
  sympy/algebras/tests/test_quaternion.py
Labels: algebras

#17527 modified lie_group method
  sympy/solvers/ode.py
  sympy/solvers/tests/test_ode.py
Labels: solvers.dsolve
