Repository sympy/sympy, pull requests merged in 2019-04, with the labels that each got.

#16461 Stats: Changed the docs of crv_types.py
  sympy/stats/crv_types.py
Labels: Documentation, stats

#15121 MatrixSymbol first arg is a Symbol (and other matrix expressions cleanup)
  sympy/core/function.py
  sympy/core/tests/test_args.py
  sympy/matrices/expressions/matadd.py
  sympy/matrices/expressions/matexpr.py
  sympy/matrices/expressions/matmul.py
  sympy/matrices/expressions/tests/test_matexpr.py
  sympy/matrices/tests/test_matrices.py
  sympy/polys/polytools.py
  sympy/printing/repr.py
  sympy/printing/tests/test_repr.py
  sympy/simplify/tests/test_powsimp.py
  sympy/unify/tests/test_sympy.py
Labels: PR: author's turn, matrices.expressions

#16514 Improved printing of units for 1.4
  sympy/physics/units/definitions.py
  sympy/physics/units/quantities.py
  sympy/printing/tests/test_latex.py
Labels: physics.units, printing.latex

#16356 Fix RUBI code to connect to latest MatchPy master
  .travis.yml
  sympy/core/tests/test_args.py
  sympy/integrals/rubi/constraints.py
  sympy/integrals/rubi/parsetools/header.py.txt
  sympy/integrals/rubi/rubi.py
  sympy/integrals/rubi/rules/binomial_products.py
  sympy/integrals/rubi/rules/exponential.py
  sympy/integrals/rubi/rules/hyperbolic.py
  sympy/integrals/rubi/rules/integrand_simplification.py
  sympy/integrals/rubi/rules/inverse_hyperbolic.py
  sympy/integrals/rubi/rules/inverse_trig.py
  sympy/integrals/rubi/rules/linear_products.py
  sympy/integrals/rubi/rules/logarithms.py
  sympy/integrals/rubi/rules/miscellaneous_algebraic.py
  sympy/integrals/rubi/rules/miscellaneous_integration.py
  sympy/integrals/rubi/rules/miscellaneous_trig.py
  sympy/integrals/rubi/rules/piecewise_linear.py
  sympy/integrals/rubi/rules/quadratic_products.py
  sympy/integrals/rubi/rules/secant.py
  sympy/integrals/rubi/rules/sine.py
  sympy/integrals/rubi/rules/special_functions.py
  sympy/integrals/rubi/rules/tangent.py
  sympy/integrals/rubi/rules/trinomial_products.py
  sympy/integrals/rubi/tests/test_utility_function.py
  sympy/integrals/rubi/utility_function.py
  sympy/utilities/matchpy_connector.py
Labels: integrals.rubi

#16456 Merge duplicate functions orthogonalize and GramSchmidt
  sympy/matrices/dense.py
  sympy/matrices/matrices.py
  sympy/matrices/tests/test_commonmatrix.py
Labels: matrices

#16472 Fix matchpy register
  .travis.yml
  sympy/core/tests/test_args.py
  sympy/integrals/rubi/constraints.py
  sympy/integrals/rubi/parsetools/header.py.txt
  sympy/integrals/rubi/rubi.py
  sympy/integrals/rubi/rules/binomial_products.py
  sympy/integrals/rubi/rules/exponential.py
  sympy/integrals/rubi/rules/hyperbolic.py
  sympy/integrals/rubi/rules/integrand_simplification.py
  sympy/integrals/rubi/rules/inverse_hyperbolic.py
  sympy/integrals/rubi/rules/inverse_trig.py
  sympy/integrals/rubi/rules/linear_products.py
  sympy/integrals/rubi/rules/logarithms.py
  sympy/integrals/rubi/rules/miscellaneous_algebraic.py
  sympy/integrals/rubi/rules/miscellaneous_integration.py
  sympy/integrals/rubi/rules/miscellaneous_trig.py
  sympy/integrals/rubi/rules/piecewise_linear.py
  sympy/integrals/rubi/rules/quadratic_products.py
  sympy/integrals/rubi/rules/secant.py
  sympy/integrals/rubi/rules/sine.py
  sympy/integrals/rubi/rules/special_functions.py
  sympy/integrals/rubi/rules/tangent.py
  sympy/integrals/rubi/rules/trinomial_products.py
  sympy/integrals/rubi/tests/test_utility_function.py
  sympy/integrals/rubi/utility_function.py
  sympy/utilities/matchpy_connector.py
Labels: integrals.rubi

#16493 Fixed make 'indices' parameter optional
  sympy/tensor/tensor.py
  sympy/tensor/tests/test_tensor.py
Labels: PR: sympy's turn, tensor

#16534 octave codegen: they have regularized incomplete gamma fcn
  sympy/printing/octave.py
  sympy/printing/tests/test_octave.py
Labels: printing

#16544 Matrix derivative - some refactory of the logic
  sympy/core/expr.py
  sympy/core/tests/test_expr.py
  sympy/matrices/expressions/applyfunc.py
  sympy/matrices/expressions/diagonal.py
  sympy/matrices/expressions/hadamard.py
  sympy/matrices/expressions/inverse.py
  sympy/matrices/expressions/matexpr.py
  sympy/matrices/expressions/matmul.py
  sympy/matrices/expressions/tests/test_applyfunc.py
  sympy/matrices/expressions/tests/test_derivatives.py
  sympy/matrices/expressions/tests/test_diagonal.py
  sympy/matrices/expressions/tests/test_hadamard.py
  sympy/matrices/expressions/trace.py
  sympy/matrices/expressions/transpose.py
Labels: calculus, matrices.expressions

#16501 Fixes from LGTM (and some code coverage)
  bin/authors_update.py
  examples/advanced/autowrap_ufuncify.py
  examples/advanced/dense_coding_example.py
  examples/advanced/fem.py
  examples/advanced/pidigits.py
  examples/advanced/qft.py
  examples/advanced/relativity.py
  examples/intermediate/coupled_cluster.py
  examples/intermediate/mplot2d.py
  examples/intermediate/mplot3d.py
  examples/intermediate/partial_differential_eqs.py
  examples/intermediate/vandermonde.py
  sympy/assumptions/ask.py
  sympy/assumptions/ask_generated.py
  sympy/assumptions/handlers/sets.py
  sympy/calculus/util.py
  sympy/codegen/pyutils.py
  sympy/core/assumptions.py
  sympy/core/logic.py
  sympy/core/mod.py
  sympy/discrete/recurrences.py
  sympy/geometry/ellipse.py
  sympy/geometry/entity.py
  sympy/geometry/point.py
  sympy/integrals/heurisch.py
  sympy/integrals/integrals.py
  sympy/integrals/prde.py
  sympy/matrices/expressions/applyfunc.py
  sympy/matrices/expressions/hadamard.py
  sympy/matrices/expressions/matadd.py
  sympy/ntheory/factor_.py
  sympy/ntheory/multinomial.py
  sympy/ntheory/partitions_.py
  sympy/physics/quantum/matrixutils.py
  sympy/physics/units/dimensions.py
  sympy/polys/compatibility.py
  sympy/polys/monomials.py
  sympy/polys/numberfields.py
  sympy/polys/polyfuncs.py
  sympy/polys/rings.py
  sympy/polys/rootoftools.py
  sympy/polys/tests/test_monomials.py
  sympy/printing/llvmjitcode.py
  sympy/printing/python.py
  sympy/series/fourier.py
  sympy/simplify/hyperexpand.py
  sympy/tensor/array/dense_ndim_array.py
  sympy/utilities/misc.py
  sympy/vector/deloperator.py
  sympy/vector/operators.py
Labels: Code quality, Coverage

#16449 add cdf for maxwell and rayleigh distributions
  sympy/stats/crv_types.py
  sympy/stats/tests/test_continuous_rv.py
Labels: stats

#16457 Added outputs for plots examples.
  sympy/physics/continuum_mechanics/beam.py
Labels: Documentation

#16385 Fixed issue #16327 (atan2 rewrite atan ignores sign)
  sympy/functions/elementary/tests/test_trigonometric.py
  sympy/functions/elementary/trigonometric.py
Labels: functions

#16516 Added ROT13 and Atbash to sympy.crypto
  doc/src/modules/crypto.rst
  sympy/crypto/__init__.py
  sympy/crypto/crypto.py
  sympy/crypto/tests/test_crypto.py
Labels: crypto

#16549 DiagonalizeVector added to array_utils.py
  sympy/codegen/array_utils.py
  sympy/codegen/tests/test_array_utils.py
  sympy/matrices/__init__.py
  sympy/matrices/expressions/__init__.py
  sympy/matrices/expressions/diagonal.py
  sympy/matrices/expressions/tests/test_diagonal.py
Labels: codegen

#16513 Pyglet fixes for 1.4
  .travis.yml
  examples/advanced/pyglet_plotting.py
  sympy/plotting/pygletplot/__init__.py
  sympy/plotting/pygletplot/color_scheme.py
  sympy/plotting/pygletplot/managed_window.py
  sympy/plotting/pygletplot/plot.py
  sympy/plotting/pygletplot/plot_axes.py
  sympy/plotting/pygletplot/plot_camera.py
  sympy/plotting/pygletplot/plot_controller.py
  sympy/plotting/pygletplot/plot_curve.py
  sympy/plotting/pygletplot/plot_interval.py
  sympy/plotting/pygletplot/plot_mode.py
  sympy/plotting/pygletplot/plot_mode_base.py
  sympy/plotting/pygletplot/plot_modes.py
  sympy/plotting/pygletplot/plot_rotation.py
  sympy/plotting/pygletplot/plot_surface.py
  sympy/plotting/pygletplot/plot_window.py
  sympy/plotting/pygletplot/util.py
  sympy/utilities/runtests.py
Labels: plotting

#16564 Fixed Documentation issues in crypto.py
  sympy/crypto/crypto.py
Labels: Documentation, crypto

#16522 Added function to check if a group is Cyclic or not
  sympy/combinatorics/fp_groups.py
  sympy/combinatorics/homomorphisms.py
  sympy/combinatorics/perm_groups.py
  sympy/combinatorics/tests/test_fp_groups.py
  sympy/combinatorics/tests/test_perm_groups.py
Labels: combinatorics

#16483 Add hadamard product printing for mathml
  sympy/printing/mathml.py
  sympy/printing/tests/test_mathml.py
Labels: printing.mathml

#16574 Caught and fixed a potential bug in sympy.stats.joint_rv
  sympy/stats/joint_rv.py
  sympy/stats/tests/test_joint_rv.py
Labels: stats

#16578 linear_eq_to_matrix: fix for non-expanded terms
  sympy/solvers/solveset.py
  sympy/solvers/tests/test_solveset.py
Labels: matrices, solvers

#16276 added functionality to obtain subplots from already created plots.
  doc/src/modules/plotting.rst
  sympy/plotting/__init__.py
  sympy/plotting/plot.py
  sympy/plotting/tests/test_plot.py
Labels: plotting

#16568 Reduced repeated code in sympy.stats.symbolic_probability
  sympy/stats/symbolic_probability.py
Labels: stats

#16567 core.relational.py: Eq without rhs now raises ValueError
  sympy/calculus/euler.py
  sympy/calculus/tests/test_euler.py
  sympy/core/relational.py
  sympy/core/tests/test_relational.py
  sympy/solvers/ode.py
  sympy/solvers/pde.py
  sympy/solvers/solveset.py
  sympy/solvers/tests/test_numeric.py
  sympy/solvers/tests/test_ode.py
  sympy/solvers/tests/test_pde.py
Labels: core

#16459 Partition
  sympy/functions/combinatorial/numbers.py
  sympy/functions/combinatorial/tests/test_comb_numbers.py
Labels: combinatorics, functions

#16605 Performance fix for polygon.py
  sympy/geometry/polygon.py
  sympy/geometry/tests/test_polygon.py
Labels: Performance, geometry

#16601 Vertex and p_parameter for Parabolas declared symbolically
  sympy/geometry/parabola.py
  sympy/geometry/tests/test_parabola.py
Labels: geometry

#16614 deleted unused param "session" from process_split
  sympy/conftest.py
Labels: Testing

#16462 irregular block detection and handling
  sympy/core/compatibility.py
  sympy/matrices/expressions/blockmatrix.py
  sympy/matrices/expressions/tests/test_blockmatrix.py
  sympy/matrices/matrices.py
  sympy/matrices/tests/test_matrices.py
  sympy/printing/pretty/pretty.py
  sympy/utilities/tests/test_wester.py
Labels: matrices

#16388 1.4 release branch
  .mailmap
  .travis.yml
  AUTHORS
  doc/src/modules/solvers/ode.rst
  examples/advanced/pyglet_plotting.py
  release/Dockerfile
  release/README.md
  release/rever.xsh
  sympy/assumptions/tests/test_satask.py
  sympy/core/function.py
  sympy/core/tests/test_args.py
  sympy/crypto/tests/test_crypto.py
  sympy/functions/elementary/piecewise.py
  sympy/functions/elementary/tests/test_miscellaneous.py
  sympy/functions/elementary/tests/test_piecewise.py
  sympy/matrices/expressions/matadd.py
  sympy/matrices/expressions/matexpr.py
  sympy/matrices/expressions/matmul.py
  sympy/matrices/expressions/tests/test_matexpr.py
  sympy/matrices/tests/test_commonmatrix.py
  sympy/matrices/tests/test_matrices.py
  sympy/physics/units/definitions.py
  sympy/physics/units/quantities.py
  sympy/plotting/pygletplot/__init__.py
  sympy/plotting/pygletplot/color_scheme.py
  sympy/plotting/pygletplot/managed_window.py
  sympy/plotting/pygletplot/plot.py
  sympy/plotting/pygletplot/plot_axes.py
  sympy/plotting/pygletplot/plot_camera.py
  sympy/plotting/pygletplot/plot_controller.py
  sympy/plotting/pygletplot/plot_curve.py
  sympy/plotting/pygletplot/plot_interval.py
  sympy/plotting/pygletplot/plot_mode.py
  sympy/plotting/pygletplot/plot_mode_base.py
  sympy/plotting/pygletplot/plot_modes.py
  sympy/plotting/pygletplot/plot_rotation.py
  sympy/plotting/pygletplot/plot_surface.py
  sympy/plotting/pygletplot/plot_window.py
  sympy/plotting/pygletplot/util.py
  sympy/polys/polytools.py
  sympy/printing/octave.py
  sympy/printing/repr.py
  sympy/printing/tests/test_latex.py
  sympy/printing/tests/test_octave.py
  sympy/printing/tests/test_repr.py
  sympy/simplify/tests/test_powsimp.py
  sympy/solvers/ode.py
  sympy/solvers/solveset.py
  sympy/solvers/tests/test_ode.py
  sympy/solvers/tests/test_solveset.py
  sympy/stats/crv_types.py
  sympy/stats/tests/test_continuous_rv.py
  sympy/unify/tests/test_sympy.py
  sympy/utilities/runtests.py
Labels: Uncategorised

#16503 Adjust alignment of the Sum pretty printer
  sympy/printing/pretty/pretty.py
  sympy/printing/pretty/tests/test_pretty.py
Labels: printing

#16586 some additions to array_utils and assumptions
  sympy/assumptions/handlers/matrices.py
  sympy/assumptions/tests/test_matrices.py
  sympy/codegen/array_utils.py
  sympy/codegen/tests/test_array_utils.py
  sympy/matrices/expressions/applyfunc.py
Labels: assumptions, codegen, matrices.expressions

#16452 banded matrix construction
  sympy/geometry/point.py
  sympy/matrices/__init__.py
  sympy/matrices/common.py
  sympy/matrices/sparse.py
  sympy/matrices/sparsetools.py
  sympy/matrices/tests/test_commonmatrix.py
  sympy/matrices/tests/test_sparsetools.py
  sympy/polys/polytools.py
  sympy/solvers/ode.py
  sympy/solvers/polysys.py
Labels: matrices

#16473 Calculus: Added functions to evaluate stationary points and maximum/minimum
  doc/src/modules/calculus/index.rst
  sympy/calculus/__init__.py
  sympy/calculus/tests/test_util.py
  sympy/calculus/util.py
  sympy/utilities/tests/test_wester.py
Labels: calculus

#16527 Breaking up the Rational Factors
  sympy/core/exprtools.py
  sympy/core/tests/test_exprtools.py
  sympy/simplify/tests/test_radsimp.py
Labels: PR: author's turn, core

#16597 Assumptions: make rational imply finite
  sympy/assumptions/ask.py
  sympy/assumptions/ask_generated.py
  sympy/core/assumptions.py
  sympy/core/power.py
  sympy/core/tests/test_assumptions.py
  sympy/functions/elementary/tests/test_miscellaneous.py
  sympy/printing/tree.py
  sympy/tensor/indexed.py
Labels: assumptions

#16596 polys: Remove leading term created by rounding error in long division
  sympy/integrals/tests/test_integrals.py
  sympy/polys/densearith.py
  sympy/polys/domains/fractionfield.py
  sympy/polys/polyroots.py
  sympy/polys/tests/test_polytools.py
  sympy/solvers/tests/test_ode.py
Labels: polys

#15693 Added entropy to stats module
  sympy/stats/__init__.py
  sympy/stats/rv_interface.py
  sympy/stats/tests/test_rv.py
Labels: stats

#16632 Fix sympy parser for numeric strings
  sympy/parsing/sympy_parser.py
  sympy/parsing/tests/test_sympy_parser.py
Labels: parsing

#16637 Improve intersection and distance methods for Plane
  sympy/geometry/plane.py
  sympy/geometry/tests/test_plane.py
Labels: geometry

#16475 Add tests for print_tree
  sympy/printing/tests/test_tree.py
Labels: matrices.expressions, printing

#16650 Revert "changing scale_factor of kg to One"
  sympy/physics/units/definitions.py
  sympy/physics/units/tests/test_unitsystem.py
Labels: physics.units

#16630 Use sympy.codegen.array_utils for derivatives of matrix expressions
  sympy/codegen/array_utils.py
  sympy/codegen/tests/test_array_utils.py
  sympy/matrices/expressions/applyfunc.py
  sympy/matrices/expressions/matexpr.py
  sympy/matrices/expressions/matmul.py
  sympy/matrices/expressions/tests/test_derivatives.py
  sympy/matrices/expressions/trace.py
Labels: codegen, matrices.expressions

#16647 indexed matrix expressions will now have different dummies in summations
  sympy/matrices/expressions/adjoint.py
  sympy/matrices/expressions/blockmatrix.py
  sympy/matrices/expressions/diagonal.py
  sympy/matrices/expressions/fourier.py
  sympy/matrices/expressions/funcmatrix.py
  sympy/matrices/expressions/hadamard.py
  sympy/matrices/expressions/kronecker.py
  sympy/matrices/expressions/matadd.py
  sympy/matrices/expressions/matmul.py
  sympy/matrices/expressions/slice.py
  sympy/matrices/expressions/tests/test_indexing.py
  sympy/matrices/expressions/transpose.py
  sympy/matrices/immutable.py
Labels: matrices

#16653 work with 3D linear entities
  sympy/geometry/plane.py
  sympy/geometry/point.py
Labels: geometry

#16654 codgen: Handle neg. exp. in create_expand_pow_optimization
  sympy/codegen/rewriting.py
  sympy/codegen/tests/test_rewriting.py
Labels: codegen

#16519 AssocOp.flatten reverses the operands
  sympy/core/operations.py
  sympy/core/tests/test_operations.py
Labels: core

#16659 calculate derivative of trivial matrix power
  sympy/matrices/expressions/applyfunc.py
  sympy/matrices/expressions/matpow.py
  sympy/matrices/expressions/tests/test_derivatives.py
Labels: matrices.expressions

#16636 plot_loading_results() now uses sympy's PlotGrid to obtain subplots
  sympy/physics/continuum_mechanics/beam.py
Labels: physics.continuum_mechanics, plotting

#16668 speed up Line/Segment intersections
  sympy/geometry/line.py
  sympy/geometry/polygon.py
  sympy/geometry/tests/test_line.py
Labels: geometry

#16474 [WIP] Add hadamard power latex printing
  sympy/printing/latex.py
  sympy/printing/precedence.py
  sympy/printing/tests/test_latex.py
Labels: matrices.expressions, printing.latex

#16673 added support for derivatives of Hadamard products and powers
  sympy/matrices/expressions/diagonal.py
  sympy/matrices/expressions/hadamard.py
  sympy/matrices/expressions/matexpr.py
  sympy/matrices/expressions/tests/test_derivatives.py
  sympy/matrices/expressions/tests/test_diagonal.py
Labels: matrices

#16679 Strategies code quality
  sympy/strategies/core.py
Labels: Code quality, Uncategorised

#16676 added OneMatrix for matrix expressions with only ones
  sympy/core/tests/test_args.py
  sympy/matrices/expressions/matexpr.py
  sympy/matrices/expressions/tests/test_determinant.py
  sympy/matrices/expressions/tests/test_matexpr.py
  sympy/matrices/expressions/tests/test_trace.py
Labels: matrices.expressions

#16683 remove duplicated test
  sympy/matrices/expressions/tests/test_derivatives.py
Labels: matrices.expressions

#16592 Updated assumptions: Now complex and !finite infers infinite.
  sympy/core/assumptions.py
  sympy/core/tests/test_assumptions.py
Labels: assumptions

#16692 added LaTeX printers for OneMatrix
  sympy/matrices/__init__.py
  sympy/matrices/expressions/__init__.py
  sympy/printing/latex.py
  sympy/printing/tests/test_latex.py
Labels: matrices.expressions, printing.latex

#16693 allow matrix expression to be derived by scalar
  sympy/core/basic.py
  sympy/core/function.py
  sympy/matrices/expressions/hadamard.py
  sympy/matrices/expressions/matexpr.py
  sympy/matrices/expressions/tests/test_derivatives.py
  sympy/tensor/array/ndim_array.py
Labels: matrices.expressions

#16704 LGTM fixes for matrix expressions
  sympy/matrices/expressions/applyfunc.py
  sympy/matrices/expressions/blockmatrix.py
  sympy/matrices/expressions/hadamard.py
  sympy/matrices/expressions/matexpr.py
  sympy/matrices/expressions/matmul.py
Labels: Code quality, matrices.expressions

#16512 refraction_angle() now accepts inc. angle
  sympy/physics/optics/tests/test_utils.py
  sympy/physics/optics/utils.py
Labels: physics.optics

#16694 Improve coverage_report.py
  bin/coverage_report.py
Labels: Coverage, Testing, Workflow

#16560 Added Director Circle Feature For Ellipse
  sympy/geometry/ellipse.py
  sympy/geometry/tests/test_ellipse.py
Labels: geometry

#16697 Removed some unused printing code
  sympy/printing/codeprinter.py
  sympy/printing/pretty/pretty.py
  sympy/printing/str.py
  sympy/printing/tests/test_str.py
  sympy/stats/rv.py
Labels: Code quality

#16631 Fixed LaTeX, pretty, MathML Presentation, and str printing of UniversalSet
  sympy/logic/boolalg.py
  sympy/printing/latex.py
  sympy/printing/mathml.py
  sympy/printing/pretty/pretty.py
  sympy/printing/pretty/tests/test_pretty.py
  sympy/printing/str.py
  sympy/printing/tests/test_latex.py
  sympy/printing/tests/test_mathml.py
  sympy/printing/tests/test_str.py
  sympy/sets/conditionset.py
  sympy/sets/sets.py
Labels: printing, printing.latex, printing.mathml, printing.pretty

#16677 Fix duplicate plot in beam_problems
  doc/src/modules/physics/continuum_mechanics/beam_problems.rst
Labels: Documentation, physics.continuum_mechanics, plotting

#16702 Fix permission error while writing coverage report locally
  bin/test_travis.sh
  coveragerc_travis
Labels: Coverage

#16608 modifications for round
  sympy/core/compatibility.py
  sympy/core/expr.py
  sympy/core/numbers.py
  sympy/core/tests/test_arit.py
  sympy/core/tests/test_compatibility.py
  sympy/core/tests/test_expr.py
  sympy/core/tests/test_numbers.py
Labels: core, floats

#16727 Float(oo) -> oo; float(oo) -> inf
  sympy/codegen/ast.py
  sympy/codegen/tests/test_ast.py
  sympy/core/numbers.py
  sympy/core/tests/test_numbers.py
  sympy/polys/domains/domain.py
  sympy/polys/domains/tests/test_domains.py
  sympy/polys/polyutils.py
  sympy/printing/tests/test_latex.py
  sympy/printing/tests/test_str.py
  sympy/solvers/solveset.py
Labels: core

#16744 reject nan, oo, -oo at Rational instantiation
  sympy/core/numbers.py
  sympy/core/tests/test_numbers.py
Labels: core

#16746 Fixed beam markdown
  doc/src/modules/physics/continuum_mechanics/beam_problems.rst
Labels: Documentation, physics.continuum_mechanics

#16678 Updated durations.json
  .ci/README.rst
  .ci/durations.json
  .ci/generate_durations_log.sh
Labels: Testing

#15885 Complex and constant Theano code generation (revived #9187)
  sympy/printing/tests/test_theanocode.py
  sympy/printing/theanocode.py
  sympy/utilities/codegen.py
  sympy/utilities/tests/test_codegen.py
Labels: codegen, printing

#16731 Add has_module(numpy) in runtest_issue_15537
  sympy/external/tests/test_autowrap.py
Labels: Testing
