Repository sympy/sympy, pull requests merged in 2019-09, with the labels that each got.

#17474 Generalise Lambda function signature to allow tuple unpacking
  sympy/core/function.py
  sympy/core/tests/test_function.py
  sympy/core/tests/test_sympify.py
  sympy/functions/elementary/miscellaneous.py
  sympy/polys/partfrac.py
  sympy/sets/fancysets.py
  sympy/sets/sets.py
  sympy/stats/crv.py
  sympy/stats/drv.py
  sympy/stats/joint_rv.py
  sympy/stats/joint_rv_types.py
  sympy/stats/random_matrix_models.py
  sympy/stats/rv.py
Labels: functions

#15905 [WIP] Improved simplification of Relational
  sympy/core/relational.py
  sympy/core/tests/test_relational.py
Labels: core

#17503 Core: Fixes _xreplace error while differentiating function of function
  sympy/core/function.py
  sympy/core/tests/test_function.py
Labels: functions

#17526 Improved handling of intersections involving FiniteSet
  sympy/calculus/tests/test_util.py
  sympy/sets/fancysets.py
  sympy/sets/sets.py
  sympy/sets/tests/test_sets.py
  sympy/solvers/tests/test_solveset.py
  sympy/utilities/tests/test_wester.py
Labels: sets

#17338 added method to solve factors independently in dsolve
  doc/src/modules/solvers/ode.rst
  sympy/solvers/deutils.py
  sympy/solvers/ode.py
  sympy/solvers/tests/test_ode.py
Labels: solvers.dsolve

#17496 Wrong results for as_leading_term()
  sympy/functions/combinatorial/factorials.py
  sympy/functions/special/gamma_functions.py
  sympy/functions/special/tests/test_gamma_functions.py
  sympy/series/tests/test_limits.py
Labels: functions, series

#17572 Add as_relational for Complement and SymmetricDifference
  sympy/sets/sets.py
  sympy/sets/tests/test_sets.py
Labels: sets

#17574 Fix canonical relationals for set equality
  sympy/core/relational.py
  sympy/core/tests/test_relational.py
Labels: core

#17582 removed bug from match and added test case
  sympy/core/add.py
  sympy/core/tests/test_match.py
Labels: core

#17586 removed bug and added corresponding test cases
  sympy/solvers/ode.py
  sympy/solvers/tests/test_ode.py
Labels: solvers

#17583 Bug fixes on matrix derivatives
  sympy/matrices/expressions/applyfunc.py
  sympy/matrices/expressions/diagonal.py
  sympy/matrices/expressions/hadamard.py
  sympy/matrices/expressions/matexpr.py
  sympy/matrices/expressions/tests/test_derivatives.py
  sympy/matrices/expressions/tests/test_diagonal.py
  sympy/matrices/expressions/tests/test_hadamard.py
Labels: matrices.expressions

#16581 Add solvers for Bessel and Airy differential equations
  doc/src/modules/solvers/ode.rst
  sympy/solvers/ode.py
  sympy/solvers/tests/test_ode.py
Labels: PR: author's turn, solvers.dsolve

#17504 Use linkcode instead of viewcode
  doc/src/conf.py
  setup.py
Labels: Documentation

#17557 Don't flatten ProductSet args
  sympy/core/containers.py
  sympy/core/relational.py
  sympy/core/tests/test_containers.py
  sympy/core/tests/test_relational.py
  sympy/printing/latex.py
  sympy/printing/pretty/pretty.py
  sympy/printing/pretty/tests/test_pretty.py
  sympy/printing/tests/test_latex.py
  sympy/sets/fancysets.py
  sympy/sets/handlers/intersection.py
  sympy/sets/handlers/union.py
  sympy/sets/sets.py
  sympy/sets/tests/test_fancysets.py
  sympy/sets/tests/test_sets.py
  sympy/stats/joint_rv_types.py
  sympy/stats/rv.py
Labels: sets

#17614 Rubi edits to make code generation easier
  sympy/integrals/rubi/constraints.py
  sympy/integrals/rubi/parsetools/generate_rules.py
  sympy/integrals/rubi/parsetools/generate_tests.py
  sympy/integrals/rubi/parsetools/header.py.txt
  sympy/integrals/rubi/parsetools/parse.py
  sympy/integrals/rubi/rubimain.py
  sympy/integrals/rubi/rules/binomial_products.py
  sympy/integrals/rubi/rules/exponential.py
  sympy/integrals/rubi/rules/hyperbolic.py
  sympy/integrals/rubi/rules/integrand_simplification.py
  sympy/integrals/rubi/rules/inverse_hyperbolic.py
  sympy/integrals/rubi/rules/inverse_trig.py
  sympy/integrals/rubi/rules/linear_products.py
  sympy/integrals/rubi/rules/logarithms.py
  sympy/integrals/rubi/rules/miscellaneous_algebraic.py
  sympy/integrals/rubi/rules/miscellaneous_integration.py
  sympy/integrals/rubi/rules/miscellaneous_trig.py
  sympy/integrals/rubi/rules/piecewise_linear.py
  sympy/integrals/rubi/rules/quadratic_products.py
  sympy/integrals/rubi/rules/secant.py
  sympy/integrals/rubi/rules/sine.py
  sympy/integrals/rubi/rules/special_functions.py
  sympy/integrals/rubi/rules/tangent.py
  sympy/integrals/rubi/rules/trinomial_products.py
  sympy/integrals/rubi/tests/test_rubi_integrate.py
  sympy/integrals/rubi/utility_function.py
Labels: integrals.rubi

#17345 A method to plot beam diagram using sympy's own plot()
  sympy/physics/continuum_mechanics/beam.py
  sympy/plotting/plot.py
Labels: GSoC, PR: author's turn, physics.continuum_mechanics

#14396 Fix "Poly(domain='RR[y,z]') doesn't work" (#2709)
  sympy/polys/polyoptions.py
  sympy/polys/tests/test_polyoptions.py
Labels: polys

#17617 Added Rail Fence Cipher
  doc/src/modules/crypto.rst
  sympy/crypto/__init__.py
  sympy/crypto/crypto.py
  sympy/crypto/tests/test_crypto.py
Labels: crypto

#17266 Add maple code printer
  .gitignore
  doc/src/modules/printing.rst
  sympy/printing/__init__.py
  sympy/printing/maple.py
  sympy/printing/tests/test_maple.py
Labels: printing

#17589 Fix gram schmidt for complex numbers
  sympy/matrices/matrices.py
  sympy/matrices/tests/test_matrices.py
Labels: matrices

#17623 docs: stirling: try dollar signs instead of ticks
  .travis.yml
  doc/README.rst
  doc/src/conf.py
  sympy/functions/combinatorial/numbers.py
  sympy/functions/special/bessel.py
Labels: Documentation, functions

#17635 rust_code now executes correct methods
  sympy/printing/rust.py
  sympy/printing/tests/test_rust.py
Labels: printing

#17630 Fix zero matrix added with zero matrix giving zero
  sympy/matrices/expressions/matexpr.py
  sympy/matrices/expressions/tests/test_blockmatrix.py
  sympy/matrices/expressions/tests/test_matadd.py
Labels: matrices, matrices.expressions

#17637 Extend modular exponentiation capability
  sympy/core/power.py
  sympy/core/tests/test_arit.py
Labels: core

#17584 Fix iteration for symbolic set objects
  doc/src/modules/sets.rst
  sympy/sets/fancysets.py
  sympy/sets/sets.py
  sympy/sets/tests/test_fancysets.py
  sympy/sets/tests/test_sets.py
  sympy/utilities/iterables.py
Labels: sets

#17539 Updated sinc derivative
  sympy/functions/elementary/tests/test_trigonometric.py
  sympy/functions/elementary/trigonometric.py
Labels: functions

#17516 Tensor substitute index implemented properly
  sympy/tensor/tensor.py
  sympy/tensor/tests/test_tensor.py
Labels: tensor

#12485 Replaced some asserts in non-test code with exceptions (#5090)
  sympy/utilities/misc.py
  sympy/utilities/tests/test_misc.py
Labels: Testing

#17655 Implement Point.__rmul__
  sympy/geometry/point.py
  sympy/geometry/tests/test_point.py
Labels: geometry

#17607 Test pypy3 instead of pypy2 on Travis
  .travis.yml
  sympy/vector/basisdependent.py
Labels: Travis

#17651 Removed some misuse of ConditionSet
  sympy/printing/tests/test_latex.py
  sympy/sets/conditionset.py
  sympy/sets/tests/test_conditionset.py
  sympy/solvers/solveset.py
  sympy/solvers/tests/test_solveset.py
Labels: sets, solvers.solveset

#17519 Reorganise ComplexRegion class hierarchy
  sympy/core/tests/test_args.py
  sympy/printing/str.py
  sympy/sets/fancysets.py
Labels: sets

#17510 Better `eval` and `is_zero` checking for a number of functions.
  sympy/functions/elementary/exponential.py
  sympy/functions/elementary/hyperbolic.py
  sympy/functions/elementary/tests/test_trigonometric.py
  sympy/functions/elementary/trigonometric.py
  sympy/functions/special/bessel.py
  sympy/functions/special/beta_functions.py
  sympy/functions/special/delta_functions.py
  sympy/functions/special/elliptic_integrals.py
  sympy/functions/special/error_functions.py
  sympy/functions/special/gamma_functions.py
  sympy/functions/special/hyper.py
  sympy/functions/special/tests/test_hyper.py
  sympy/functions/special/tests/test_zeta_functions.py
  sympy/functions/special/zeta_functions.py
  sympy/stats/frv_types.py
Labels: core, functions

#17484 Updated test densities, fixed bug, and got rid of Cython deprecation …
  sympy/assumptions/tests/test_refine.py
  sympy/codegen/tests/test_algorithms.py
  sympy/codegen/tests/test_applications.py
  sympy/codegen/tests/test_fnodes.py
  sympy/simplify/simplify.py
  sympy/utilities/runtests.py
Labels: Testing, simplify

#13476 translate abstract functions to Sage
  sympy/core/function.py
  sympy/external/tests/test_sage.py
Labels: external

#17244 Added guessing of best LaTeX font color
  sympy/interactive/printing.py
Labels: IPython, interactive

#15324 Use `is` operator to compare to None
  doc/src/tutorial/matrices.rst
  sympy/assumptions/handlers/calculus.py
  sympy/codegen/ast.py
  sympy/simplify/simplify.py
Labels: PR: author's turn, Uncategorised

#17662 Speed up import time of the polyhedron module
  sympy/combinatorics/polyhedron.py
  sympy/combinatorics/tests/test_polyhedron.py
  sympy/printing/repr.py
  sympy/printing/tests/test_repr.py
Labels: Performance, combinatorics

#17653 Avoid upcasting of subclasses of Symbol in IndexedBase.__new__
  sympy/tensor/indexed.py
  sympy/tensor/tests/test_indexed.py
Labels: tensor
