Repository sympy/sympy, pull requests merged in 2019-07, with the labels that each got.

#17035 Added cases in permutedims for sparse arrays
  sympy/tensor/array/arrayop.py
  sympy/tensor/array/ndim_array.py
  sympy/tensor/array/sparse_ndim_array.py
  sympy/tensor/array/tests/test_arrayop.py
Labels: tensor

#17017 [GSoC] Implemented convolution operation of two formal power series
  sympy/series/formal.py
  sympy/series/tests/test_formal.py
Labels: GSoC, series

#17151 Test and close issue 14567 (ValueError: gamma function pole)
  sympy/printing/tests/test_str.py
Labels: Testing, printing

#17083 Extending scope of queries for DiscreteMarkovChain
  sympy/stats/stochastic_process_types.py
  sympy/stats/tests/test_stochastic_process.py
Labels: GSoC, stats

#17076 Added Exponentially modified Gaussian distribution
  sympy/core/tests/test_args.py
  sympy/stats/__init__.py
  sympy/stats/crv_types.py
  sympy/stats/tests/test_continuous_rv.py
Labels: GSoC, stats

#16843 Added multigamma function
  sympy/core/tests/test_args.py
  sympy/functions/__init__.py
  sympy/functions/special/gamma_functions.py
  sympy/functions/special/tests/test_gamma_functions.py
Labels: GSoC, functions

#17064 [GSoC] Implementation of composition and inversion of formal power series
  sympy/series/formal.py
  sympy/series/tests/test_formal.py
Labels: GSoC, series

#17107 Improved documentation for crypto and logic
  sympy/crypto/crypto.py
  sympy/logic/algorithms/dpll2.py
  sympy/logic/boolalg.py
  sympy/logic/inference.py
Labels: Documentation, crypto, logic

#17159 fix intersect_parallel_ray_and_segment method
  sympy/geometry/line.py
  sympy/geometry/tests/test_line.py
Labels: geometry

#17154 Rewrite imaginary argument to acos as asin
  sympy/functions/elementary/tests/test_trigonometric.py
  sympy/functions/elementary/trigonometric.py
  sympy/simplify/tests/test_simplify.py
Labels: functions, simplify

#17126 Change mpmath_version to min_mpmath_version in setup.py to reduce con…
  setup.py
Labels: Uncategorised

#17185 Remove the tox.ini.sample file
  release/rever.xsh
  tox.ini.sample
Labels: Testing

#17176 _finger detects diff btwn 3-arg Xor/~Xor
  sympy/logic/boolalg.py
  sympy/logic/tests/test_boolalg.py
Labels: logic

#17194 Added a few methods for MathML content printing
  sympy/printing/mathml.py
  sympy/printing/tests/test_mathml.py
Labels: printing.mathml

#17188 Piecewise recursively evaluates itself
  sympy/functions/elementary/piecewise.py
  sympy/functions/elementary/tests/test_piecewise.py
Labels: functions.elementary.piecewise

#17179 matrices: fixed MatPow.doit() so now == mat**x
  sympy/matrices/expressions/matpow.py
Labels: matrices

#17200 polynomials: Add zero roots after translation of non-trivial roots
  sympy/polys/polyroots.py
  sympy/polys/tests/test_polyroots.py
Labels: polys

#17173 Update RisingFactorial eval for k noninteger, x negative integer
  sympy/functions/combinatorial/factorials.py
  sympy/functions/combinatorial/tests/test_comb_factorials.py
Labels: combinatorics

#17196 Improve handling of exact trig values (rational multiples of pi)
  sympy/functions/combinatorial/tests/test_comb_numbers.py
  sympy/functions/elementary/tests/test_trigonometric.py
  sympy/functions/elementary/trigonometric.py
  sympy/utilities/tests/test_wester.py
Labels: combinatorics, functions

#17211 Optimise imports for stats module
  sympy/stats/drv_types.py
  sympy/stats/error_prop.py
  sympy/stats/frv.py
  sympy/stats/frv_types.py
  sympy/stats/joint_rv.py
  sympy/stats/joint_rv_types.py
  sympy/stats/rv.py
  sympy/stats/rv_interface.py
  sympy/stats/stochastic_process.py
  sympy/stats/stochastic_process_types.py
  sympy/stats/symbolic_probability.py
  sympy/stats/tests/test_continuous_rv.py
  sympy/stats/tests/test_finite_rv.py
  sympy/stats/tests/test_joint_rv.py
  sympy/stats/tests/test_rv.py
  sympy/stats/tests/test_stochastic_process.py
Labels: Code quality

#17222 Corrected error in from sympy.stats import *
  sympy/stats/symbolic_probability.py
Labels: stats

#17213 Faster matrix exponential computation
  sympy/matrices/matrices.py
  sympy/matrices/tests/test_matrices.py
Labels: matrices

#17235 Fix misc. source comment typos
  sympy/matrices/sparse.py
  sympy/solvers/ode.py
Labels: Code quality

#17234 DOC:cliffhanger in special topics 'finite_diff_derivatives.rst'
  doc/src/modules/calculus/index.rst
  doc/src/special_topics/finite_diff_derivatives.rst
  doc/src/tutorial/calculus.rst
Labels: Documentation

#16890 [GSoC] Fixing lambert in bivariate to give all real solutions
  doc/src/tutorial/solvers.rst
  sympy/solvers/bivariate.py
  sympy/solvers/solvers.py
  sympy/solvers/tests/test_solvers.py
Labels: GSoC, solvers

#17239 Added relational operator printer for various languages
  sympy/printing/ccode.py
  sympy/printing/codeprinter.py
  sympy/printing/fcode.py
  sympy/printing/glsl.py
  sympy/printing/jscode.py
  sympy/printing/julia.py
  sympy/printing/mathematica.py
  sympy/printing/octave.py
  sympy/printing/rcode.py
  sympy/printing/rust.py
  sympy/printing/tests/test_glsl.py
  sympy/printing/tests/test_jscode.py
  sympy/printing/tests/test_julia.py
  sympy/printing/tests/test_mathematica.py
  sympy/printing/tests/test_octave.py
  sympy/printing/tests/test_rust.py
Labels: printing

#17163 Added continuous time Markov chain
  sympy/core/tests/test_args.py
  sympy/stats/__init__.py
  sympy/stats/rv.py
  sympy/stats/stochastic_process_types.py
  sympy/stats/tests/test_stochastic_process.py
Labels: GSoC, stats

#17206 matrices: cleaned up A**n cases
  doc/src/tutorial/matrices.rst
  sympy/matrices/common.py
  sympy/matrices/expressions/matpow.py
  sympy/matrices/expressions/tests/test_matpow.py
  sympy/matrices/matrices.py
  sympy/matrices/tests/test_matrices.py
Labels: matrices

#17099 Added Skellam distribution
  sympy/core/tests/test_args.py
  sympy/stats/__init__.py
  sympy/stats/drv_types.py
  sympy/stats/tests/test_discrete_rv.py
Labels: GSoC, stats

#17070 Added Exponential Power distribution
  sympy/core/tests/test_args.py
  sympy/stats/__init__.py
  sympy/stats/crv_types.py
  sympy/stats/tests/test_continuous_rv.py
Labels: GSoC, stats

#17077 Added Factorial Moment
  sympy/stats/__init__.py
  sympy/stats/rv_interface.py
  sympy/stats/tests/test_rv.py
Labels: GSoC, stats

#17241 Matrix summation improvements
  sympy/concrete/expr_with_limits.py
  sympy/concrete/summations.py
  sympy/concrete/tests/test_sums_products.py
Labels: concrete

#17226 Modified behavior of __getitem__ for arrays
  sympy/tensor/array/arrayop.py
  sympy/tensor/array/dense_ndim_array.py
  sympy/tensor/array/ndim_array.py
  sympy/tensor/array/sparse_ndim_array.py
  sympy/tensor/array/tests/test_immutable_ndim_array.py
  sympy/tensor/array/tests/test_mutable_ndim_array.py
Labels: tensor

#17253 optimize __neg__ routines
  sympy/core/add.py
  sympy/core/expr.py
  sympy/core/mul.py
  sympy/core/numbers.py
  sympy/core/operations.py
  sympy/core/tests/test_arit.py
  sympy/core/tests/test_expr.py
  sympy/functions/elementary/exponential.py
  sympy/functions/elementary/tests/test_complexes.py
  sympy/series/order.py
  sympy/simplify/tests/test_simplify.py
Labels: core

#17245 Moved, marked, and enabled tests.
  sympy/core/tests/test_function.py
  sympy/core/tests/test_sympify.py
  sympy/functions/elementary/tests/test_exponential.py
  sympy/integrals/tests/test_failing_integrals.py
  sympy/integrals/tests/test_heurisch.py
  sympy/integrals/tests/test_integrals.py
  sympy/integrals/tests/test_manual.py
  sympy/integrals/tests/test_meijerint.py
  sympy/integrals/tests/test_prde.py
  sympy/integrals/tests/test_risch.py
  sympy/matrices/tests/test_matrices.py
  sympy/ntheory/tests/test_factor_.py
  sympy/ntheory/tests/test_generate.py
  sympy/ntheory/tests/test_modular.py
  sympy/parsing/tests/test_latex.py
  sympy/parsing/tests/test_maxima.py
  sympy/parsing/tests/test_sympy_parser.py
  sympy/physics/tests/test_secondquant.py
  sympy/plotting/pygletplot/tests/test_plotting.py
  sympy/plotting/tests/test_plot.py
  sympy/polys/tests/test_factortools.py
  sympy/polys/tests/test_polyfuncs.py
  sympy/polys/tests/test_polytools.py
  sympy/polys/tests/test_ring_series.py
  sympy/series/tests/test_residues.py
  sympy/simplify/tests/test_gammasimp.py
  sympy/simplify/tests/test_sqrtdenest.py
  sympy/solvers/tests/test_decompogen.py
  sympy/solvers/tests/test_diophantine.py
  sympy/solvers/tests/test_ode.py
  sympy/solvers/tests/test_solvers.py
  sympy/tensor/array/tests/test_array_comprehension.py
  sympy/tensor/array/tests/test_arrayop.py
  sympy/tensor/array/tests/test_immutable_ndim_array.py
  sympy/unify/tests/test_sympy.py
  sympy/utilities/tests/test_lambdify.py
  sympy/utilities/tests/test_wester.py
Labels: Code quality, Testing

#16991 Added Polycyclic Group Class
  doc/src/modules/combinatorics/index.rst
  doc/src/modules/combinatorics/pc_groups.rst
  sympy/combinatorics/__init__.py
  sympy/combinatorics/pc_groups.py
  sympy/combinatorics/perm_groups.py
  sympy/combinatorics/tests/test_pc_groups.py
Labels: GSoC, combinatorics

#17022 NumPy print support for identity matrices
  sympy/printing/pycode.py
  sympy/printing/tests/test_numpy.py
  sympy/printing/tests/test_pycode.py
Labels: printing

#17193 diop_solve docstring updated
  sympy/solvers/diophantine.py
Labels: Documentation, solvers.diophantine

#17251 Reduce exp() argument modulo 2*I*pi
  sympy/functions/elementary/exponential.py
  sympy/functions/elementary/tests/test_exponential.py
  sympy/physics/matrices.py
Labels: functions

#17248 Improve finite difference approximation for non-equidistant discretization step
  sympy/calculus/finite_diff.py
  sympy/calculus/tests/test_finite_diff.py
  sympy/core/function.py
Labels: calculus

#17275 Dot product multiplied with matrix is giving an error
  sympy/matrices/expressions/dotproduct.py
  sympy/matrices/expressions/tests/test_dotproduct.py
Labels: matrices.expressions

#17215 KroneckerDelta simplification and rewrite(Piecewise)
  doc/src/modules/simplify/simplify.rst
  sympy/functions/elementary/piecewise.py
  sympy/functions/elementary/tests/test_piecewise.py
  sympy/functions/special/tensor_functions.py
  sympy/functions/special/tests/test_tensor_functions.py
  sympy/simplify/__init__.py
  sympy/simplify/simplify.py
  sympy/simplify/tests/test_simplify.py
Labels: functions, functions.elementary.piecewise, simplify

#17074 Printing of Stieltjes and Mathieu functions, improved printing of integer polynomials
  sympy/printing/latex.py
  sympy/printing/mathml.py
  sympy/printing/pretty/pretty.py
  sympy/printing/pretty/tests/test_pretty.py
  sympy/printing/tests/test_latex.py
  sympy/printing/tests/test_mathml.py
Labels: printing, printing.latex, printing.mathml, printing.pretty

#17288 Fixed LaTeX printing of derivative symbol with superscript
  sympy/printing/latex.py
  sympy/printing/tests/test_latex.py
Labels: printing.latex

#17271 Better comparison for frac, floor, and ceiling
  sympy/functions/elementary/integers.py
  sympy/functions/elementary/tests/test_integers.py
  sympy/printing/latex.py
  sympy/printing/tests/test_latex.py
Labels: PR: author's turn, functions, printing.latex

#17277 Add scaling to LaTeX output
  sympy/interactive/printing.py
Labels: interactive

#17282 Fixed bug of __getitem__ for single item array
  sympy/tensor/array/dense_ndim_array.py
  sympy/tensor/array/tests/test_immutable_ndim_array.py
  sympy/tensor/array/tests/test_mutable_ndim_array.py
Labels: tensor

#17174 Added random matrices(Gaussian Ensembles only)
  sympy/core/tests/test_args.py
  sympy/stats/__init__.py
  sympy/stats/random_matrix.py
  sympy/stats/random_matrix_models.py
  sympy/stats/rv.py
  sympy/stats/tests/test_random_matrix.py
Labels: GSoC, matrices, stats

#17291 Fix precedence control for tribonacci constant in mathematica code
  sympy/printing/mathematica.py
  sympy/printing/tests/test_mathematica.py
Labels: printing

#17201 Make log() recognize some exact values
  sympy/functions/elementary/exponential.py
  sympy/functions/elementary/tests/test_exponential.py
  sympy/solvers/tests/test_solvers.py
Labels: functions

#17298 Fixed printing of non-trivial derivative count
  sympy/printing/latex.py
  sympy/printing/tests/test_latex.py
Labels: printing, printing.latex

#17290 Added SVG LaTeX rendering
  sympy/interactive/printing.py
Labels: interactive

#17297 Fix BlockDiagMatrix becoming BlockMatrix after block_collapse
  sympy/matrices/expressions/blockmatrix.py
  sympy/matrices/expressions/tests/test_blockmatrix.py
Labels: matrices.expressions
