Repository sympy/sympy, pull requests merged in 2019-02, with the labels that each got.

#15895 NotImplementedError if nonlinsolve can't solve equations in real domain
  sympy/solvers/solveset.py
  sympy/solvers/tests/test_solveset.py
Labels: solvers.solveset

#15750 [algebras/quaternion.py] Docstrings added
  sympy/algebras/quaternion.py
Labels: Documentation, PR: sympy's turn

#15910 Update stats: Add discrete types and Rademacher
  doc/src/modules/stats.rst
  sympy/stats/frv_types.py
Labels: Documentation

#15658 #15370 patch 2
  sympy/calculus/util.py
Labels: PR: author's turn, calculus

#15761 Custom otional label in Pauli matrices
  sympy/physics/paulialgebra.py
Labels: PR: sympy's turn, physics.quantum

#15820 Clean up and minor bug fixes
  sympy/algebras/quaternion.py
  sympy/algebras/tests/test_quaternion.py
  sympy/assumptions/ask.py
  sympy/assumptions/satask.py
  sympy/assumptions/sathandlers.py
  sympy/categories/baseclasses.py
  sympy/categories/diagram_drawing.py
  sympy/crypto/crypto.py
  sympy/diffgeom/diffgeom.py
  sympy/holonomic/holonomic.py
  sympy/holonomic/linearsolver.py
  sympy/holonomic/numerical.py
  sympy/holonomic/recurrence.py
  sympy/holonomic/tests/test_holonomic.py
  sympy/holonomic/tests/test_recurrence.py
Labels: Code quality, PR: sympy's turn, Uncategorised

#15909 Updated trailing function
  sympy/ntheory/factor_.py
Labels: ntheory

#15924 Added negated property to Relational and BooleanAtom
  sympy/core/relational.py
  sympy/core/tests/test_relational.py
  sympy/functions/elementary/piecewise.py
  sympy/logic/boolalg.py
  sympy/logic/tests/test_boolalg.py
Labels: core, logic

#15898 Improved simplification of Piecewise
  sympy/functions/elementary/piecewise.py
  sympy/functions/elementary/tests/test_piecewise.py
Labels: PR: sympy's turn, functions

#15892 Corrected three and four dots above accents and put accents in middle of strings
  sympy/physics/vector/printing.py
  sympy/printing/pretty/pretty_symbology.py
  sympy/printing/pretty/tests/test_pretty.py
Labels: printing

#15835 correct dot product of numpy matrix
  sympy/printing/pycode.py
  sympy/utilities/tests/test_lambdify.py
Labels: PR: author's turn, matrices, printing

#15901 changes to add root_notation flag in mathml.py.
  sympy/printing/mathml.py
  sympy/printing/tests/test_mathml.py
Labels: printing

#15933 Add "nqubits" parameter to IntQubit
  examples/advanced/grover_example.py
  sympy/physics/quantum/grover.py
  sympy/physics/quantum/qexpr.py
  sympy/physics/quantum/qubit.py
  sympy/physics/quantum/tests/test_grover.py
  sympy/physics/quantum/tests/test_qubit.py
Labels: physics.quantum

#15936 Added configuration option for imaginary_unit in the LaTeX and pretty printers
  sympy/core/numbers.py
  sympy/printing/latex.py
  sympy/printing/pretty/pretty.py
  sympy/printing/pretty/pretty_symbology.py
  sympy/printing/pretty/tests/test_pretty.py
  sympy/printing/tests/test_latex.py
  sympy/printing/tests/test_mathml.py
Labels: printing

#15917 Improve docstring in sympy/algebras/quaternion.py and create doc/src/modules/algebras.rst - Attemp on: #15370
  doc/src/modules/algebras.rst
  doc/src/modules/index.rst
  doc/src/modules/stats.rst
  sympy/algebras/quaternion.py
Labels: Documentation, algebras, stats

#15941 Avoid links to doc.sympy.org in the docs
  doc/src/index.rst
  doc/src/modules/assumptions/index.rst
  doc/src/modules/physics/mechanics/api/kane_lagrange.rst
  doc/src/modules/physics/mechanics/api/part_bod.rst
  doc/src/modules/physics/mechanics/index.rst
  doc/src/modules/physics/mechanics/kane.rst
  doc/src/modules/physics/mechanics/masses.rst
  doc/src/modules/physics/mechanics/sympy_mechanics_for_autolev_users.rst
  doc/src/modules/physics/vector/api/kinematics.rst
  doc/src/modules/physics/vector/index.rst
  doc/src/modules/series/series.rst
  doc/src/modules/solvers/solveset.rst
  doc/src/tutorial/calculus.rst
  doc/src/tutorial/matrices.rst
Labels: Documentation

#15950 Improve docstring of matrices/matrices.py
  sympy/matrices/matrices.py
Labels: Documentation

#15954 solve exp and difference of logs with irrational coefficients
  sympy/functions/elementary/exponential.py
Labels: functions

#15970 Better LaTeX spacing
  sympy/interactive/tests/test_ipythonprinting.py
  sympy/printing/latex.py
  sympy/printing/tests/test_latex.py
Labels: printing

#15932 Remove real-value check from Min and Max when rewriting to Piecewise
  sympy/functions/elementary/miscellaneous.py
  sympy/functions/elementary/tests/test_miscellaneous.py
  sympy/solvers/tests/test_solveset.py
Labels: functions

#15955 Use cdnjs.cloudflare.com for Mathjax in docs
  doc/src/conf.py
Labels: Documentation

#15874 Some misc cleanups for matrix
  sympy/matrices/common.py
  sympy/matrices/matrices.py
Labels: Code quality, matrices

#15971 Pretty printing of lerchphi
  sympy/printing/pretty/pretty.py
  sympy/printing/pretty/tests/test_pretty.py
Labels: printing, printing.pretty

#15960 added test for issue #6913
  sympy/matrices/tests/test_matrices.py
Labels: matrices

#15867 Add Python 3.7 to Travis
  .travis.yml
  bin/test_travis.sh
Labels: Travis

#15993 updated numbers.py
  sympy/functions/combinatorial/numbers.py
Labels: combinatorics

#15957 Fixed checkodesol function
  sympy/solvers/ode.py
  sympy/solvers/tests/test_ode.py
Labels: solvers.dsolve

#15891 Option to make MatrixSymbol print in bold for LaTeX, pretty, and MathML printers
  sympy/physics/vector/printing.py
  sympy/printing/latex.py
  sympy/printing/mathml.py
  sympy/printing/pretty/pretty.py
  sympy/printing/pretty/pretty_symbology.py
  sympy/printing/pretty/tests/test_pretty.py
  sympy/printing/tests/test_latex.py
  sympy/printing/tests/test_mathml.py
Labels: printing, printing.latex, printing.mathml, printing.pretty

#15990 Fixed summation
  sympy/concrete/summations.py
  sympy/concrete/tests/test_sums_products.py
Labels: PR: author's turn, concrete

#15991 Added mat_delim flag into the mathml printer
  sympy/printing/mathml.py
  sympy/printing/tests/test_mathml.py
Labels: printing.mathml

#16003 Improved printing of multiple derivatives in MathML
  sympy/printing/mathml.py
  sympy/printing/tests/test_mathml.py
Labels: printing.mathml

#15980 Added correct LaTeX printing for sequences with symbolic limits
  sympy/printing/latex.py
  sympy/printing/pretty/pretty.py
  sympy/printing/pretty/tests/test_pretty.py
  sympy/printing/tests/test_latex.py
  sympy/series/sequences.py
Labels: printing, printing.latex, printing.pretty

#15978 Fixed LaTeX-printing of ConditionSet with FiniteSet
  sympy/printing/latex.py
  sympy/printing/tests/test_latex.py
Labels: printing, printing.latex

#15976 Corrected MathML-presentation symbols for sub and sup
  sympy/printing/mathml.py
  sympy/printing/tests/test_mathml.py
Labels: printing, printing.mathml

#16009 Fix for wrong result from discrete logarithm
  sympy/ntheory/residue_ntheory.py
  sympy/ntheory/tests/test_residue.py
Labels: ntheory

#15979 Fix for finite fourier series
  sympy/core/tests/test_args.py
  sympy/series/fourier.py
  sympy/series/tests/test_fourier.py
Labels: PR: sympy's turn, series

#15825 [WIP] Added Blum Goldwasser cryptosystem
  sympy/crypto/__init__.py
  sympy/crypto/crypto.py
  sympy/crypto/tests/test_crypto.py
Labels: PR: sympy's turn, crypto

#16008 Fix nth_algebraic to respect constants from the ODE
  sympy/solvers/ode.py
  sympy/solvers/tests/test_ode.py
Labels: solvers.dsolve

#16025 Remove get_monomials_set of MacaulayResultant
  sympy/polys/multivariate_resultants.py
  sympy/polys/tests/test_multivariate_resultants.py
Labels: polys

#16017 Added ln_notation flag and mul_symbol flag
  sympy/printing/mathml.py
  sympy/printing/tests/test_mathml.py
Labels: printing, printing.mathml

#16021 heurisch : Fix AssertionError
  sympy/integrals/heurisch.py
  sympy/integrals/tests/test_integrals.py
  sympy/vector/scalar.py
Labels: integrals

#15997 Reduce the Travis test splits to 2 ways
  .travis.yml
Labels: Travis

#15998 Remove Azure Pipelines
  azure-pipelines.yml
  bin/test_travis.sh
Labels: Travis

#16032 Improved some printing tests
  sympy/printing/pretty/tests/test_pretty.py
  sympy/printing/tests/test_latex.py
Labels: printing, printing.latex, printing.pretty

#15992 Add reducible solver to dsolve
  sympy/solvers/ode.py
  sympy/solvers/tests/test_ode.py
Labels: solvers, solvers.dsolve

#15985 Simpler ordering when printing certain additions of constants and negative expressions
  doc/src/modules/codegen.rst
  doc/src/modules/holonomic/uses.rst
  doc/src/modules/printing.rst
  doc/src/modules/solvers/diophantine.rst
  doc/src/modules/vector/coordsys.rst
  doc/src/tutorial/intro.rst
  doc/src/tutorial/simplification.rst
  sympy/algebras/quaternion.py
  sympy/concrete/guess.py
  sympy/concrete/products.py
  sympy/concrete/summations.py
  sympy/core/expr.py
  sympy/core/mul.py
  sympy/core/numbers.py
  sympy/core/tests/test_evalf.py
  sympy/functions/combinatorial/numbers.py
  sympy/functions/elementary/hyperbolic.py
  sympy/functions/special/bsplines.py
  sympy/functions/special/error_functions.py
  sympy/functions/special/gamma_functions.py
  sympy/functions/special/hyper.py
  sympy/functions/special/polynomials.py
  sympy/functions/special/zeta_functions.py
  sympy/geometry/ellipse.py
  sympy/geometry/entity.py
  sympy/geometry/polygon.py
  sympy/geometry/util.py
  sympy/integrals/integrals.py
  sympy/integrals/transforms.py
  sympy/matrices/tests/test_matrices.py
  sympy/physics/hydrogen.py
  sympy/physics/optics/gaussopt.py
  sympy/physics/sho.py
  sympy/polys/polytools.py
  sympy/printing/pretty/tests/test_pretty.py
  sympy/printing/tests/test_lambdarepr.py
  sympy/printing/tests/test_str.py
  sympy/series/formal.py
  sympy/series/sequences.py
  sympy/simplify/fu.py
  sympy/simplify/radsimp.py
  sympy/simplify/simplify.py
  sympy/simplify/sqrtdenest.py
  sympy/simplify/trigsimp.py
  sympy/solvers/diophantine.py
  sympy/solvers/inequalities.py
  sympy/solvers/ode.py
  sympy/solvers/polysys.py
  sympy/solvers/recurr.py
  sympy/solvers/solvers.py
  sympy/solvers/solveset.py
  sympy/solvers/tests/test_polysys.py
  sympy/solvers/tests/test_solvers.py
  sympy/stats/__init__.py
  sympy/stats/crv_types.py
  sympy/stats/rv_interface.py
  sympy/utilities/tests/test_codegen_julia.py
  sympy/utilities/tests/test_codegen_octave.py
  sympy/utilities/tests/test_codegen_rust.py
Labels: printing

#16006 Some consistency cleanups
  sympy/combinatorics/free_groups.py
  sympy/combinatorics/util.py
  sympy/concrete/guess.py
  sympy/core/evalf.py
  sympy/core/expr.py
  sympy/functions/elementary/trigonometric.py
  sympy/holonomic/holonomic.py
  sympy/integrals/rubi/parsetools/parse.py
  sympy/integrals/rubi/utility_function.py
  sympy/matrices/common.py
  sympy/matrices/expressions/slice.py
  sympy/matrices/matrices.py
  sympy/parsing/tests/test_autolev.py
  sympy/physics/units/dimensions.py
  sympy/polys/subresultants_qq_zz.py
  sympy/printing/codeprinter.py
  sympy/printing/conventions.py
  sympy/printing/fcode.py
  sympy/printing/glsl.py
  sympy/printing/julia.py
  sympy/printing/latex.py
  sympy/printing/mathml.py
  sympy/printing/octave.py
  sympy/printing/preview.py
  sympy/printing/pycode.py
  sympy/printing/python.py
  sympy/printing/str.py
  sympy/printing/tableform.py
  sympy/printing/tensorflow.py
  sympy/printing/tree.py
  sympy/series/fourier.py
  sympy/series/sequences.py
  sympy/sets/sets.py
  sympy/solvers/diophantine.py
  sympy/solvers/ode.py
  sympy/solvers/solvers.py
  sympy/stats/drv.py
  sympy/strategies/core.py
  sympy/utilities/autowrap.py
  sympy/utilities/enumerative.py
  sympy/utilities/iterables.py
  sympy/utilities/misc.py
Labels: Code quality

#16037 Added MathML presentation printing for domains and fixed bug
  sympy/printing/mathml.py
  sympy/printing/tests/test_mathml.py
Labels: printing.mathml

#15994 Add GenericZeroMatrix and GenericIdentity class in matrix expressions
  sympy/core/tests/test_args.py
  sympy/matrices/expressions/matadd.py
  sympy/matrices/expressions/matexpr.py
  sympy/matrices/expressions/matmul.py
  sympy/matrices/expressions/tests/test_matexpr.py
Labels: matrices.expressions

#16028 Added Auxiliary Circle Feature For Ellipse
  sympy/geometry/ellipse.py
  sympy/geometry/tests/test_ellipse.py
Labels: geometry

#16051 More consistency cleanups
  sympy/assumptions/ask.py
  sympy/codegen/ast.py
  sympy/combinatorics/fp_groups.py
  sympy/combinatorics/free_groups.py
  sympy/combinatorics/perm_groups.py
  sympy/core/expr.py
  sympy/functions/elementary/hyperbolic.py
  sympy/functions/elementary/trigonometric.py
  sympy/functions/special/error_functions.py
  sympy/functions/special/zeta_functions.py
  sympy/multipledispatch/core.py
  sympy/ntheory/residue_ntheory.py
  sympy/physics/mechanics/kane.py
  sympy/physics/optics/medium.py
  sympy/printing/ccode.py
  sympy/printing/fcode.py
  sympy/printing/pycode.py
  sympy/printing/theanocode.py
  sympy/sets/handlers/union.py
  sympy/solvers/inequalities.py
  sympy/stats/rv.py
Labels: Code quality

#15816 change float value of radius to Rational in circle
  sympy/geometry/ellipse.py
  sympy/geometry/tests/test_ellipse.py
Labels: Needs Decision, geometry

#16064 Replace deprecated np.asscalar
  sympy/core/sympify.py
Labels: PR: sympy's turn

#16004 More canonical canonical
  doc/src/tutorial/calculus.rst
  sympy/core/relational.py
  sympy/core/tests/test_relational.py
  sympy/integrals/integrals.py
  sympy/integrals/tests/test_meijerint.py
  sympy/integrals/tests/test_transforms.py
  sympy/integrals/transforms.py
Labels: core

#16010 Updated slow tests and removed a few XFAIL
  .travis.yml
  sympy/assumptions/tests/test_query.py
  sympy/assumptions/tests/test_refine.py
  sympy/assumptions/tests/test_satask.py
  sympy/combinatorics/tests/test_coset_table.py
  sympy/combinatorics/tests/test_fp_groups.py
  sympy/combinatorics/tests/test_perm_groups.py
  sympy/concrete/tests/test_sums_products.py
  sympy/functions/combinatorial/tests/test_comb_factorials.py
  sympy/functions/elementary/tests/test_piecewise.py
  sympy/functions/special/tests/test_bsplines.py
  sympy/functions/special/tests/test_error_functions.py
  sympy/geometry/tests/test_ellipse.py
  sympy/geometry/tests/test_plane.py
  sympy/integrals/tests/test_failing_integrals.py
  sympy/integrals/tests/test_heurisch.py
  sympy/integrals/tests/test_integrals.py
  sympy/integrals/tests/test_intpoly.py
  sympy/integrals/tests/test_manual.py
  sympy/integrals/tests/test_meijerint.py
  sympy/integrals/tests/test_rde.py
  sympy/matrices/tests/test_matrices.py
  sympy/physics/continuum_mechanics/tests/test_beam.py
  sympy/physics/quantum/tests/test_cg.py
  sympy/polys/tests/test_rootoftools.py
  sympy/series/tests/test_formal.py
  sympy/series/tests/test_sequences.py
  sympy/simplify/tests/test_hyperexpand.py
  sympy/simplify/tests/test_radsimp.py
  sympy/simplify/tests/test_simplify.py
  sympy/solvers/tests/test_ode.py
  sympy/solvers/tests/test_recurr.py
  sympy/solvers/tests/test_solvers.py
  sympy/solvers/tests/test_solveset.py
  sympy/stats/tests/test_continuous_rv.py
  sympy/stats/tests/test_discrete_rv.py
  sympy/utilities/runtests.py
  sympy/utilities/tests/test_enumerative.py
  sympy/utilities/tests/test_wester.py
Labels: Testing

#16069 And some more MathML Printing
  sympy/printing/mathml.py
  sympy/printing/tests/test_mathml.py
Labels: printing, printing.mathml

#16023 Use a 2-stage split for Travis tests
  .travis.yml
Labels: Travis

#15818 Skip the test in _compilation if compiler is not installed
  sympy/utilities/_compilation/tests/test_compilation.py
Labels: Testing, utilities

#16047 MathML presentation printing for a number of functions and classes
  sympy/printing/mathml.py
  sympy/printing/tests/test_mathml.py
Labels: printing.mathml

#16095 Some code quality fixes
  sympy/functions/special/hyper.py
  sympy/geometry/plane.py
  sympy/integrals/prde.py
  sympy/integrals/rubi/tests/test_utility_function.py
  sympy/integrals/rubi/utility_function.py
  sympy/integrals/transforms.py
  sympy/physics/quantum/gate.py
  sympy/physics/units/dimensions.py
  sympy/physics/vector/printing.py
  sympy/polys/polyroots.py
  sympy/polys/ring_series.py
  sympy/solvers/diophantine.py
  sympy/stats/joint_rv.py
Labels: Code quality

#16081 as_int more strict about input
  sympy/assumptions/handlers/ntheory.py
  sympy/core/compatibility.py
  sympy/core/evalf.py
  sympy/core/power.py
  sympy/core/tests/test_compatibility.py
  sympy/core/tests/test_numbers.py
  sympy/discrete/tests/test_transforms.py
  sympy/matrices/tests/test_matrices.py
  sympy/ntheory/primetest.py
  sympy/ntheory/tests/test_primetest.py
Labels: PR: sympy's turn, assumptions, core

#15748 Minor speed improvement for eigenvals
  sympy/matrices/matrices.py
  sympy/physics/quantum/density.py
  sympy/physics/quantum/tests/test_density.py
Labels: PR: author's turn, matrices, physics.quantum

#16100 Cleanup imports in matrices module
  sympy/matrices/__init__.py
  sympy/matrices/common.py
  sympy/matrices/dense.py
  sympy/matrices/densesolve.py
  sympy/matrices/immutable.py
  sympy/matrices/matrices.py
  sympy/matrices/normalforms.py
  sympy/matrices/sparse.py
  sympy/matrices/sparsetools.py
Labels: Code quality, matrices

#16093 This change helps in handling unicode text better
  sympy/core/basic.py
  sympy/core/tests/test_basic.py
Labels: Code quality, PR: author's turn, core

#16101 Functions for Perfect Number
  sympy/ntheory/__init__.py
  sympy/ntheory/factor_.py
  sympy/ntheory/tests/test_factor_.py
Labels: PR: author's turn

#16065 More MathML presentation printer support
  sympy/printing/mathml.py
  sympy/printing/tests/test_mathml.py
Labels: PR: author's turn, printing, printing.mathml
