Repository sympy/sympy, pull requests merged in 2019-11, with the labels that each got.

#17831 Fix the wrong judgement of elementary_row_op()
  sympy/matrices/matrices.py
  sympy/matrices/tests/test_matrices.py
Labels: matrices

#17819 Fix Pow assumptions for possible zero base
  sympy/core/power.py
  sympy/core/tests/test_arit.py
  sympy/core/tests/test_assumptions.py
  sympy/functions/special/bessel.py
  sympy/functions/special/tests/test_bessel.py
  sympy/polys/polyroots.py
  sympy/polys/tests/test_polyroots.py
  sympy/solvers/tests/test_solveset.py
  sympy/utilities/tests/test_wester.py
Labels: core

#17809 Modified is_positive for cosh function
  sympy/functions/elementary/hyperbolic.py
  sympy/functions/elementary/tests/test_hyperbolic.py
Labels: assumptions, functions

#17839 Make EmptySet the instance rather than the class
  .travis.yml
  doc/src/modules/solvers/solveset.rst
  sympy/calculus/singularities.py
  sympy/calculus/util.py
  sympy/categories/baseclasses.py
  sympy/categories/diagram_drawing.py
  sympy/categories/tests/test_baseclasses.py
  sympy/core/tests/test_args.py
  sympy/core/tests/test_singleton.py
  sympy/core/tests/test_sympify.py
  sympy/functions/elementary/piecewise.py
  sympy/geometry/tests/test_geometrysets.py
  sympy/logic/boolalg.py
  sympy/physics/mechanics/tests/test_linearize.py
  sympy/printing/pretty/pretty.py
  sympy/printing/pretty/pretty_symbology.py
  sympy/printing/pretty/tests/test_pretty.py
  sympy/printing/repr.py
  sympy/printing/str.py
  sympy/series/__init__.py
  sympy/series/sequences.py
  sympy/series/tests/test_sequences.py
  sympy/sets/__init__.py
  sympy/sets/conditionset.py
  sympy/sets/fancysets.py
  sympy/sets/handlers/functions.py
  sympy/sets/handlers/intersection.py
  sympy/sets/handlers/union.py
  sympy/sets/powerset.py
  sympy/sets/sets.py
  sympy/sets/tests/test_conditionset.py
  sympy/sets/tests/test_sets.py
  sympy/solvers/solveset.py
  sympy/utilities/tests/test_wester.py
Labels: sets

#17783 Added parallel axis methods for Particle and RigidBody
  sympy/physics/mechanics/particle.py
  sympy/physics/mechanics/rigidbody.py
  sympy/physics/mechanics/tests/test_particle.py
  sympy/physics/mechanics/tests/test_rigidbody.py
Labels: physics.mechanics

#17842 Added Gaussian CGS units
  sympy/core/tests/test_expr.py
  sympy/physics/units/definitions/dimension_definitions.py
  sympy/physics/units/definitions/unit_definitions.py
  sympy/physics/units/dimensions.py
  sympy/physics/units/quantities.py
  sympy/physics/units/systems/cgs.py
  sympy/physics/units/systems/length_weight_time.py
  sympy/physics/units/systems/mks.py
  sympy/physics/units/systems/mksa.py
  sympy/physics/units/systems/si.py
  sympy/physics/units/tests/test_quantities.py
  sympy/physics/units/tests/test_unit_system_cgs_gauss.py
  sympy/physics/units/tests/test_unitsystem.py
  sympy/physics/units/unitsystem.py
Labels: physics.units

#17717 Fixed incorrect printing of matrix brackets
  sympy/printing/pretty/pretty_symbology.py
  sympy/printing/pretty/stringpict.py
  sympy/printing/pretty/tests/test_pretty.py
Labels: physics, printing

#17818 Added a polarization module to sympy.physics.optics
  doc/src/modules/physics/optics/index.rst
  doc/src/modules/physics/optics/polarization.rst
  sympy/physics/optics/__init__.py
  sympy/physics/optics/polarization.py
  sympy/physics/optics/tests/test_polarization.py
Labels: physics.optics

#17845 Explicitly print FiniteSet in strprinter
  doc/src/modules/solvers/solveset.rst
  sympy/calculus/singularities.py
  sympy/calculus/util.py
  sympy/categories/baseclasses.py
  sympy/combinatorics/partitions.py
  sympy/combinatorics/polyhedron.py
  sympy/core/function.py
  sympy/logic/boolalg.py
  sympy/printing/str.py
  sympy/printing/tests/test_str.py
  sympy/sets/conditionset.py
  sympy/sets/fancysets.py
  sympy/sets/powerset.py
  sympy/sets/sets.py
  sympy/solvers/inequalities.py
  sympy/solvers/solveset.py
  sympy/stats/stochastic_process_types.py
Labels: printing, sets

#17825 Reorganization to reduce duplicate code
  sympy/core/expr.py
  sympy/core/numbers.py
  sympy/core/tests/test_relational.py
  sympy/solvers/tests/test_inequalities.py
Labels: Code quality, core, solvers

#17860 Fix two issues related to infinite Range objects
  sympy/printing/latex.py
  sympy/printing/mathml.py
  sympy/printing/pretty/pretty.py
  sympy/printing/pretty/tests/test_pretty.py
  sympy/printing/tests/test_latex.py
  sympy/printing/tests/test_mathml.py
  sympy/sets/fancysets.py
  sympy/sets/tests/test_fancysets.py
Labels: printing.pretty, sets

#17868 Updated fuzzy_or
  sympy/core/logic.py
Labels: core

#17779 Fix import etc flake8 issues in core
  sympy/core/expr.py
  sympy/core/function.py
  sympy/core/power.py
  sympy/core/tests/test_args.py
  sympy/core/tests/test_arit.py
  sympy/core/tests/test_assumptions.py
  sympy/core/tests/test_complex.py
  sympy/core/tests/test_diff.py
  sympy/core/tests/test_evalf.py
  sympy/core/tests/test_expr.py
  sympy/core/tests/test_function.py
  sympy/core/tests/test_numbers.py
  sympy/core/tests/test_power.py
  sympy/core/tests/test_relational.py
  sympy/core/tests/test_subs.py
  sympy/core/tests/test_symbol.py
  sympy/core/tests/test_sympify.py
  sympy/core/tests/test_truediv.py
  sympy/core/tests/test_var.py
Labels: Code quality

#17849 Added `eval` in sympy.functions.special.bessel.jn
  sympy/functions/special/bessel.py
  sympy/functions/special/tests/test_bessel.py
Labels: functions

#17846 [FOLLOW UP] Modified is_positive for cosh function
  sympy/functions/elementary/hyperbolic.py
  sympy/functions/elementary/tests/test_hyperbolic.py
Labels: assumptions, functions

#17518 dummy_fmt changed to dummy_name and some code improvements
  sympy/core/tests/test_args.py
  sympy/physics/hep/gamma_matrices.py
  sympy/tensor/tensor.py
  sympy/tensor/tests/test_tensor.py
Labels: tensor

#17844 Copy Edit Functions Special Submodule for GSoD
  doc/src/modules/functions/special.rst
  sympy/functions/special/bessel.py
  sympy/functions/special/beta_functions.py
  sympy/functions/special/bsplines.py
  sympy/functions/special/delta_functions.py
  sympy/functions/special/elliptic_integrals.py
  sympy/functions/special/error_functions.py
  sympy/functions/special/gamma_functions.py
  sympy/functions/special/hyper.py
  sympy/functions/special/mathieu_functions.py
  sympy/functions/special/polynomials.py
  sympy/functions/special/singularity_functions.py
  sympy/functions/special/spherical_harmonics.py
  sympy/functions/special/tensor_functions.py
  sympy/functions/special/zeta_functions.py
Labels: Documentation, GSoD

#17910 Bump version to 1.5b1 (beta release)
  release/rever.xsh
  sympy/release.py
Labels: Uncategorised

#17897 printing: Add Finally block in Permutation repr test
  sympy/printing/tests/test_repr.py
Labels: printing

#17872 Better canonicalization for matrix multiplication and inverse
  sympy/matrices/expressions/inverse.py
  sympy/matrices/expressions/matmul.py
  sympy/matrices/expressions/tests/test_inverse.py
  sympy/matrices/expressions/tests/test_matmul.py
Labels: matrices.expressions

#17828 Travis benchmark
  .travis.yml
  asv.conf.travis.json
Labels: PR: sympy's turn, Performance, Travis, Workflow

#17875 Added tests for ast_parser
  sympy/parsing/ast_parser.py
  sympy/parsing/tests/test_ast_parser.py
Labels: parsing

#17912 Added scipy's LambertW function in lambdify
  sympy/printing/pycode.py
  sympy/utilities/tests/test_lambdify.py
Labels: printing

#17871 Fix flake8 warnings in tensor and stats
  sympy/stats/__init__.py
  sympy/stats/crv_types.py
  sympy/stats/rv_interface.py
  sympy/stats/tests/test_continuous_rv.py
  sympy/stats/tests/test_finite_rv.py
  sympy/stats/tests/test_random_matrix.py
  sympy/tensor/__init__.py
  sympy/tensor/array/__init__.py
  sympy/tensor/array/array_comprehension.py
  sympy/tensor/array/dense_ndim_array.py
  sympy/tensor/array/ndim_array.py
  sympy/tensor/array/sparse_ndim_array.py
  sympy/tensor/array/tests/test_arrayop.py
  sympy/tensor/tests/test_functions.py
  sympy/tensor/tests/test_indexed.py
  sympy/tensor/tests/test_tensor.py
Labels: stats, tensor

#17925 reverted changes of #17723 for 1.5
  sympy/solvers/solvers.py
  sympy/solvers/tests/test_solvers.py
Labels: solvers

#17923 Disable pygletplot doctests
  sympy/utilities/runtests.py
Labels: utilities

#17915 Update .mailmap for 1.5
  .mailmap
Labels: Uncategorised

#17929 Update repr-printing of elementwise functions
  sympy/matrices/expressions/applyfunc.py
  sympy/printing/str.py
  sympy/printing/tests/test_str.py
Labels: matrices.expressions, printing

#17922 Edit README.rst and doc/README.rst to include link to style guide
  README.rst
  doc/README.rst
Labels: Documentation, GSoD

#17936 Install lxml in optional dependencies on Travis
  .travis.yml
Labels: Travis

#17946 Test tensorflow1 by itself on Travis
  .travis.yml
  bin/test_travis.sh
Labels: Travis

#17947 Make doctest depend on antlr4 rather than antlr
  sympy/parsing/autolev/__init__.py
  sympy/parsing/latex/__init__.py
Labels: Testing, Travis

#17932 Added more tests to sympy.stats
  sympy/stats/tests/test_continuous_rv.py
  sympy/stats/tests/test_discrete_rv.py
  sympy/stats/tests/test_joint_rv.py
  sympy/stats/tests/test_rv.py
  sympy/stats/tests/test_symbolic_probability.py
Labels: Coverage, Testing, stats

#17930 Fix flake8 warnings in benchmarks, categories, codegen, combinatorics, crypto, deprecated, diffgeom and discrete
  sympy/benchmarks/bench_meijerint.py
  sympy/benchmarks/bench_symbench.py
  sympy/categories/__init__.py
  sympy/codegen/__init__.py
  sympy/codegen/rewriting.py
  sympy/codegen/tests/test_approximations.py
  sympy/codegen/tests/test_array_utils.py
  sympy/codegen/tests/test_ast.py
  sympy/codegen/tests/test_fnodes.py
  sympy/combinatorics/__init__.py
  sympy/combinatorics/tests/test_pc_groups.py
  sympy/crypto/__init__.py
  sympy/deprecated/__init__.py
  sympy/diffgeom/__init__.py
  sympy/discrete/__init__.py
  sympy/discrete/tests/test_convolutions.py
Labels: Code quality

#17869 Fix flake8 issues in physics
  sympy/physics/__init__.py
  sympy/physics/continuum_mechanics/__init__.py
  sympy/physics/continuum_mechanics/tests/test_beam.py
  sympy/physics/gaussopt.py
  sympy/physics/hep/tests/test_gamma_matrices.py
  sympy/physics/mechanics/__init__.py
  sympy/physics/mechanics/body.py
  sympy/physics/mechanics/tests/test_functions.py
  sympy/physics/mechanics/tests/test_kane2.py
  sympy/physics/mechanics/tests/test_linearize.py
  sympy/physics/optics/__init__.py
  sympy/physics/optics/gaussopt.py
  sympy/physics/optics/tests/test_medium.py
  sympy/physics/optics/tests/test_utils.py
  sympy/physics/optics/tests/test_waves.py
  sympy/physics/optics/utils.py
  sympy/physics/tests/test_clebsch_gordan.py
  sympy/physics/tests/test_secondquant.py
  sympy/physics/units/__init__.py
  sympy/physics/units/definitions/__init__.py
  sympy/physics/units/dimensions.py
  sympy/physics/units/quantities.py
  sympy/physics/units/systems/__init__.py
  sympy/physics/units/tests/test_dimensions.py
  sympy/physics/units/tests/test_dimensionsystem.py
  sympy/physics/units/tests/test_prefixes.py
  sympy/physics/units/tests/test_quantities.py
  sympy/physics/units/tests/test_unitsystem.py
  sympy/physics/units/tests/test_util.py
  sympy/physics/units/unitsystem.py
  sympy/physics/units/util.py
  sympy/physics/vector/__init__.py
  sympy/physics/vector/tests/test_frame.py
Labels: physics

#17921 Copy Edit Solvers/Solvers for GSoD
  sympy/solvers/solvers.py
Labels: Documentation, GSoD

#17971 Fix solve for exponential equations w infinities
  sympy/solvers/solvers.py
  sympy/solvers/tests/test_solvers.py
Labels: solvers

#17973 Combinatorics: Cycle is not a Basic instance and is mutable
  sympy/combinatorics/permutations.py
  sympy/combinatorics/tests/test_permutations.py
Labels: combinatorics

#17953 Fix represent for negative matrix powers
  sympy/physics/quantum/represent.py
  sympy/physics/quantum/tests/test_identitysearch.py
Labels: physics.quantum
