Repository sympy/sympy, pull requests merged in 2019-05, with the labels that each got.

#16760 Install matchpy with conda on Travis again
  .travis.yml
Labels: Travis

#16753 Fix Quantity._collect_factor_and_dimension for exp().
  sympy/physics/units/quantities.py
  sympy/physics/units/tests/test_quantities.py
Labels: physics.units

#16088 simplify pulls constants out of integral
  sympy/core/exprtools.py
  sympy/core/tests/test_exprtools.py
  sympy/integrals/integrals.py
  sympy/physics/continuum_mechanics/beam.py
  sympy/physics/continuum_mechanics/tests/test_beam.py
  sympy/simplify/simplify.py
  sympy/simplify/tests/test_simplify.py
  sympy/solvers/ode.py
Labels: PR: sympy's turn, integrals, simplify

#15944 Added multiline_latex to more easily print multiline equations
  sympy/printing/__init__.py
  sympy/printing/latex.py
  sympy/printing/tests/test_latex.py
Labels: printing, printing.latex

#16766 Added _print_Indexed function and test
  sympy/printing/pycode.py
  sympy/printing/tests/test_pycode.py
Labels: printing

#16548 rubi.utility_function exp is updated to rubi_exp in rubi.py file
  sympy/integrals/rubi/rubi.py
  sympy/integrals/rubi/tests/test_rubi_integrate.py
Labels: integrals.rubi

#16542 Added `quantile` function
  sympy/stats/__init__.py
  sympy/stats/crv.py
  sympy/stats/crv_types.py
  sympy/stats/drv.py
  sympy/stats/drv_types.py
  sympy/stats/frv.py
  sympy/stats/frv_types.py
  sympy/stats/rv.py
  sympy/stats/rv_interface.py
  sympy/stats/tests/test_continuous_rv.py
  sympy/stats/tests/test_finite_rv.py
Labels: stats

#16561 Improved itermonomials
  sympy/integrals/heurisch.py
  sympy/polys/monomials.py
  sympy/polys/tests/test_monomials.py
Labels: polys

#16781 update dot to use srepr
  doc/src/modules/printing.rst
  doc/src/tutorial/manipulation.rst
  doc/src/tutorial/printing.rst
  sympy/printing/dot.py
  sympy/printing/tests/test_dot.py
Labels: PR: sympy's turn, printing

#16787 add documentation for sympy.sets.fancysets.Reals
  sympy/sets/fancysets.py
Labels: Documentation, sets

#16785 replace `exact` flag only applies when symbols > 1
  sympy/core/basic.py
  sympy/core/tests/test_expr.py
  sympy/integrals/manualintegrate.py
Labels: core

#16652 SymPy numbers now inherit from Python numbers ABCs
  sympy/core/numbers.py
  sympy/core/tests/test_numbers.py
Labels: core

#16782 give an _eval_trigsimp method to Relational
  sympy/core/relational.py
Labels: simplify

#16794 Update test_relational.py
  sympy/core/tests/test_relational.py
Labels: simplify

#16792 Fix incorrect codegen with unused array arguments
  sympy/utilities/codegen.py
  sympy/utilities/tests/test_codegen.py
Labels: codegen, utilities.autowrap

#16796 Fixed issue with logplot range for x
  sympy/plotting/plot.py
Labels: plotting

#16801 Remove sorting from dotprint, and clean up some code
  sympy/printing/dot.py
  sympy/printing/tests/test_dot.py
Labels: Code quality, Documentation, printing

#16685 Canonicalization of Hadamard Product
  sympy/matrices/__init__.py
  sympy/matrices/expressions/hadamard.py
  sympy/matrices/expressions/tests/test_hadamard.py
Labels: matrices.expressions

#16809 Improved the accessibility of docstrings from Sphinx documentation
  doc/src/modules/assumptions/handlers/common.rst
  doc/src/modules/assumptions/handlers/index.rst
  doc/src/modules/assumptions/handlers/matrices.rst
  doc/src/modules/codegen.rst
  doc/src/modules/ntheory.rst
  sympy/ntheory/primetest.py
Labels: Documentation

#16812 Fix error while transposing matrix multiplied with scalar symbol
  sympy/matrices/expressions/matmul.py
  sympy/matrices/expressions/tests/test_matmul.py
  sympy/matrices/expressions/tests/test_transpose.py
Labels: matrices.expressions

#16810 Range can be accepted in Sum
  sympy/concrete/expr_with_limits.py
  sympy/concrete/tests/test_sums_products.py
Labels: concrete

#16808 Added Multinomial, NegativeMultinomial Distribution
  sympy/core/tests/test_args.py
  sympy/stats/joint_rv.py
  sympy/stats/joint_rv_types.py
  sympy/stats/tests/test_joint_rv.py
Labels: GSoC, stats

#16820 Solves issue with Range 16817
  sympy/sets/fancysets.py
  sympy/sets/tests/test_fancysets.py
Labels: sets

#16802 Indentation and minor Documentation fixes for basic.py
  sympy/core/basic.py
Labels: Documentation

#16670 Added method to calculate Abelian Invariants
  sympy/combinatorics/fp_groups.py
  sympy/combinatorics/perm_groups.py
  sympy/combinatorics/tests/test_fp_groups.py
  sympy/combinatorics/tests/test_perm_groups.py
Labels: PR: author's turn, combinatorics

#15836 Random variables can be used as given_condition
  sympy/stats/rv.py
  sympy/stats/tests/test_rv.py
Labels: PR: sympy's turn, stats

#16828 fix dcm diff error
  sympy/physics/vector/frame.py
  sympy/physics/vector/tests/test_frame.py
Labels: physics, physics.mechanics

#16827 [GSoC] Added Noncentral Beta Distribution
  sympy/core/tests/test_args.py
  sympy/stats/__init__.py
  sympy/stats/crv_types.py
  sympy/stats/tests/test_continuous_rv.py
Labels: GSoC, stats

#16576 Addition of Dirichlet, Ewens Distributions
  sympy/core/tests/test_args.py
  sympy/stats/joint_rv_types.py
  sympy/stats/tests/test_joint_rv.py
Labels: GSoC, stats

#16765 Refactored sympy.stats.frv_types, sympy.stats.frv and sympy.stats.drv_types
  sympy/core/tests/test_args.py
  sympy/stats/drv_types.py
  sympy/stats/frv.py
  sympy/stats/frv_types.py
  sympy/stats/joint_rv_types.py
  sympy/stats/rv.py
Labels: stats

#16700 Replaces qdots with us in force-list in kanes.py
  sympy/physics/mechanics/kane.py
  sympy/physics/mechanics/tests/test_kane4.py
Labels: PR: author's turn, physics.mechanics

#16854 Fix typo in mathematica_code
  sympy/printing/mathematica.py
Labels: printing

#16853 Fix identity of MatAdd and MatMul
  sympy/matrices/expressions/matadd.py
  sympy/matrices/expressions/matmul.py
  sympy/matrices/expressions/tests/test_matadd.py
  sympy/matrices/expressions/tests/test_matmul.py
Labels: matrices.expressions

#16840 fix Integer floordiv for non-integer denominator; divmod with inf and nan
  sympy/core/numbers.py
  sympy/core/tests/test_numbers.py
Labels: core

#16834 Symbolic dimensions can be passed to Multinomial, NegativeMultinomial
  sympy/sets/handlers/intersection.py
  sympy/stats/joint_rv.py
  sympy/stats/joint_rv_types.py
  sympy/stats/tests/test_joint_rv.py
Labels: GSoC, stats

#16770 improve Float/Rational relations
  sympy/concrete/tests/test_sums_products.py
  sympy/core/basic.py
  sympy/core/expr.py
  sympy/core/numbers.py
  sympy/core/power.py
  sympy/core/relational.py
  sympy/core/tests/test_arit.py
  sympy/core/tests/test_evalf.py
  sympy/core/tests/test_expr.py
  sympy/core/tests/test_numbers.py
  sympy/core/tests/test_power.py
  sympy/core/tests/test_relational.py
  sympy/core/tests/test_sympify.py
  sympy/functions/elementary/tests/test_piecewise.py
  sympy/geometry/ellipse.py
  sympy/geometry/point.py
  sympy/geometry/tests/test_ellipse.py
  sympy/geometry/tests/test_line.py
  sympy/geometry/tests/test_point.py
  sympy/matrices/tests/test_matrices.py
  sympy/ntheory/factor_.py
  sympy/ntheory/tests/test_factor_.py
  sympy/physics/hydrogen.py
  sympy/physics/optics/tests/test_utils.py
  sympy/physics/units/tests/test_util.py
  sympy/printing/tests/test_str.py
  sympy/sets/tests/test_fancysets.py
  sympy/solvers/ode.py
  sympy/stats/tests/test_joint_rv.py
  sympy/stats/tests/test_rv.py
Labels: PR: sympy's turn, core

#16867 BlockMatrix is now printed to numpy with the correct output shape.
  sympy/printing/pycode.py
  sympy/printing/tests/test_numpy.py
Labels: printing

#16305 Matrices : Extend pseudoinverse capability
  sympy/matrices/matrices.py
  sympy/matrices/tests/test_matrices.py
Labels: matrices

#16864 Sets containment and simplification
  doc/src/tutorial/solvers.rst
  sympy/core/mod.py
  sympy/core/tests/test_arit.py
  sympy/sets/contains.py
  sympy/sets/fancysets.py
  sympy/sets/handlers/functions.py
  sympy/sets/handlers/intersection.py
  sympy/sets/sets.py
  sympy/sets/tests/test_contains.py
  sympy/sets/tests/test_fancysets.py
  sympy/sets/tests/test_sets.py
  sympy/solvers/solveset.py
  sympy/solvers/tests/test_solveset.py
Labels: sets

#16885 Cleanup some spacings in sets test
  sympy/sets/sets.py
  sympy/sets/tests/test_fancysets.py
  sympy/sets/tests/test_sets.py
Labels: Code quality, sets

#16887 Partition does not properly handle FiniteSet and python set
  sympy/combinatorics/partitions.py
  sympy/combinatorics/tests/test_partitions.py
Labels: combinatorics

#16825 Added Generalized Multivariate Log Gamma Distribution
  sympy/core/tests/test_args.py
  sympy/stats/joint_rv_types.py
  sympy/stats/tests/test_joint_rv.py
Labels: GSoC, PR: sympy's turn, stats

#16858 Added test for MGF, added missing checks in crv_types
  sympy/stats/crv_types.py
  sympy/stats/joint_rv_types.py
  sympy/stats/tests/test_continuous_rv.py
Labels: GSoC, stats

#16899 Updated gitignore to avoid tracking of vscode's settings.json
  .gitignore
Labels: Workflow

#16897 Float.is_integer updated for removing disparity in gamma
  sympy/core/tests/test_numbers.py
  sympy/functions/special/gamma_functions.py
  sympy/functions/special/tests/test_gamma_functions.py
Labels: GSoC, core, functions

#16845 [Don't merge][GSoC]Added ArrayComprehension class
  sympy/core/tests/test_args.py
  sympy/tensor/array/__init__.py
  sympy/tensor/array/array_comprehension.py
  sympy/tensor/array/tests/test_array_comprehension.py
Labels: GSoC, tensor

#16898 Add matrix attributes zero and one
  sympy/matrices/common.py
  sympy/matrices/dense.py
  sympy/matrices/matrices.py
Labels: matrices

#16917 Сhange inaccuracies in the comments
  sympy/geometry/point.py
Labels: Documentation, geometry

#16921 Added Mathematica printing for several functions
  sympy/functions/special/error_functions.py
  sympy/printing/mathematica.py
  sympy/printing/tests/test_mathematica.py
Labels: printing

#16814 [GSoC] Added Inverse Normal distribution
  sympy/core/tests/test_args.py
  sympy/stats/__init__.py
  sympy/stats/crv_types.py
  sympy/stats/tests/test_continuous_rv.py
Labels: GSoC, stats
