Repository sympy/sympy, pull requests merged in 2020-08, with the labels that each got.

#19858 printing.preview: Do not crash if the latex preamble contains comments
  sympy/printing/preview.py
Labels: Bug, printing

#19875 MAINT: Remove sixu and TemporaryDirectory compatibility utils
  doc/ext/docscrape_sphinx.py
  doc/ext/numpydoc.py
  sympy/codegen/tests/test_algorithms.py
  sympy/codegen/tests/test_applications.py
  sympy/codegen/tests/test_fnodes.py
  sympy/utilities/_compilation/util.py
Labels: Dropping Python 2

#19857 [GSoC] Added sampling from Matrix Distributions
  sympy/core/tests/test_args.py
  sympy/stats/matrix_distributions.py
  sympy/stats/rv.py
  sympy/stats/tests/test_matrix_distributions.py
Labels: GSoC, stats

#19848 [GSoC] Added sampling for Joint Random Variables
  sympy/stats/joint_rv.py
  sympy/stats/rv.py
  sympy/stats/tests/test_joint_rv.py
Labels: GSoC, stats

#19872 MAINT: Cleanup Python2 code gaurded by sys.version
  conftest.py
  sympy/core/tests/test_basic.py
  sympy/interactive/tests/test_interactive.py
  sympy/ntheory/egyptian_fraction.py
  sympy/utilities/_compilation/compilation.py
  sympy/utilities/_compilation/runners.py
Labels: Dropping Python 2

#19880 Add to codegen: numpy.logaddexp2
  sympy/codegen/cfunctions.py
  sympy/codegen/numpy_nodes.py
  sympy/codegen/rewriting.py
  sympy/codegen/tests/test_numpy_nodes.py
  sympy/codegen/tests/test_rewriting.py
  sympy/core/tests/test_args.py
  sympy/printing/pycode.py
  sympy/printing/tests/test_numpy.py
  sympy/utilities/tests/test_lambdify.py
Labels: codegen

#19879 Added test case for Sum is_convergent
  sympy/concrete/tests/test_sums_products.py
Labels: concrete

#19878 Removed Extra condition for checking expr is zero or not
  sympy/simplify/simplify.py
Labels: simplify

#19882 feat(matrices): Extend and test DomainMatrix
  sympy/polys/domainmatrix.py
  sympy/polys/polymatrix.py
  sympy/polys/solvers.py
  sympy/polys/tests/test_domainmatrix.py
Labels: matrices, polys

#19894 Better error messages for analytic_func
  sympy/matrices/matrices.py
Labels: matrices

#19900 matrices: Remove __mathml__
  bin/coverage_report.py
  sympy/matrices/matrices.py
Labels: matrices, printing.mathml

#19903 Fix issues in NDimArray
  sympy/printing/latex.py
  sympy/printing/pretty/pretty.py
  sympy/printing/str.py
  sympy/printing/tests/test_str.py
  sympy/tensor/array/ndim_array.py
Labels: Bug, interactive, printing, printing.pretty

#19902 printing.pretty: Ensure Matrix is pretty-printed in IPython
  sympy/matrices/matrices.py
Labels: Bug, interactive, printing.pretty

#19904 printing.preview: Fix regressions introduced in gh-18392
  sympy/printing/preview.py
Labels: printing, regression

#19905 printing.preview: Fix regressions introduced in gh-18392
  sympy/printing/preview.py
Labels: printing, regression

#19918 physics.continuum_mechanics: Actually show the plot in the docs
  sympy/physics/continuum_mechanics/beam.py
Labels: Documentation

#19916 [GSoC] Functions: Fixes limit evaluations related to trigonometric functions
  sympy/functions/elementary/trigonometric.py
  sympy/series/tests/test_limits.py
Labels: GSoC, functions, limits

#19899 Tidy up convoluted matrix printing
  sympy/printing/codeprinter.py
  sympy/printing/glsl.py
  sympy/printing/julia.py
  sympy/printing/latex.py
  sympy/printing/maple.py
  sympy/printing/octave.py
  sympy/printing/pretty/pretty.py
  sympy/printing/repr.py
  sympy/printing/rust.py
  sympy/printing/str.py
  sympy/printing/tests/test_ccode.py
  sympy/printing/tests/test_codeprinter.py
  sympy/printing/tests/test_rust.py
Labels: printing

#19932 Fix wrong result for sqrtdenest
  sympy/simplify/sqrtdenest.py
  sympy/simplify/tests/test_sqrtdenest.py
Labels: simplify

#19921 Update authors
  .mailmap
  AUTHORS
  bin/authors_update.py
Labels: Uncategorised

#19922 Regression test for limit issue
  sympy/series/tests/test_limits.py
Labels: limits

#19799 Fix _minpoly_groebner (expressions with negative powers could lead to wrong results)
  sympy/polys/numberfields.py
  sympy/polys/tests/test_numberfields.py
Labels: polys

#19908 Make it so that sympy.codegen is not imported with 'from sympy import *'
  bin/test_external_imports.py
  bin/test_submodule_imports.py
  bin/test_travis.sh
  doc/src/modules/printing.rst
  sympy/__init__.py
  sympy/codegen/ast.py
  sympy/codegen/cnodes.py
  sympy/codegen/cutils.py
  sympy/codegen/futils.py
  sympy/codegen/tests/test_algorithms.py
  sympy/codegen/tests/test_applications.py
  sympy/codegen/tests/test_cnodes.py
  sympy/codegen/tests/test_cxxnodes.py
  sympy/codegen/tests/test_fnodes.py
  sympy/codegen/tests/test_rewriting.py
  sympy/external/tests/test_autowrap.py
  sympy/printing/__init__.py
  sympy/printing/c.py
  sympy/printing/codeprinter.py
  sympy/printing/cxx.py
  sympy/printing/fortran.py
  sympy/printing/glsl.py
  sympy/printing/jscode.py
  sympy/printing/julia.py
  sympy/printing/octave.py
  sympy/printing/rcode.py
  sympy/printing/tests/test_c.py
  sympy/printing/tests/test_cxx.py
  sympy/printing/tests/test_fortran.py
  sympy/testing/tests/test_code_quality.py
  sympy/utilities/codegen.py
  sympy/utilities/tests/test_codegen.py
Labels: codegen, printing

#19944 Allow subclasses of sympy objects to override `_repr_latex_`
  sympy/core/_print_helpers.py
  sympy/interactive/printing.py
  sympy/interactive/tests/test_ipythonprinting.py
Labels: interactive

#19926 [GSoC] Fix state space of Wiener Process
  sympy/stats/stochastic_process_types.py
  sympy/stats/tests/test_stochastic_process.py
Labels: GSoC, stats

#19934 [GSoC] Move external libraries import inside functions
  sympy/stats/crv.py
  sympy/stats/drv.py
  sympy/stats/frv.py
  sympy/stats/joint_rv.py
  sympy/stats/matrix_distributions.py
Labels: GSoC, stats

#19956 Use literal suffix print pow
  sympy/printing/c.py
  sympy/printing/tests/test_c.py
Labels: codegen

#19657 QUADRATIC SIEVE
  sympy/ntheory/__init__.py
  sympy/ntheory/qs.py
  sympy/ntheory/tests/test_qs.py
Labels: GSoC, ntheory

#19963 [GSoC] Functions: Adds _eval_is_meromorphic() to bessel function
  sympy/functions/special/bessel.py
  sympy/functions/special/tests/test_bessel.py
Labels: GSoC, functions

#18656 [GSoC] Concrete: Implemented Raabe's Test
  sympy/concrete/summations.py
  sympy/concrete/tests/test_sums_products.py
Labels: GSoC, concrete

#19838 [GSoC] Higher order system of ODEs to first order reduction
  doc/src/modules/solvers/ode.rst
  sympy/solvers/ode/ode.py
  sympy/solvers/ode/subscheck.py
  sympy/solvers/ode/systems.py
  sympy/solvers/ode/tests/test_ode.py
  sympy/solvers/ode/tests/test_systems.py
Labels: GSoC, solvers.dsolve.system

#19975 [GSoC] Updates stats docs in `doc`
  doc/src/modules/stats.rst
  sympy/stats/__init__.py
  sympy/stats/rv_interface.py
  sympy/stats/stochastic_process_types.py
  sympy/stats/symbolic_probability.py
Labels: Documentation, GSoC, stats

#20000 Add API to new classes in vector module to documenation
  doc/src/modules/vector/api/classes.rst
  doc/src/modules/vector/api/vectorfunctions.rst
  sympy/vector/implicitregion.py
  sympy/vector/integrals.py
  sympy/vector/parametricregion.py
Labels: Documentation, GSoC, vector

#20002 [GSoC] Functions: Fixes _eval_nseries() of log
  sympy/functions/elementary/exponential.py
  sympy/series/tests/test_nseries.py
  sympy/series/tests/test_series.py
Labels: GSoC, functions

#19896 [GSoC] Add other useful methods in TransferFunction class
  sympy/physics/control/lti.py
  sympy/physics/control/tests/test_lti.py
Labels: GSoC, physics.control

#20009 Added missing print parenthesis
  examples/advanced/pidigits.py
  examples/beginner/functions.py
  sympy/interactive/printing.py
  sympy/utilities/iterables.py
Labels: Dropping Python 2

#19792 Adding a warning when a set is used as argument for `lambdify`
  sympy/utilities/lambdify.py
Labels: utilities

#20010 Dropping unnecessary python2 imports
  doc/api/conf.py
  doc/ext/docscrape.py
  doc/ext/docscrape_sphinx.py
  doc/ext/numpydoc.py
  doc/generate_logos.py
  doc/src/conf.py
Labels: Dropping Python 2

#20008 [GSoC] Modify docs of is_stable method in TransferFunction class
  sympy/physics/control/lti.py
Labels: Documentation, GSoC

#19970 Latex parsing of not equal, less than, greater than
  sympy/parsing/latex/LaTeX.g4
  sympy/parsing/latex/_antlr/latexlexer.py
  sympy/parsing/latex/_antlr/latexparser.py
  sympy/parsing/latex/_parse_latex_antlr.py
  sympy/parsing/tests/test_latex.py
Labels: parsing, parsing.latex

#20018 Rename RandomMatrixEnsemble to RandomMatrixEnsembleModel
  sympy/core/tests/test_args.py
  sympy/stats/random_matrix_models.py
  sympy/stats/tests/test_random_matrix.py
Labels: stats

#20011 Add support for cosm1 to codegen
  sympy/codegen/rewriting.py
  sympy/codegen/scipy_nodes.py
  sympy/codegen/tests/test_rewriting.py
  sympy/codegen/tests/test_scipy_nodes.py
  sympy/core/tests/test_args.py
  sympy/printing/pycode.py
  sympy/printing/tests/test_pycode.py
  sympy/utilities/tests/test_lambdify.py
Labels: codegen, printing, utilities.lambdify

#19885 Fix placement of free variables in gauss_jordan_solve
  sympy/matrices/solvers.py
  sympy/matrices/tests/test_solvers.py
Labels: matrices, solvers.solve

#19986 solveset with piecewise: issue 19718
  sympy/solvers/solveset.py
  sympy/solvers/tests/test_solveset.py
Labels: solvers.solveset

#19913 lambdify loggamma now works for mpmath
  sympy/printing/pycode.py
  sympy/printing/tests/test_pycode.py
  sympy/utilities/tests/test_lambdify.py
Labels: utilities, utilities.lambdify
