Repository sympy/sympy, pull requests merged in 2020-09, with the labels that each got.

#19978 Improvement in solveset for inequalities
  sympy/solvers/inequalities.py
  sympy/solvers/tests/test_inequalities.py
  sympy/solvers/tests/test_solveset.py
Labels: solvers

#19980 Mark the antlr files as generated files
  .gitattributes
Labels: parsing

#19993 upgrades to manualintegrate
  sympy/integrals/manualintegrate.py
  sympy/integrals/tests/test_manual.py
Labels: integrals.manualintegrate

#20012 Fix sympy.testing.pytest.raises to behave like pytest.raises
  sympy/multipledispatch/tests/test_core.py
  sympy/multipledispatch/tests/test_dispatcher.py
  sympy/testing/pytest.py
Labels: Bug, Testing

#19883 Allow vector_integrate to handle ImplicitRegion objects
  sympy/vector/__init__.py
  sympy/vector/integrals.py
  sympy/vector/parametricregion.py
  sympy/vector/tests/test_implicitregion.py
  sympy/vector/tests/test_integrals.py
Labels: GSoC, vector

#20044 Sign of integral of Parametricregion object
  sympy/vector/integrals.py
  sympy/vector/tests/test_integrals.py
Labels: vector

#20027 Updated README.md
  README.md
Labels: Documentation

#20021 [WIP] Add examples of usage of vector integration
  doc/src/modules/vector/index.rst
  doc/src/modules/vector/vector_integration.rst
Labels: Documentation, GSoC, vector

#19223 Fix Travis build config warnings
  .travis.yml
Labels: Travis

#19189 Address non-feasibility in solveset - current code breaks solveset
  sympy/solvers/solveset.py
  sympy/solvers/tests/test_solveset.py
Labels: solvers, solvers.solveset

#19159 Checked if subs argument was zip object and added test
  sympy/matrices/common.py
  sympy/matrices/tests/test_commonmatrix.py
Labels: matrices

#20057 correct typo in eigen.py
  sympy/matrices/eigen.py
Labels: Documentation

#20060 Fixing dead link
  doc/src/modules/integrals/integrals.rst
Labels: Documentation

#20064 Remove __nonzero__, __long__, __div__, and __rdiv__
  sympy/algebras/quaternion.py
  sympy/calculus/util.py
  sympy/combinatorics/free_groups.py
  sympy/core/expr.py
  sympy/core/exprtools.py
  sympy/core/numbers.py
  sympy/core/relational.py
  sympy/core/singleton.py
  sympy/core/tests/test_arit.py
  sympy/core/tests/test_expr.py
  sympy/core/tests/test_priority.py
  sympy/geometry/entity.py
  sympy/geometry/point.py
  sympy/holonomic/holonomic.py
  sympy/logic/boolalg.py
  sympy/matrices/common.py
  sympy/matrices/expressions/matexpr.py
  sympy/matrices/tests/test_matrices.py
  sympy/physics/units/dimensions.py
  sympy/physics/units/prefixes.py
  sympy/physics/vector/dyadic.py
  sympy/physics/vector/vector.py
  sympy/plotting/intervalmath/interval_arithmetic.py
  sympy/plotting/pygletplot/plot.py
  sympy/polys/agca/homomorphisms.py
  sympy/polys/agca/modules.py
  sympy/polys/domains/expressiondomain.py
  sympy/polys/domains/field.py
  sympy/polys/domains/gmpyrationalfield.py
  sympy/polys/domains/modularinteger.py
  sympy/polys/domains/pythonrational.py
  sympy/polys/domains/quotientring.py
  sympy/polys/domains/ring.py
  sympy/polys/fields.py
  sympy/polys/monomials.py
  sympy/polys/polyclasses.py
  sympy/polys/polytools.py
  sympy/polys/rings.py
  sympy/polys/tests/test_fields.py
  sympy/polys/tests/test_pythonrational.py
  sympy/polys/tests/test_rings.py
  sympy/printing/pretty/stringpict.py
  sympy/sets/fancysets.py
  sympy/sets/setexpr.py
  sympy/sets/sets.py
  sympy/tensor/array/ndim_array.py
  sympy/tensor/array/tests/test_immutable_ndim_array.py
  sympy/tensor/array/tests/test_mutable_ndim_array.py
  sympy/tensor/tensor.py
  sympy/tensor/tests/test_tensor.py
  sympy/vector/basisdependent.py
Labels: Dropping Python 2

#20045 Added GeometricError for eccentricity>=1 and for eccentricity <0
  sympy/geometry/ellipse.py
  sympy/geometry/tests/test_ellipse.py
Labels: geometry

#20066 Small optimisations to jacobi_symbol
  sympy/ntheory/residue_ntheory.py
Labels: ntheory

#20061 Replace uses of kwargs.pop with keyword-only arguments.
  sympy/calculus/finite_diff.py
  sympy/calculus/tests/test_finite_diff.py
  sympy/codegen/algorithms.py
  sympy/codegen/ast.py
  sympy/codegen/fnodes.py
  sympy/combinatorics/perm_groups.py
  sympy/combinatorics/permutations.py
  sympy/core/function.py
  sympy/core/mul.py
  sympy/core/numbers.py
  sympy/core/operations.py
  sympy/core/symbol.py
  sympy/crypto/crypto.py
  sympy/geometry/point.py
  sympy/geometry/util.py
  sympy/integrals/integrals.py
  sympy/integrals/risch.py
  sympy/integrals/transforms.py
  sympy/logic/boolalg.py
  sympy/matrices/common.py
  sympy/matrices/dense.py
  sympy/matrices/eigen.py
  sympy/physics/mechanics/functions.py
  sympy/physics/mechanics/kane.py
  sympy/physics/quantum/cartesian.py
  sympy/physics/quantum/qexpr.py
  sympy/physics/quantum/represent.py
  sympy/physics/quantum/spin.py
  sympy/plotting/intervalmath/interval_arithmetic.py
  sympy/plotting/plot.py
  sympy/plotting/pygletplot/plot_axes.py
  sympy/plotting/pygletplot/plot_controller.py
  sympy/plotting/pygletplot/plot_mode_base.py
  sympy/plotting/tests/test_plot_implicit.py
  sympy/polys/polyroots.py
  sympy/polys/polytools.py
  sympy/printing/theanocode.py
  sympy/simplify/ratsimp.py
  sympy/simplify/trigsimp.py
  sympy/solvers/bivariate.py
  sympy/solvers/deutils.py
  sympy/solvers/ode/ode.py
  sympy/solvers/pde.py
  sympy/solvers/solvers.py
  sympy/stats/compound_rv.py
  sympy/stats/rv_interface.py
  sympy/tensor/indexed.py
  sympy/tensor/tensor.py
  sympy/testing/pytest.py
  sympy/testing/runtests.py
Labels: Dropping Python 2

#20082 codegen: Opportunistic rewrite of sin(k*x)/x -> k*sinc(x)
  sympy/codegen/rewriting.py
  sympy/codegen/tests/test_rewriting.py
Labels: codegen

#20081 Cleanup unicode vs str code
  sympy/core/sympify.py
  sympy/parsing/tests/test_sympy_parser.py
  sympy/physics/optics/polarization.py
  sympy/physics/quantum/anticommutator.py
  sympy/physics/quantum/boson.py
  sympy/physics/quantum/circuitplot.py
  sympy/physics/quantum/commutator.py
  sympy/physics/quantum/constants.py
  sympy/physics/quantum/fermion.py
  sympy/physics/quantum/gate.py
  sympy/physics/quantum/grover.py
  sympy/physics/quantum/hilbert.py
  sympy/physics/quantum/qft.py
  sympy/physics/quantum/sho1d.py
  sympy/physics/quantum/spin.py
  sympy/physics/quantum/state.py
  sympy/physics/quantum/tensorproduct.py
  sympy/physics/quantum/tests/test_printing.py
  sympy/physics/vector/dyadic.py
  sympy/physics/vector/frame.py
  sympy/physics/vector/printing.py
  sympy/physics/vector/tests/test_printing.py
  sympy/physics/vector/vector.py
  sympy/printing/mathml.py
  sympy/printing/pretty/pretty.py
  sympy/printing/pretty/pretty_symbology.py
  sympy/printing/pretty/stringpict.py
  sympy/printing/pretty/tests/test_pretty.py
  sympy/printing/tests/test_mathml.py
  sympy/testing/runtests.py
  sympy/vector/tests/test_printing.py
Labels: Dropping Python 2

#20067 Improve kwarg-handling of print helper functions
  sympy/printing/latex.py
  sympy/printing/mathml.py
  sympy/printing/pretty/pretty.py
  sympy/printing/printer.py
  sympy/printing/repr.py
  sympy/printing/str.py
  sympy/printing/tests/test_latex.py
Labels: printing, printing.latex, regression

#20086 Replace kwargs.get with keyword-only arguments
  sympy/calculus/util.py
  sympy/combinatorics/fp_groups.py
  sympy/core/tests/test_function.py
  sympy/integrals/intpoly.py
  sympy/integrals/tests/test_intpoly.py
  sympy/matrices/common.py
  sympy/matrices/dense.py
  sympy/matrices/expressions/hadamard.py
  sympy/matrices/expressions/kronecker.py
  sympy/matrices/expressions/matmul.py
  sympy/matrices/subspaces.py
  sympy/multipledispatch/core.py
  sympy/polys/domains/domain.py
  sympy/polys/numberfields.py
  sympy/polys/polymatrix.py
  sympy/simplify/radsimp.py
  sympy/solvers/ode/ode.py
  sympy/strategies/core.py
  sympy/testing/runtests.py
  sympy/vector/functions.py
Labels: Dropping Python 2

#20092 Added Hyperlink to reference
  doc/src/modules/categories.rst
Labels: Documentation

#20099 Added a docstring to a private method in point.py.
  sympy/physics/vector/point.py
Labels: Documentation, physics.mechanics

#20104 Functions.elementary.trigonometric
  sympy/functions/elementary/trigonometric.py
Labels: GSoD

#20109 divmod on sympy.Float with 0 numerator now results in (0, 0).
  sympy/core/numbers.py
  sympy/core/tests/test_numbers.py
Labels: core

#19463 Introduce general add, mul, and pow function
  sympy/core/add.py
  sympy/core/expr.py
  sympy/core/mul.py
  sympy/core/operations.py
  sympy/core/power.py
  sympy/core/tests/test_operations.py
  sympy/core/tests/test_power.py
  sympy/matrices/expressions/matadd.py
  sympy/matrices/expressions/matexpr.py
  sympy/matrices/expressions/matmul.py
  sympy/matrices/expressions/tests/test_matadd.py
  sympy/matrices/expressions/tests/test_matmul.py
  sympy/multipledispatch/dispatcher.py
  sympy/multipledispatch/tests/test_dispatcher.py
Labels: core

#20049 point.vel() calculates velocity
  sympy/physics/vector/point.py
  sympy/physics/vector/tests/test_point.py
Labels: physics.vector

#20083 Functions.elementary.exponential [GSoD]
  sympy/functions/elementary/exponential.py
Labels: GSoD

#20042 Fixed state space for Discrete Markov Chains
  sympy/stats/stochastic_process_types.py
  sympy/stats/tests/test_stochastic_process.py
Labels: stats

#20136 Fix issues with substitution for random matrix
  sympy/matrices/expressions/matexpr.py
  sympy/stats/tests/test_random_matrix.py
Labels: stats

#20084 [WIP] Functions.elementary.hyperbolic [GSoD]
  sympy/functions/elementary/hyperbolic.py
Labels: Documentation, GSoD

#20041 Functions.elementary.complexes [GSoD]
  sympy/functions/elementary/complexes.py
Labels: Documentation, GSoD

#20134 Add support for Integral with lambdify (using scipy or mpmath)
  sympy/printing/pycode.py
  sympy/printing/tests/test_pycode.py
  sympy/solvers/tests/test_numeric.py
  sympy/utilities/tests/test_lambdify.py
Labels: utilities.lambdify

#20154 Don't reuse the same dictionary in the yielded output of partitions()
  sympy/utilities/iterables.py
  sympy/utilities/tests/test_iterables.py
Labels: utilities

#20147 Added required sections in docstrings.
  sympy/core/containers.py
Labels: GSoD

#20146 Crypto: Fix contradictory docstring in padded_key
  sympy/crypto/crypto.py
Labels: crypto

#20156 Added required sections in docstrings in Core.
  sympy/core/decorators.py
  sympy/core/evalf.py
  sympy/core/expr.py
Labels: GSoD

#20162 Added required sections in exprtools.py
  sympy/core/exprtools.py
Labels: GSoD

#20165 Added required sections in core
  sympy/core/multidimensional.py
  sympy/core/numbers.py
  sympy/core/operations.py
  sympy/core/parameters.py
  sympy/core/power.py
Labels: Documentation, GSoD

#20145 Remove support for Python 3.5
  .travis.yml
  bin/test_py2_import.py
  setup.py
  sympy/__init__.py
Labels: Travis

#20140 maint: add type hints to fix mypy warnings
  setup.cfg
  sympy/calculus/util.py
  sympy/codegen/matrix_nodes.py
  sympy/core/compatibility.py
  sympy/core/expr.py
  sympy/core/function.py
  sympy/core/logic.py
  sympy/core/numbers.py
  sympy/core/operations.py
  sympy/core/relational.py
  sympy/core/singleton.py
  sympy/core/sympify.py
  sympy/functions/elementary/integers.py
  sympy/functions/elementary/trigonometric.py
  sympy/matrices/dense.py
  sympy/matrices/expressions/diagonal.py
  sympy/matrices/expressions/factorizations.py
  sympy/matrices/expressions/fourier.py
  sympy/matrices/expressions/matexpr.py
  sympy/matrices/immutable.py
  sympy/matrices/matrices.py
  sympy/ntheory/tests/test_qs.py
  sympy/polys/domains/__init__.py
  sympy/polys/domains/domain.py
  sympy/polys/domains/gaussiandomains.py
  sympy/polys/domains/modularinteger.py
  sympy/polys/polyoptions.py
  sympy/polys/rootoftools.py
  sympy/printing/printer.py
  sympy/printing/str.py
  sympy/sets/handlers/comparison.py
  sympy/solvers/diophantine/diophantine.py
  sympy/solvers/ode/single.py
  sympy/solvers/ode/subscheck.py
  sympy/solvers/ode/systems.py
  sympy/stats/rv.py
  sympy/stats/stochastic_process_types.py
  sympy/stats/symbolic_probability.py
  sympy/tensor/array/array_derivatives.py
  sympy/tensor/array/dense_ndim_array.py
  sympy/tensor/indexed.py
  sympy/testing/pytest.py
  sympy/utilities/lambdify.py
  sympy/vector/parametricregion.py
Labels: Code quality, mypy
