Repository sympy/sympy, pull requests merged in 2020-04, with the labels that each got.

#19037 Functions: Resolves Extraneous Variable in Limit results
  sympy/functions/elementary/complexes.py
  sympy/series/limitseq.py
  sympy/series/tests/test_limits.py
Labels: functions

#18980 Improved docs regarding value of applied loads and fixed example 3
  doc/src/modules/physics/continuum_mechanics/beam_problems.rst
  sympy/physics/continuum_mechanics/beam.py
Labels: Documentation, physics, physics.continuum_mechanics

#18870 remove all set_smart_bounds methods
  sympy/plotting/plot.py
Labels: plotting

#18741 Refactored sym_expr to fix documentation problems with SymPyExpression
  doc/src/modules/parsing.rst
  sympy/parsing/sym_expr.py
  sympy/parsing/tests/test_sym_expr.py
Labels: Documentation, parsing

#19058 Docstring: Fix a typo
  sympy/parsing/c/c_parser.py
Labels: parsing

#19045 Matrix connected components decomposition
  sympy/matrices/common.py
  sympy/matrices/expressions/blockmatrix.py
  sympy/matrices/expressions/tests/test_blockmatrix.py
  sympy/matrices/graph.py
  sympy/matrices/matrices.py
  sympy/matrices/sparse.py
  sympy/matrices/tests/test_commonmatrix.py
  sympy/matrices/tests/test_graph.py
Labels: matrices

#18667 Addition of schur number in combinatorics
  sympy/combinatorics/schur_number.py
  sympy/combinatorics/tests/test_schur_number.py
  sympy/core/tests/test_args.py
Labels: combinatorics

#19090 Change deprecated sphinx from sympylive
  doc/ext/sympylive.py
Labels: Documentation

#19054 be more specific when testing for T/F
  sympy/core/compatibility.py
  sympy/core/numbers.py
  sympy/core/relational.py
  sympy/core/tests/test_compatibility.py
  sympy/core/tests/test_relational.py
  sympy/logic/boolalg.py
  sympy/logic/tests/test_boolalg.py
  sympy/solvers/solvers.py
  sympy/solvers/tests/test_solvers.py
Labels: Needs Decision, solvers

#18993 Solves key error in creating polycyclic group, Improves _sift, induced_pcgs
  sympy/combinatorics/pc_groups.py
  sympy/combinatorics/tests/test_pc_groups.py
Labels: combinatorics

#19079 Accept label as argument in plotting
  sympy/plotting/plot.py
  sympy/plotting/tests/test_plot.py
Labels: plotting

#19101 Improve plot docs
  sympy/plotting/plot.py
Labels: Documentation, plotting

#19087 Use matplotlib < 3.2 on Travis.
  .travis.yml
Labels: Travis

#19006 Deprecate sympify string fallback
  sympy/core/basic.py
  sympy/core/compatibility.py
  sympy/core/containers.py
  sympy/core/sympify.py
  sympy/core/tests/test_compatibility.py
  sympy/core/tests/test_sympify.py
  sympy/external/tests/test_sage.py
  sympy/matrices/expressions/tests/test_funcmatrix.py
  sympy/polys/domains/domain.py
  sympy/polys/orderings.py
  sympy/tensor/array/tests/test_array_comprehension.py
Labels: core

#19077 perm_groups.py: Add Coset class
  sympy/combinatorics/__init__.py
  sympy/combinatorics/perm_groups.py
  sympy/combinatorics/tests/test_perm_groups.py
  sympy/core/tests/test_args.py
Labels: combinatorics

#19104 Clean up of MatPow code, forbid non-square matrix powers
  sympy/matrices/expressions/inverse.py
  sympy/matrices/expressions/kronecker.py
  sympy/matrices/expressions/matexpr.py
  sympy/matrices/expressions/matmul.py
  sympy/matrices/expressions/matpow.py
  sympy/matrices/expressions/permutation.py
  sympy/matrices/expressions/tests/test_inverse.py
  sympy/matrices/expressions/tests/test_kronecker.py
  sympy/matrices/expressions/tests/test_matexpr.py
  sympy/matrices/expressions/tests/test_matpow.py
Labels: matrices

#19083 Fix CSE to not construct invalid tree
  sympy/simplify/cse_opts.py
  sympy/simplify/tests/test_cse.py
Labels: simplify

#19029 parsing(c_parser): added full support for Binary Operators and any type of complicated Assignment in C parser
  sympy/parsing/c/c_parser.py
  sympy/parsing/tests/test_c_parser.py
Labels: parsing

#19122 added new reduced_separable method in ode
  sympy/solvers/ode/ode.py
  sympy/solvers/ode/tests/test_ode.py
Labels: solvers

#19063 refactor(test_ode): Factorable examples
  sympy/solvers/ode/tests/test_single.py
Labels: solvers.dsolve

#19137 Update cse_opts.py
  sympy/simplify/cse_opts.py
Labels: simplify

#19139 Define multiplication between Permutation and PermutationGroup
  sympy/combinatorics/perm_groups.py
  sympy/combinatorics/permutations.py
  sympy/combinatorics/tests/test_perm_groups.py
Labels: combinatorics

#19060 Fixed error with Pyglet Plotting
  sympy/plotting/pygletplot/managed_window.py
Labels: plotting

#19135 add 2 rules in mathematica parser
  sympy/parsing/mathematica.py
  sympy/parsing/tests/test_mathematica.py
Labels: parsing

#19151 add _eval_adjoint and _eval_transpose to ExpBase
  sympy/functions/elementary/exponential.py
  sympy/functions/elementary/tests/test_exponential.py
  sympy/physics/quantum/tests/test_boson.py
Labels: functions

#19091 Fixed tensor contraction problem
  sympy/tensor/tensor.py
  sympy/tensor/tests/test_tensor.py
Labels: tensor

#19147 add support for binom in latex
  sympy/parsing/latex/LaTeX.g4
  sympy/parsing/latex/_antlr/latexlexer.py
  sympy/parsing/latex/_antlr/latexparser.py
  sympy/parsing/latex/_parse_latex_antlr.py
  sympy/parsing/tests/test_latex.py
  sympy/printing/tests/test_latex.py
Labels: parsing

#19170 Fix numpy printing of unevaluated pow
  sympy/printing/pycode.py
  sympy/printing/tests/test_numpy.py
  sympy/printing/tests/test_pycode.py
Labels: printing

#18720 Using matrix exp for solving linear differential equations
  doc/src/modules/solvers/ode.rst
  sympy/solvers/ode/ode.py
  sympy/solvers/ode/systems.py
  sympy/solvers/ode/tests/test_ode.py
  sympy/solvers/ode/tests/test_systems.py
  sympy/solvers/solveset.py
  sympy/solvers/tests/test_solveset.py
Labels: solvers.dsolve, solvers.dsolve.system

#8348 Basic: docstring: not all objects in SymPy are Basic
  sympy/core/basic.py
Labels: Documentation

#19123 Allow custom probability distributions
  sympy/core/tests/test_args.py
  sympy/stats/__init__.py
  sympy/stats/crv.py
  sympy/stats/crv_types.py
  sympy/stats/drv.py
  sympy/stats/drv_types.py
  sympy/stats/rv.py
  sympy/stats/tests/test_continuous_rv.py
  sympy/stats/tests/test_discrete_rv.py
  sympy/stats/tests/test_finite_rv.py
Labels: stats

#19179 DOC: Use README.rst for pypi.org page
  MANIFEST.in
  README.md
  README.rst
  doc/src/aboutus.rst
  setup.cfg
  setup.py
Labels: Uncategorised

#19194 Use Python 3 syntax in vector module
  sympy/vector/basisdependent.py
  sympy/vector/coordsysrect.py
  sympy/vector/deloperator.py
  sympy/vector/dyadic.py
  sympy/vector/functions.py
  sympy/vector/operators.py
  sympy/vector/orienters.py
  sympy/vector/point.py
  sympy/vector/scalar.py
  sympy/vector/tests/test_field_functions.py
  sympy/vector/tests/test_printing.py
  sympy/vector/vector.py
Labels: vector

#19182 fix Mul.is_integer
  sympy/core/mul.py
  sympy/core/tests/test_arit.py
Labels: core

#18985 Revert "Handling Float Integrals"
  doc/src/modules/physics/continuum_mechanics/beam_problems.rst
  sympy/integrals/integrals.py
  sympy/integrals/tests/test_integrals.py
  sympy/integrals/tests/test_meijerint.py
  sympy/solvers/ode/single.py
Labels: Performance, integrals

#19201 Improve matrix slice printing
  sympy/matrices/expressions/slice.py
  sympy/printing/latex.py
  sympy/printing/pretty/pretty.py
  sympy/printing/pretty/tests/test_pretty.py
  sympy/printing/str.py
  sympy/printing/tests/test_latex.py
  sympy/printing/tests/test_str.py
Labels: printing

#19088 FIX: ensure autoscale_view gets called
  sympy/plotting/plot.py
Labels: plotting

#19190 User guide removed
  doc/src/guide.rst
  doc/src/index.rst
  doc/src/pics/winpdb1.png
  doc/src/pics/winpdb2.png
Labels: Documentation

#19216 Speed up Symbol.sort_key
  sympy/core/symbol.py
Labels: core

#19140 parsing(c_parser): added support for unary operators and outermost parenthesized expression
  sympy/parsing/c/c_parser.py
  sympy/parsing/tests/test_c_parser.py
Labels: parsing

#19226 Put the doctr environment variable only in the build that needs it
  .travis.yml
Labels: Travis

#19219 Make copyright in docs dynamic
  doc/src/conf.py
Labels: Uncategorised

#19205 Use gaussian elimination for positive-definite check
  sympy/matrices/common.py
  sympy/matrices/eigen.py
  sympy/matrices/matrices.py
  sympy/matrices/solvers.py
  sympy/matrices/tests/test_eigen.py
  sympy/matrices/tests/test_matrices.py
  sympy/stats/tests/test_continuous_rv.py
Labels: matrices

#19228 Inherit MatrixExpr for ImmutableSparseMatrix
  sympy/matrices/dense.py
  sympy/matrices/expressions/tests/test_matexpr.py
  sympy/matrices/immutable.py
  sympy/matrices/matrices.py
  sympy/matrices/tests/test_immutable.py
  sympy/physics/quantum/tests/test_tensorproduct.py
  sympy/printing/latex.py
Labels: matrices

#19229 Fix creation of matrix with list of ndarray
  sympy/matrices/matrices.py
  sympy/matrices/tests/test_matrices.py
Labels: matrices
