Repository sympy/sympy, pull requests merged in 2020-07, with the labels that each got.

#19640 physics.vector: respect local printer settings in Dyadic and Vector
  doc/src/modules/physics/mechanics/masses.rst
  doc/src/modules/physics/mechanics/symsystem.rst
  doc/src/modules/physics/vector/kinematics.rst
  sympy/physics/mechanics/particle.py
  sympy/physics/mechanics/rigidbody.py
  sympy/physics/vector/dyadic.py
  sympy/physics/vector/functions.py
  sympy/physics/vector/point.py
  sympy/physics/vector/printing.py
  sympy/physics/vector/tests/test_printing.py
  sympy/physics/vector/vector.py
  sympy/printing/tests/test_latex.py
Labels: physics.vector, printing, printing.latex

#19678 printing: Do not create new printers within the printers
  sympy/physics/vector/printing.py
  sympy/physics/vector/tests/test_printing.py
  sympy/printing/latex.py
Labels: physics.vector, printing, printing.latex

#19684 Remove out-of-date printers from physics.vector
  sympy/physics/vector/printing.py
  sympy/physics/vector/tests/test_printing.py
Labels: physics.vector, printing, printing.latex

#19487 Implemented _eval_rewrite_as_Abs() for Sign
  sympy/core/tests/test_subs.py
  sympy/functions/elementary/complexes.py
  sympy/functions/elementary/tests/test_complexes.py
Labels: functions

#19653 [GSoC] API change for the newly added system of ODEs solvers
  doc/src/modules/solvers/ode.rst
  sympy/solvers/ode/__init__.py
  sympy/solvers/ode/ode.py
  sympy/solvers/ode/systems.py
  sympy/solvers/ode/tests/test_systems.py
Labels: GSoC, solvers.dsolve.system

#19622 printing: Update the example to caution against calling doprint
  sympy/printing/printer.py
Labels: printing

#19596 Improved simplification for expressions containing sign()
  sympy/functions/elementary/piecewise.py
  sympy/series/tests/test_gruntz.py
  sympy/simplify/simplify.py
  sympy/simplify/tests/test_simplify.py
Labels: simplify

#19680 [GSoC] Series: Fixes Incorrect limit evaluations
  sympy/calculus/util.py
  sympy/functions/elementary/exponential.py
  sympy/series/gruntz.py
  sympy/series/limits.py
  sympy/series/tests/test_limits.py
Labels: GSoC, limits, series

#19650 Added support to integrate scalar/vector fields over objects of geometry module
  sympy/vector/__init__.py
  sympy/vector/integrals.py
  sympy/vector/parametricregion.py
  sympy/vector/tests/test_integrals.py
  sympy/vector/tests/test_parametricregion.py
Labels: GSoC, geometry, vector

#19698 doc: fix indentation of lists
  sympy/printing/printer.py
Labels: Documentation

#19107 18778 fuzzy comparisons
  sympy/calculus/util.py
  sympy/codegen/ast.py
  sympy/codegen/tests/test_ast.py
  sympy/combinatorics/permutations.py
  sympy/core/basic.py
  sympy/core/containers.py
  sympy/core/expr.py
  sympy/core/numbers.py
  sympy/core/relational.py
  sympy/core/tests/test_relational.py
  sympy/functions/elementary/integers.py
  sympy/matrices/expressions/matexpr.py
  sympy/matrices/immutable.py
  sympy/polys/domains/finitefield.py
  sympy/polys/rootoftools.py
  sympy/sets/__init__.py
  sympy/sets/handlers/comparison.py
  sympy/sets/sets.py
  sympy/tensor/indexed.py
Labels: Uncategorised

#19633 Added parenthesis to fix SparseMatrix printer
  sympy/printing/pycode.py
  sympy/printing/tests/test_pycode.py
  sympy/utilities/tests/test_lambdify.py
Labels: printing

#19613 core.sympify.py : Changes to sympify doctstring to adhere to latest doc style guide
  sympy/core/sympify.py
Labels: core

#19697 [GSoC] Functions: Fixes limit evaluations involving error functions
  sympy/core/power.py
  sympy/functions/special/error_functions.py
  sympy/functions/special/tests/test_error_functions.py
  sympy/integrals/tests/test_integrals.py
  sympy/series/gruntz.py
  sympy/series/tests/test_limits.py
Labels: GSoC, functions, limits

#19714 Apply Str to classes in diffgeom
  sympy/core/symbol.py
  sympy/diffgeom/diffgeom.py
  sympy/diffgeom/tests/test_class_structure.py
  sympy/printing/repr.py
  sympy/printing/tests/test_repr.py
Labels: diffgeom

#19720 Collect with keys dependencies
  .mailmap
  sympy/simplify/radsimp.py
  sympy/simplify/tests/test_radsimp.py
Labels: simplify

#19708 Add docs for fu
  doc/src/modules/index.rst
  doc/src/modules/simplify/fu.rst
  doc/src/modules/simplify/index.rst
  sympy/simplify/fu.py
Labels: Documentation

#19693 Fix dummy name selection of Function._eval_nseries
  sympy/core/function.py
  sympy/core/tests/test_function.py
Labels: core

#19696 [GSoC] Added doit method in symbolic Probability
  sympy/stats/rv.py
  sympy/stats/symbolic_multivariate_probability.py
  sympy/stats/symbolic_probability.py
  sympy/stats/tests/test_symbolic_probability.py
Labels: GSoC, stats

#19721 Fix display issue in tensor documentation
  sympy/tensor/tensor.py
Labels: Documentation

#19716 [GSoC] Functions: Fixes limit evaluations related to LambertW function
  sympy/core/power.py
  sympy/core/tests/test_power.py
  sympy/functions/elementary/exponential.py
  sympy/series/limits.py
  sympy/series/tests/test_limits.py
Labels: GSoC, functions, limits

#19695 [GSoC] Added the dsolve_system in systems.py
  doc/src/modules/solvers/ode.rst
  sympy/solvers/ode/ode.py
  sympy/solvers/ode/systems.py
  sympy/solvers/ode/tests/test_systems.py
Labels: GSoC, solvers.dsolve.system

#19648 [GSoC] Compound Distributions
  sympy/core/tests/test_args.py
  sympy/stats/compound_rv.py
  sympy/stats/crv_types.py
  sympy/stats/drv_types.py
  sympy/stats/frv_types.py
  sympy/stats/joint_rv.py
  sympy/stats/rv.py
  sympy/stats/tests/test_compound_rv.py
  sympy/stats/tests/test_continuous_rv.py
  sympy/stats/tests/test_mix.py
Labels: GSoC, stats

#19737 series : Added test for issue 14793
  sympy/series/tests/test_limits.py
Labels: limits, series

#19743 Add regression test for #19739
  sympy/series/tests/test_limits.py
Labels: limits, series

#19368 [WIP] Make classes in diffgeom module immutable
  doc/src/modules/diffgeom.rst
  sympy/core/tests/test_args.py
  sympy/diffgeom/__init__.py
  sympy/diffgeom/diffgeom.py
  sympy/diffgeom/rn.py
  sympy/diffgeom/tests/test_class_structure.py
  sympy/diffgeom/tests/test_diffgeom.py
  sympy/printing/latex.py
  sympy/printing/pretty/pretty.py
  sympy/printing/pretty/tests/test_pretty.py
  sympy/printing/repr.py
  sympy/printing/str.py
  sympy/printing/tests/test_latex.py
  sympy/printing/tests/test_repr.py
  sympy/printing/tests/test_str.py
Labels: diffgeom

#19390 [GSoC] Add TransferFunction, Series, Parallel and Feedback classes for control package
  doc/src/modules/physics/control/control.rst
  doc/src/modules/physics/control/index.rst
  doc/src/modules/physics/control/lti.rst
  doc/src/modules/physics/index.rst
  setup.py
  sympy/core/tests/test_args.py
  sympy/physics/control/__init__.py
  sympy/physics/control/lti.py
  sympy/physics/control/tests/__init__.py
  sympy/physics/control/tests/test_lti.py
  sympy/printing/latex.py
  sympy/printing/pretty/pretty.py
  sympy/printing/pretty/tests/test_pretty.py
  sympy/printing/tests/test_latex.py
  sympy/printing/tests/test_str.py
Labels: GSoC, physics.control

#19724 [GSoC] Added symbolic classes for Moment and Centralmoment
  sympy/core/tests/test_args.py
  sympy/stats/__init__.py
  sympy/stats/rv_interface.py
  sympy/stats/symbolic_probability.py
  sympy/stats/tests/test_symbolic_probability.py
Labels: GSoC, stats

#18696 [GSoC] Functions: Fixes errors in assumptions when rewriting RisingFactorial / FallingFactorial as gamma or factorial
  sympy/codegen/cfunctions.py
  sympy/concrete/products.py
  sympy/concrete/tests/test_products.py
  sympy/concrete/tests/test_sums_products.py
  sympy/core/basic.py
  sympy/functions/combinatorial/factorials.py
  sympy/functions/combinatorial/numbers.py
  sympy/functions/combinatorial/tests/test_comb_factorials.py
  sympy/functions/elementary/hyperbolic.py
  sympy/functions/special/beta_functions.py
  sympy/functions/special/error_functions.py
  sympy/functions/special/gamma_functions.py
  sympy/series/gruntz.py
  sympy/series/limits.py
  sympy/simplify/combsimp.py
  sympy/simplify/simplify.py
  sympy/simplify/tests/test_combsimp.py
  sympy/simplify/tests/test_gammasimp.py
  sympy/utilities/tests/test_wester.py
Labels: GSoC, functions

#19749 add 11672 test
  sympy/series/tests/test_limitseq.py
Labels: limits, series

#19733 [GSoC] Extending/Changing checkodesol, constants_renumber and linear_ode_to_matrix
  doc/src/modules/solvers/ode.rst
  sympy/solvers/ode/ode.py
  sympy/solvers/ode/subscheck.py
  sympy/solvers/ode/systems.py
  sympy/solvers/ode/tests/test_ode.py
  sympy/solvers/ode/tests/test_subscheck.py
  sympy/solvers/ode/tests/test_systems.py
Labels: GSoC, solvers.dsolve.system

#19741 [GSoC] Functions: Fixes periodicity of trigonometric function
  sympy/core/mod.py
  sympy/functions/elementary/tests/test_trigonometric.py
  sympy/functions/elementary/trigonometric.py
Labels: GSoC, functions

#19771 #19766 Fixes incorrect limit
  sympy/series/tests/test_limits.py
Labels: limits, series

#19734 [GSoC][WIP] Add Matrix Gamma distribution
  sympy/core/tests/test_args.py
  sympy/stats/__init__.py
  sympy/stats/matrix_distributions.py
  sympy/stats/random_matrix_models.py
  sympy/stats/rv.py
  sympy/stats/tests/test_matrix_distributions.py
  sympy/stats/tests/test_random_matrix.py
Labels: GSoC, stats

#19705 Fix handling of addition and multiplication of Dimensions for get_dimensional_dependencies
  sympy/physics/units/dimensions.py
  sympy/physics/units/tests/test_dimensions.py
Labels: physics

#19767 Modify sstrrepr printing of Str
  sympy/diffgeom/diffgeom.py
  sympy/printing/latex.py
  sympy/printing/pretty/pretty.py
  sympy/printing/pretty/tests/test_pretty.py
  sympy/printing/printer.py
  sympy/printing/str.py
  sympy/printing/tests/test_latex.py
  sympy/printing/tests/test_str.py
Labels: printing

#19783 Dagger() * IdentityOperator() now simplifies by default
  sympy/physics/quantum/dagger.py
  sympy/physics/quantum/operator.py
  sympy/physics/quantum/tests/test_dagger.py
  sympy/physics/quantum/tests/test_operator.py
Labels: physics.quantum

#19681 Adding classes to represent implicitly defined regions
  sympy/core/tests/test_args.py
  sympy/vector/__init__.py
  sympy/vector/implicitregion.py
  sympy/vector/tests/test_implicitregion.py
Labels: GSoC, vector

#19549 RST needs double backticks
  sympy/matrices/eigen.py
Labels: Documentation

#19818 Do not use SystemError
  bin/test_executable.py
  sympy/printing/preview.py
Labels: printing

#19713 Fix GeneratorsError for creating FractionField element with domain of PolynomialRing or FractionField
  sympy/polys/fields.py
  sympy/polys/tests/test_fields.py
Labels: polys

#19762 [GSoC] Dividing system of ODEs into sub-systems
  sympy/solvers/ode/systems.py
  sympy/solvers/ode/tests/test_ode.py
  sympy/solvers/ode/tests/test_systems.py
Labels: GSoC, solvers.dsolve.system

#19753 Added examples for hyper.appellf1 and Znm
  sympy/functions/special/hyper.py
  sympy/functions/special/spherical_harmonics.py
Labels: Documentation

#19611 printing: Show unsupported types in monospace font
  sympy/printing/latex.py
  sympy/printing/printer.py
  sympy/printing/tests/test_latex.py
Labels: printing, printing.latex

#19826 Added `MatrixSet` to represent set of Matrices
  sympy/core/tests/test_args.py
  sympy/matrices/__init__.py
  sympy/matrices/expressions/__init__.py
  sympy/matrices/expressions/matexpr.py
  sympy/matrices/expressions/tests/test_matexpr.py
Labels: GSoC, matrices

#19800 add a limit test to close issue 16708
  sympy/series/tests/test_limits.py
Labels: limits

#19805 add test to close 14037
  sympy/series/tests/test_residues.py
  sympy/series/tests/test_series.py
Labels: series

#19824 add test of issue 11407
  sympy/series/tests/test_series.py
Labels: series

#19842 Move MatrixSet to separate file
  doc/src/modules/matrices/expressions.rst
  sympy/core/tests/test_args.py
  sympy/matrices/expressions/__init__.py
  sympy/matrices/expressions/matexpr.py
  sympy/matrices/expressions/sets.py
  sympy/matrices/expressions/tests/test_sets.py
Labels: matrices.expressions

#19819 [GSoC]Change return type of `P` and `E` with `evaluate=False`
  sympy/stats/rv.py
  sympy/stats/tests/test_compound_rv.py
  sympy/stats/tests/test_continuous_rv.py
  sympy/stats/tests/test_discrete_rv.py
  sympy/stats/tests/test_finite_rv.py
  sympy/stats/tests/test_mix.py
  sympy/stats/tests/test_rv.py
  sympy/stats/tests/test_stochastic_process.py
Labels: GSoC, stats

#19795 [GSoC] Added Matrix Normal and Wishart Distribution
  sympy/core/tests/test_args.py
  sympy/stats/__init__.py
  sympy/stats/matrix_distributions.py
  sympy/stats/tests/test_matrix_distributions.py
Labels: GSoC, stats

#19851 DOC: complete missed edit in tutorial/gotchas.rst
  doc/src/tutorial/gotchas.rst
Labels: Documentation

#19844 Move special matrices out of matexpr.py
  sympy/core/tests/test_args.py
  sympy/matrices/expressions/__init__.py
  sympy/matrices/expressions/blockmatrix.py
  sympy/matrices/expressions/hadamard.py
  sympy/matrices/expressions/kronecker.py
  sympy/matrices/expressions/matadd.py
  sympy/matrices/expressions/matexpr.py
  sympy/matrices/expressions/matmul.py
  sympy/matrices/expressions/matpow.py
  sympy/matrices/expressions/permutation.py
  sympy/matrices/expressions/special.py
  sympy/matrices/expressions/tests/test_determinant.py
  sympy/matrices/expressions/tests/test_matadd.py
  sympy/matrices/expressions/tests/test_matexpr.py
  sympy/matrices/expressions/tests/test_matmul.py
  sympy/matrices/expressions/tests/test_permutation.py
  sympy/matrices/expressions/tests/test_sets.py
  sympy/matrices/expressions/tests/test_special.py
  sympy/matrices/expressions/tests/test_trace.py
Labels: matrices.expressions

#19853 Removed multiple importing of Abs
  sympy/simplify/simplify.py
Labels: simplify

#19808 [GSoC] Allow more than one RV in compound distribution
  sympy/stats/compound_rv.py
  sympy/stats/rv.py
  sympy/stats/tests/test_compound_rv.py
Labels: GSoC, stats

#19742 Support for generating code using numpy.logaddexp
  sympy/codegen/numpy_nodes.py
  sympy/codegen/rewriting.py
  sympy/codegen/tests/test_numpy_nodes.py
  sympy/codegen/tests/test_rewriting.py
  sympy/core/tests/test_args.py
  sympy/printing/pycode.py
  sympy/printing/tests/test_numpy.py
Labels: codegen

#19847 Backport #19376 to 1.6.x
  sympy/polys/factortools.py
  sympy/polys/sqfreetools.py
  sympy/polys/tests/test_polytools.py
Labels: polys

#19820 Tidy printing.preview slightly
  sympy/printing/preview.py
Labels: printing

#19860 Avoid infinite recursion for matrix rmul
  sympy/matrices/common.py
  sympy/matrices/tests/test_commonmatrix.py
Labels: matrices
