Repository sympy/sympy, pull requests merged in 2020-05, with the labels that each got.

#19215 Improve 2x2 block matrix inversion with off-diagonal invertible blocks
  sympy/assumptions/handlers/matrices.py
  sympy/assumptions/tests/test_matrices.py
  sympy/matrices/expressions/blockmatrix.py
  sympy/matrices/expressions/tests/test_blockmatrix.py
Labels: assumptions, matrices, matrices.expressions

#19184 refactor(test_ode.py): regression tests
  sympy/solvers/ode/tests/test_ode.py
  sympy/solvers/ode/tests/test_single.py
Labels: solvers, solvers.dsolve

#19235 Respect `inv_trig_style` in inverse hyperbolic trig functions
  sympy/printing/latex.py
  sympy/printing/tests/test_latex.py
Labels: printing

#19239 Display examples for plot_implicit
  sympy/plotting/plot_implicit.py
Labels: plotting

#19233 Remove expand_mul call in cholesky and LDLdecompisition
  sympy/matrices/decompositions.py
  sympy/matrices/tests/test_decompositions.py
  sympy/matrices/tests/test_matrices.py
Labels: matrices

#19192 Improve plot_parametric docs
  sympy/plotting/plot.py
Labels: Documentation, plotting

#19248 Fix holonomic
  sympy/holonomic/holonomic.py
Labels: holonomic

#19236 fix_holonomic caching error
  sympy/holonomic/holonomic.py
Labels: holonomic

#19214 STY: Remove trailing whitespace
  doc/man/isympy.1
  doc/src/modules/combinatorics/pc_groups.rst
  doc/src/modules/physics/mechanics/autolev_parser.rst
  doc/src/modules/physics/mechanics/sympy_mechanics_for_autolev_users.rst
  doc/src/modules/physics/mechanics/symsystem.rst
  doc/src/modules/polys/literature.rst
  doc/src/tutorial/manipulation.rst
  sympy/parsing/autolev/Autolev.g4
  sympy/utilities/mathml/data/mmltex.xsl
Labels: Code quality, Documentation

#18754 Added sampling methods of crv_types
  doc/src/modules/stats.rst
  sympy/stats/crv.py
  sympy/stats/crv_types.py
  sympy/stats/drv.py
  sympy/stats/frv.py
  sympy/stats/rv.py
  sympy/stats/tests/test_continuous_rv.py
  sympy/stats/tests/test_discrete_rv.py
  sympy/stats/tests/test_finite_rv.py
  sympy/stats/tests/test_rv.py
Labels: GSoC, stats

#19264 Don't restrict matplotlib version in travis.
  .travis.yml
Labels: Travis

#19254 Improvement_of_dup_zz_mignotte_bound(f, K)
  sympy/polys/factortools.py
  sympy/polys/tests/test_factortools.py
Labels: polys

#19270 perf(polys): don't create Basic instance for Poly
  sympy/polys/polytools.py
Labels: Performance, polys

#19273 [GSoC] Added Lomax and Bounded pareto distribution
  doc/src/modules/stats.rst
  sympy/core/tests/test_args.py
  sympy/stats/__init__.py
  sympy/stats/crv_types.py
  sympy/stats/tests/test_continuous_rv.py
Labels: GSoC, stats

#19260 refactoring tests which are marked as slow
  sympy/solvers/ode/tests/test_ode.py
  sympy/solvers/ode/tests/test_single.py
Labels: solvers, solvers.dsolve

#19272 symbolic spline
  sympy/functions/special/bsplines.py
  sympy/functions/special/tests/test_bsplines.py
Labels: PR: sympy's turn, functions

#19293 Sample from a list instead of a set for python 3.9 compatibility
  sympy/polys/modulargcd.py
Labels: polys

#19289 Set gitattribute to force lf for .sh files
  .gitattributes
Labels: Workflow

#19292 [GSoC] Series: Correcting incorrect limit evaluations based on different assumptions of the limit variable
  sympy/series/gruntz.py
  sympy/series/tests/test_limits.py
Labels: GSoC, limits, series

#19230 parsing(c_parser): added support for major data types and shorthand operators
  sympy/parsing/c/c_parser.py
  sympy/parsing/sym_expr.py
  sympy/parsing/tests/test_c_parser.py
  sympy/parsing/tests/test_sym_expr.py
Labels: parsing

#19297 [GSoC] Series: Fixing incorrect limit evaluations caused due to bug in rewriting
  sympy/series/gruntz.py
  sympy/series/tests/test_limits.py
Labels: GSoC, limits, series

#19301 When using bold mode to print matrices, leave subscripts as non-bold
  sympy/printing/latex.py
  sympy/printing/tests/test_latex.py
Labels: printing, printing.latex

#19303 Update bin/doctest to use argparse
  bin/doctest
Labels: Testing, Workflow

#18615 Run LaTeX build in silent mode
  bin/test_travis.sh
  doc/Makefile
Labels: Documentation

#19185 Added the non-constant coefficient homogenous solver
  doc/src/modules/solvers/ode.rst
  sympy/solvers/ode/ode.py
  sympy/solvers/ode/systems.py
  sympy/solvers/ode/tests/test_ode.py
  sympy/solvers/ode/tests/test_systems.py
Labels: solvers.dsolve, solvers.dsolve.system

#19296 Update bin/test to use argparse
  bin/test
Labels: Testing, Workflow

#19198 Use Python 3 syntax in utilities
  sympy/utilities/_compilation/__init__.py
  sympy/utilities/_compilation/availability.py
  sympy/utilities/_compilation/compilation.py
  sympy/utilities/_compilation/runners.py
  sympy/utilities/_compilation/tests/test_compilation.py
  sympy/utilities/_compilation/util.py
  sympy/utilities/autowrap.py
  sympy/utilities/codegen.py
  sympy/utilities/decorator.py
  sympy/utilities/enumerative.py
  sympy/utilities/exceptions.py
  sympy/utilities/iterables.py
  sympy/utilities/lambdify.py
  sympy/utilities/magic.py
  sympy/utilities/memoization.py
  sympy/utilities/misc.py
  sympy/utilities/pkgdata.py
  sympy/utilities/source.py
  sympy/utilities/tests/test_iterables.py
  sympy/utilities/tests/test_lambdify.py
  sympy/utilities/tests/test_pickling.py
  sympy/utilities/tests/test_source.py
  sympy/utilities/tests/test_wester.py
  sympy/utilities/timeutils.py
Labels: Dropping Python 2

#19177 Add more rules and tests in Mathematica parser.
  sympy/parsing/mathematica.py
  sympy/parsing/tests/test_mathematica.py
Labels: parsing

#19306 Define Is meromorphic
  sympy/core/add.py
  sympy/core/expr.py
  sympy/core/function.py
  sympy/core/mul.py
  sympy/core/power.py
  sympy/core/tests/test_expr.py
  sympy/functions/elementary/complexes.py
  sympy/functions/elementary/exponential.py
  sympy/functions/elementary/trigonometric.py
  sympy/functions/special/gamma_functions.py
Labels: core, functions

#19295 [GSoC] Rename doit to expand in symbolic_probability.py
  sympy/stats/error_prop.py
  sympy/stats/symbolic_probability.py
  sympy/stats/tests/test_symbolic_probability.py
Labels: GSoC, stats

#19345 19326: ordering subs dict (for 1.6 branch)
  sympy/core/basic.py
  sympy/core/compatibility.py
  sympy/core/tests/test_subs.py
Labels: core

#19357 Put brackets around python version for asv conf
  asv.conf.travis.json
Labels: Workflow

#19316 maint(fix): Add deprecation warning for accidental imports
  sympy/__init__.py
  sympy/deprecated/tests/test_deprecated_imports.py
Labels: Uncategorised

#19344 Avoid repeated checks for superscripts in parenthesize_super
  sympy/printing/latex.py
Labels: printing, printing.latex

#19355 Apply connected components decomposition for computing eigenvalues
  sympy/matrices/eigen.py
  sympy/matrices/tests/test_eigen.py
Labels: matrices

#19348 Fix the latex representation of a 1-tuple
  sympy/interactive/tests/test_ipythonprinting.py
  sympy/printing/latex.py
  sympy/printing/tests/test_latex.py
Labels: printing

#19339 Add companion matrix
  doc/src/modules/matrices/expressions.rst
  sympy/core/tests/test_args.py
  sympy/matrices/common.py
  sympy/matrices/expressions/__init__.py
  sympy/matrices/expressions/companion.py
  sympy/matrices/expressions/tests/test_companion.py
  sympy/matrices/tests/test_commonmatrix.py
Labels: matrices, matrices.expressions

#19346 Fixed: srepr not printing dict and set properly
  sympy/printing/repr.py
  sympy/printing/tests/test_repr.py
Labels: printing

#19325 refactored examples for test_separable
  sympy/solvers/ode/tests/test_ode.py
  sympy/solvers/ode/tests/test_single.py
Labels: solvers

#19319 Add examples of rank deficient QR decomposition
  sympy/matrices/decompositions.py
Labels: matrices

#19376 Fixed typo in factortools.py and fixed issues in sqfreetools.py
  sympy/polys/factortools.py
  sympy/polys/sqfreetools.py
  sympy/polys/tests/test_polytools.py
Labels: polys

#19261 count_ops and matching related changes
  sympy/codegen/tests/test_array_utils.py
  sympy/core/basic.py
  sympy/core/compatibility.py
  sympy/core/function.py
  sympy/core/mul.py
  sympy/core/operations.py
  sympy/core/power.py
  sympy/core/symbol.py
  sympy/core/tests/test_basic.py
  sympy/core/tests/test_count_ops.py
  sympy/core/tests/test_expr.py
  sympy/core/tests/test_function.py
  sympy/core/tests/test_match.py
  sympy/core/tests/test_subs.py
  sympy/functions/special/tensor_functions.py
  sympy/integrals/tests/test_rationaltools.py
  sympy/matrices/expressions/applyfunc.py
  sympy/matrices/expressions/tests/test_applyfunc.py
  sympy/matrices/expressions/tests/test_derivatives.py
  sympy/matrices/expressions/tests/test_funcmatrix.py
  sympy/physics/quantum/cg.py
  sympy/polys/tests/test_partfrac.py
  sympy/printing/pretty/tests/test_pretty.py
  sympy/printing/tests/test_latex.py
  sympy/printing/tests/test_repr.py
  sympy/printing/tests/test_str.py
  sympy/sets/sets.py
  sympy/sets/tests/test_fancysets.py
  sympy/sets/tests/test_setexpr.py
  sympy/sets/tests/test_sets.py
  sympy/solvers/tests/test_solveset.py
  sympy/stats/tests/test_rv.py
  sympy/utilities/tests/test_wester.py
Labels: PR: sympy's turn, concrete, core

#19304 [GSoC] Added `is_random` to check random expressions of stats
  sympy/stats/crv.py
  sympy/stats/crv_types.py
  sympy/stats/drv_types.py
  sympy/stats/error_prop.py
  sympy/stats/frv_types.py
  sympy/stats/random_matrix_models.py
  sympy/stats/rv.py
  sympy/stats/rv_interface.py
  sympy/stats/stochastic_process_types.py
  sympy/stats/symbolic_probability.py
  sympy/stats/tests/test_rv.py
Labels: GSoC, stats

#19290 [GSoC] Fixes Symbolic Expectation and doit method
  sympy/stats/rv.py
  sympy/stats/symbolic_probability.py
  sympy/stats/tests/test_symbolic_probability.py
Labels: GSoC, stats

#19369 [GSoC] Core: Fixes _eval_nseries() of Mul
  sympy/core/expr.py
  sympy/core/mul.py
  sympy/core/tests/test_function.py
  sympy/functions/elementary/exponential.py
  sympy/functions/special/tests/test_gamma_functions.py
  sympy/series/residues.py
  sympy/series/tests/test_limits.py
  sympy/series/tests/test_nseries.py
  sympy/series/tests/test_series.py
Labels: GSoC, core, series

#19382 Fix wrong computations of Fourier series
  sympy/series/fourier.py
  sympy/series/tests/test_fourier.py
Labels: series

#19333 Cleanup Printer.emptyPrinter
  sympy/printing/latex.py
  sympy/printing/pretty/pretty.py
  sympy/printing/printer.py
Labels: printing, printing.latex, printing.pretty

#19424 physics.quantum: Respect local printer settings in `_sympystr`.
  sympy/physics/quantum/anticommutator.py
  sympy/physics/quantum/commutator.py
  sympy/physics/quantum/innerproduct.py
  sympy/physics/quantum/operator.py
  sympy/physics/quantum/tensorproduct.py
Labels: physics.quantum, printing

#19389 Fix latex printing for types implementing the _latex hook
  sympy/interactive/printing.py
  sympy/interactive/tests/test_ipythonprinting.py
Labels: interactive

#19197 Codegen array parse matrices fixes
  sympy/codegen/array_utils.py
  sympy/codegen/tests/test_array_utils.py
  sympy/matrices/expressions/matexpr.py
  sympy/printing/tests/test_numpy.py
  sympy/printing/tests/test_tensorflow.py
Labels: codegen

#19431 Unevaluated collect with symbols in factors
  sympy/simplify/radsimp.py
  sympy/simplify/tests/test_radsimp.py
Labels: simplify

#19437 Sets: fix _infimum_key (add evalf)
  sympy/sets/sets.py
  sympy/sets/tests/test_sets.py
Labels: sets

#19443 Add test for float matrix diagonalization
  sympy/matrices/tests/test_eigen.py
Labels: matrices

#19342 [GSoC] Sampling from external libraries for all RVs
  sympy/stats/crv.py
  sympy/stats/drv.py
  sympy/stats/drv_types.py
  sympy/stats/frv.py
  sympy/stats/frv_types.py
  sympy/stats/rv.py
  sympy/stats/tests/test_continuous_rv.py
  sympy/stats/tests/test_discrete_rv.py
  sympy/stats/tests/test_finite_rv.py
  sympy/stats/tests/test_rv.py
Labels: GSoC, stats

#19447 [GSoC] Series: Adding required testcases
  sympy/series/tests/test_limits.py
Labels: GSoC, limits, series

#19452 [GSoC] Add test of an issue
  sympy/stats/tests/test_rv.py
Labels: GSoC, stats

#19432 [GSoC] Series: Using is_meromorphic() for limit evaluations
  sympy/core/add.py
  sympy/core/expr.py
  sympy/core/power.py
  sympy/core/tests/test_expr.py
  sympy/functions/elementary/trigonometric.py
  sympy/functions/special/gamma_functions.py
  sympy/series/limits.py
  sympy/series/tests/test_limits.py
Labels: GSoC, limits, series

#19074 Modify _uniquely_named_symbols
  sympy/core/symbol.py
  sympy/core/tests/test_symbol.py
  sympy/geometry/ellipse.py
  sympy/matrices/determinant.py
  sympy/matrices/matrices.py
  sympy/matrices/solvers.py
  sympy/sets/sets.py
  sympy/sets/tests/test_sets.py
  sympy/utilities/lambdify.py
Labels: Uncategorised

#19461 [GSoC] Functions: Corrects the _eval_as_leading_term() method of tan and sec functions
  sympy/functions/elementary/trigonometric.py
  sympy/series/limits.py
  sympy/series/tests/test_limits.py
Labels: GSoC, functions, limits, series

#19395 Add support for exp in LaTeX parsing
  sympy/parsing/latex/LaTeX.g4
  sympy/parsing/latex/_antlr/latexlexer.py
  sympy/parsing/latex/_antlr/latexparser.py
  sympy/parsing/latex/_parse_latex_antlr.py
  sympy/parsing/tests/test_latex.py
Labels: parsing.latex

#19450 fix(core): Keep identities when evaluate=False
  sympy/core/expr.py
  sympy/core/mul.py
  sympy/core/operations.py
  sympy/core/tests/test_arit.py
  sympy/core/tests/test_parameters.py
  sympy/core/tests/test_sympify.py
  sympy/parsing/latex/_parse_latex_antlr.py
  sympy/parsing/tests/test_latex.py
  sympy/printing/latex.py
  sympy/printing/pretty/pretty.py
  sympy/printing/pretty/tests/test_pretty.py
  sympy/printing/str.py
  sympy/printing/tests/test_latex.py
  sympy/printing/tests/test_str.py
  sympy/simplify/radsimp.py
  sympy/simplify/tests/test_radsimp.py
Labels: core

#19438 Add script to update docs repo
  release/update_docs.py
Labels: Documentation, Releasing
