Repository sympy/sympy, pull requests merged in 2020-10, with the labels that each got.

#19967 Clean up experimental_lambdify
  sympy/plotting/experimental_lambdify.py
Labels: plotting

#20131 Add warning for all possible paths and cyclic path
  sympy/physics/vector/point.py
  sympy/physics/vector/tests/test_point.py
Labels: physics.vector

#20167 Added required section in sympy.core.
  sympy/core/relational.py
  sympy/core/rules.py
  sympy/core/singleton.py
  sympy/core/symbol.py
  sympy/core/trace.py
Labels: GSoD, core

#20174 Add a link to 2020 GSoC report
  doc/src/aboutus.rst
Labels: GSoC

#20135 Make signatures of AssocOp, MatAdd, MatMul same
  sympy/core/add.py
  sympy/core/operations.py
  sympy/matrices/expressions/matadd.py
  sympy/matrices/expressions/matmul.py
Labels: core

#20119 Used _symbol_converter for optimizing code
  sympy/stats/joint_rv.py
  sympy/stats/rv.py
Labels: stats

#20118 Docs: Fix docstring typo in numbers.py
  sympy/core/numbers.py
Labels: Documentation, core.numbers

#19958 Round-trippable floats in MathML printing
  sympy/printing/mathml.py
  sympy/printing/tests/test_mathml.py
Labels: printing, printing.mathml

#19998 [GSoC] Simplification for the solutions of systems of ODEs
  sympy/solvers/ode/ode.py
  sympy/solvers/ode/systems.py
  sympy/solvers/ode/tests/test_systems.py
Labels: GSoC, solvers.dsolve.system

#20172 Fix vector_integrate docstring
  sympy/vector/integrals.py
Labels: Documentation, vector

#20023 Remove python2 from plotting using pyup_dirs
  sympy/plotting/experimental_lambdify.py
  sympy/plotting/intervalmath/interval_arithmetic.py
  sympy/plotting/intervalmath/interval_membership.py
  sympy/plotting/intervalmath/lib_interval.py
  sympy/plotting/plot.py
  sympy/plotting/plot_implicit.py
  sympy/plotting/pygletplot/color_scheme.py
  sympy/plotting/pygletplot/managed_window.py
  sympy/plotting/pygletplot/plot.py
  sympy/plotting/pygletplot/plot_axes.py
  sympy/plotting/pygletplot/plot_camera.py
  sympy/plotting/pygletplot/plot_controller.py
  sympy/plotting/pygletplot/plot_curve.py
  sympy/plotting/pygletplot/plot_interval.py
  sympy/plotting/pygletplot/plot_mode.py
  sympy/plotting/pygletplot/plot_mode_base.py
  sympy/plotting/pygletplot/plot_modes.py
  sympy/plotting/pygletplot/plot_object.py
  sympy/plotting/pygletplot/plot_rotation.py
  sympy/plotting/pygletplot/plot_surface.py
  sympy/plotting/pygletplot/plot_window.py
  sympy/plotting/pygletplot/util.py
  sympy/plotting/textplot.py
Labels: Dropping Python 2

#20183 drop py2 from physics
  sympy/physics/mechanics/functions.py
  sympy/physics/mechanics/kane.py
  sympy/physics/mechanics/lagrange.py
  sympy/physics/mechanics/linearize.py
  sympy/physics/mechanics/particle.py
  sympy/physics/mechanics/rigidbody.py
  sympy/physics/mechanics/system.py
  sympy/physics/mechanics/tests/test_kane3.py
  sympy/physics/mechanics/tests/test_system.py
Labels: Dropping Python 2, physics

#20181 drop py2 from stats
  sympy/stats/compound_rv.py
  sympy/stats/crv.py
  sympy/stats/crv_types.py
  sympy/stats/drv.py
  sympy/stats/drv_types.py
  sympy/stats/error_prop.py
  sympy/stats/frv.py
  sympy/stats/frv_types.py
  sympy/stats/joint_rv.py
  sympy/stats/random_matrix.py
  sympy/stats/random_matrix_models.py
  sympy/stats/rv.py
  sympy/stats/rv_interface.py
  sympy/stats/stochastic_process.py
  sympy/stats/stochastic_process_types.py
  sympy/stats/tests/test_continuous_rv.py
  sympy/stats/tests/test_finite_rv.py
  sympy/stats/tests/test_rv.py
Labels: Dropping Python 2, stats

#20150 Added symbol support
  sympy/stats/stochastic_process_types.py
  sympy/stats/tests/test_stochastic_process.py
Labels: stats

#20115 Support frac in pycode printers
  sympy/printing/pycode.py
  sympy/printing/tests/test_pycode.py
Labels: printing

#20178 GSoD Combinatorics
  sympy/combinatorics/group_constructs.py
  sympy/combinatorics/homomorphisms.py
  sympy/combinatorics/named_groups.py
  sympy/combinatorics/partitions.py
Labels: GSoD

#20184 Drop python 2 from Vector
  sympy/vector/integrals.py
  sympy/vector/tests/test_field_functions.py
Labels: Dropping Python 2

#20159 NotImplemented for matrix and tensor addition
  sympy/matrices/common.py
  sympy/matrices/tests/test_commonmatrix.py
  sympy/tensor/array/ndim_array.py
  sympy/tensor/array/tests/test_ndim_array.py
Labels: matrices, tensor

#20120 Handmade distributions have the option not to check for validity
  sympy/stats/crv.py
  sympy/stats/crv_types.py
  sympy/stats/drv_types.py
  sympy/stats/frv_types.py
  sympy/stats/tests/test_continuous_rv.py
  sympy/stats/tests/test_discrete_rv.py
  sympy/stats/tests/test_finite_rv.py
Labels: stats

#19982 Upgrades to the LaTeX grammar and Parser
  sympy/parsing/latex/LaTeX.g4
  sympy/parsing/latex/_antlr/latexlexer.py
  sympy/parsing/latex/_antlr/latexparser.py
  sympy/parsing/latex/_parse_latex_antlr.py
  sympy/parsing/tests/test_latex.py
Labels: parsing, parsing.latex

#20195 Added Communication Classes to Discrete Markov Chains
  sympy/stats/stochastic_process_types.py
  sympy/stats/tests/test_stochastic_process.py
Labels: stats

#19554 maint(sympy): Remove deprecated imports
  sympy/__init__.py
  sympy/deprecated/tests/test_deprecated_imports.py
Labels: core

#20186 Added required sections in sympy.combinatorics
  sympy/combinatorics/pc_groups.py
  sympy/combinatorics/perm_groups.py
  sympy/combinatorics/permutations.py
Labels: GSoD

#20188 parsing(c_parser): added complete support for while loop in C parser
  sympy/parsing/c/c_parser.py
  sympy/parsing/tests/test_c_parser.py
Labels: parsing

#20214 Added required sections in sympy.combinatorics
  sympy/combinatorics/polyhedron.py
  sympy/combinatorics/subsets.py
  sympy/combinatorics/tensor_can.py
  sympy/combinatorics/testutil.py
  sympy/combinatorics/util.py
Labels: GSoD

#20240 matrices: set the default value for dotprodsimp to None
  sympy/matrices/tests/test_matrices.py
  sympy/matrices/utilities.py
  sympy/solvers/ode/tests/test_systems.py
  sympy/utilities/tests/test_wester.py
Labels: Performance, matrices

#20187 codegen(cnode): Improved and extended cnodes
  sympy/codegen/cnodes.py
  sympy/codegen/tests/test_cnodes.py
  sympy/printing/c.py
Labels: codegen

#20213 Allow multiple RandomIndexedSymbols in Probability Queries
  sympy/stats/stochastic_process_types.py
  sympy/stats/tests/test_stochastic_process.py
Labels: stats

#20238 Added canonical form functions for Discrete Markov Chains
  sympy/stats/stochastic_process_types.py
  sympy/stats/tests/test_stochastic_process.py
Labels: stats

#20255 Added required sections in sympy.simplify.
  sympy/simplify/ratsimp.py
  sympy/simplify/simplify.py
  sympy/simplify/sqrtdenest.py
  sympy/simplify/trigsimp.py
Labels: GSoD

#20193 Array expressions: parse_matrix_expression is now able to parse traces of matrices
  sympy/codegen/array_utils.py
  sympy/codegen/tests/test_array_utils.py
Labels: codegen

#20278 maint(codegen): XFAIL tests in codegen
  sympy/codegen/tests/test_fnodes.py
Labels: Uncategorised

#20250 Restore sympy.printing.{ccode,fcode,cxxcode} for backwards compatibility
  sympy/printing/ccode.py
  sympy/printing/cxxcode.py
  sympy/printing/fcode.py
  sympy/printing/tests/test_c.py
  sympy/printing/tests/test_cxx.py
  sympy/printing/tests/test_fortran.py
  sympy/testing/runtests.py
Labels: printing

#20242 Added required sections in sympy.simplify
  sympy/simplify/combsimp.py
  sympy/simplify/cse_main.py
  sympy/simplify/epathtools.py
  sympy/simplify/fu.py
  sympy/simplify/gammasimp.py
  sympy/simplify/hyperexpand.py
  sympy/simplify/powsimp.py
  sympy/simplify/radsimp.py
Labels: GSoD

#20260 Increased test coverage for geometry module
  sympy/geometry/curve.py
  sympy/geometry/tests/test_curve.py
  sympy/geometry/tests/test_ellipse.py
  sympy/geometry/tests/test_entity.py
  sympy/geometry/tests/test_parabola.py
  sympy/geometry/tests/test_plane.py
  sympy/geometry/tests/test_point.py
  sympy/geometry/tests/test_polygon.py
Labels: geometry

#20280 Restore sympy.printing.{ccode,fcode,cxxcode} for backwards compatibility (1.7 branch)
  sympy/codegen/tests/test_fnodes.py
  sympy/parsing/tests/test_c_parser.py
  sympy/printing/ccode.py
  sympy/printing/cxxcode.py
  sympy/printing/fcode.py
  sympy/printing/tests/test_c.py
  sympy/printing/tests/test_cxx.py
  sympy/printing/tests/test_fortran.py
  sympy/testing/runtests.py
Labels: codegen

#20287 Document ratsimpmodprime
  doc/src/modules/simplify/simplify.rst
  sympy/simplify/ratsimp.py
Labels: Documentation, simplify

#20248 Removed deprecation warning for swapped arguments in kanes_equations.
  sympy/physics/mechanics/kane.py
  sympy/physics/mechanics/tests/test_kane.py
  sympy/physics/mechanics/tests/test_kane2.py
  sympy/physics/mechanics/tests/test_kane3.py
  sympy/physics/mechanics/tests/test_linearize.py
Labels: physics.mechanics

#20297 maint(ci): use 30 minute timeout for conda
  .travis.yml
Labels: Travis

#20296 Increase time out limit (1.7 branch)
  .travis.yml
Labels: Travis

#20293 Fixed lambdify usage in stats
  bin/test_travis.sh
  sympy/stats/crv.py
  sympy/stats/drv.py
  sympy/stats/tests/test_continuous_rv.py
  sympy/stats/tests/test_stochastic_process.py
Labels: stats

#20302 Fixed lambdify usage in stats (1.7 branch)
  bin/test_travis.sh
  sympy/stats/crv.py
  sympy/stats/drv.py
  sympy/stats/tests/test_continuous_rv.py
  sympy/stats/tests/test_stochastic_process.py
Labels: stats, utilities.lambdify

#20309 maint(docs): use xelatex for latex docs build (1.7 branch)
  doc/src/documentation-style-guide.rst
  release/rever.xsh
Labels: Documentation, Releasing

#20310 maint: fix version in release.py
  sympy/release.py
Labels: Uncategorised

#20316 maint(docs): use xelatex for latex docs build
  release/rever.xsh
Labels: Documentation, Releasing

#20259 Added required sections in sympy.crypto.
  sympy/crypto/crypto.py
Labels: GSoD, crypto

#20267 refactor(test_ode.py): 1st_exact examples
  sympy/solvers/ode/tests/test_ode.py
  sympy/solvers/ode/tests/test_single.py
Labels: solvers.dsolve

#20175 Comparing matrix with object
  sympy/matrices/dense.py
  sympy/matrices/sparse.py
  sympy/matrices/tests/test_densearith.py
Labels: matrices

#20273 Fixed is_regular and is_absorbing_chain for Discrete Markov Chains
  sympy/stats/stochastic_process_types.py
  sympy/stats/tests/test_stochastic_process.py
Labels: stats

#20336 refactored examples from issues related to undetermined_coefficients
  sympy/solvers/ode/tests/test_ode.py
  sympy/solvers/ode/tests/test_single.py
Labels: solvers, solvers.dsolve
