Repository sympy/sympy, pull requests merged in 2021-02, with the labels that each got.

#20863 Core: removed threshold on difference of approximation in get_integer_part
  sympy/core/evalf.py
  sympy/core/tests/test_evalf.py
  sympy/functions/elementary/integers.py
Labels: core.evalf, functions

#20895 Array expressions: contraction indices with nested additions
  sympy/codegen/array_utils.py
  sympy/codegen/tests/test_array_utils.py
Labels: codegen

#20868 Fix the printing of the vertical bar in ImageSet, ConditionSet, and ComplexRegion
  doc/src/modules/solvers/solveset.rst
  doc/src/tutorial/solvers.rst
  sympy/printing/latex.py
  sympy/printing/pretty/pretty.py
  sympy/printing/pretty/tests/test_pretty.py
  sympy/printing/tests/test_latex.py
Labels: printing, sets

#20912 Fixed a bug in primetest.py -> is_gaussian_prime
  sympy/ntheory/primetest.py
Labels: ntheory

#20318 Break RefrenceFrame.orient() into seperate methods.
  sympy/physics/vector/frame.py
  sympy/physics/vector/tests/test_frame.py
Labels: physics

#20922 Implemented function returning Wilkinson Matrix
  sympy/matrices/common.py
  sympy/matrices/tests/test_commonmatrix.py
Labels: matrices

#20741 Make Matrix expressions simplification possible
  sympy/matrices/expressions/matmul.py
  sympy/matrices/expressions/tests/test_matexpr.py
  sympy/printing/tests/test_str.py
Labels: matrices, matrices.expressions

#20569 Added central, generalized incomplete and regularized beta functions
  sympy/__init__.py
  sympy/core/function.py
  sympy/core/tests/test_args.py
  sympy/functions/__init__.py
  sympy/functions/special/beta_functions.py
  sympy/functions/special/tests/test_beta_functions.py
  sympy/printing/latex.py
  sympy/printing/pretty/pretty.py
  sympy/printing/pycode.py
  sympy/utilities/lambdify.py
  sympy/utilities/tests/test_lambdify.py
Labels: functions

#20926 refactor(assumptions): remove _extract_facts()
  sympy/assumptions/ask.py
  sympy/assumptions/tests/test_assumptions_2.py
Labels: assumptions

#20906 polys: make is_disjoint strict
  sympy/polys/rootisolation.py
  sympy/polys/tests/test_rootoftools.py
  sympy/solvers/tests/test_solvers.py
Labels: polys

#20911 Implemented function returning upper and lower triangular part of a matrix
  sympy/matrices/common.py
  sympy/matrices/tests/test_commonmatrix.py
Labels: matrices

#20803 Added _eval_as_leading_term in floor and ceiling
  sympy/functions/elementary/integers.py
  sympy/series/tests/test_limits.py
Labels: series

#20928 solvers: modify symbols ordering in _solve_system
  sympy/solvers/solvers.py
  sympy/solvers/tests/test_solveset.py
Labels: solvers

#20780 feat(polys): Add sparse implementation of DomainMatrix
  sympy/polys/agca/extensions.py
  sympy/polys/domains/gaussiandomains.py
  sympy/polys/matrices/ddm.py
  sympy/polys/matrices/domainmatrix.py
  sympy/polys/matrices/eigen.py
  sympy/polys/matrices/linsolve.py
  sympy/polys/matrices/sdm.py
  sympy/polys/matrices/tests/test_ddm.py
  sympy/polys/matrices/tests/test_domainmatrix.py
  sympy/polys/matrices/tests/test_eigen.py
  sympy/polys/matrices/tests/test_sdm.py
  sympy/polys/polyclasses.py
  sympy/polys/solvers.py
  sympy/solvers/solveset.py
Labels: matrices, polys, solvers.solveset

#20925 added _eval_derivative for products
  sympy/concrete/products.py
  sympy/concrete/tests/test_products.py
Labels: concrete

#20637 doc(polys): explain the domain system
  doc/src/modules/polys/domainsintro.rst
  doc/src/modules/polys/domainsref.rst
  doc/src/modules/polys/index.rst
  doc/src/modules/polys/internals.rst
  doc/src/modules/polys/reference.rst
  sympy/polys/constructor.py
  sympy/polys/domains/algebraicfield.py
  sympy/polys/domains/domain.py
  sympy/polys/domains/domainelement.py
  sympy/polys/domains/finitefield.py
  sympy/polys/domains/gaussiandomains.py
  sympy/polys/domains/gmpyintegerring.py
  sympy/polys/domains/gmpyrationalfield.py
  sympy/polys/domains/integerring.py
  sympy/polys/domains/pythonintegerring.py
  sympy/polys/domains/pythonrational.py
  sympy/polys/domains/pythonrationalfield.py
  sympy/polys/domains/rationalfield.py
  sympy/polys/fields.py
  sympy/polys/polytools.py
Labels: polys

#20950 more work on transitioning from exp(x) to Pow(E, x)
  sympy/core/expr.py
  sympy/core/function.py
  sympy/core/power.py
  sympy/core/tests/test_function.py
  sympy/core/tests/test_power.py
  sympy/functions/elementary/complexes.py
  sympy/functions/elementary/tests/test_complexes.py
  sympy/functions/elementary/tests/test_exponential.py
Labels: core

#20942 Better support for rewriting diagonal array expressions into contractions
  sympy/codegen/array_utils.py
  sympy/codegen/tests/test_array_utils.py
  sympy/core/tests/test_args.py
  sympy/tensor/array/expressions/array_expressions.py
  sympy/tensor/array/expressions/tests/test_array_expressions.py
Labels: tensor

#20820 Added dcumentation for ecm and qs functions
  doc/src/modules/ntheory.rst
Labels: Documentation, ntheory

#20952 Changed years in LICENSE
  LICENSE
Labels: Uncategorised

#20947 Include release note examples in PR template.
  PULL_REQUEST_TEMPLATE.md
Labels: Workflow

#20754 Added checks in _eval_as_leading_term and _eval_nseries
  sympy/functions/elementary/complexes.py
  sympy/series/tests/test_gruntz.py
  sympy/series/tests/test_limits.py
  sympy/series/tests/test_nseries.py
Labels: core, series

#20867 Corrected paramateric_region_list and the tests using the method
  doc/src/modules/vector/vector_integration.rst
  sympy/vector/integrals.py
  sympy/vector/parametricregion.py
  sympy/vector/tests/test_integrals.py
Labels: vector

#20907 doc: fixed a typo in Matrix.eigenvects()
  doc/src/tutorial/matrices.rst
Labels: matrices

#20964 fix(solvers): fix corner cases in linsolve
  sympy/polys/matrices/linsolve.py
  sympy/polys/matrices/tests/test_linsolve.py
  sympy/solvers/solveset.py
  sympy/solvers/tests/test_solveset.py
Labels: solvers.solveset

#20939 Fixed OverflowError in plot
  sympy/plotting/experimental_lambdify.py
Labels: plotting

#20994 Added a docstring and tests for ReferenceFrame._dict_list().
  sympy/physics/vector/frame.py
  sympy/physics/vector/tests/test_frame.py
Labels: physics.vector

#20888 Added aseries support for error functions
  sympy/core/expr.py
  sympy/functions/special/error_functions.py
  sympy/functions/special/tests/test_error_functions.py
Labels: GSoC, series

#20965 feat(assumptions) : introduce Q.eq and Q.ne
  setup.py
  sympy/assumptions/__init__.py
  sympy/assumptions/ask.py
  sympy/assumptions/ask_generated.py
  sympy/assumptions/assume.py
  sympy/assumptions/handlers/common.py
  sympy/assumptions/refine.py
  sympy/assumptions/relation/__init__.py
  sympy/assumptions/relation/binrel.py
  sympy/assumptions/relation/equality.py
  sympy/assumptions/relation/simplify.py
  sympy/core/function.py
  sympy/core/numbers.py
  sympy/core/relational.py
  sympy/core/tests/test_args.py
  sympy/printing/latex.py
  sympy/printing/pretty/pretty.py
  sympy/printing/str.py
Labels: assumptions

#20817 changes in doc solveset --> substitution
  sympy/solvers/solveset.py
Labels: Documentation

#21009 Make Predicate.eval() not search for next dispatched function when None is returned
  sympy/assumptions/assume.py
  sympy/assumptions/handlers/ntheory.py
  sympy/assumptions/handlers/order.py
  sympy/assumptions/handlers/sets.py
Labels: assumptions
