Repository sympy/sympy, pull requests merged in 2021-04, with the labels that each got.

#21171 Patched the latex printing error in _print_SingularityFunction()
  sympy/printing/latex.py
  sympy/printing/tests/test_latex.py
Labels: printing

#21146 Allows internal representation of DomainMatrix to be both sparse and dense
  doc/src/modules/polys/domainmatrix.rst
  sympy/polys/matrices/ddm.py
  sympy/polys/matrices/domainmatrix.py
  sympy/polys/matrices/exceptions.py
  sympy/polys/matrices/sdm.py
  sympy/polys/matrices/tests/test_ddm.py
  sympy/polys/matrices/tests/test_domainmatrix.py
  sympy/polys/matrices/tests/test_sdm.py
Labels: polys

#21156 Fixes (solvers) : `isolve` ,`solveset` solves relational with integer domain
  sympy/functions/elementary/piecewise.py
  sympy/integrals/tests/test_meijerint.py
  sympy/integrals/tests/test_transforms.py
  sympy/integrals/transforms.py
  sympy/sets/sets.py
  sympy/sets/tests/test_sets.py
  sympy/solvers/inequalities.py
  sympy/solvers/solveset.py
  sympy/solvers/tests/test_inequalities.py
  sympy/solvers/tests/test_solveset.py
Labels: solvers

#21198 feat(assumptions) : remove Q.is_true wrapping over relational classes
  sympy/assumptions/ask.py
  sympy/assumptions/assume.py
  sympy/assumptions/predicates/common.py
  sympy/assumptions/relation/binrel.py
  sympy/assumptions/tests/test_assumptions_2.py
  sympy/assumptions/tests/test_refine.py
  sympy/logic/tests/test_boolalg.py
  sympy/parsing/tests/test_sympy_parser.py
  sympy/utilities/tests/test_wester.py
Labels: assumptions

#21243 refactor(assumptions) : enhance _old_assump_replacer
  sympy/assumptions/sathandlers.py
Labels: assumptions

#21169 perf(printing): make print_seq O(n) rather than quadratic
  sympy/printing/pretty/pretty.py
Labels: printing, printing.pretty

#21242 fix(assumptions) : Fix infinite query
  sympy/assumptions/handlers/calculus.py
  sympy/assumptions/handlers/ntheory.py
  sympy/assumptions/handlers/order.py
  sympy/assumptions/handlers/sets.py
  sympy/assumptions/predicates/calculus.py
  sympy/assumptions/predicates/order.py
  sympy/assumptions/tests/test_query.py
Labels: assumptions

#21071 Support invert_complex(x**r, 0, x)
  sympy/solvers/solveset.py
  sympy/solvers/tests/test_solveset.py
Labels: solvers.solveset

#21235 feat(core) : introduce AssumptionsWrapper
  sympy/assumptions/ask.py
  sympy/assumptions/tests/test_wrapper.py
  sympy/assumptions/wrapper.py
  sympy/core/relational.py
  sympy/core/tests/test_args.py
  sympy/core/tests/test_relational.py
Labels: assumptions, core

#21259 Improved as_relational for Range #21201
  sympy/sets/fancysets.py
  sympy/sets/tests/test_fancysets.py
  sympy/solvers/tests/test_inequalities.py
Labels: sets, solvers

#21276 updates to `unrad`, `continuous_domain`, `roots_(cubic, quartic, quintic)`
  sympy/calculus/tests/test_util.py
  sympy/calculus/util.py
  sympy/polys/polyroots.py
  sympy/polys/polytools.py
  sympy/polys/tests/test_polyroots.py
  sympy/polys/tests/test_polytools.py
  sympy/solvers/solvers.py
  sympy/solvers/solveset.py
  sympy/solvers/tests/test_solvers.py
  sympy/solvers/tests/test_solveset.py
  sympy/stats/tests/test_continuous_rv.py
Labels: PR: sympy's turn

#21279 feat(assumptions): reorganize facts for new assumptions
  bin/ask_update.py
  sympy/assumptions/ask.py
  sympy/assumptions/ask_generated.py
  sympy/assumptions/cnf.py
  sympy/assumptions/facts.py
  sympy/assumptions/handlers/calculus.py
  sympy/assumptions/handlers/order.py
  sympy/assumptions/handlers/sets.py
  sympy/assumptions/predicates/calculus.py
  sympy/assumptions/predicates/order.py
  sympy/assumptions/sathandlers.py
  sympy/assumptions/tests/test_query.py
  sympy/core/tests/test_args.py
Labels: assumptions

#20847 Remove args and func overriding of AppliedPredicate
  doc/src/special_topics/classification.rst
  sympy/assumptions/assume.py
  sympy/assumptions/satask.py
  sympy/assumptions/sathandlers.py
Labels: assumptions

#21283 Updating autolev variable naming
  sympy/parsing/autolev/__init__.py
  sympy/parsing/autolev/_listener_autolev_antlr.py
  sympy/parsing/autolev/test-examples/pydy-example-repo/chaos_pendulum.py
  sympy/parsing/autolev/test-examples/pydy-example-repo/double_pendulum.py
  sympy/parsing/autolev/test-examples/pydy-example-repo/mass_spring_damper.py
  sympy/parsing/autolev/test-examples/pydy-example-repo/non_min_pendulum.py
  sympy/parsing/autolev/test-examples/ruletest1.py
  sympy/parsing/autolev/test-examples/ruletest10.py
  sympy/parsing/autolev/test-examples/ruletest11.py
  sympy/parsing/autolev/test-examples/ruletest12.py
  sympy/parsing/autolev/test-examples/ruletest2.py
  sympy/parsing/autolev/test-examples/ruletest3.py
  sympy/parsing/autolev/test-examples/ruletest4.py
  sympy/parsing/autolev/test-examples/ruletest5.py
  sympy/parsing/autolev/test-examples/ruletest6.py
  sympy/parsing/autolev/test-examples/ruletest7.py
  sympy/parsing/autolev/test-examples/ruletest8.py
  sympy/parsing/autolev/test-examples/ruletest9.py
Labels: parsing

#21320 perf(assump): add negated items to the values of get_known_facts_dict()
  sympy/assumptions/ask.py
  sympy/assumptions/ask_generated.py
  sympy/assumptions/facts.py
Labels: assumptions

#21203 feat: allow assumptions to be taken for equality query
  sympy/assumptions/handlers/sets.py
  sympy/assumptions/relation/equality.py
  sympy/assumptions/tests/test_query.py
  sympy/core/relational.py
  sympy/core/tests/test_relational.py
Labels: assumptions

#21316 refactor(assumptions) : remove get_known_facts_cnf
  sympy/assumptions/ask_generated.py
  sympy/assumptions/facts.py
Labels: assumptions

#21306 fix(assumptions): fix test_bounded test
  sympy/assumptions/tests/test_query.py
Labels: assumptions

#21016 refactor(polys): unify gmpy and non-gmpy domains
  doc/src/modules/polys/domainsintro.rst
  doc/src/modules/polys/domainsref.rst
  sympy/conftest.py
  sympy/core/compatibility.py
  sympy/core/numbers.py
  sympy/core/tests/test_numbers.py
  sympy/external/gmpy.py
  sympy/external/pythonmpq.py
  sympy/external/tests/test_pythonmpq.py
  sympy/functions/elementary/piecewise.py
  sympy/interactive/session.py
  sympy/polys/domains/__init__.py
  sympy/polys/domains/algebraicfield.py
  sympy/polys/domains/complexfield.py
  sympy/polys/domains/domain.py
  sympy/polys/domains/expressiondomain.py
  sympy/polys/domains/finitefield.py
  sympy/polys/domains/fractionfield.py
  sympy/polys/domains/gaussiandomains.py
  sympy/polys/domains/gmpyintegerring.py
  sympy/polys/domains/gmpyrationalfield.py
  sympy/polys/domains/groundtypes.py
  sympy/polys/domains/integerring.py
  sympy/polys/domains/old_polynomialring.py
  sympy/polys/domains/polynomialring.py
  sympy/polys/domains/pythonintegerring.py
  sympy/polys/domains/pythonrational.py
  sympy/polys/domains/pythonrationalfield.py
  sympy/polys/domains/quotientring.py
  sympy/polys/domains/rationalfield.py
  sympy/polys/domains/realfield.py
  sympy/polys/domains/tests/test_domains.py
  sympy/polys/tests/test_pythonrational.py
  sympy/testing/runtests.py
Labels: polys

#20635 Made ordered() calls faster for large expressions
  sympy/core/compatibility.py
  sympy/core/operations.py
  sympy/functions/elementary/miscellaneous.py
  sympy/sets/tests/test_sets.py
  sympy/unify/tests/test_sympy.py
Labels: core

#21256 Plotting - Automatic line coloring when plotting multiple expressions
  sympy/plotting/plot.py
  sympy/plotting/tests/test_plot.py
Labels: plotting

#21345 refactor(assump) : change function definition of get_all_relevant_facts
  sympy/assumptions/satask.py
Labels: assumptions

#21346 refactor(assump) : redesign get_relevant_facts()
  sympy/assumptions/satask.py
  sympy/assumptions/tests/test_satask.py
Labels: assumptions

#21337 fix(polys): add conversion from ZZ_I and QQ_I to CC
  sympy/polys/domains/complexfield.py
  sympy/polys/domains/domain.py
  sympy/polys/domains/fractionfield.py
  sympy/polys/domains/polynomialring.py
  sympy/polys/domains/realfield.py
  sympy/polys/domains/tests/test_domains.py
  sympy/polys/rings.py
Labels: polys

#21338 doc(assump) : write docstrings for satask.py
  sympy/assumptions/ask.py
  sympy/assumptions/satask.py
Labels: Documentation, assumptions

#21309 feat(core): allow is_ge to take assumptions
  sympy/assumptions/ask_generated.py
  sympy/assumptions/cnf.py
  sympy/assumptions/facts.py
  sympy/assumptions/relation/equality.py
  sympy/assumptions/tests/test_satask.py
  sympy/assumptions/wrapper.py
  sympy/core/relational.py
  sympy/core/tests/test_relational.py
  sympy/utilities/tests/test_wester.py
Labels: core

#21298 Added normalization of nested array tensor-product and diagonalization
  sympy/tensor/array/expressions/array_expressions.py
  sympy/tensor/array/expressions/tests/test_array_expressions.py
Labels: tensor

#21336 Fixed TypeError insolveset #21335
  sympy/solvers/solveset.py
Labels: solvers.solveset

#21326 Fix irrational exponent case in solveset._invert_real
  sympy/solvers/solveset.py
  sympy/solvers/tests/test_solveset.py
Labels: solvers.solveset

#21271 Improve frame caching
  sympy/physics/vector/frame.py
  sympy/physics/vector/tests/test_frame.py
Labels: physics.vector

#21120 Adds class DomainScalar for Scalar Multiplication with DomainMatrix
  sympy/polys/matrices/domainmatrix.py
  sympy/polys/matrices/domainscalar.py
  sympy/polys/matrices/tests/test_domainmatrix.py
  sympy/polys/matrices/tests/test_domainscalar.py
Labels: polys

#21367 refactor(assump) : redesign sathandlers.py
  sympy/assumptions/satask.py
  sympy/assumptions/sathandlers.py
  sympy/assumptions/tests/test_satask.py
  sympy/assumptions/tests/test_sathandlers.py
  sympy/core/tests/test_args.py
Labels: assumptions

#21106 Added function ones to DomainMatrix,DDM and SDM class
  sympy/polys/matrices/ddm.py
  sympy/polys/matrices/domainmatrix.py
  sympy/polys/matrices/sdm.py
  sympy/polys/matrices/tests/test_ddm.py
  sympy/polys/matrices/tests/test_domainmatrix.py
  sympy/polys/matrices/tests/test_sdm.py
Labels: polys

#21376 rename allarg() to allargs()
  sympy/assumptions/sathandlers.py
  sympy/assumptions/tests/test_sathandlers.py
Labels: assumptions

#21322 from_Matrix automatically decides representation
  sympy/matrices/common.py
  sympy/matrices/eigen.py
  sympy/matrices/tests/test_commonmatrix.py
  sympy/polys/matrices/domainmatrix.py
  sympy/polys/matrices/tests/test_domainmatrix.py
Labels: matrices

#20500 Use the proper theano printer-related function wrappers in test cases
  sympy/printing/tests/test_theanocode.py
Labels: printing

#21118 feat(polys): add indexing and slicing to DomainMatrix
  sympy/polys/matrices/ddm.py
  sympy/polys/matrices/domainmatrix.py
  sympy/polys/matrices/sdm.py
  sympy/polys/matrices/tests/test_ddm.py
  sympy/polys/matrices/tests/test_domainmatrix.py
Labels: polys

#21369 New Tests for sets module
  sympy/sets/tests/test_conditionset.py
  sympy/sets/tests/test_contains.py
  sympy/sets/tests/test_ordinals.py
  sympy/sets/tests/test_powerset.py
Labels: sets

#21391 perf(polys): make ZZ_I and QQ_I faster
  sympy/polys/domains/gaussiandomains.py
Labels: polys

#21370 fix(polys): improve numerical evaluation in minpoly
  sympy/core/exprtools.py
  sympy/core/tests/test_exprtools.py
  sympy/polys/numberfields.py
  sympy/polys/tests/test_numberfields.py
Labels: polys
