Repository sympy/sympy, pull requests merged in 2021-05, with the labels that each got.

#21390 printing: term reversal and powers with negative exponents
  doc/src/modules/simplify/fu.rst
  sympy/concrete/products.py
  sympy/functions/combinatorial/numbers.py
  sympy/functions/special/polynomials.py
  sympy/functions/special/zeta_functions.py
  sympy/integrals/tests/test_transforms.py
  sympy/integrals/transforms.py
  sympy/ntheory/tests/test_factor_.py
  sympy/parsing/sympy_parser.py
  sympy/parsing/tests/test_sympy_parser.py
  sympy/physics/units/tests/test_util.py
  sympy/physics/units/util.py
  sympy/printing/str.py
  sympy/printing/tests/test_str.py
  sympy/series/formal.py
  sympy/simplify/fu.py
  sympy/stats/crv_types.py
  sympy/stats/drv_types.py
  sympy/stats/joint_rv_types.py
  sympy/stats/matrix_distributions.py
  sympy/stats/tests/test_joint_rv.py
Labels: printing

#21412 Fix multinomial power
  sympy/polys/rings.py
  sympy/polys/tests/test_rings.py
Labels: polys

#21427 Use DomainMatrix in holonomic
  sympy/holonomic/holonomic.py
  sympy/holonomic/linearsolver.py
  sympy/polys/domains/old_fractionfield.py
  sympy/polys/domains/tests/test_domains.py
  sympy/polys/matrices/ddm.py
  sympy/polys/matrices/dense.py
  sympy/polys/matrices/domainmatrix.py
  sympy/polys/matrices/domainscalar.py
  sympy/polys/matrices/sdm.py
  sympy/polys/matrices/tests/test_ddm.py
  sympy/polys/matrices/tests/test_dense.py
  sympy/polys/matrices/tests/test_domainmatrix.py
  sympy/polys/matrices/tests/test_domainscalar.py
  sympy/polys/matrices/tests/test_sdm.py
  sympy/polys/polyclasses.py
  sympy/polys/tests/test_polyclasses.py
Labels: holonomic, matrices, polys

#21432 `force=True` is more comprehensive for `powdenest`
  sympy/functions/elementary/complexes.py
  sympy/functions/elementary/tests/test_complexes.py
  sympy/simplify/powsimp.py
  sympy/simplify/tests/test_powsimp.py
Labels: PR: sympy's turn

#21375 refact(assump) : parametrize the facts
  bin/ask_update.py
  sympy/assumptions/ask.py
  sympy/assumptions/ask_generated.py
  sympy/assumptions/facts.py
  sympy/assumptions/satask.py
  sympy/assumptions/tests/test_query.py
Labels: assumptions

#21454 refactor(assump) : refactor facts
  sympy/assumptions/ask_generated.py
  sympy/assumptions/facts.py
  sympy/core/tests/test_args.py
  sympy/logic/boolalg.py
  sympy/logic/tests/test_boolalg.py
Labels: assumptions

#21455 perf(assump) : enhance get_known_facts_keys
  sympy/assumptions/ask_generated.py
  sympy/assumptions/facts.py
Labels: assumptions

#21464 refact(diffgeom) : redesign CoordSystem
  sympy/diffgeom/diffgeom.py
  sympy/diffgeom/rn.py
  sympy/printing/repr.py
Labels: diffgeom

#21366 fix CoordSystem._inverse_transformation method
  sympy/diffgeom/diffgeom.py
  sympy/diffgeom/tests/test_diffgeom.py
Labels: diffgeom

#21124 Refactor Exact ODE solver into a class
  doc/src/modules/solvers/ode.rst
  sympy/solvers/ode/ode.py
  sympy/solvers/ode/single.py
  sympy/solvers/ode/tests/test_ode.py
Labels: solvers.dsolve

#21380 functions: Implemented an _eval_expand_trig method for tanh
  sympy/functions/elementary/hyperbolic.py
Labels: functions

#20090 doc: Add docs for the old assumptions
  doc/src/guides/assumptions.rst
  doc/src/guides/booleans.rst
  doc/src/guides/index.rst
  doc/src/index.rst
  doc/src/modules/logic.rst
  doc/src/modules/sets.rst
Labels: Documentation

#21441 fix(polys): make PolyMatrix use DomainMatrix
  sympy/integrals/prde.py
  sympy/integrals/rde.py
  sympy/integrals/tests/test_prde.py
  sympy/polys/domains/fractionfield.py
  sympy/polys/domains/polynomialring.py
  sympy/polys/domains/tests/test_domains.py
  sympy/polys/matrices/ddm.py
  sympy/polys/matrices/domainmatrix.py
  sympy/polys/matrices/sdm.py
  sympy/polys/matrices/tests/test_ddm.py
  sympy/polys/matrices/tests/test_domainmatrix.py
  sympy/polys/matrices/tests/test_sdm.py
  sympy/polys/polymatrix.py
  sympy/polys/tests/test_polymatrix.py
Labels: matrices, polys

#21448 spacing fixed in beam docs
  doc/src/modules/physics/continuum_mechanics/beam_problems.rst
Labels: physics.continuum_mechanics

#21500 perf(matrices): make randMatrix faster for sparse matrices
  sympy/matrices/dense.py
  sympy/matrices/tests/test_matrices.py
Labels: Performance, matrices

#21325 feat: introduce symbolic equation
  bin/test_submodule_imports.py
  setup.py
  sympy/__init__.py
  sympy/core/basic.py
  sympy/core/tests/test_args.py
  sympy/core/tests/test_basic.py
  sympy/equation/__init__.py
  sympy/equation/equation.py
  sympy/equation/sideproxy.py
  sympy/equation/tests/__init__.py
  sympy/equation/tests/test_equation.py
  sympy/printing/latex.py
  sympy/printing/precedence.py
  sympy/printing/pretty/pretty.py
  sympy/printing/pretty/tests/test_pretty.py
  sympy/printing/str.py
  sympy/printing/tests/test_latex.py
  sympy/printing/tests/test_str.py
Labels: core

#21496 fix(matrices): Deprecate non-Expr in Matrix
  sympy/integrals/tests/test_transforms.py
  sympy/integrals/transforms.py
  sympy/matrices/common.py
  sympy/matrices/dense.py
  sympy/matrices/matrices.py
  sympy/matrices/tests/test_matrices.py
  sympy/matrices/tests/test_normalforms.py
  sympy/polys/tests/test_polytools.py
  sympy/printing/tests/test_glsl.py
Labels: matrices

#21501 perf(matrices): use Bareiss algorithm in DomainMatrix.det
  sympy/polys/matrices/ddm.py
  sympy/polys/matrices/dense.py
Labels: Performance, domainmatrix, matrices

#21508 strengthen equality test in replace/bottom_up
  sympy/core/basic.py
  sympy/core/tests/test_expr.py
  sympy/simplify/simplify.py
  sympy/simplify/tests/test_simplify.py
Labels: core, simplify

#21476 fix(diffgeom): fix indirect transformation
  sympy/diffgeom/diffgeom.py
  sympy/diffgeom/rn.py
  sympy/diffgeom/tests/test_diffgeom.py
Labels: diffgeom

#21499 fix issue in the parse_latex by not evaluating multiplication with -1
  sympy/parsing/latex/_parse_latex_antlr.py
  sympy/parsing/tests/test_latex.py
Labels: parsing.latex

#21436 Raise warning if relation of frames is looped.
  sympy/physics/vector/frame.py
  sympy/physics/vector/tests/test_frame.py
Labels: physics.vector

#21518 `_keep coeff` is more careful about not evaluating expressions
  sympy/core/mul.py
  sympy/parsing/latex/_parse_latex_antlr.py
  sympy/parsing/tests/test_latex.py
  sympy/polys/tests/test_polytools.py
  sympy/simplify/cse_main.py
  sympy/simplify/tests/test_cse.py
Labels: core, parsing

#21484 banner_in_pypi
  README.md
Labels: Documentation

#21485 Revert `expr_free_symbols`
  sympy/core/basic.py
  sympy/core/expr.py
  sympy/core/function.py
  sympy/core/relational.py
  sympy/core/tests/test_expr.py
  sympy/tensor/indexed.py
  sympy/utilities/tests/test_pickling.py
Labels: core
