Repository sympy/sympy, pull requests merged in 2021-06, with the labels that each got.

#21253 Fixes a few buggy `_eval_as_leading_term` methods
  sympy/concrete/tests/test_sums_products.py
  sympy/core/add.py
  sympy/core/power.py
  sympy/core/tests/test_expr.py
  sympy/core/tests/test_power.py
  sympy/functions/elementary/tests/test_trigonometric.py
  sympy/functions/elementary/trigonometric.py
  sympy/functions/special/tests/test_hyper.py
  sympy/series/tests/test_demidovich.py
  sympy/series/tests/test_limits.py
  sympy/series/tests/test_nseries.py
  sympy/series/tests/test_residues.py
  sympy/series/tests/test_series.py
  sympy/solvers/ode/tests/test_single.py
Labels: series

#21553 Edited sympify to check evaluate in case of iterable inputs
  sympy/core/sympify.py
  sympy/core/tests/test_sympify.py
Labels: core.sympify

#21566 Inverse Laplace Transform of rational functions in s improved
  sympy/integrals/tests/test_transforms.py
  sympy/integrals/transforms.py
Labels: integrals.transforms

#21578 Refactor separable reduced
  doc/src/modules/solvers/ode.rst
  sympy/solvers/ode/ode.py
  sympy/solvers/ode/single.py
Labels: solvers.dsolve

#21587 fix(physics.control): order of classes in doc
  doc/src/modules/physics/control/lti.rst
Labels: Documentation

#21609 Refactor(dsolve): nth order reducible
  doc/src/modules/solvers/ode.rst
  sympy/solvers/ode/ode.py
  sympy/solvers/ode/single.py
  sympy/solvers/ode/tests/test_single.py
Labels: solvers

#21581 feat(polys): add EXRAW domain
  sympy/__init__.py
  sympy/polys/__init__.py
  sympy/polys/domains/__init__.py
  sympy/polys/domains/domain.py
  sympy/polys/domains/expressionrawdomain.py
  sympy/polys/domains/tests/test_domains.py
Labels: matrices, polys

#21632 feat(matrices): add setitem and pickling to DomainMatrix
  sympy/polys/matrices/domainmatrix.py
  sympy/polys/matrices/sdm.py
  sympy/polys/matrices/tests/test_domainmatrix.py
  sympy/polys/matrices/tests/test_sdm.py
Labels: domainmatrix, matrices

#21582 [GSoC] Function for plotting bending moment added
  sympy/physics/continuum_mechanics/beam.py
Labels: GSoC, physics.continuum_mechanics

#21637 feat(matrices): add DomainMatrix.extract method
  sympy/polys/matrices/ddm.py
  sympy/polys/matrices/domainmatrix.py
  sympy/polys/matrices/sdm.py
  sympy/polys/matrices/tests/test_ddm.py
  sympy/polys/matrices/tests/test_domainmatrix.py
  sympy/polys/matrices/tests/test_sdm.py
Labels: domainmatrix, matrices

#21583 [GSoC] Function for plotting slope added
  sympy/physics/continuum_mechanics/beam.py
Labels: GSoC, physics.continuum_mechanics

#21630 Refactor hypergeometric solver
  doc/src/modules/solvers/ode.rst
  sympy/solvers/ode/hypergeometric.py
  sympy/solvers/ode/ode.py
  sympy/solvers/ode/single.py
  sympy/solvers/ode/tests/test_ode.py
Labels: GSoC, solvers.dsolve

#21634 Improve `TransferFunction` docs and add `to_expr`
  sympy/physics/control/lti.py
  sympy/physics/control/tests/test_lti.py
Labels: GSoC, physics.control

#21657 feat(matrices): add miscellaneous DomainMatrix features
  sympy/polys/domains/expressionrawdomain.py
  sympy/polys/domains/tests/test_domains.py
  sympy/polys/matrices/ddm.py
  sympy/polys/matrices/dense.py
  sympy/polys/matrices/domainmatrix.py
  sympy/polys/matrices/sdm.py
  sympy/polys/matrices/tests/test_domainmatrix.py
  sympy/polys/matrices/tests/test_sdm.py
  sympy/polys/solvers.py
Labels: domainmatrix, matrices

#21667 use ints in egyptian_fraction; allow tuple input
  sympy/ntheory/egyptian_fraction.py
  sympy/ntheory/tests/test_egyptian_fraction.py
Labels: Performance, ntheory

#21662 Check order of arguments in `orient_axis()`
  sympy/physics/vector/frame.py
  sympy/physics/vector/tests/test_frame.py
Labels: GSoC, physics.vector

#21654 refactor const homogenous hints
  doc/src/modules/solvers/ode.rst
  sympy/solvers/ode/ode.py
  sympy/solvers/ode/single.py
  sympy/solvers/ode/tests/test_ode.py
  sympy/solvers/ode/tests/test_single.py
Labels: solvers.dsolve
