Repository sympy/sympy, pull requests merged in 2021-08, with the labels that each got.

#21714 [GSoC] Function for I.L.D. for reaction loads added
  doc/src/modules/physics/continuum_mechanics/ildreaction.png
  sympy/physics/continuum_mechanics/beam.py
Labels: GSoC, physics.continuum_mechanics

#21703 [WIP] Implement `MIMOSeries` and `MIMOParallel`.
  doc/src/modules/physics/control/control.rst
  doc/src/modules/physics/control/lti.rst
  sympy/core/tests/test_args.py
  sympy/physics/control/__init__.py
  sympy/physics/control/lti.py
  sympy/physics/control/tests/test_lti.py
  sympy/printing/latex.py
  sympy/printing/pretty/pretty.py
  sympy/printing/pretty/tests/test_pretty.py
  sympy/printing/tests/test_latex.py
  sympy/printing/tests/test_str.py
Labels: GSoC, physics.control

#21776 perf(matrices): speed up eigenvals for triangular matrices
  sympy/matrices/eigen.py
  sympy/matrices/graph.py
  sympy/matrices/repmatrix.py
  sympy/polys/matrices/ddm.py
  sympy/polys/matrices/domainmatrix.py
  sympy/polys/matrices/sdm.py
  sympy/polys/matrices/tests/test_domainmatrix.py
  sympy/utilities/iterables.py
Labels: Performance, matrices

#21806 Quaternion - Fixes the issue 21752 by adding the evalf method in Quaternion class
  sympy/algebras/quaternion.py
  sympy/algebras/tests/test_quaternion.py
Labels: algebras, core.evalf

#21820 Update example in `MIMOParallel.var`
  sympy/physics/control/lti.py
Labels: Documentation

#21781 feat(diffgeom) : define CoordinateSymbol.rewrite()
  sympy/diffgeom/diffgeom.py
  sympy/diffgeom/tests/test_diffgeom.py
Labels: diffgeom

#21835 Fix for sympy.polys.polyerrors.CoercionFailed integration regressions
  sympy/integrals/tests/test_integrals.py
  sympy/polys/domains/tests/test_domains.py
  sympy/polys/rings.py
  sympy/polys/tests/test_rings.py
Labels: integrals, polys

#21769 Fixed rendering of Clebsch-Gordan (CG) class
  sympy/physics/quantum/cg.py
  sympy/physics/quantum/tests/test_printing.py
Labels: printing, physics.quantum, printing.latex

#21810 [GSoC] Function for I.L.D. for Shear added
  doc/src/modules/physics/continuum_mechanics/ildshear.png
  sympy/physics/continuum_mechanics/beam.py
Labels: GSoC, physics.continuum_mechanics

#21847 monomials: fixed min_degrees functionality of itermonomials
  sympy/polys/monomials.py
  sympy/polys/tests/test_monomials.py
Labels: polys

#20264 Fix for recursion error in latex() function
  sympy/printing/latex.py
  sympy/printing/tests/test_latex.py
Labels: printing

#21759 [GSoC]JointsMethod
  doc/src/modules/physics/mechanics/examples.rst
  doc/src/modules/physics/mechanics/examples/multi_degree_freedom_holonomic_system.rst
  doc/src/modules/physics/mechanics/examples/multidof-holonomic.png
  sympy/physics/mechanics/__init__.py
  sympy/physics/mechanics/body.py
  sympy/physics/mechanics/jointsmethod.py
  sympy/physics/mechanics/kane.py
  sympy/physics/mechanics/lagrange.py
  sympy/physics/mechanics/method.py
  sympy/physics/mechanics/tests/test_body.py
  sympy/physics/mechanics/tests/test_jointsmethod.py
  sympy/physics/mechanics/tests/test_kane.py
Labels: physics.mechanics

#21856 Updated slowness of tests
  sympy/concrete/tests/test_sums_products.py
  sympy/functions/special/tests/test_error_functions.py
  sympy/integrals/tests/test_integrals.py
  sympy/integrals/tests/test_manual.py
  sympy/integrals/tests/test_transforms.py
  sympy/ntheory/tests/test_factor_.py
  sympy/solvers/ode/tests/test_lie_group.py
  sympy/solvers/ode/tests/test_single.py
  sympy/solvers/ode/tests/test_systems.py
  sympy/utilities/tests/test_wester.py
Labels: Performance

#21849 Fix for LambertW printing error
  sympy/printing/latex.py
  sympy/printing/tests/test_latex.py
Labels: printing, printing.latex

#21872 Fixed docs typo
  doc/src/modules/numeric-computation.rst
Labels: Documentation

#21855 Correct calculation of variance and central moment for non-random expressions
  sympy/stats/rv_interface.py
  sympy/stats/symbolic_probability.py
  sympy/stats/tests/test_rv.py
  sympy/stats/tests/test_symbolic_probability.py
Labels: stats

#21871 [GSoC] Function for I.L.D. for Moment added
  sympy/physics/continuum_mechanics/beam.py
Labels: GSoC, physics.continuum_mechanics

#21873 Fixed bug when trying to simplify non-linear relationals
  sympy/logic/boolalg.py
  sympy/simplify/tests/test_simplify.py
Labels: simplify, logic

#21880 maint(ci): add Python 3.10 jobs to CI tests
  .github/workflows/runtests.yml
Labels: GitHub Actions

#21853 ElementwiseApplyFunc return function application in case of trivial matrices
  sympy/matrices/expressions/applyfunc.py
  sympy/matrices/expressions/tests/test_applyfunc.py
Labels: matrices.expressions

#21857 Fix bugs in _remove_trivial_dims when removed axes were nested with array contractions and diagonalizations
  sympy/tensor/array/expressions/array_expressions.py
  sympy/tensor/array/expressions/conv_array_to_matrix.py
  sympy/tensor/array/expressions/tests/test_convert_array_to_matrix.py
Labels: tensor

#21876 Added class _EditArrayContraction to help manipulating expressions with array contractions
  sympy/tensor/array/expressions/array_expressions.py
  sympy/tensor/array/expressions/tests/test_array_expressions.py
Labels: tensor

#21875 Fix Array of rank 0 converted to Array of rank 1
  sympy/tensor/array/ndim_array.py
  sympy/tensor/array/tests/test_immutable_ndim_array.py
Labels: tensor

#21817 stats - fixes issue#21057 by change value check to positive semi-definite
  sympy/stats/joint_rv_types.py
  sympy/stats/tests/test_joint_rv.py
Labels: stats

#21763 Add graphical analyses in `physics.control`
  doc/src/modules/integrals/integrals.rst
  doc/src/modules/physics/control/control_plots.rst
  doc/src/modules/physics/control/index.rst
  sympy/integrals/transforms.py
  sympy/physics/control/__init__.py
  sympy/physics/control/control_plots.py
  sympy/physics/control/tests/test_control_plots.py
Labels: GSoC, physics.control

#21877 [GSoC] Function for plotting shear stress added
  sympy/physics/continuum_mechanics/beam.py
Labels: GSoC, physics.continuum_mechanics

#21833 Implement `MIMOFeedback`
  doc/src/modules/physics/control/control.rst
  doc/src/modules/physics/control/lti.rst
  sympy/core/tests/test_args.py
  sympy/physics/control/__init__.py
  sympy/physics/control/lti.py
  sympy/physics/control/tests/test_lti.py
  sympy/printing/latex.py
  sympy/printing/pretty/pretty.py
  sympy/printing/pretty/tests/test_pretty.py
  sympy/printing/tests/test_latex.py
  sympy/printing/tests/test_str.py
Labels: GSoC, physics.control

#21747 Docs: Getting started category
  doc/src/conf.py
  doc/src/contributing/index.rst
  doc/src/documentation-style-guide.rst
  doc/src/explanation/index.rst
  doc/src/getting_started/index.rst
  doc/src/getting_started/install.rst
  doc/src/how_to_guide/index.rst
  doc/src/index.rst
  doc/src/miscellaneous/index.rst
  doc/src/reference/index.rst
  release/requirements.txt
Labels: Documentation

#20247 Deprecated mdft in physics.matrices
  sympy/matrices/expressions/fourier.py
  sympy/matrices/expressions/tests/test_fourier.py
  sympy/physics/matrices.py
  sympy/physics/tests/test_physics_matrices.py
Labels: matrices, matrices.expressions, physics

#21915 add test to close 21908
  sympy/solvers/tests/test_solveset.py
Labels: solvers, solvers.solveset

#21887 simplify - fixes issue #21355 and now some equations give correct result
  sympy/simplify/radsimp.py
  sympy/simplify/tests/test_radsimp.py
Labels: simplify

#21881 maint: update authors and mailmap
  .github/workflows/runtests.yml
  .mailmap
  AUTHORS
Labels: Uncategorised

#21921 maint(ci): bump tested PyPy to Python 3.7
  .github/workflows/runtests.yml
Labels: GitHub Actions

#21922 maint(ci): make sure CI fails for mailmap_update.py
  bin/mailmap_update.py
Labels: GitHub Actions

#21924 Adding tests for solveset and a minor improvement
  sympy/solvers/solveset.py
  sympy/solvers/tests/test_solveset.py
Labels: solvers.solveset

#21930 Fixed issue #19661
  sympy/physics/secondquant.py
  sympy/physics/tests/test_secondquant.py
Labels: printing.latex

#21901 matrices - is_positive_semidefinite() now gives correct result
  sympy/matrices/eigen.py
  sympy/matrices/tests/test_eigen.py
Labels: matrices

#21885 maint(ci): bump basic Python version tested to 3.9
  .github/workflows/runtests.yml
  bin/test_optional_dependencies.py
  release/requirements.txt
  release/update_requirements.sh
  sympy/printing/llvmjitcode.py
  sympy/printing/tests/test_llvmjit.py
Labels: Uncategorised

#21932 Better support for symbolic ranges
  sympy/sets/fancysets.py
  sympy/sets/tests/test_fancysets.py
  sympy/stats/stochastic_process_types.py
Labels: sets

#21928 Fixed issue with determining is_integer for round functions (#21651)
  sympy/concrete/tests/test_sums_products.py
  sympy/core/mul.py
  sympy/core/tests/test_assumptions.py
  sympy/functions/elementary/tests/test_integers.py
Labels: core, concrete

#21931 Compact printing of FiniteSet. Fixes #21823
  doc/src/guides/assumptions.rst
  doc/src/modules/solvers/solveset.rst
  sympy/calculus/singularities.py
  sympy/calculus/util.py
  sympy/categories/baseclasses.py
  sympy/combinatorics/partitions.py
  sympy/combinatorics/polyhedron.py
  sympy/core/function.py
  sympy/logic/boolalg.py
  sympy/printing/str.py
  sympy/printing/tests/test_str.py
  sympy/sets/conditionset.py
  sympy/sets/fancysets.py
  sympy/sets/powerset.py
  sympy/sets/sets.py
  sympy/solvers/inequalities.py
  sympy/solvers/solveset.py
  sympy/stats/rv_interface.py
  sympy/stats/stochastic_process_types.py
  sympy/vector/implicitregion.py
Labels: printing

#21854 Fixes for logic simplification
  sympy/logic/boolalg.py
  sympy/logic/tests/test_boolalg.py
  sympy/simplify/tests/test_simplify.py
Labels: simplify, logic

#21977 Got rid of Matplotlib deprecation warning and minor cleanup
  sympy/physics/continuum_mechanics/beam.py
Labels: physics.continuum_mechanics, Code quality

#21975 Minor clean-ups in logic
  sympy/logic/boolalg.py
  sympy/logic/inference.py
Labels: logic, Code quality

#21916 Removed unnecessary normalization of the created quaternion in from_axis_angle
  .mailmap
  AUTHORS
  bin/authors_update.py
  sympy/algebras/quaternion.py
  sympy/algebras/tests/test_quaternion.py
Labels: algebras

#21883 fix(solvers): split separable systems of equations properly
  doc/src/tutorial/solvers.rst
  sympy/solvers/solvers.py
  sympy/solvers/tests/test_solvers.py
Labels: solvers.solve

#21987 maint(ci): disable author check script
  .github/workflows/runtests.yml
Labels: GitHub Actions

#21990 maint(ci): test tensorflow integration in GH Actions
  .github/workflows/runtests.yml
  bin/test_tensorflow.py
  sympy/utilities/lambdify.py
Labels: GitHub Actions

#21976 Fixed partial subs in Boolean expressions
  sympy/logic/boolalg.py
  sympy/logic/tests/test_boolalg.py
Labels: logic
