Repository sympy/sympy, pull requests merged in 2021-01, with the labels that each got.

#20446 Added .xreplace() to Vector and Dyadic
  sympy/physics/vector/dyadic.py
  sympy/physics/vector/tests/test_dyadic.py
  sympy/physics/vector/tests/test_vector.py
  sympy/physics/vector/vector.py
Labels: physics.vector

#20684 Subs.doit: Added Conditional statement by checking argument
  sympy/core/function.py
  sympy/core/tests/test_function.py
Labels: core

#20656 Introduce polyadic predicate based on multipledispatch
  doc/src/modules/assumptions/handlers/index.rst
  doc/src/modules/assumptions/index.rst
  sympy/assumptions/__init__.py
  sympy/assumptions/ask.py
  sympy/assumptions/assume.py
  sympy/assumptions/handlers/__init__.py
  sympy/assumptions/handlers/common.py
  sympy/assumptions/refine.py
  sympy/assumptions/tests/test_query.py
  sympy/core/tests/test_args.py
  sympy/printing/repr.py
  sympy/printing/str.py
  sympy/printing/tests/test_repr.py
  sympy/printing/tests/test_str.py
Labels: assumptions

#20676 Make Array differentiation work with non sympy expression
  sympy/tensor/array/arrayop.py
  sympy/tensor/array/tests/test_arrayop.py
Labels: tensor

#20686 Added test cases for quadratic forms with matrix expressions
  sympy/matrices/expressions/tests/test_transpose.py
  sympy/simplify/tests/test_simplify.py
Labels: simplify

#20732 added test case for dsolver on lienard ode
  sympy/solvers/ode/tests/test_single.py
Labels: solvers.dsolve

#20631 feat(polys): make FiniteExtension a proper Domain
  doc/src/modules/polys/agca.rst
  sympy/polys/agca/extensions.py
  sympy/polys/agca/tests/test_extensions.py
  sympy/polys/domains/compositedomain.py
  sympy/polys/domains/domain.py
  sympy/polys/domains/domainelement.py
  sympy/polys/domains/field.py
  sympy/polys/domains/old_polynomialring.py
  sympy/polys/domains/polynomialring.py
  sympy/polys/domains/ring.py
  sympy/polys/domains/tests/test_domains.py
  sympy/polys/polytools.py
  sympy/polys/rings.py
Labels: polys

#20659 Introduce KindDispatcher
  sympy/core/__init__.py
  sympy/core/add.py
  sympy/core/kind.py
  sympy/core/mul.py
  sympy/core/tests/test_kind.py
  sympy/matrices/matrices.py
Labels: core, matrices

#18729 Move internal diophantine solvers into classes
  doc/src/modules/solvers/diophantine.rst
  sympy/solvers/diophantine/__init__.py
  sympy/solvers/diophantine/diophantine.py
  sympy/solvers/diophantine/tests/test_diophantine.py
Labels: solvers.diophantine

#20642 Fix incorrect header level in core.rst
  doc/src/modules/core.rst
Labels: Documentation, core

#20658 Added seed argument to sample in master branch
  sympy/stats/crv.py
  sympy/stats/drv.py
  sympy/stats/frv.py
  sympy/stats/joint_rv.py
  sympy/stats/matrix_distributions.py
  sympy/stats/rv.py
  sympy/stats/tests/test_continuous_rv.py
  sympy/stats/tests/test_discrete_rv.py
  sympy/stats/tests/test_finite_rv.py
  sympy/stats/tests/test_joint_rv.py
  sympy/stats/tests/test_matrix_distributions.py
Labels: stats

#19237 Function for plotting shear force added
  sympy/physics/continuum_mechanics/beam.py
Labels: PR: sympy's turn, physics.continuum_mechanics, plotting

#20626 Stats: Fixes simplification bug in Stochastic Processes
  sympy/core/tests/test_args.py
  sympy/stats/compound_rv.py
  sympy/stats/crv.py
  sympy/stats/drv.py
  sympy/stats/frv.py
  sympy/stats/joint_rv.py
  sympy/stats/matrix_distributions.py
  sympy/stats/rv.py
  sympy/stats/stochastic_process.py
  sympy/stats/stochastic_process_types.py
  sympy/stats/symbolic_probability.py
  sympy/stats/tests/test_stochastic_process.py
Labels: stats

#20431 Fix equations sign in Beam module
  doc/src/modules/physics/continuum_mechanics/allowed-sign-conventions.png
  doc/src/modules/physics/continuum_mechanics/beam_problems.rst
  sympy/physics/continuum_mechanics/beam.py
  sympy/physics/continuum_mechanics/tests/test_beam.py
Labels: physics.continuum_mechanics

#20700 gcd: Fix expansion of unevaluated Muls
  sympy/core/mul.py
  sympy/core/tests/test_expand.py
  sympy/polys/tests/test_polytools.py
Labels: core

#20713 Updated strategies module to comply with latest doc style guide.
  sympy/strategies/rl.py
  sympy/strategies/tools.py
  sympy/strategies/tree.py
Labels: Documentation, strategies

#20714 Update tensor module to comply with latest style guide.
  sympy/tensor/array/array_comprehension.py
  sympy/tensor/array/arrayop.py
  sympy/tensor/tensor.py
Labels: tensor

#20725 Updates unify module to follow latest doc style guide.
  sympy/unify/core.py
  sympy/unify/rewrite.py
  sympy/unify/usympy.py
Labels: Documentation, unify

#20639 Pretty printing bug fix
  sympy/printing/pretty/pretty.py
  sympy/printing/pretty/tests/test_pretty.py
Labels: printing, printing.pretty

#20651 Implemented Matrix Student's t-distribution
  sympy/core/tests/test_args.py
  sympy/stats/__init__.py
  sympy/stats/matrix_distributions.py
  sympy/stats/tests/test_matrix_distributions.py
Labels: stats

#18699 Use <cn> tag for integer root degree in MathML
  sympy/printing/mathml.py
  sympy/printing/tests/test_mathml.py
Labels: printing

#20759 Refactor domainmatrix.py to sympy.polys.matrices package
  sympy/matrices/eigen.py
  sympy/polys/domainmatrix.py
  sympy/polys/matrices/__init__.py
  sympy/polys/matrices/ddm.py
  sympy/polys/matrices/dense.py
  sympy/polys/matrices/domainmatrix.py
  sympy/polys/matrices/eigen.py
  sympy/polys/matrices/exceptions.py
  sympy/polys/matrices/tests/__init__.py
  sympy/polys/matrices/tests/test_ddm.py
  sympy/polys/matrices/tests/test_dense.py
  sympy/polys/matrices/tests/test_domainmatrix.py
  sympy/polys/tests/test_domainmatrix.py
Labels: polys

#20750 Migrate set-related predicates to new design
  doc/src/gotchas.rst
  doc/src/modules/assumptions/handlers/index.rst
  doc/src/modules/assumptions/handlers/sets.rst
  doc/src/modules/assumptions/index.rst
  doc/src/modules/assumptions/predicates.rst
  setup.py
  sympy/assumptions/ask.py
  sympy/assumptions/ask_generated.py
  sympy/assumptions/assume.py
  sympy/assumptions/handlers/sets.py
  sympy/assumptions/predicates/__init__.py
  sympy/assumptions/predicates/sets.py
  sympy/core/tests/test_args.py
Labels: Documentation, assumptions, core

#20696 Added solver for 2nd order autonomous ODE
  sympy/solvers/ode/ode.py
  sympy/solvers/ode/single.py
  sympy/solvers/ode/tests/test_single.py
Labels: solvers

#20786 Fix Q.finite for log
  sympy/assumptions/handlers/calculus.py
  sympy/assumptions/tests/test_query.py
Labels: assumptions

#20800 doc(polys): document ExpressionDomain.Expression
  doc/src/modules/polys/internals.rst
Labels: Documentation, GitHub Actions, Travis

#20804 maint(ci): scale back Travis jobs
  .travis.yml
Labels: Travis

#20794 Added Replacer class to simplify the creation of replacement expressions with MatchPy
  sympy/printing/str.py
  sympy/printing/tests/test_str.py
  sympy/utilities/matchpy_connector.py
  sympy/utilities/tests/test_matchpy_connector.py
Labels: printing, utilities

#20774 Added gotchas for function variables
  doc/src/gotchas.rst
Labels: Documentation

#20811 Fix doc issues
  sympy/matrices/decompositions.py
Labels: Documentation, matrices

#20771 Fixed calculation of expectation in SingleContinousDistribution when expression is zero
  sympy/stats/crv.py
  sympy/stats/tests/test_continuous_rv.py
Labels: stats

#20531 solved "summation introduces spurious symbols "
  sympy/concrete/summations.py
  sympy/concrete/tests/test_sums_products.py
Labels: concrete

#20815 correcting the docstring of ecm and qs
  sympy/ntheory/ecm.py
  sympy/ntheory/qs.py
Labels: Documentation, ntheory

#20763 Add _eval_refine method to Boolean
  sympy/assumptions/ask.py
  sympy/assumptions/refine.py
  sympy/assumptions/tests/test_refine.py
  sympy/core/basic.py
  sympy/core/expr.py
  sympy/core/symbol.py
  sympy/logic/boolalg.py
  sympy/logic/tests/test_boolalg.py
  sympy/simplify/simplify.py
Labels: assumptions, logic

#20801 core: Make S(0.0) == S.false return False
  sympy/core/numbers.py
  sympy/core/tests/test_numbers.py
Labels: core

#20494 Stats: refactory of sampling methods
  setup.py
  sympy/core/tests/test_args.py
  sympy/stats/crv.py
  sympy/stats/crv_types.py
  sympy/stats/drv.py
  sympy/stats/drv_types.py
  sympy/stats/frv.py
  sympy/stats/frv_types.py
  sympy/stats/rv.py
  sympy/stats/sampling/__init__.py
  sympy/stats/sampling/sample_numpy.py
  sympy/stats/sampling/sample_pymc3.py
  sympy/stats/sampling/sample_scipy.py
  sympy/stats/sampling/tests/__init__.py
  sympy/stats/sampling/tests/test_sample_continuous_rv.py
  sympy/stats/sampling/tests/test_sample_discrete_rv.py
  sympy/stats/sampling/tests/test_sample_finite_rv.py
  sympy/stats/tests/test_continuous_rv.py
  sympy/stats/tests/test_discrete_rv.py
  sympy/stats/tests/test_finite_rv.py
Labels: stats

#20818 refactor(assumptions): migrate order-related predicates to new predicate design
  doc/src/modules/assumptions/handlers/index.rst
  doc/src/modules/assumptions/handlers/order.rst
  doc/src/modules/assumptions/predicates.rst
  sympy/assumptions/ask.py
  sympy/assumptions/ask_generated.py
  sympy/assumptions/handlers/order.py
  sympy/assumptions/handlers/sets.py
  sympy/assumptions/predicates/order.py
Labels: assumptions

#20821 refactor(assumptions): migrate ntheory-related predicates to new predicate design
  doc/src/modules/assumptions/handlers/index.rst
  doc/src/modules/assumptions/handlers/ntheory.rst
  doc/src/modules/assumptions/predicates.rst
  sympy/assumptions/ask.py
  sympy/assumptions/ask_generated.py
  sympy/assumptions/handlers/ntheory.py
  sympy/assumptions/predicates/ntheory.py
  sympy/assumptions/tests/test_query.py
Labels: assumptions

#20670 Added Motzkin numbers
  dif
  sympy/__init__.py
  sympy/core/tests/test_args.py
  sympy/functions/__init__.py
  sympy/functions/combinatorial/numbers.py
  sympy/functions/combinatorial/tests/test_comb_numbers.py
Labels: functions

#20826 Minor fixes to the way the AST of array expressions is built
  sympy/codegen/array_utils.py
  sympy/codegen/tests/test_array_utils.py
  sympy/core/tests/test_args.py
Labels: codegen

#20827 Add class ZeroArray for array expressions of zero-valued elements
  sympy/core/tests/test_args.py
  sympy/tensor/array/array_expressions.py
  sympy/tensor/array/tests/test_array_expressions.py
Labels: tensor

#20828 refactor(assumptions): migrate matrix predicates to new design
  dif
  doc/src/modules/assumptions/handlers/index.rst
  doc/src/modules/assumptions/handlers/matrices.rst
  doc/src/modules/assumptions/predicates.rst
  sympy/assumptions/ask.py
  sympy/assumptions/ask_generated.py
  sympy/assumptions/handlers/matrices.py
  sympy/assumptions/predicates/matrices.py
  sympy/core/expr.py
  sympy/matrices/expressions/factorizations.py
Labels: assumptions

#20807 primerange accepts single arugment for computing prime numbers less than n
  sympy/ntheory/generate.py
  sympy/ntheory/tests/test_generate.py
Labels: ntheory

#20835 refactor(assumptions): migrate common predicates to new design
  doc/src/modules/assumptions/handlers/common.rst
  doc/src/modules/assumptions/handlers/index.rst
  doc/src/modules/assumptions/index.rst
  doc/src/modules/assumptions/predicates.rst
  sympy/assumptions/ask.py
  sympy/assumptions/assume.py
  sympy/assumptions/handlers/__init__.py
  sympy/assumptions/handlers/common.py
  sympy/assumptions/predicates/common.py
  sympy/assumptions/tests/test_query.py
Labels: assumptions

#20829 Hessenberg decomposition
  sympy/matrices/decompositions.py
  sympy/matrices/matrices.py
  sympy/matrices/tests/test_decompositions.py
Labels: matrices

#20846 refactor(assumptions): fix test_query
  sympy/assumptions/assume.py
  sympy/assumptions/tests/test_query.py
Labels: assumptions

#20761 Implemented Singular Value Decomposition
  sympy/matrices/decompositions.py
  sympy/matrices/matrices.py
  sympy/matrices/tests/test_decompositions.py
Labels: matrices

#20321 Fixed `FiniteSet.evalf(...)` with a subs argument
  sympy/core/evalf.py
  sympy/core/tests/test_evalf.py
  sympy/sets/sets.py
Labels: core

#20121 Minor fixes for ConditionSet and Piecewise
  sympy/calculus/tests/test_util.py
  sympy/functions/elementary/piecewise.py
  sympy/sets/conditionset.py
  sympy/sets/sets.py
  sympy/sets/tests/test_conditionset.py
Labels: functions.elementary.piecewise, sets

#20791 Introduce dispatchable shape function
  doc/src/tutorial/matrices.rst
  sympy/__init__.py
  sympy/integrals/integrals.py
  sympy/matrices/__init__.py
  sympy/matrices/common.py
  sympy/matrices/matrices.py
  sympy/tensor/__init__.py
  sympy/tensor/array/ndim_array.py
  sympy/tensor/functions.py
Labels: core, matrices, tensor

#20844 Return KroneckerDelta when alpha,beta,gamma are 0 in WignerD Function
  sympy/physics/quantum/spin.py
  sympy/physics/quantum/tests/test_spin.py
Labels: physics

#20788 Customization of req. on base in 'create_expand_pow_optimization'
  sympy/codegen/rewriting.py
  sympy/codegen/tests/test_rewriting.py
Labels: codegen

#20245 Made parts of boolalg a bit more pythonic and faster
  sympy/logic/boolalg.py
  sympy/logic/tests/test_boolalg.py
Labels: Performance, logic
