Repository sympy/sympy, pull requests merged in 2021-07, with the labels that each got.

#21689 Add new features to class `Body`
  sympy/physics/mechanics/body.py
  sympy/physics/mechanics/tests/test_body.py
Labels: physics.continuum_mechanics

#21653 [GSoC] Add `TransferFunctionMatrix` class
  doc/src/modules/physics/control/lti.rst
  sympy/core/tests/test_args.py
  sympy/physics/control/__init__.py
  sympy/physics/control/lti.py
  sympy/physics/control/tests/test_lti.py
  sympy/printing/latex.py
  sympy/printing/pretty/pretty.py
  sympy/printing/pretty/tests/test_pretty.py
  sympy/printing/tests/test_latex.py
  sympy/printing/tests/test_str.py
Labels: physics.control

#19761 [GSoC] Add TransferFunctionMatrix class in physics.control
  sympy/core/tests/test_args.py
  sympy/physics/control/__init__.py
  sympy/physics/control/lti.py
  sympy/physics/control/tests/test_lti.py
  sympy/printing/latex.py
  sympy/printing/pretty/pretty.py
  sympy/printing/pretty/tests/test_pretty.py
  sympy/printing/tests/test_latex.py
  sympy/printing/tests/test_str.py
Labels: GSoC, Please take over, physics.control

#21682 Update the license, The MIT license is added.
  LICENSE
Labels: Uncategorised

#21648 [GSoC] Function for plotting loading results added
  sympy/physics/continuum_mechanics/beam.py
Labels: GSoC, physics.continuum_mechanics

#21698 Fix the docs build when gmpy2 is installed
  doc/src/modules/polys/domainsref.rst
Labels: Documentation

#21702 Added case for Str name for MatrixSymbol and a test for the same
  sympy/core/exprtools.py
  sympy/core/tests/test_exprtools.py
Labels: core

#21692 refactor euler solvers
  doc/src/modules/solvers/ode.rst
  sympy/solvers/ode/nonhomogeneous.py
  sympy/solvers/ode/ode.py
  sympy/solvers/ode/single.py
  sympy/solvers/ode/subscheck.py
  sympy/solvers/ode/tests/test_ode.py
Labels: solvers.dsolve

#21700 Add basis vector to body
  sympy/physics/mechanics/body.py
  sympy/physics/mechanics/tests/test_body.py
Labels: physics.mechanics

#21564 Implement PinJoint and Joint class
  doc/src/modules/physics/mechanics/api/joint.rst
  doc/src/modules/physics/mechanics/index.rst
  sympy/physics/mechanics/__init__.py
  sympy/physics/mechanics/joint.py
  sympy/physics/mechanics/tests/test_joint.py
  sympy/testing/quality_unicode.py
Labels: GSoC, physics.mechanics

#21589 [GSoC] A few leading term methods changed
  sympy/concrete/tests/test_sums_products.py
  sympy/core/add.py
  sympy/core/expr.py
  sympy/core/function.py
  sympy/core/mul.py
  sympy/core/power.py
  sympy/core/tests/test_expr.py
  sympy/core/tests/test_power.py
  sympy/functions/combinatorial/factorials.py
  sympy/functions/elementary/exponential.py
  sympy/functions/elementary/hyperbolic.py
  sympy/functions/elementary/integers.py
  sympy/functions/elementary/piecewise.py
  sympy/functions/elementary/trigonometric.py
  sympy/functions/special/bessel.py
  sympy/functions/special/error_functions.py
  sympy/functions/special/gamma_functions.py
  sympy/functions/special/singularity_functions.py
  sympy/functions/special/tests/test_bessel.py
  sympy/functions/special/tests/test_error_functions.py
  sympy/functions/special/tests/test_singularity_functions.py
  sympy/integrals/integrals.py
  sympy/integrals/tests/test_integrals.py
  sympy/series/formal.py
  sympy/series/fourier.py
  sympy/series/gruntz.py
  sympy/series/limits.py
  sympy/series/order.py
  sympy/series/tests/test_aseries.py
  sympy/series/tests/test_gruntz.py
  sympy/series/tests/test_limits.py
  sympy/series/tests/test_nseries.py
  sympy/series/tests/test_order.py
  sympy/series/tests/test_residues.py
  sympy/series/tests/test_series.py
  sympy/utilities/tests/test_wester.py
Labels: GSoC, core, functions, series

#21710 Fix `child_joint_pos` docstring
  sympy/physics/mechanics/joint.py
Labels: physics.mechanics

#21706 Refactor bessel solver
  doc/src/modules/solvers/ode.rst
  sympy/solvers/ode/ode.py
  sympy/solvers/ode/single.py
  sympy/solvers/ode/tests/test_single.py
Labels: solvers.dsolve

#21699 feat(core): make sympy.Integer compatible with Integral ABC
  sympy/core/numbers.py
  sympy/core/tests/test_numbers.py
Labels: core, core.numbers

#21590 Changed the sympy.stats.sample() API and updated examples
  .github/workflows/runtests.yml
  sympy/stats/joint_rv.py
  sympy/stats/matrix_distributions.py
  sympy/stats/rv.py
  sympy/stats/sampling/tests/test_sample_continuous_rv.py
  sympy/stats/sampling/tests/test_sample_discrete_rv.py
  sympy/stats/sampling/tests/test_sample_finite_rv.py
  sympy/stats/tests/test_joint_rv.py
  sympy/stats/tests/test_matrix_distributions.py
  sympy/stats/tests/test_rv.py
Labels: Backwards Incompatibility, stats

#21709 MAINT: Python fixes
  release/github_release.py
  setup.py
  sympy/assumptions/assume.py
  sympy/assumptions/handlers/sets.py
  sympy/combinatorics/tensor_can.py
  sympy/functions/combinatorial/numbers.py
  sympy/geometry/line.py
  sympy/geometry/point.py
  sympy/geometry/polygon.py
  sympy/holonomic/holonomic.py
  sympy/integrals/manualintegrate.py
  sympy/integrals/rubi/parsetools/parse.py
  sympy/integrals/rubi/utility_function.py
  sympy/ntheory/ecm.py
  sympy/physics/continuum_mechanics/beam.py
  sympy/physics/mechanics/joint.py
  sympy/physics/optics/utils.py
  sympy/polys/polyclasses.py
  sympy/printing/pretty/pretty.py
  sympy/printing/str.py
  sympy/series/formal.py
  sympy/series/gruntz.py
  sympy/solvers/ode/hypergeometric.py
  sympy/solvers/ode/ode.py
  sympy/solvers/ode/systems.py
  sympy/solvers/solvers.py
  sympy/solvers/solveset.py
  sympy/stats/stochastic_process_types.py
  sympy/tensor/array/expressions/array_expressions.py
  sympy/tensor/array/expressions/conv_array_to_matrix.py
  sympy/utilities/_compilation/util.py
  sympy/utilities/codegen.py
  sympy/utilities/iterables.py
  sympy/vector/implicitregion.py
Labels: Uncategorised

#21650 Fix MultivariateNormal density calculation when symbolic parameters are used
  sympy/stats/joint_rv_types.py
  sympy/stats/tests/test_joint_rv.py
Labels: stats

#21722 refactor lie group solver
  doc/src/modules/solvers/ode.rst
  sympy/solvers/ode/__init__.py
  sympy/solvers/ode/lie_group.py
  sympy/solvers/ode/ode.py
  sympy/solvers/ode/single.py
  sympy/solvers/ode/tests/test_lie_group.py
Labels: solvers.dsolve

#21730 Check if velocity is defined in frame before taking derivative of pos
  sympy/physics/vector/point.py
  sympy/physics/vector/tests/test_point.py
Labels: physics.mechanics

#21728 Fix failing master branch
  sympy/physics/mechanics/joint.py
Labels: SymEngine, physics.mechanics

#21731 [GSoC] Improvements to `Limit.doit`
  sympy/concrete/tests/test_sums_products.py
  sympy/core/expr.py
  sympy/core/mul.py
  sympy/functions/elementary/exponential.py
  sympy/functions/elementary/hyperbolic.py
  sympy/functions/elementary/integers.py
  sympy/functions/elementary/tests/test_trigonometric.py
  sympy/functions/elementary/trigonometric.py
  sympy/functions/special/bessel.py
  sympy/functions/special/error_functions.py
  sympy/functions/special/tests/test_bessel.py
  sympy/functions/special/tests/test_error_functions.py
  sympy/series/gruntz.py
  sympy/series/limits.py
  sympy/series/tests/test_limits.py
  sympy/series/tests/test_order.py
  sympy/utilities/tests/test_wester.py
Labels: series

#21745 Implement N-ary hstack and vstack for DDM
  sympy/polys/matrices/ddm.py
  sympy/polys/matrices/tests/test_ddm.py
Labels: domainmatrix

#21674 Implement SlidingJoint
  doc/src/modules/physics/mechanics/api/joint.rst
  sympy/physics/mechanics/__init__.py
  sympy/physics/mechanics/joint.py
  sympy/physics/mechanics/tests/test_joint.py
Labels: GSoC, physics.mechanics

#21712 Implement Forces and Torques
  sympy/physics/mechanics/body.py
  sympy/physics/mechanics/tests/test_body.py
Labels: physics.mechanics

#21757 maint(ci): run benchmarks in GitHub Actions
  .github/workflows/comment-on-pr.yml
  .github/workflows/runtests.yml
  asv.conf.actions.json
Labels: Performance, actions

#21459 [WIP] Rational Riccati solver
  doc/src/modules/solvers/ode.rst
  sympy/solvers/ode/ode.py
  sympy/solvers/ode/riccati.py
  sympy/solvers/ode/single.py
  sympy/solvers/ode/tests/test_riccati.py
  sympy/solvers/ode/tests/test_single.py
Labels: solvers.dsolve

#21743 Improve dsolve
  doc/src/modules/solvers/ode.rst
  sympy/solvers/deutils.py
  sympy/solvers/ode/ode.py
  sympy/solvers/ode/single.py
  sympy/solvers/ode/tests/test_ode.py
Labels: solvers.dsolve

#21472 Redesign rewrite()
  sympy/core/basic.py
  sympy/functions/special/bessel.py
  sympy/physics/quantum/tensorproduct.py
  sympy/stats/symbolic_probability.py
Labels: Backwards Incompatibility, PR: sympy's turn, core

#21755 Add N-ary DomainMatrix hstack and vstack
  sympy/polys/matrices/ddm.py
  sympy/polys/matrices/domainmatrix.py
  sympy/polys/matrices/sdm.py
  sympy/polys/matrices/tests/test_domainmatrix.py
Labels: domainmatrix

#21780 codegen - Removed the limits argument in the function cast_check() in ast
  sympy/codegen/ast.py
Labels: codegen

#21783 limits - Added the test case function test_issue_20578() in limits tests
  sympy/series/tests/test_limits.py
Labels: series

#21778 Add new abstract base class for methods
  sympy/physics/mechanics/kane.py
  sympy/physics/mechanics/lagrange.py
  sympy/physics/mechanics/method.py
  sympy/physics/mechanics/tests/test_kane.py
  sympy/physics/mechanics/tests/test_method.py
Labels: physics.mechanics

#21546 lambdify: Optimization with a substitution of redundant patterns
  sympy/simplify/cse_main.py
  sympy/simplify/tests/test_cse.py
  sympy/utilities/lambdify.py
  sympy/utilities/tests/test_lambdify.py
Labels: utilities.lambdify

#21789 poly - Fixes the issue#19353 of simplified trace matrix error attribute
  sympy/matrices/tests/test_commonmatrix.py
  sympy/polys/polyutils.py
  sympy/polys/tests/test_polyutils.py
Labels: polys

#21626 Make Matrix use DomainMatrix internally
  pytest.ini
  sympy/core/tests/test_args.py
  sympy/matrices/common.py
  sympy/matrices/dense.py
  sympy/matrices/eigen.py
  sympy/matrices/immutable.py
  sympy/matrices/matrices.py
  sympy/matrices/repmatrix.py
  sympy/matrices/solvers.py
  sympy/matrices/sparse.py
  sympy/matrices/sparsetools.py
  sympy/matrices/tests/test_commonmatrix.py
  sympy/matrices/tests/test_matrices.py
  sympy/matrices/tests/test_sparse.py
  sympy/polys/matrices/tests/test_sdm.py
  sympy/polys/polymatrix.py
  sympy/printing/mathematica.py
  sympy/printing/numpy.py
  sympy/simplify/cse_main.py
  sympy/solvers/solvers.py
  sympy/utilities/tests/test_pickling.py
Labels: Performance, domainmatrix, matrices

#21804 integrals - added the test case function test_issue_4187 in integral tests
  sympy/integrals/tests/test_integrals.py
Labels: integrals

#21805 [GSoC] Fixes regression in limits
  sympy/core/mul.py
  sympy/core/power.py
  sympy/functions/elementary/exponential.py
  sympy/functions/elementary/trigonometric.py
  sympy/functions/special/error_functions.py
  sympy/functions/special/hyper.py
  sympy/functions/special/zeta_functions.py
  sympy/series/tests/test_limits.py
Labels: series
