Repository sympy/sympy, pull requests merged in 2021-11, with the labels that each got.

#22403 Added tests for different values of k for limit(x**n - x**(n - k), x, oo)
  sympy/series/tests/test_limits.py
Labels: limits

#21903 nD (counting) and multiset_derangements (generating)
  sympy/functions/combinatorial/numbers.py
  sympy/functions/combinatorial/tests/test_comb_numbers.py
  sympy/utilities/iterables.py
  sympy/utilities/tests/test_iterables.py
Labels: combinatorics

#22255 allow for economical specification of `parse_expr` transformations
  sympy/matrices/common.py
  sympy/parsing/sympy_parser.py
  sympy/parsing/tests/test_sympy_parser.py
Labels: parsing

#20047 Fix divergence in cylindrical coordinates
  sympy/vector/operators.py
Labels: vector

#22431 Speed up is_square
  sympy/ntheory/primetest.py
Labels: ntheory

#22423 Fixed issue with nonlinsolve, exp, and EmptySet
  sympy/solvers/solveset.py
  sympy/solvers/tests/test_solveset.py
Labels: solvers.solveset, solvers.nonlinsolve

#22211 Fix handling of zoo in evalf
  sympy/core/evalf.py
  sympy/core/expr.py
  sympy/core/tests/test_evalf.py
  sympy/core/tests/test_expr.py
Labels: core, core.evalf

#22441 cleanup of Float handling and evaluate of powers
  sympy/core/basic.py
  sympy/core/numbers.py
  sympy/core/power.py
  sympy/core/tests/test_expr.py
  sympy/core/tests/test_numbers.py
  sympy/core/tests/test_power.py
  sympy/core/tests/test_subs.py
  sympy/simplify/simplify.py
  sympy/simplify/tests/test_simplify.py
Labels: PR: sympy's turn

#22446 add type hints to evalf.py
  sympy/concrete/products.py
  sympy/concrete/summations.py
  sympy/core/add.py
  sympy/core/evalf.py
  sympy/core/mul.py
  sympy/core/numbers.py
  sympy/core/power.py
  sympy/functions/combinatorial/numbers.py
  sympy/functions/elementary/complexes.py
  sympy/functions/elementary/exponential.py
  sympy/functions/elementary/integers.py
  sympy/functions/elementary/trigonometric.py
  sympy/integrals/integrals.py
  sympy/utilities/lambdify.py
Labels: core.evalf, mypy

#22466 Removed doctest deprecation warning
  sympy/testing/runtests.py
Labels: Uncategorised

#22465 Removed distutil since it is deprecated in Python 3.10
  sympy/utilities/_compilation/compilation.py
  sympy/utilities/_compilation/runners.py
  sympy/utilities/_compilation/util.py
Labels: Uncategorised

#22467 Use MathJax version 3 in the docs
  doc/src/conf.py
Labels: Documentation

#20773 Added exception catching for GeneratorsNeeded error in as_poly
  sympy/core/expr.py
  sympy/core/tests/test_expr.py
  sympy/solvers/tests/test_solvers.py
Labels: core, solvers

#22483 recursive canonical
  sympy/core/relational.py
  sympy/core/tests/test_relational.py
Labels: PR: sympy's turn

#22490 Reworked imports in manualintegrate
  sympy/integrals/manualintegrate.py
Labels: integrals.manualintegrate

#22489 Fixed some import and code quality issues
  sympy/assumptions/handlers/sets.py
  sympy/concrete/guess.py
  sympy/concrete/summations.py
  sympy/conftest.py
  sympy/core/numbers.py
  sympy/core/sympify.py
  sympy/core/tests/test_arit.py
  sympy/core/tests/test_logic.py
  sympy/functions/combinatorial/factorials.py
  sympy/functions/combinatorial/numbers.py
  sympy/functions/elementary/exponential.py
  sympy/functions/elementary/hyperbolic.py
  sympy/functions/elementary/trigonometric.py
  sympy/functions/special/bessel.py
  sympy/functions/special/error_functions.py
  sympy/functions/special/gamma_functions.py
  sympy/functions/special/polynomials.py
  sympy/functions/special/zeta_functions.py
  sympy/integrals/deltafunctions.py
  sympy/integrals/meijerint.py
  sympy/integrals/trigonometry.py
  sympy/interactive/session.py
  sympy/matrices/determinant.py
  sympy/matrices/matrices.py
  sympy/ntheory/continued_fraction.py
  sympy/ntheory/egyptian_fraction.py
  sympy/ntheory/primetest.py
  sympy/physics/quantum/boson.py
  sympy/physics/quantum/fermion.py
  sympy/physics/quantum/gate.py
  sympy/physics/quantum/identitysearch.py
  sympy/physics/quantum/matrixutils.py
  sympy/physics/quantum/operator.py
  sympy/physics/quantum/pauli.py
  sympy/physics/quantum/qubit.py
  sympy/physics/quantum/sho1d.py
  sympy/plotting/pygletplot/plot_interval.py
  sympy/series/acceleration.py
  sympy/series/approximants.py
  sympy/simplify/fu.py
  sympy/simplify/simplify.py
  sympy/solvers/ode/nonhomogeneous.py
  sympy/solvers/solveset.py
  sympy/stats/frv_types.py
  sympy/testing/runtests.py
  sympy/utilities/lambdify.py
Labels: Code quality

#22492 Reordered imports and moved to top level
  sympy/concrete/delta.py
  sympy/concrete/expr_with_limits.py
  sympy/concrete/products.py
  sympy/concrete/summations.py
  sympy/integrals/deltafunctions.py
  sympy/integrals/integrals.py
  sympy/integrals/manualintegrate.py
  sympy/integrals/meijerint.py
  sympy/integrals/rationaltools.py
  sympy/integrals/rde.py
  sympy/integrals/risch.py
  sympy/integrals/trigonometry.py
  sympy/solvers/recurr.py
  sympy/solvers/solvers.py
Labels: integrals, concrete, Code quality

#22464 Reorganize polys.numberfields
  doc/src/modules/polys/index.rst
  doc/src/modules/polys/numberfields.rst
  doc/src/modules/polys/reference.rst
  sympy/polys/numberfields/__init__.py
  sympy/polys/numberfields/isomorphism.py
  sympy/polys/numberfields/minpoly.py
  sympy/polys/numberfields/numbers.py
  sympy/polys/numberfields/subfield.py
  sympy/polys/numberfields/tests/test_minpoly.py
  sympy/polys/numberfields/tests/test_numbers.py
  sympy/polys/numberfields/tests/test_subfield.py
  sympy/polys/numberfields/tests/test_utilities.py
  sympy/polys/numberfields/utilities.py
Labels: polys

#22460 utilities/matchpy_connector: Wildcard.__eq__ now works without matchpy
  sympy/integrals/rubi/symbol.py
  sympy/utilities/matchpy_connector.py
Labels: utilities

#22495 Reordered imports and moved to top level
  sympy/calculus/__init__.py
  sympy/calculus/accumulationbounds.py
  sympy/calculus/singularities.py
  sympy/calculus/tests/test_accumulationbounds.py
  sympy/calculus/tests/test_util.py
  sympy/calculus/util.py
  sympy/concrete/summations.py
  sympy/core/add.py
  sympy/core/expr.py
  sympy/core/mul.py
  sympy/core/power.py
  sympy/core/tests/test_args.py
  sympy/core/tests/test_arit.py
  sympy/core/tests/test_subs.py
  sympy/functions/elementary/exponential.py
  sympy/functions/elementary/hyperbolic.py
  sympy/functions/elementary/integers.py
  sympy/functions/elementary/tests/test_exponential.py
  sympy/functions/elementary/tests/test_hyperbolic.py
  sympy/functions/elementary/tests/test_integers.py
  sympy/functions/elementary/tests/test_trigonometric.py
  sympy/functions/elementary/trigonometric.py
  sympy/integrals/integrals.py
  sympy/printing/tests/test_latex.py
  sympy/printing/tests/test_mathml.py
  sympy/printing/tests/test_str.py
  sympy/series/limits.py
  sympy/series/limitseq.py
  sympy/series/tests/test_limits.py
  sympy/series/tests/test_limitseq.py
  sympy/sets/contains.py
  sympy/sets/fancysets.py
  sympy/sets/handlers/add.py
  sympy/sets/handlers/functions.py
  sympy/sets/handlers/mul.py
  sympy/sets/handlers/power.py
  sympy/sets/ordinals.py
  sympy/sets/powerset.py
  sympy/sets/setexpr.py
  sympy/sets/sets.py
  sympy/sets/tests/test_fancysets.py
  sympy/solvers/decompogen.py
  sympy/solvers/inequalities.py
  sympy/solvers/polysys.py
  sympy/solvers/solvers.py
  sympy/solvers/solveset.py
Labels: sets, calculus, Code quality

#22470 Add 'make latexpdf' to build the PDF documentation in one step
  bin/test_sphinx.sh
  doc/Makefile
Labels: Documentation

#22433 create core.random
  sympy/benchmarks/bench_symbench.py
  sympy/combinatorics/partitions.py
  sympy/combinatorics/perm_groups.py
  sympy/combinatorics/tests/test_schur_number.py
  sympy/combinatorics/tests/test_testutil.py
  sympy/core/assumptions.py
  sympy/core/expr.py
  sympy/core/random.py
  sympy/core/sympify.py
  sympy/core/tests/test_arit.py
  sympy/core/tests/test_expand.py
  sympy/core/tests/test_function.py
  sympy/core/tests/test_random.py
  sympy/core/tests/test_relational.py
  sympy/crypto/crypto.py
  sympy/crypto/tests/test_crypto.py
  sympy/functions/combinatorial/tests/test_comb_numbers.py
  sympy/functions/elementary/tests/test_miscellaneous.py
  sympy/functions/special/tests/test_bessel.py
  sympy/functions/special/tests/test_elliptic_integrals.py
  sympy/functions/special/tests/test_error_functions.py
  sympy/functions/special/tests/test_gamma_functions.py
  sympy/functions/special/tests/test_hyper.py
  sympy/functions/special/tests/test_zeta_functions.py
  sympy/geometry/tests/test_entity.py
  sympy/geometry/tests/test_polygon.py
  sympy/geometry/tests/test_util.py
  sympy/integrals/rubi/utility_function.py
  sympy/integrals/tests/test_integrals.py
  sympy/integrals/tests/test_meijerint.py
  sympy/ntheory/residue_ntheory.py
  sympy/ntheory/tests/test_bbp_pi.py
  sympy/ntheory/tests/test_egyptian_fraction.py
  sympy/physics/quantum/circuitutils.py
  sympy/physics/quantum/identitysearch.py
  sympy/physics/quantum/tests/test_matrixutils.py
  sympy/polys/factortools.py
  sympy/polys/galoistools.py
  sympy/polys/tests/test_polyroots.py
  sympy/simplify/tests/test_cse.py
  sympy/simplify/tests/test_fu.py
  sympy/simplify/tests/test_hyperexpand.py
  sympy/simplify/tests/test_trigsimp.py
  sympy/solvers/diophantine/tests/test_diophantine.py
  sympy/solvers/ode/tests/test_riccati.py
  sympy/solvers/tests/test_solvers.py
  sympy/solvers/tests/test_solveset.py
  sympy/stats/tests/test_continuous_rv.py
  sympy/tensor/tests/test_tensor_operators.py
  sympy/testing/randtest.py
  sympy/utilities/iterables.py
  sympy/utilities/randtest.py
Labels: core, PR: sympy's turn

#22456 codegen/ast: argument invariance is now supported for String
  sympy/codegen/ast.py
  sympy/codegen/tests/test_ast.py
Labels: codegen

#22485 test for bare expressions in test suite
  sympy/combinatorics/tests/test_coset_table.py
  sympy/combinatorics/tests/test_homomorphisms.py
  sympy/concrete/tests/test_guess.py
  sympy/core/tests/test_arit.py
  sympy/core/tests/test_expr.py
  sympy/core/tests/test_exprtools.py
  sympy/core/tests/test_numbers.py
  sympy/external/tests/test_numpy.py
  sympy/geometry/tests/test_polygon.py
  sympy/geometry/tests/test_util.py
  sympy/integrals/tests/test_meijerint.py
  sympy/integrals/tests/test_prde.py
  sympy/matrices/expressions/tests/test_determinant.py
  sympy/matrices/expressions/tests/test_trace.py
  sympy/matrices/tests/test_commonmatrix.py
  sympy/matrices/tests/test_matrices.py
  sympy/parsing/tests/test_ast_parser.py
  sympy/physics/mechanics/tests/test_body.py
  sympy/physics/quantum/tests/test_pauli.py
  sympy/plotting/tests/test_plot.py
  sympy/polys/domains/tests/test_domains.py
  sympy/polys/tests/test_rings.py
  sympy/printing/tests/test_mathml.py
  sympy/series/benchmarks/bench_order.py
  sympy/series/tests/test_limits.py
  sympy/simplify/tests/test_fu.py
  sympy/simplify/tests/test_gammasimp.py
  sympy/solvers/tests/test_solvers.py
  sympy/stats/tests/test_continuous_rv.py
  sympy/stats/tests/test_discrete_rv.py
  sympy/stats/tests/test_random_matrix.py
  sympy/tensor/array/tests/test_arrayop.py
  sympy/tensor/array/tests/test_immutable_ndim_array.py
  sympy/tensor/array/tests/test_mutable_ndim_array.py
  sympy/tensor/tests/test_tensor.py
  sympy/tensor/tests/test_tensor_operators.py
  sympy/testing/tests/test_code_quality.py
  sympy/utilities/tests/test_misc.py
  sympy/utilities/tests/test_wester.py
  sympy/vector/tests/test_implicitregion.py
  sympy/vector/tests/test_integrals.py
Labels: PR: sympy's turn, Uncategorised

#22498 EOL changes and correction of suggestion text
  sympy/testing/randtest.py
Labels: core

#22500 Array expression objects are not evaluated by default anymore
  sympy/tensor/array/arrayop.py
  sympy/tensor/array/expressions/array_expressions.py
  sympy/tensor/array/expressions/arrayexpr_derivatives.py
  sympy/tensor/array/expressions/conv_array_to_matrix.py
  sympy/tensor/array/expressions/conv_indexed_to_array.py
  sympy/tensor/array/expressions/conv_matrix_to_array.py
  sympy/tensor/array/expressions/tests/test_array_expressions.py
  sympy/tensor/array/expressions/tests/test_arrayexpr_derivatives.py
  sympy/tensor/array/expressions/tests/test_convert_array_to_matrix.py
  sympy/tensor/array/expressions/tests/test_convert_index_to_array.py
  sympy/tensor/array/expressions/tests/test_convert_matrix_to_array.py
Labels: tensor

#22509 Add documentation on building the PDF docs
  bin/test_travis.sh
  doc/Makefile
  doc/src/guides/contributing/build-docs.rst
  doc/src/guides/contributing/documentation-style-guide.rst
  release/build_docs.py
Labels: Documentation, CZI: Documentation

#22508 stats/rv: Density can no longer have None as its argument
  sympy/stats/rv.py
Labels: stats

#22510 Various fixes to the Makefile for the docs
  doc/Makefile
  doc/src/conf.py
Labels: Documentation, CZI: Documentation

#22236 printing/pretty: Do not compute parenthesization twice
  sympy/printing/pretty/pretty.py
  sympy/printing/pretty/stringpict.py
  sympy/printing/pretty/tests/test_pretty.py
Labels: printing, printing.pretty

#22468 Use headless Chrome instead of Inkscape to convert SVG files to PDF in the PDF docs build
  .travis.yml
  doc/Makefile
  doc/convert-svg-to-pdf.sh
  doc/src/modules/physics/vector/kin_angvel1.svg
  doc/src/modules/physics/vector/kin_angvel2.svg
  doc/src/modules/physics/vector/vec_fix_notfix.svg
  doc/src/modules/physics/vector/vec_simp_der.svg
  release/Dockerfile
  release/aptinstall.sh
Labels: Documentation, CZI: Documentation

#22316 Add integral basis and prime factorization for number fields.
  doc/src/modules/core.rst
  doc/src/modules/matrices/index.rst
  doc/src/modules/matrices/normalforms.rst
  doc/src/modules/polys/domainmatrix.rst
  doc/src/modules/polys/literature.rst
  doc/src/modules/polys/numberfields.rst
  sympy/__init__.py
  sympy/matrices/normalforms.py
  sympy/matrices/tests/test_normalforms.py
  sympy/polys/__init__.py
  sympy/polys/domains/algebraicfield.py
  sympy/polys/matrices/domainmatrix.py
  sympy/polys/matrices/normalforms.py
  sympy/polys/matrices/tests/test_domainmatrix.py
  sympy/polys/matrices/tests/test_normalforms.py
  sympy/polys/numberfields/__init__.py
  sympy/polys/numberfields/basis.py
  sympy/polys/numberfields/exceptions.py
  sympy/polys/numberfields/modules.py
  sympy/polys/numberfields/primes.py
  sympy/polys/numberfields/subfield.py
  sympy/polys/numberfields/tests/test_basis.py
  sympy/polys/numberfields/tests/test_modules.py
  sympy/polys/numberfields/tests/test_primes.py
  sympy/polys/numberfields/tests/test_utilities.py
  sympy/polys/numberfields/utilities.py
Labels: polys

#22491 Fixed limit(1/asin(x) , x, 0) which was returning wrong outputs along both directions .
  sympy/series/limits.py
  sympy/series/tests/test_limits.py
Labels: series

#22052 fix(core): improve checks in pow substitutions
  .github/workflows/runtests.yml
  sympy/core/power.py
  sympy/core/tests/test_subs.py
  sympy/integrals/tests/test_integrals.py
Labels: core, integrals

#22506 Bessel and Meijer-G functions added to MpmathPrinter
  sympy/printing/pycode.py
Labels: printing

#22169 parse_expr converts builtin abs, max, min, pow
  sympy/parsing/sympy_parser.py
  sympy/parsing/tests/test_sympy_parser.py
Labels: parsing

#22540 Fixed issue with piecewise integration
  sympy/functions/elementary/piecewise.py
  sympy/functions/elementary/tests/test_piecewise.py
Labels: integrals, functions.elementary.piecewise

#7708 4077: use signsimp as first step in cancel
  sympy/integrals/tests/test_heurisch.py
  sympy/physics/control/lti.py
  sympy/physics/control/tests/test_lti.py
  sympy/polys/polytools.py
  sympy/polys/tests/test_polytools.py
  sympy/series/gruntz.py
  sympy/series/tests/test_gruntz.py
  sympy/series/tests/test_series.py
  sympy/simplify/simplify.py
  sympy/utilities/tests/test_wester.py
Labels: simplify, polys

#22504 Docs: Elaborate the main categories
  doc/src/index.rst
Labels: Documentation

#22563 basic: use type instead of func for dictionary keys
  sympy/assumptions/ask.py
  sympy/assumptions/predicates/common.py
  sympy/assumptions/relation/binrel.py
  sympy/assumptions/sathandlers.py
  sympy/core/evalf.py
  sympy/simplify/fu.py
  sympy/solvers/solvers.py
Labels: Uncategorised

#22209 Docs: Add public API reference section
  doc/src/conf.py
  doc/src/modules/codegen.rst
  doc/src/modules/index.rst
  doc/src/modules/integrals/index.rst
  doc/src/modules/ntheory.rst
  doc/src/modules/physics/index.rst
  doc/src/modules/physics/vector/kinematics.rst
  doc/src/modules/solvers/index.rst
  doc/src/reference/index.rst
  doc/src/reference/public/basics/index.rst
  doc/src/reference/public/codegeneration/index.rst
  doc/src/reference/public/logic/index.rst
  doc/src/reference/public/matrices/index.rst
  doc/src/reference/public/numbertheory/index.rst
  doc/src/reference/public/physics/index.rst
  doc/src/reference/public/topics/index.rst
  doc/src/reference/public/utilities/index.rst
  sympy/physics/__init__.py
Labels: Documentation
