Repository sympy/sympy, pull requests merged in 2022-07, with the labels that each got.

#23694 Improve frac parsing
  .mailmap
  sympy/parsing/latex/LaTeX.g4
  sympy/parsing/latex/_antlr/latexlexer.py
  sympy/parsing/latex/_antlr/latexparser.py
  sympy/parsing/latex/_parse_latex_antlr.py
  sympy/parsing/tests/test_latex.py
Labels: parsing.latex

#23618 parse_latex support \lg
  sympy/parsing/latex/LaTeX.g4
  sympy/parsing/latex/_antlr/latexlexer.py
  sympy/parsing/latex/_antlr/latexparser.py
  sympy/parsing/latex/_parse_latex_antlr.py
  sympy/parsing/tests/test_latex.py
Labels: parsing.latex

#23559 manualintegrate x**n*(trig or Derivative)
  sympy/integrals/manualintegrate.py
  sympy/integrals/tests/test_failing_integrals.py
  sympy/integrals/tests/test_integrals.py
  sympy/integrals/tests/test_manual.py
Labels: integrals.manualintegrate

#23689 fix integrate sqrt(x**2)
  sympy/integrals/risch.py
  sympy/integrals/tests/test_integrals.py
Labels: integrals.risch

#23592 [GSoC Pr1] Refactored leading term method for log Function
  sympy/concrete/summations.py
  sympy/core/add.py
  sympy/core/mul.py
  sympy/core/power.py
  sympy/functions/elementary/exponential.py
  sympy/functions/elementary/tests/test_exponential.py
  sympy/functions/elementary/tests/test_trigonometric.py
  sympy/functions/elementary/trigonometric.py
  sympy/functions/special/bessel.py
  sympy/functions/special/error_functions.py
  sympy/functions/special/tests/test_bessel.py
  sympy/integrals/tests/test_integrals.py
  sympy/series/gruntz.py
  sympy/series/limits.py
  sympy/series/tests/test_limits.py
  sympy/series/tests/test_order.py
Labels: series, GSoC

#23488 Add a guide on writing custom functions
  .gitignore
  doc/src/conf.py
  doc/src/guides/assumptions.rst
  doc/src/guides/booleans.rst
  doc/src/guides/contributing/documentation-style-guide.rst
  doc/src/guides/custom-functions.md
  doc/src/guides/index.rst
  doc/src/modules/functions/combinatorial.rst
  doc/src/modules/functions/elementary.rst
  doc/src/modules/functions/special.rst
  doc/src/modules/ntheory.rst
  doc/src/modules/printing.rst
  sympy/core/assumptions.py
  sympy/core/function.py
  sympy/printing/printer.py
Labels: Documentation, CZI: Documentation

#23698 Code cleanups
  sympy/assumptions/cnf.py
  sympy/combinatorics/perm_groups.py
  sympy/combinatorics/tensor_can.py
  sympy/concrete/guess.py
  sympy/concrete/summations.py
  sympy/core/basic.py
  sympy/core/containers.py
  sympy/core/expr.py
  sympy/core/exprtools.py
  sympy/core/function.py
  sympy/core/mod.py
  sympy/core/mul.py
  sympy/core/multidimensional.py
  sympy/core/operations.py
  sympy/core/power.py
  sympy/core/symbol.py
  sympy/core/traversal.py
  sympy/functions/combinatorial/factorials.py
  sympy/functions/combinatorial/numbers.py
  sympy/functions/elementary/hyperbolic.py
  sympy/functions/elementary/miscellaneous.py
  sympy/functions/elementary/piecewise.py
  sympy/functions/special/gamma_functions.py
  sympy/functions/special/hyper.py
  sympy/interactive/session.py
  sympy/logic/boolalg.py
  sympy/multipledispatch/core.py
  sympy/multipledispatch/dispatcher.py
  sympy/multipledispatch/utils.py
  sympy/ntheory/residue_ntheory.py
  sympy/physics/hep/gamma_matrices.py
  sympy/physics/units/dimensions.py
  sympy/polys/monomials.py
  sympy/polys/multivariate_resultants.py
  sympy/printing/aesaracode.py
  sympy/printing/dot.py
  sympy/printing/maple.py
  sympy/printing/printer.py
  sympy/printing/str.py
  sympy/series/fourier.py
  sympy/simplify/cse_main.py
  sympy/solvers/bivariate.py
  sympy/solvers/diophantine/diophantine.py
  sympy/solvers/ode/ode.py
  sympy/solvers/ode/subscheck.py
  sympy/solvers/pde.py
  sympy/solvers/polysys.py
  sympy/solvers/recurr.py
  sympy/solvers/solvers.py
  sympy/stats/joint_rv.py
  sympy/stats/stochastic_process_types.py
  sympy/tensor/tensor.py
Labels: Performance, Code quality

#23717 Various fixes for 1.11 release blocker issues
  sympy/integrals/prde.py
  sympy/integrals/tests/test_heurisch.py
  sympy/integrals/tests/test_integrals.py
  sympy/polys/numberfields/minpoly.py
  sympy/polys/numberfields/tests/test_minpoly.py
  sympy/solvers/solvers.py
  sympy/solvers/tests/test_solvers.py
Labels: solvers.solve, integrals.heurisch

#23128 fix(physics.control): failing tests in test_control_plots.py
  bin/test_optional_dependencies.py
  sympy/physics/control/tests/test_control_plots.py
Labels: physics.control

#23722 fix(integrals): fix degeneracy checking in heurisch
  sympy/integrals/heurisch.py
  sympy/integrals/tests/test_integrals.py
Labels: integrals.heurisch

#23726 Cleanup doit-functions
  sympy/core/expr.py
  sympy/core/mod.py
  sympy/diffgeom/diffgeom.py
  sympy/functions/elementary/miscellaneous.py
  sympy/functions/special/tensor_functions.py
  sympy/matrices/common.py
  sympy/matrices/expressions/applyfunc.py
  sympy/matrices/expressions/determinant.py
  sympy/matrices/expressions/dotproduct.py
  sympy/matrices/expressions/hadamard.py
  sympy/matrices/expressions/kronecker.py
  sympy/matrices/expressions/matadd.py
  sympy/matrices/expressions/matexpr.py
  sympy/matrices/expressions/matmul.py
  sympy/matrices/expressions/matpow.py
  sympy/matrices/expressions/permutation.py
  sympy/matrices/expressions/trace.py
  sympy/physics/control/lti.py
  sympy/physics/quantum/qexpr.py
  sympy/physics/quantum/trace.py
  sympy/physics/secondquant.py
  sympy/sets/fancysets.py
  sympy/tensor/array/array_comprehension.py
  sympy/tensor/array/expressions/array_expressions.py
  sympy/tensor/tensor.py
  sympy/tensor/toperators.py
  sympy/vector/operators.py
  sympy/vector/vector.py
Labels: Code quality

#23369 parsing: rebuild antlr4 latex parser for 4.10
  .github/workflows/runtests.yml
  README.md
  release/requirements.txt
  release/update_requirements.sh
  sympy/parsing/autolev/Autolev.g4
  sympy/parsing/autolev/_antlr/__init__.py
  sympy/parsing/autolev/_antlr/autolevlexer.py
  sympy/parsing/autolev/_antlr/autolevlistener.py
  sympy/parsing/autolev/_antlr/autolevparser.py
  sympy/parsing/autolev/_build_autolev_antlr.py
  sympy/parsing/latex/LaTeX.g4
  sympy/parsing/latex/_antlr/__init__.py
  sympy/parsing/latex/_antlr/latexlexer.py
  sympy/parsing/latex/_antlr/latexparser.py
  sympy/parsing/latex/_build_latex_antlr.py
Labels: parsing

#23714 Code optimizations
  sympy/concrete/tests/test_sums_products.py
  sympy/core/add.py
  sympy/core/mul.py
  sympy/functions/combinatorial/factorials.py
  sympy/functions/combinatorial/numbers.py
  sympy/functions/special/tensor_functions.py
  sympy/matrices/expressions/kronecker.py
  sympy/ntheory/factor_.py
  sympy/ntheory/modular.py
  sympy/physics/quantum/qasm.py
  sympy/physics/quantum/tests/test_boson.py
  sympy/physics/quantum/tests/test_qasm.py
  sympy/polys/constructor.py
  sympy/polys/galoistools.py
  sympy/polys/multivariate_resultants.py
  sympy/polys/numberfields/tests/test_primes.py
  sympy/series/formal.py
  sympy/simplify/gammasimp.py
  sympy/simplify/hyperexpand.py
  sympy/simplify/powsimp.py
  sympy/stats/joint_rv.py
  sympy/stats/matrix_distributions.py
  sympy/stats/rv.py
  sympy/tensor/tensor.py
  sympy/vector/coordsysrect.py
  sympy/vector/functions.py
  sympy/vector/integrals.py
  sympy/vector/vector.py
Labels: Performance, Code quality

#23735 .github/workflows/ci-sage.yml: Fix SAGE_DOCTEST_RANDOM_SEED
  .github/workflows/ci-sage.yml
Labels: CI

#23742 maint(ci): test more in the optional dependency tests
  bin/test_optional_dependencies.py
  sympy/external/tests/test_pythonmpq.py
  sympy/printing/llvmjitcode.py
  sympy/printing/tests/test_llvmjit.py
Labels: CI

#23629 [GSoC] physics/continuum_mechanics: Truss class implemented and documentation added
  .mailmap
  doc/src/modules/physics/continuum_mechanics/index.rst
  doc/src/modules/physics/continuum_mechanics/truss.rst
  doc/src/modules/physics/continuum_mechanics/truss_example.png
  sympy/physics/continuum_mechanics/__init__.py
  sympy/physics/continuum_mechanics/tests/test_truss.py
  sympy/physics/continuum_mechanics/truss.py
Labels: GSoC, physics.continuum_mechanics

#23729 Add extra spaces in julia_code() printing.
  .mailmap
  doc/src/modules/codegen.rst
  sympy/printing/julia.py
  sympy/printing/tests/test_julia.py
  sympy/utilities/tests/test_codegen_julia.py
Labels: printing

#22993 Enable automatic rewrite for cot, sec, csc, and related inverse and hyperbolic functions
  doc/src/tutorial/simplification.rst
  sympy/functions/elementary/hyperbolic.py
  sympy/functions/elementary/tests/test_hyperbolic.py
  sympy/functions/elementary/tests/test_trigonometric.py
  sympy/functions/elementary/trigonometric.py
  sympy/printing/codeprinter.py
  sympy/printing/tests/test_pycode.py
  sympy/utilities/tests/test_lambdify.py
Labels: printing, utilities.lambdify

#23754 Cleanup of warnings from the test suite
  .github/workflows/runtests.yml
  bin/test_optional_dependencies.py
  doc/src/explanation/active-deprecations.md
  examples/all.py
  sympy/external/tests/test_autowrap.py
  sympy/external/tests/test_codegen.py
  sympy/external/tests/test_numpy.py
  sympy/matrices/tests/test_matrices.py
  sympy/plotting/tests/test_plot.py
  sympy/plotting/tests/test_textplot.py
  sympy/printing/lambdarepr.py
  sympy/printing/tests/test_aesaracode.py
  sympy/printing/tests/test_lambdarepr.py
  sympy/testing/runtests.py
  sympy/utilities/_compilation/compilation.py
  sympy/utilities/_compilation/util.py
  sympy/utilities/autowrap.py
  sympy/utilities/lambdify.py
  sympy/utilities/tests/test_autowrap.py
  sympy/utilities/tests/test_lambdify.py
Labels: plotting, printing, Testing, utilities.autowrap, Code quality, CI

#23753 Fix Accumbounds output for functions at negative infinity
  sympy/functions/elementary/exponential.py
  sympy/series/tests/test_limits.py
Labels: limits

#23724 Matrix improvements
  sympy/core/function.py
  sympy/matrices/expressions/blockmatrix.py
  sympy/matrices/expressions/funcmatrix.py
  sympy/matrices/expressions/matexpr.py
  sympy/matrices/expressions/special.py
  sympy/matrices/expressions/tests/test_blockmatrix.py
  sympy/matrices/expressions/tests/test_special.py
Labels: matrices

#23769 Piecewise rewrite of Heaviside ends with True conditional
  sympy/functions/special/delta_functions.py
  sympy/functions/special/tests/test_delta_functions.py
Labels: utilities.autowrap, functions, functions.elementary.piecewise

#23628 Reduce Point.acc dependency on computed velocities
  sympy/physics/vector/point.py
  sympy/physics/vector/tests/test_point.py
Labels: GSoC, physics.vector

#23705 [GSoC] Four bar linkage example
  doc/src/modules/physics/mechanics/examples.rst
  doc/src/modules/physics/mechanics/examples/four_bar_linkage.svg
  doc/src/modules/physics/mechanics/examples/four_bar_linkage_example.rst
  doc/src/modules/physics/mechanics/examples/multi_degree_freedom_holonomic_system.rst
  sympy/physics/mechanics/tests/test_jointsmethod.py
Labels: Documentation, physics.mechanics

#23730 [GSoC] Joints framework documentation
  doc/src/modules/physics/mechanics/api/PinJoint.png
  doc/src/modules/physics/mechanics/api/PinJoint.svg
  doc/src/modules/physics/mechanics/api/PrismaticJoint.png
  doc/src/modules/physics/mechanics/api/PrismaticJoint.svg
  doc/src/modules/physics/mechanics/api/joint.rst
  doc/src/modules/physics/mechanics/index.rst
  doc/src/modules/physics/mechanics/joints.rst
  sympy/physics/mechanics/joint.py
  sympy/physics/mechanics/jointsmethod.py
Labels: Documentation, physics.mechanics

#23781 release: update AUTHORS file
  .mailmap
  AUTHORS
Labels: Releasing

#23779 maint(release): bump version to 1.12.dev on the master branch
  .github/workflows/release.yml
  .github/workflows/runtests.yml
  asv.conf.actions.json
  doc/src/explanation/active-deprecations.md
  sympy/release.py
Labels: Releasing

#23715 [GSoC Pr2] Implemented/Fixed a few series methods for inverse trig/hyperbolic functions
  sympy/core/power.py
  sympy/core/tests/test_power.py
  sympy/functions/elementary/hyperbolic.py
  sympy/functions/elementary/tests/test_hyperbolic.py
  sympy/functions/elementary/tests/test_trigonometric.py
  sympy/functions/elementary/trigonometric.py
  sympy/series/limits.py
  sympy/series/tests/test_limits.py
  sympy/series/tests/test_nseries.py
  sympy/series/tests/test_series.py
Labels: series, GSoC

#23669 Clean up the top-level organization in the docs
  doc/src/conf.py
  doc/src/contributing/build-docs.rst
  doc/src/contributing/debug.rst
  doc/src/contributing/dependencies.md
  doc/src/contributing/deprecations.md
  doc/src/contributing/dev-setup.rst
  doc/src/contributing/docstring.rst
  doc/src/contributing/documentation-style-guide.rst
  doc/src/contributing/index.rst
  doc/src/contributing/make-a-contribution.rst
  doc/src/explanation/gotchas.rst
  doc/src/explanation/index.rst
  doc/src/guides/contributing/index.rst
  doc/src/guides/getting_started/index.rst
  doc/src/guides/index.rst
  doc/src/index.rst
  doc/src/install.md
  doc/src/modules/physics/mechanics/sympy_mechanics_for_autolev_users.rst
  doc/src/modules/plotting.rst
  doc/src/reference/index.rst
  doc/src/tutorial/next.rst
  doc/src/tutorials/index.rst
  doc/src/tutorials/intro-tutorial/basic_operations.rst
  doc/src/tutorials/intro-tutorial/calculus.rst
  doc/src/tutorials/intro-tutorial/features.rst
  doc/src/tutorials/intro-tutorial/gotchas.rst
  doc/src/tutorials/intro-tutorial/index.rst
  doc/src/tutorials/intro-tutorial/intro.rst
  doc/src/tutorials/intro-tutorial/manipulation.rst
  doc/src/tutorials/intro-tutorial/matrices.rst
  doc/src/tutorials/intro-tutorial/next.rst
  doc/src/tutorials/intro-tutorial/preliminaries.rst
  doc/src/tutorials/intro-tutorial/printing.rst
  doc/src/tutorials/intro-tutorial/simplification.rst
  doc/src/tutorials/intro-tutorial/solvers.rst
  sympy/plotting/plot.py
Labels: Documentation, CZI: Documentation

#23782 maint(release): update versions on the 1.11 release branch
  .github/workflows/release.yml
  .github/workflows/runtests.yml
  release/compare_tar_against_git.py
  release/requirements.txt
  sympy/release.py
Labels: Releasing

#19867 printing.preview: Use the windows API to find a default viewer application
  sympy/printing/preview.py
Labels: printing, interactive

#23790 fix benchmarks on the 1.11 branch
  .github/workflows/runtests.yml
  asv.conf.actions.json
Labels: Releasing, CI

#23791 release: remove old release scripts
  .github/workflows/release.yml
  .github/workflows/runtests.yml
  release/Dockerfile
  release/aptinstall.sh
  release/ci_release_script.sh
  release/compare_tar_against_git.py
  release/fabfile.py
  release/pull_and_run_rever.sh
  release/release.sh
  release/releasecheck.py
  release/requirements.txt
  release/rever.xsh
  release/test_install.py
  release/update_requirements.sh
Labels: Releasing, CI

#23793 release: master release files cleanup
  .github/workflows/release.yml
  .github/workflows/runtests.yml
  release/Dockerfile
  release/aptinstall.sh
  release/ci_release_script.sh
  release/compare_tar_against_git.py
  release/fabfile.py
  release/pull_and_run_rever.sh
  release/release.sh
  release/releasecheck.py
  release/requirements.txt
  release/rever.xsh
  release/test_install.py
  release/update_requirements.sh
Labels: Releasing, CI

#23797 release: add new files to the whitelist for sdist check
  release/compare_tar_against_git.py
Labels: Releasing, CI

#23799 Clean up top level organisation in the docs (1.11 branch)
  doc/src/conf.py
  doc/src/contributing/build-docs.rst
  doc/src/contributing/debug.rst
  doc/src/contributing/dependencies.md
  doc/src/contributing/deprecations.md
  doc/src/contributing/dev-setup.rst
  doc/src/contributing/docstring.rst
  doc/src/contributing/documentation-style-guide.rst
  doc/src/contributing/index.rst
  doc/src/contributing/make-a-contribution.rst
  doc/src/explanation/gotchas.rst
  doc/src/explanation/index.rst
  doc/src/guides/contributing/index.rst
  doc/src/guides/getting_started/index.rst
  doc/src/guides/index.rst
  doc/src/index.rst
  doc/src/install.md
  doc/src/modules/physics/mechanics/sympy_mechanics_for_autolev_users.rst
  doc/src/modules/plotting.rst
  doc/src/reference/index.rst
  doc/src/tutorial/next.rst
  doc/src/tutorials/index.rst
  doc/src/tutorials/intro-tutorial/basic_operations.rst
  doc/src/tutorials/intro-tutorial/calculus.rst
  doc/src/tutorials/intro-tutorial/features.rst
  doc/src/tutorials/intro-tutorial/gotchas.rst
  doc/src/tutorials/intro-tutorial/index.rst
  doc/src/tutorials/intro-tutorial/intro.rst
  doc/src/tutorials/intro-tutorial/manipulation.rst
  doc/src/tutorials/intro-tutorial/matrices.rst
  doc/src/tutorials/intro-tutorial/next.rst
  doc/src/tutorials/intro-tutorial/preliminaries.rst
  doc/src/tutorials/intro-tutorial/printing.rst
  doc/src/tutorials/intro-tutorial/simplification.rst
  doc/src/tutorials/intro-tutorial/solvers.rst
  sympy/plotting/plot.py
Labels: Documentation, CZI: Documentation

#23800 printing.preview: Use the windows API to find a default viewer applic… (1.11 branch)
  sympy/printing/preview.py
Labels: printing, interactive

#23783 Don't use parse_latex in the printing tests
  sympy/printing/tests/test_pycode.py
  sympy/printing/tests/test_python.py
Labels: printing

#23638 Documentation guide: Solve an equation algebraically
  doc/src/guides/index.rst
  doc/src/guides/solving/index.md
  doc/src/guides/solving/solve-equation-algebraically.md
  doc/src/modules/solvers/solveset.rst
Labels: Documentation, GSoD

#23699 solve changes
  doc/src/citing.md
  doc/src/contributing/dependencies.md
  doc/src/explanation/index.rst
  doc/src/explanation/solve_output.rst
  doc/src/guides/solving/index.md
  doc/src/guides/solving/solve-equation-algebraically.md
  sympy/core/basic.py
  sympy/core/tests/test_expr.py
  sympy/geometry/tests/test_parabola.py
  sympy/holonomic/holonomic.py
  sympy/integrals/risch.py
  sympy/matrices/common.py
  sympy/matrices/sparse.py
  sympy/matrices/tests/test_sparse.py
  sympy/polys/matrices/domainmatrix.py
  sympy/polys/matrices/linsolve.py
  sympy/polys/matrices/tests/test_linsolve.py
  sympy/solvers/ode/tests/test_systems.py
  sympy/solvers/solvers.py
  sympy/solvers/solveset.py
  sympy/solvers/tests/test_solvers.py
  sympy/solvers/tests/test_solveset.py
Labels: solvers.solve

#23806 docs: Fix a few typos
  sympy/calculus/util.py
  sympy/integrals/rubi/utility_function.py
  sympy/ntheory/ecm.py
Labels: Documentation

#23817 maint: fix authors check for when the AUTHORS file has been updated.
  bin/mailmap_check.py
Labels: CI

#23798 [GSoC Pr3] Fixing/Implementing nseries methods for inverse hyperbolic/trig and log functions
  sympy/core/expr.py
  sympy/core/power.py
  sympy/functions/elementary/exponential.py
  sympy/functions/elementary/hyperbolic.py
  sympy/functions/elementary/integers.py
  sympy/functions/elementary/tests/test_exponential.py
  sympy/functions/elementary/tests/test_hyperbolic.py
  sympy/functions/elementary/tests/test_trigonometric.py
  sympy/functions/elementary/trigonometric.py
  sympy/series/order.py
  sympy/series/tests/test_limits.py
  sympy/series/tests/test_nseries.py
Labels: series, GSoC

#23732 Small fixes to the custom functions guide
  doc/src/guides/custom-functions.md
Labels: Documentation, CZI: Documentation

#23842 Add support for printing Ei to SciPyPrinter
  sympy/printing/numpy.py
  sympy/utilities/tests/test_lambdify.py
Labels: printing, utilities.lambdify

#23819 Fix bug in error message (cast tuple to str)
  .mailmap
  sympy/tensor/array/dense_ndim_array.py
Labels: tensor

#23847 maint(ci): avoid cython 0.29.31 under PyPy
  .github/workflows/runtests.yml
Labels: CI

#23859 maint(ci): remove version constraint for cython
  .github/workflows/runtests.yml
Labels: CI

#23293 Glossary
  doc/src/contributing/deprecations.md
  doc/src/explanation/glossary.md
  doc/src/explanation/index.rst
  doc/src/explanation/special_topics/classification.rst
  doc/src/guides/assumptions.rst
  doc/src/guides/solving/index.md
  doc/src/modules/core.rst
  doc/src/modules/physics/mechanics/sympy_mechanics_for_autolev_users.rst
  doc/src/modules/simplify/simplify.rst
  doc/src/modules/solvers/solvers.rst
  doc/src/tutorials/intro-tutorial/manipulation.rst
Labels: Documentation, CZI: Documentation

#23805 Tweak solve an equation algebraically guide
  doc/src/guides/solving/solve-equation-algebraically.md
Labels: Documentation, GSoD

#23864 maint(ci): don't use scipy 1.9.0 on PyPy because it doesn't build
  .github/workflows/runtests.yml
Labels: CI
