Repository sympy/sympy, pull requests merged in 2022-06, with the labels that each got.

#23325 22531: as_coefficients_dict accepts symbols
  sympy/core/add.py
  sympy/core/expr.py
  sympy/core/mul.py
  sympy/core/tests/test_expr.py
  sympy/simplify/radsimp.py
  sympy/simplify/tests/test_radsimp.py
Labels: core

#23462 Solving main page
  doc/src/guides/index.rst
  doc/src/guides/solving.md
  doc/src/modules/solvers/solvers.rst
Labels: Documentation, GSoD

#23581 Replace `Constant.equals` with direct data check in `test_aesaracode.test_MatrixSlice`
  sympy/printing/tests/test_aesaracode.py
Labels: printing

#23588 Refactor the ordering function to prevent unnecessary dict access
  sympy/core/sorting.py
Labels: core, Performance

#23500 add type hints to printing/latex.py
  sympy/core/basic.py
  sympy/printing/latex.py
  sympy/printing/printer.py
  sympy/tensor/array/ndim_array.py
  sympy/vector/basisdependent.py
  sympy/vector/vector.py
Labels: mypy, pyright

#23541 Improve performance of inverse trigonometric functions
  sympy/functions/elementary/hyperbolic.py
  sympy/functions/elementary/trigonometric.py
Labels: Performance, functions

#23622 add required argumets to latex array environment when print NDimArray
  .mailmap
  sympy/printing/latex.py
  sympy/printing/tests/test_latex.py
Labels: printing.latex

#23035 created make.bat in doc folder
  .gitignore
  doc/Makefile
  doc/convert-svg-to-pdf.sh
  doc/ext/convert-svg-to-pdf.py
  doc/generate_logos.py
  doc/make.bat
  doc/src/conf.py
  doc/src/guides/contributing/build-docs.rst
Labels: Documentation

#23482 Put "latest" before "dev" in the docs version selector
  release/update_docs.py
Labels: Documentation, CZI: Documentation

#23573 Fix integrate 1/sqrt(x**2-1) for heurisch
  sympy/integrals/heurisch.py
  sympy/integrals/tests/test_heurisch.py
  sympy/integrals/tests/test_integrals.py
  sympy/solvers/ode/tests/test_single.py
Labels: integrals.heurisch

#23642 manualintegrate improve sqrt linear rule, simplify quadratic denom rule
  sympy/integrals/manualintegrate.py
  sympy/integrals/tests/test_integrals.py
  sympy/integrals/tests/test_manual.py
  sympy/solvers/ode/tests/test_single.py
Labels: Performance, integrals.manualintegrate

#23104 Deprecate redundant static methods in carmichael
  doc/src/explanation/active-deprecations.md
  sympy/functions/combinatorial/numbers.py
  sympy/functions/combinatorial/tests/test_comb_numbers.py
Labels: functions

#23645 Extend MatMul.args_cnc
  sympy/matrices/expressions/matmul.py
  sympy/matrices/expressions/tests/test_matmul.py
Labels: NonCommutative, matrices.expressions

#23644 Fix issue with non-commutative simplification
  sympy/core/exprtools.py
  sympy/core/tests/test_exprtools.py
  sympy/simplify/tests/test_simplify.py
Labels: simplify, NonCommutative

#23649 Print reciprocals as division for Python printer
  sympy/printing/pycode.py
  sympy/printing/tests/test_pycode.py
Labels: printing

#23650 Enable pymc
  .github/workflows/runtests.yml
Labels: GitHub Actions

#23654 Moved fixed integrals from failing_integrals
  sympy/integrals/tests/test_failing_integrals.py
  sympy/integrals/tests/test_integrals.py
Labels: integrals

#23594 Update documentation of FiniteSet to make clear it can hold any expression
  sympy/sets/sets.py
Labels: Documentation

#23653 fix(core): don't simplify sqrt(x**2) if x is not positive
  sympy/core/power.py
  sympy/core/tests/test_power.py
Labels: core

#23656 Remove hack for u=(a*x+b)**(1/n)
  sympy/integrals/manualintegrate.py
Labels: integrals.manualintegrate

#23608 manualintegrate poly/sqrt(a+b*x+c*x**2)
  sympy/core/basic.py
  sympy/integrals/manualintegrate.py
  sympy/integrals/tests/test_integrals.py
  sympy/integrals/tests/test_manual.py
Labels: integrals.manualintegrate

#23659 Fix Chained type alias assignment for Matrix breaks mypy in SymPy 1.10.1
  .mailmap
  sympy/matrices/__init__.py
Labels: mypy

#23646 Improve LaTeX-printing of Prefix
  sympy/physics/units/prefixes.py
  sympy/printing/latex.py
  sympy/printing/tests/test_latex.py
Labels: physics.units, printing.latex

#23664 maint(doc): unpin sphinx version for the docs build
  doc/requirements.txt
Labels: Documentation, CI

#23663 bug fix: MinMaxBase.__new__() does not use global parameter for argument "evaluate"
  .mailmap
  sympy/functions/elementary/miscellaneous.py
  sympy/functions/elementary/tests/test_miscellaneous.py
Labels: functions

#23660 maint(printing): remove deprecated stub submodules
  sympy/printing/ccode.py
  sympy/printing/cxxcode.py
  sympy/printing/fcode.py
  sympy/printing/tests/test_c.py
  sympy/printing/tests/test_cxx.py
  sympy/printing/tests/test_fortran.py
Labels: printing

#23672 doc(printing): remove note about ccode from active-deprecations
  doc/src/explanation/active-deprecations.md
Labels: Documentation

#23670 manualintegrate DiracDelta
  sympy/functions/special/delta_functions.py
  sympy/functions/special/tests/test_delta_functions.py
  sympy/integrals/manualintegrate.py
  sympy/integrals/tests/test_manual.py
Labels: integrals.manualintegrate

#23668 Removed unused argument for `mpl.contour(f)`
  sympy/plotting/plot.py
Labels: plotting

#23683 extend sqrt_linear_rule to handle nested sqrt
  sympy/integrals/manualintegrate.py
  sympy/integrals/tests/test_failing_integrals.py
  sympy/integrals/tests/test_integrals.py
  sympy/integrals/tests/test_manual.py
Labels: integrals.manualintegrate

#23643 Reorganize the solving main page
  doc/src/guides/index.rst
  doc/src/guides/solving/index.md
Labels: Documentation, GSoD

#23682 Improve loop performance in integrals
  sympy/integrals/meijerint.py
  sympy/integrals/prde.py
  sympy/integrals/trigonometry.py
Labels: Performance, Code quality

#23687 maint(ci): install matplotlib from git on 3.11
  .github/workflows/runtests.yml
Labels: CI

#23676 manualintegrate improve exp substitution
  sympy/integrals/manualintegrate.py
  sympy/integrals/tests/test_integrals.py
  sympy/integrals/tests/test_manual.py
Labels: integrals.manualintegrate

#23201 Use sympify less
  sympy/algebras/quaternion.py
  sympy/algebras/tests/test_quaternion.py
  sympy/core/evalf.py
  sympy/functions/elementary/hyperbolic.py
  sympy/functions/elementary/miscellaneous.py
  sympy/functions/elementary/trigonometric.py
  sympy/functions/special/delta_functions.py
  sympy/functions/special/gamma_functions.py
  sympy/functions/special/singularity_functions.py
  sympy/functions/special/spherical_harmonics.py
  sympy/functions/special/zeta_functions.py
  sympy/geometry/curve.py
  sympy/geometry/ellipse.py
  sympy/geometry/line.py
  sympy/integrals/meijerint.py
  sympy/integrals/singularityfunctions.py
  sympy/matrices/determinant.py
  sympy/ntheory/factor_.py
  sympy/physics/continuum_mechanics/beam.py
  sympy/physics/control/lti.py
  sympy/physics/mechanics/functions.py
  sympy/physics/quantum/cg.py
  sympy/physics/quantum/hilbert.py
  sympy/physics/quantum/qapply.py
  sympy/physics/quantum/spin.py
  sympy/physics/vector/dyadic.py
  sympy/physics/vector/frame.py
  sympy/physics/vector/vector.py
  sympy/polys/fields.py
  sympy/sets/fancysets.py
  sympy/simplify/powsimp.py
  sympy/simplify/sqrtdenest.py
Labels: Code quality

#23696 Optimize performance of special_function_rule
  sympy/integrals/manualintegrate.py
Labels: Performance, integrals.manualintegrate

#23695 Cleanups to the CircleCI docs build
  .circleci/config.yml
  doc/Makefile
Labels: CZI: Documentation

#23686 Improve loop performance in solvers
  sympy/solvers/deutils.py
  sympy/solvers/diophantine/diophantine.py
  sympy/solvers/inequalities.py
  sympy/solvers/ode/riccati.py
  sympy/solvers/pde.py
  sympy/solvers/solveset.py
Labels: solvers, Performance, Code quality

#23416 Add autolev parser build machinery
  setup.py
  sympy/parsing/autolev/_build_autolev_antlr.py
Labels: parsing

#23679 Cleanup loops and ranges
  sympy/calculus/finite_diff.py
  sympy/codegen/tests/test_numpy_nodes.py
  sympy/codegen/tests/test_scipy_nodes.py
  sympy/combinatorics/coset_table.py
  sympy/combinatorics/partitions.py
  sympy/combinatorics/perm_groups.py
  sympy/combinatorics/rewritingsystem.py
  sympy/combinatorics/schur_number.py
  sympy/combinatorics/tensor_can.py
  sympy/concrete/guess.py
  sympy/core/basic.py
  sympy/core/expr.py
  sympy/core/logic.py
  sympy/functions/combinatorial/factorials.py
  sympy/functions/combinatorial/numbers.py
  sympy/functions/elementary/miscellaneous.py
  sympy/functions/elementary/tests/test_trigonometric.py
  sympy/functions/special/error_functions.py
  sympy/functions/special/gamma_functions.py
  sympy/geometry/util.py
  sympy/holonomic/holonomic.py
  sympy/integrals/intpoly.py
  sympy/integrals/transforms.py
  sympy/liealgebras/root_system.py
  sympy/logic/algorithms/dpll2.py
  sympy/matrices/common.py
  sympy/matrices/decompositions.py
  sympy/matrices/dense.py
  sympy/physics/quantum/gate.py
  sympy/physics/quantum/state.py
  sympy/polys/polytools.py
  sympy/polys/ring_series.py
  sympy/polys/rootoftools.py
  sympy/polys/subresultants_qq_zz.py
  sympy/series/limits.py
  sympy/solvers/pde.py
  sympy/tensor/array/expressions/array_expressions.py
  sympy/utilities/iterables.py
Labels: Code quality
