Repository sympy/sympy, pull requests merged in 2022-11, with the labels that each got.

#24222 Update tests and setup as 3.11 is officially released
  .github/workflows/release.yml
  .github/workflows/runtests.yml
  setup.py
Labels: Testing, CI

#24239 Remove all mentions of Travis from the codebase
  .github/workflows/runtests.yml
  .travis.yml
  README.md
  asv.conf.travis.json
  bin/test_py2_import.py
  bin/test_sphinx.sh
  bin/test_travis.sh
  coveragerc_travis
  github_deploy_key.enc
  release/compare_tar_against_git.py
  sympy/integrals/rubi/rubi_tests/tests/test_1_3.py
  sympy/integrals/tests/test_failing_integrals.py
  sympy/integrals/tests/test_heurisch.py
  sympy/integrals/tests/test_integrals.py
  sympy/physics/mechanics/tests/test_kane3.py
  sympy/simplify/tests/test_hyperexpand.py
  sympy/solvers/ode/tests/test_single.py
  sympy/solvers/ode/tests/test_systems.py
  sympy/testing/pytest.py
  sympy/testing/runtests.py
  sympy/utilities/tests/test_wester.py
Labels: Travis, CI

#24219 updated trignometric.py to fix incorrect result for cos function
  sympy/functions/elementary/tests/test_trigonometric.py
  sympy/functions/elementary/trigonometric.py
Labels: assumptions, functions

#24242 Fix failing mypy tests
  sympy/combinatorics/free_groups.py
  sympy/core/evalf.py
  sympy/printing/smtlib.py
Labels: mypy

#24248 fix(polys): fix printing elements of EX[x]
  sympy/polys/rings.py
  sympy/polys/tests/test_rings.py
Labels: polys

#23916 Solve ode (ordinary differential equation) guide page
  doc/requirements.txt
  doc/src/guides/solving/index.md
  doc/src/guides/solving/solve-ode.md
  doc/src/modules/solvers/ode.rst
  sympy/testing/runtests.py
Labels: Documentation, solvers.dsolve, GSoD

#23716 manualintegrate nested pow
  sympy/integrals/manualintegrate.py
  sympy/integrals/tests/test_integrals.py
  sympy/integrals/tests/test_manual.py
Labels: integrals.manualintegrate

#24284 Add note explaining what Poly() does
  doc/src/modules/solvers/inequalities.rst
Labels: Documentation

#24213 Fix collect_factor_and_dimension dimension comparison
  sympy/physics/units/tests/test_quantities.py
  sympy/physics/units/unitsystem.py
Labels: physics.units

#24283 Solving guide cleanup
  doc/src/guides/solving/find-roots-polynomial.md
  doc/src/guides/solving/index.md
  doc/src/guides/solving/reduce-inequalities-algebraically.md
  doc/src/guides/solving/solve-diophantine-equation.md
  doc/src/guides/solving/solve-equation-algebraically.md
  doc/src/guides/solving/solve-matrix-equation.md
  doc/src/guides/solving/solve-numerically.md
  doc/src/guides/solving/solve-ode.md
  doc/src/guides/solving/solve-system-of-equations-algebraically.md
  doc/src/guides/solving/solving-guidance.md
Labels: Documentation, GSoD

#24296 Small errors in _laplace_rule_exp and _laplace_rule_trig corrected
  sympy/integrals/tests/test_transforms.py
  sympy/integrals/transforms.py
Labels: integrals.transforms

#24303 Fix evaluation for `__neg__`
  sympy/core/add.py
  sympy/core/tests/test_arit.py
Labels: core

#24300 Support for powm1 from scipy.special in codegen
  sympy/codegen/rewriting.py
  sympy/codegen/scipy_nodes.py
  sympy/codegen/tests/test_rewriting.py
  sympy/codegen/tests/test_scipy_nodes.py
  sympy/core/tests/test_args.py
  sympy/printing/numpy.py
Labels: codegen

#24307 maint(ci): skip archlinux SAGE job in GA
  .github/workflows/ci-sage.yml
Labels: CI

#24118 Docs: change the wording of definition of O(x)
  .mailmap
  sympy/series/order.py
Labels: Documentation, series

#23932 SciPyPrinter: polygamma (fix gh-23924)
  sympy/printing/numpy.py
  sympy/printing/tests/test_numpy.py
  sympy/utilities/tests/test_lambdify.py
Labels: printing, utilities.lambdify

#24282 refactor manualintegrate.py
  sympy/core/basic.py
  sympy/integrals/manualintegrate.py
  sympy/integrals/tests/test_manual.py
Labels: integrals.manualintegrate

#24313 FKM algorithm for necklaces
  .mailmap
  sympy/utilities/iterables.py
Labels: utilities

#24323 Add test for lambdify with mpmath: powm1, log1p, expm1
  sympy/printing/pycode.py
  sympy/utilities/tests/test_lambdify.py
Labels: printing, utilities.lambdify

#24327 Fix auto_int_to_Integer in the qtconsole
  sympy/interactive/session.py
Labels: interactive
