Repository sympy/sympy, pull requests merged in 2022-09, with the labels that each got.

#23985 B(1) = +½ set 3: harmonic numbers at complex arguments
  sympy/functions/combinatorial/numbers.py
  sympy/functions/combinatorial/tests/test_comb_numbers.py
  sympy/functions/special/zeta_functions.py
  sympy/printing/numpy.py
  sympy/utilities/tests/test_lambdify.py
Labels: functions

#23992 B(1) = +½ set 5: generalised Euler function
  sympy/functions/combinatorial/numbers.py
  sympy/functions/combinatorial/tests/test_comb_numbers.py
Labels: functions

#23962 expand(x**(a+b)) iff x != 0 or a & b both nonneg or nonpos
  doc/src/modules/polys/wester.rst
  sympy/concrete/tests/test_delta.py
  sympy/concrete/tests/test_products.py
  sympy/concrete/tests/test_sums_products.py
  sympy/core/add.py
  sympy/core/expr.py
  sympy/core/exprtools.py
  sympy/core/function.py
  sympy/core/numbers.py
  sympy/core/power.py
  sympy/core/tests/test_arit.py
  sympy/core/tests/test_expand.py
  sympy/core/tests/test_expr.py
  sympy/core/tests/test_exprtools.py
  sympy/core/tests/test_numbers.py
  sympy/integrals/tests/test_integrals.py
  sympy/integrals/tests/test_meijerint.py
  sympy/integrals/tests/test_transforms.py
  sympy/integrals/transforms.py
  sympy/series/tests/test_formal.py
  sympy/solvers/tests/test_recurr.py
  sympy/solvers/tests/test_solvers.py
  sympy/utilities/tests/test_wester.py
Labels: core

#23959 fix(integrals): handle degenerate case in Risch PRDE
  sympy/integrals/prde.py
  sympy/integrals/tests/test_risch.py
Labels: integrals.risch

#24002 expand AddWithLimits expr using force hint
  .mailmap
  AUTHORS
  sympy/concrete/expr_with_limits.py
  sympy/concrete/tests/test_sums_products.py
  sympy/integrals/tests/test_integrals.py
Labels: core, concrete

#24010 B(1) = +½ set 7: ζ–B function fuzzing
  sympy/functions/combinatorial/numbers.py
  sympy/functions/combinatorial/tests/test_comb_numbers.py
  sympy/functions/special/zeta_functions.py
Labels: functions

#24015 maint(ci): update sage ticket tracking 1.12 release
  .github/workflows/ci-sage.yml
Labels: CI

#24014 B(1) = +½ set 9: Appell sequences
  doc/src/modules/polys/reference.rst
  sympy/functions/combinatorial/numbers.py
  sympy/polys/__init__.py
  sympy/polys/appellseqs.py
  sympy/polys/orthopolys.py
  sympy/polys/polytools.py
  sympy/polys/tests/test_appellseqs.py
Labels: polys

#23982 [GSoC] Body zero inertia
  sympy/physics/mechanics/body.py
  sympy/physics/mechanics/rigidbody.py
  sympy/physics/mechanics/tests/test_body.py
  sympy/physics/mechanics/tests/test_rigidbody.py
Labels: physics.mechanics

#24012 B(1) = +½ set 8: Espinosa–Moll polygamma
  doc/src/contributing/docstring.rst
  sympy/functions/combinatorial/numbers.py
  sympy/functions/combinatorial/tests/test_comb_numbers.py
  sympy/functions/special/gamma_functions.py
  sympy/functions/special/tests/test_gamma_functions.py
Labels: functions

#23844 [GSoC PR4.1] Implemented/Fixed a few series methods for bessel functions
  sympy/calculus/accumulationbounds.py
  sympy/concrete/tests/test_gosper.py
  sympy/core/add.py
  sympy/core/expr.py
  sympy/core/function.py
  sympy/core/power.py
  sympy/functions/combinatorial/numbers.py
  sympy/functions/combinatorial/tests/test_comb_numbers.py
  sympy/functions/elementary/exponential.py
  sympy/functions/special/bessel.py
  sympy/functions/special/error_functions.py
  sympy/functions/special/gamma_functions.py
  sympy/functions/special/tests/test_bessel.py
  sympy/functions/special/tests/test_error_functions.py
  sympy/functions/special/tests/test_gamma_functions.py
  sympy/functions/special/tests/test_hyper.py
  sympy/functions/special/zeta_functions.py
  sympy/series/gruntz.py
  sympy/series/limits.py
  sympy/series/tests/test_gruntz.py
  sympy/series/tests/test_limits.py
  sympy/series/tests/test_limitseq.py
  sympy/series/tests/test_series.py
Labels: series, GSoC

#23981 [GSoC] Add parallel axis method to Body
  sympy/physics/mechanics/body.py
  sympy/physics/mechanics/rigidbody.py
  sympy/physics/mechanics/tests/test_body.py
  sympy/physics/mechanics/tests/test_rigidbody.py
Labels: physics.mechanics

#24019 Probabilist's Hermite polynomials
  doc/src/modules/functions/special.rst
  doc/src/modules/polys/reference.rst
  sympy/__init__.py
  sympy/core/tests/test_args.py
  sympy/functions/__init__.py
  sympy/functions/special/polynomials.py
  sympy/functions/special/tests/test_spec_polynomials.py
  sympy/polys/__init__.py
  sympy/polys/orthopolys.py
  sympy/polys/tests/test_orthopolys.py
Labels: polys

#24024 B(1) = +½ set 10: the André function
  doc/src/modules/functions/combinatorial.rst
  sympy/__init__.py
  sympy/core/tests/test_args.py
  sympy/functions/__init__.py
  sympy/functions/combinatorial/numbers.py
  sympy/functions/combinatorial/tests/test_comb_numbers.py
  sympy/polys/appellseqs.py
Labels: functions

#23920 [GSoC] Switch joints framework to using intermediate frames
  doc/src/explanation/active-deprecations.md
  doc/src/modules/physics/mechanics/api/PinJoint.svg
  doc/src/modules/physics/mechanics/api/PrismaticJoint.svg
  doc/src/modules/physics/mechanics/api/joint_explanation.svg
  doc/src/modules/physics/mechanics/examples/four_bar_linkage_example.rst
  doc/src/modules/physics/mechanics/examples/multi_degree_freedom_holonomic_system.rst
  doc/src/modules/physics/mechanics/joints.rst
  sympy/physics/mechanics/joint.py
  sympy/physics/mechanics/tests/test_joint.py
  sympy/physics/mechanics/tests/test_jointsmethod.py
Labels: physics.mechanics

#23917 Updated documentation of inequalities
  .mailmap
  doc/src/modules/solvers/inequalities.rst
Labels: Documentation, solvers, solvers.inequalities

#24020 [GSoC PR4.2] Implemented leading term and nseries methods for the frac function
  sympy/functions/elementary/integers.py
  sympy/functions/elementary/tests/test_integers.py
  sympy/series/tests/test_limits.py
  sympy/series/tests/test_nseries.py
Labels: series, GSoC, limits

#23986 Add dontcare argument to simplify_logic
  sympy/logic/boolalg.py
  sympy/logic/tests/test_boolalg.py
Labels: logic

#24047 Added fully symbolic example to the Beam class
  sympy/physics/continuum_mechanics/beam.py
Labels: physics.continuum_mechanics

#24054 Fix the Circle CI status
  .github/workflows/docs-preview.yml
Labels: CI

#23851 Improve sympy startup time by pre-generating assumption rules
  bin/ask_update.py
  sympy/core/assumptions.py
  sympy/core/assumptions_generated.py
  sympy/core/facts.py
  sympy/core/tests/test_assumptions.py
Labels: assumptions, Performance

#23853 Documentation guide: Solve a system of equations numerically
  doc/src/conf.py
  doc/src/guides/solving/index.md
  doc/src/guides/solving/solve-numerically.md
  sympy/testing/runtests.py
Labels: Documentation, GSoD, solvers.nsolve

#24076 correct piecewise eval
  sympy/functions/elementary/piecewise.py
  sympy/functions/elementary/tests/test_piecewise.py
Labels: functions.elementary.piecewise

#24080 [GSoC] Revert JointAxisMixin
  doc/src/modules/physics/mechanics/examples/multi_degree_freedom_holonomic_system.rst
  sympy/physics/mechanics/joint.py
  sympy/physics/mechanics/tests/test_joint.py
Labels: physics.mechanics

#24052 Fixing misformatting of polarization docs
  .mailmap
  sympy/combinatorics/pc_groups.py
  sympy/combinatorics/perm_groups.py
  sympy/combinatorics/tensor_can.py
  sympy/combinatorics/util.py
  sympy/physics/optics/polarization.py
  sympy/physics/qho_1d.py
  sympy/physics/sho.py
  sympy/plotting/plot_implicit.py
Labels: Documentation

#24099 Support increased verbosity in the doctest runner
  sympy/testing/runtests.py
Labels: Testing

#23802 Documentation guide: Solve a system of equations algebraically
  doc/src/guides/solving/index.md
  doc/src/guides/solving/solve-equation-algebraically.md
  doc/src/guides/solving/solve-system-of-equations-algebraically.md
Labels: Documentation, solvers.solve, GSoD
