Repository sympy/sympy, pull requests merged in 2022-02, with the labels that each got.

#22914 printing/pycode: Min and Max added to _known_functions
  .mailmap
  sympy/printing/pycode.py
  sympy/printing/tests/test_pycode.py
Labels: printing

#22971 Documentation cleanup 5
  doc/src/modules/integrals/g-functions.rst
  sympy/stats/crv_types.py
  sympy/stats/drv_types.py
  sympy/stats/frv_types.py
  sympy/stats/joint_rv_types.py
Labels: Documentation

#22952 Deprecation removals
  doc/src/modules/vector/fields.rst
  sympy/__init__.py
  sympy/calculus/__init__.py
  sympy/calculus/finite_diff.py
  sympy/calculus/tests/test_finite_diff.py
  sympy/core/numbers.py
  sympy/functions/special/delta_functions.py
  sympy/functions/special/tests/test_delta_functions.py
  sympy/geometry/line.py
  sympy/physics/units/dimensions.py
  sympy/physics/units/tests/test_dimensionsystem.py
  sympy/physics/units/tests/test_unitsystem.py
  sympy/physics/units/unitsystem.py
  sympy/polys/domains/domain.py
  sympy/vector/__init__.py
  sympy/vector/coordsysrect.py
  sympy/vector/deloperator.py
  sympy/vector/functions.py
  sympy/vector/integrals.py
  sympy/vector/operators.py
  sympy/vector/tests/test_coordsysrect.py
  sympy/vector/vector.py
Labels: Uncategorised

#22973 Add convenience methods for constructing `AlgebraicField`
  sympy/polys/domains/domain.py
  sympy/polys/domains/tests/test_domains.py
  sympy/polys/numberfields/basis.py
  sympy/polys/numberfields/primes.py
  sympy/polys/numberfields/tests/test_basis.py
  sympy/polys/numberfields/tests/test_primes.py
Labels: Enhancement, polys

#22713 Quaternion - added Hamilton's "operators" for Quaternion class
  sympy/algebras/quaternion.py
  sympy/algebras/tests/test_quaternion.py
Labels: algebras

#22978 maint: port release script from 1.9 to 1.10
  .github/workflows/release.yml
  bin/mailmap_check.py
  release/authors.py
  release/ci_release_script.sh
  release/compare_tar_against_git.py
  release/releasecheck.py
Labels: Releasing

#23001 Enhance the docstring of uniquely_named_symbol() to clarify its inten…
  sympy/core/symbol.py
  sympy/core/tests/test_symbol.py
Labels: core

#23026 quantum: don't access deprecated scipy.sparse.base
  sympy/physics/quantum/matrixutils.py
Labels: physics.quantum

#23027 quantum: don't use deprecated scipy.sparse.base (1.10 branch)
  sympy/physics/quantum/matrixutils.py
Labels: physics.quantum

#22872 Created SetKind for Set class #22860
  .mailmap
  doc/src/modules/core.rst
  doc/src/modules/matrices/common.rst
  doc/src/modules/sets.rst
  sympy/core/containers.py
  sympy/core/tests/test_containers.py
  sympy/matrices/common.py
  sympy/matrices/expressions/sets.py
  sympy/matrices/expressions/tests/test_sets.py
  sympy/sets/conditionset.py
  sympy/sets/fancysets.py
  sympy/sets/powerset.py
  sympy/sets/sets.py
  sympy/sets/tests/test_conditionset.py
  sympy/sets/tests/test_fancysets.py
  sympy/sets/tests/test_sets.py
Labels: core, sets

#22934 Polys/Domains: Fixes domain containment check for the Fraction fields class
  .mailmap
  sympy/polys/domains/tests/test_domains.py
  sympy/polys/fields.py
Labels: polys

#23053 compat: add back deprecated stub files in iterables
  sympy/utilities/iterables.py
  sympy/utilities/tests/test_iterables.py
Labels: utilities

#23000 Refactored import ordering in functions
  sympy/assumptions/cnf.py
  sympy/assumptions/facts.py
  sympy/assumptions/handlers/matrices.py
  sympy/combinatorics/fp_groups.py
  sympy/combinatorics/perm_groups.py
  sympy/combinatorics/permutations.py
  sympy/combinatorics/rewritingsystem.py
  sympy/concrete/guess.py
  sympy/core/power.py
  sympy/core/tests/test_arit.py
  sympy/core/tests/test_power.py
  sympy/functions/combinatorial/numbers.py
  sympy/functions/elementary/complexes.py
  sympy/functions/elementary/exponential.py
  sympy/functions/elementary/hyperbolic.py
  sympy/functions/elementary/integers.py
  sympy/functions/elementary/piecewise.py
  sympy/functions/elementary/trigonometric.py
  sympy/functions/special/bessel.py
  sympy/functions/special/bsplines.py
  sympy/functions/special/delta_functions.py
  sympy/functions/special/error_functions.py
  sympy/functions/special/hyper.py
  sympy/functions/special/polynomials.py
  sympy/functions/special/spherical_harmonics.py
  sympy/functions/special/tensor_functions.py
  sympy/functions/special/zeta_functions.py
  sympy/logic/boolalg.py
  sympy/matrices/common.py
  sympy/matrices/eigen.py
  sympy/matrices/expressions/hadamard.py
  sympy/matrices/matrices.py
  sympy/ntheory/continued_fraction.py
  sympy/ntheory/ecm.py
  sympy/ntheory/factor_.py
  sympy/ntheory/generate.py
  sympy/ntheory/residue_ntheory.py
  sympy/polys/euclidtools.py
  sympy/polys/factortools.py
  sympy/polys/galoistools.py
  sympy/polys/numberfields/minpoly.py
  sympy/polys/polyroots.py
  sympy/polys/polytools.py
  sympy/polys/specialpolys.py
  sympy/printing/numpy.py
  sympy/printing/pycode.py
  sympy/printing/str.py
  sympy/sets/fancysets.py
  sympy/sets/handlers/intersection.py
  sympy/sets/handlers/union.py
  sympy/sets/sets.py
  sympy/solvers/solvers.py
  sympy/solvers/solveset.py
  sympy/stats/crv_types.py
  sympy/stats/joint_rv_types.py
Labels: functions, Code quality

#23060 Sort the doctest files
  sympy/testing/runtests.py
Labels: Testing

#22866 fixed checksol causing error when passing int or float as equation
  .mailmap
  sympy/solvers/solvers.py
  sympy/solvers/tests/test_solvers.py
Labels: solvers

#23014 Rewritten Wolfram Mathematica language parser from scratch
  doc/src/explanation/active-deprecations.md
  sympy/parsing/mathematica.py
  sympy/parsing/tests/test_mathematica.py
Labels: parsing

#22980 Import Sequence changed and updated documentation
  .mailmap
  sympy/stats/__init__.py
  sympy/stats/stochastic_process_types.py
Labels: stats

#22295 Removed deprecated numpy.matrix
  pytest.ini
  sympy/physics/quantum/matrixutils.py
  sympy/physics/quantum/qubit.py
  sympy/physics/quantum/represent.py
  sympy/physics/quantum/tests/test_dagger.py
  sympy/physics/quantum/tests/test_density.py
  sympy/physics/quantum/tests/test_matrixutils.py
  sympy/printing/tests/test_numpy.py
Labels: physics.quantum, Backwards Incompatibility

#22691 Remove the autowrap package as an optional dependency
  release/requirements.txt
  release/rever.xsh
  release/update_requirements.sh
Labels: Uncategorised

#23082 Do not re-express differentiated vectors back into the original frame
  sympy/physics/vector/tests/test_vector.py
  sympy/physics/vector/vector.py
Labels: physics.mechanics

#23089 Improved formatting of trigsimp docstring.
  sympy/simplify/trigsimp.py
Labels: Documentation

#22887 physics/quantum: wrapper class for python functions used in OracleGate
  sympy/core/tests/test_args.py
  sympy/physics/quantum/grover.py
Labels: physics.quantum

#23095 Removed ^ and & from the mechanics documentation.
  doc/src/modules/physics/mechanics/examples/bicycle_example.rst
  doc/src/modules/physics/mechanics/examples/rollingdisc_example_kane_constraints.rst
  doc/src/modules/physics/vector/vectors.rst
  sympy/physics/vector/vector.py
Labels: Documentation, physics.mechanics

#23094 Corrected the explanation of direction cosine matrix.
  sympy/physics/vector/frame.py
Labels: Documentation, physics.mechanics

#23096 Changed the name of the node visiting function from `visit_Num` to `visit_Constant`.
  .mailmap
  sympy/parsing/ast_parser.py
Labels: parsing

#23108 maint: fix release script to handle multidigit release numbers
  release/github_release.py
Labels: Releasing

#22719 `solved_syms` and `particular` handling issues
  sympy/solvers/solvers.py
  sympy/solvers/tests/test_solvers.py
Labels: solvers.solve

#23074 physics : Improved Bode's phase and magnitude plots
  sympy/physics/control/control_plots.py
  sympy/physics/control/tests/test_control_plots.py
Labels: physics.control

#23126 Fix .mailmap
  .mailmap
Labels: CI

#23107 maint: fix release script to handle multidigit release numbers
  release/github_release.py
Labels: Releasing

#23114 maint: add optional dependencies job to release tests
  .github/workflows/release.yml
  sympy/external/tests/test_pythonmpq.py
  sympy/physics/control/tests/test_control_plots.py
  sympy/stats/tests/test_joint_rv.py
  sympy/testing/runtests.py
  sympy/utilities/tests/test_lambdify.py
Labels: Releasing

#23134 release: unpin the versions in release/requirements.txt
  release/requirements.txt
Labels: Documentation, Releasing

#23111 Add .free_dynamicsymbols to physics vectors.
  sympy/physics/vector/tests/test_vector.py
  sympy/physics/vector/vector.py
Labels: physics.mechanics

#23150 BUG: respect global_dict in parse_expr (master branch)
  sympy/parsing/sympy_parser.py
  sympy/parsing/tests/test_sympy_parser.py
Labels: parsing

#23152 release: bump version to 1.10rc3
  .github/workflows/release.yml
  sympy/release.py
Labels: Releasing

#23151 .github/workflows/ci-sage.yml: Run on push to release branches too
  .github/workflows/ci-sage.yml
Labels: Releasing, CI

#23149 BUG: respect global_dict in parse_expr (1.10 branch)
  sympy/parsing/sympy_parser.py
  sympy/parsing/tests/test_sympy_parser.py
Labels: parsing

#22920 make limited precision intersections more robust
  sympy/geometry/line.py
  sympy/geometry/tests/test_line.py
Labels: geometry

#22792 arbitrary Parabola implemented
  sympy/geometry/line.py
  sympy/geometry/parabola.py
  sympy/geometry/tests/test_line.py
  sympy/geometry/tests/test_parabola.py
Labels: geometry

#23155 fix: import illegal from sympy.core.numbers
  sympy/concrete/summations.py
Labels: core

#23160 codegen: Make List hashable
  sympy/codegen/abstract_nodes.py
  sympy/codegen/tests/test_abstract_nodes.py
Labels: codegen

#23121 Cleanup documentation
  sympy/core/numbers.py
  sympy/functions/combinatorial/factorials.py
  sympy/printing/latex.py
  sympy/utilities/iterables.py
  sympy/utilities/lambdify.py
Labels: Documentation

#23162 core/function: Fix regression in derivative
  sympy/core/function.py
  sympy/core/tests/test_function.py
Labels: core

#23166 core/function: Fix regression in derivative (1.10 branch)
  sympy/core/function.py
  sympy/core/tests/test_function.py
Labels: core

#23112 Adjust statement about namespace implementation detail.
  doc/src/guides/contributing/docstring.rst
Labels: Documentation

#23091 Use LaTeX for labels in matplotlib backend
  sympy/plotting/plot.py
  sympy/plotting/plot_implicit.py
Labels: plotting
