Repository sympy/sympy, pull requests merged in 2022-08, with the labels that each got.

#23872 linsolve raises for dup symbols
  sympy/solvers/solveset.py
  sympy/solvers/tests/test_solveset.py
Labels: solvers, solvers.linsolve

#23770 Add piecewise_exclusive function
  doc/src/modules/functions/elementary.rst
  sympy/__init__.py
  sympy/functions/__init__.py
  sympy/functions/elementary/piecewise.py
  sympy/functions/elementary/tests/test_piecewise.py
Labels: functions.elementary.piecewise

#23862 Backport solve equation algebraically guide from master into 1.11 release
  doc/src/guides/index.rst
  doc/src/guides/solving/index.md
  doc/src/guides/solving/solve-equation-algebraically.md
  doc/src/modules/solvers/solveset.rst
Labels: Documentation, GSoD

#23892 Piecewise_exclusive for 1.11
  doc/src/modules/functions/elementary.rst
  sympy/__init__.py
  sympy/functions/__init__.py
  sympy/functions/elementary/piecewise.py
  sympy/functions/elementary/tests/test_piecewise.py
Labels: functions.elementary.piecewise

#23893 Fixed a typo in physics/secondquant.py
  .mailmap
  sympy/physics/secondquant.py
Labels: physics.quantum, physics

#23891 solve raises error on duplicate symbols
  doc/src/tutorials/intro-tutorial/solvers.rst
  sympy/codegen/tests/test_ast.py
  sympy/core/tests/test_subs.py
  sympy/discrete/tests/test_convolutions.py
  sympy/functions/combinatorial/tests/test_comb_factorials.py
  sympy/functions/elementary/tests/test_trigonometric.py
  sympy/geometry/tests/test_line.py
  sympy/integrals/tests/test_failing_integrals.py
  sympy/integrals/tests/test_integrals.py
  sympy/logic/tests/test_boolalg.py
  sympy/matrices/expressions/tests/test_hadamard.py
  sympy/matrices/expressions/tests/test_special.py
  sympy/matrices/tests/test_decompositions.py
  sympy/parsing/tests/test_implicit_multiplication_application.py
  sympy/parsing/tests/test_sym_expr.py
  sympy/polys/polyroots.py
  sympy/polys/tests/test_rootoftools.py
  sympy/printing/pretty/tests/test_pretty.py
  sympy/printing/tests/test_c.py
  sympy/printing/tests/test_latex.py
  sympy/printing/tests/test_maple.py
  sympy/printing/tests/test_rcode.py
  sympy/printing/tests/test_theanocode.py
  sympy/sets/tests/test_fancysets.py
  sympy/sets/tests/test_setexpr.py
  sympy/solvers/diophantine/tests/test_diophantine.py
  sympy/solvers/solvers.py
  sympy/solvers/tests/test_numeric.py
  sympy/solvers/tests/test_solvers.py
  sympy/solvers/tests/test_solveset.py
  sympy/tensor/tests/test_tensor_operators.py
  sympy/utilities/tests/test_autowrap.py
  sympy/utilities/tests/test_lambdify.py
  sympy/utilities/tests/test_wester.py
  sympy/vector/tests/test_field_functions.py
Labels: solvers, solvers.solve

#23899 Matrices documentation: Indicates that ** is power
  .mailmap
  doc/src/tutorials/intro-tutorial/matrices.rst
Labels: Documentation, matrices

#23887 fix(core): don't bury SympifyError in subs
  sympy/core/basic.py
  sympy/core/tests/test_subs.py
  sympy/functions/elementary/exponential.py
  sympy/simplify/tests/test_cse.py
  sympy/solvers/diophantine/diophantine.py
Labels: core

#23877 `_solve` and `_solve_system`: return list of dictionaries
  sympy/solvers/solvers.py
  sympy/solvers/tests/test_solvers.py
Labels: solvers, solvers.solve

#23941 fix: simplify Intersection of Range and Rationals
  .mailmap
  sympy/sets/handlers/intersection.py
  sympy/sets/tests/test_fancysets.py
Labels: sets

#23944 fix(solvers): make tsolve give deterministic output
  sympy/solvers/solvers.py
Labels: solvers

#23945 fix(lambdify): don't import * from scipy
  sympy/utilities/lambdify.py
Labels: utilities.lambdify

#23946 fix(lambdify): don't import * from scipy
  sympy/utilities/lambdify.py
Labels: utilities.lambdify

#23947 maint(release): bump version to 1.11 final
  .github/workflows/release.yml
  sympy/release.py
Labels: Releasing

#23902 add solve_output to explanations
  doc/src/explanation/index.rst
  doc/src/explanation/solve_output.rst
  sympy/core/sympify.py
  sympy/solvers/solvers.py
  sympy/solvers/tests/test_solvers.py
Labels: Documentation, solvers.solve

#23777 Solving guidance page
  doc/src/guides/solving/index.md
  doc/src/guides/solving/solve-equation-algebraically.md
  doc/src/guides/solving/solving-guidance.md
  doc/src/tutorials/intro-tutorial/intro.rst
Labels: Documentation, solvers, GSoD

#23958 fix(aesara): don't use deprecated functions
  sympy/printing/aesaracode.py
Labels: printing

#23957 fix(aesara): use abs instead of Aesara's `abs_`
  sympy/printing/aesaracode.py
Labels: printing, CI

#23832 Improve sympy import performance by lazy loading of testing code
  sympy/__init__.py
  sympy/core/cache.py
  sympy/core/tests/test_cache.py
  sympy/utilities/decorator.py
Labels: Performance

#23900 updated expressions.rst
  .mailmap
  doc/src/modules/matrices/expressions.rst
Labels: Documentation

#23971 Refactor Piecewise simplifcation/evaluation
  sympy/functions/elementary/piecewise.py
Labels: functions.elementary.piecewise

#23972 Cache replacement tuples, do not lookup true/false, new replacements
  sympy/logic/boolalg.py
  sympy/logic/tests/test_boolalg.py
Labels: logic

#23648 Rename files for array expression conversions
  doc/src/explanation/active-deprecations.md
  sympy/matrices/expressions/matexpr.py
  sympy/printing/pycode.py
  sympy/printing/tests/test_numpy.py
  sympy/printing/tests/test_tensorflow.py
  sympy/tensor/array/expressions/__init__.py
  sympy/tensor/array/expressions/array_expressions.py
  sympy/tensor/array/expressions/arrayexpr_derivatives.py
  sympy/tensor/array/expressions/conv_array_to_indexed.py
  sympy/tensor/array/expressions/conv_array_to_matrix.py
  sympy/tensor/array/expressions/conv_indexed_to_array.py
  sympy/tensor/array/expressions/conv_matrix_to_array.py
  sympy/tensor/array/expressions/from_array_to_indexed.py
  sympy/tensor/array/expressions/from_array_to_matrix.py
  sympy/tensor/array/expressions/from_indexed_to_array.py
  sympy/tensor/array/expressions/from_matrix_to_array.py
  sympy/tensor/array/expressions/tests/test_convert_array_to_indexed.py
  sympy/tensor/array/expressions/tests/test_convert_array_to_matrix.py
  sympy/tensor/array/expressions/tests/test_convert_indexed_to_array.py
  sympy/tensor/array/expressions/tests/test_convert_matrix_to_array.py
  sympy/tensor/array/expressions/tests/test_deprecated_conv_modules.py
Labels: tensor

#23975 fix(lambdify): make cse=True work with non-lists
  sympy/utilities/lambdify.py
  sympy/utilities/tests/test_lambdify.py
Labels: utilities.lambdify, regression

#23979 fix(ci): pin scipy version under pypy in CI
  .github/workflows/runtests.yml
Labels: CI

#23976 fix(lambdify): make cse=True work with non-lists (1.11 branch)
  .github/workflows/release.yml
  .github/workflows/runtests.yml
  sympy/release.py
  sympy/utilities/lambdify.py
  sympy/utilities/tests/test_lambdify.py
Labels: utilities.lambdify

#23987 piecewise_fold always folds internal Piecewise functions
  sympy/functions/elementary/piecewise.py
  sympy/functions/elementary/tests/test_piecewise.py
Labels: functions.elementary.piecewise

#23963 Limits: Added tests for limits of some discontinuous functions with undefined limits
  .mailmap
  sympy/series/tests/test_limits.py
Labels: limits

#22278 Simplify function of Sum and Product on simplify
  sympy/concrete/products.py
  sympy/concrete/summations.py
  sympy/concrete/tests/test_products.py
  sympy/concrete/tests/test_sums_products.py
  sympy/simplify/simplify.py
Labels: concrete

#23989 B(1) = +½ set 4: generalised Genocchi function
  sympy/functions/combinatorial/numbers.py
  sympy/functions/combinatorial/tests/test_comb_numbers.py
  sympy/printing/latex.py
  sympy/printing/tests/test_latex.py
Labels: functions
