Repository sympy/sympy, pull requests merged in 2022-10, with the labels that each got.

#24094 Fix roots_quintic
  .mailmap
  sympy/polys/polyroots.py
  sympy/polys/tests/test_polyroots.py
Labels: polys

#24106 Add note linking to solving guide to tutorial, solvers, solveset
  doc/src/modules/solvers/solvers.rst
  doc/src/modules/solvers/solveset.rst
  doc/src/tutorials/intro-tutorial/solvers.rst
Labels: Documentation, solvers, solvers.solve, solvers.solveset, GSoD

#24114 doc: fix space typos around inline literals.
  doc/src/modules/printing.rst
  doc/src/modules/rewriting.rst
Labels: Documentation

#24111 Fix unevaluated printing of negative sum in numerator
  sympy/printing/str.py
  sympy/printing/tests/test_str.py
Labels: printing, unevaluated printing

#24096 fix parse latex bug when the minuend is atom
  sympy/parsing/latex/_parse_latex_antlr.py
  sympy/parsing/tests/test_latex.py
Labels: parsing.latex

#24091 remove delayed unit module import
  sympy/printing/latex.py
  sympy/printing/tests/test_latex.py
Labels: printing, physics.units

#24030 Fix str of sum involving negative quantities.
  sympy/printing/str.py
  sympy/printing/tests/test_str.py
Labels: printing

#24122 Fix typo (boolian -> boolean)
  .mailmap
  sympy/simplify/simplify.py
Labels: Documentation

#24103 Linear and nonlinear systems of equations: Documentation solving guide
  doc/src/guides/solving/index.md
  doc/src/guides/solving/solve-system-of-equations-algebraically.md
Labels: Documentation, solvers.solve, GSoD

#24141 fix bug in hadamard_product
  sympy/matrices/expressions/hadamard.py
  sympy/matrices/expressions/tests/test_hadamard.py
Labels: matrices.expressions

#23768 Documentation guide: Solve one or a system of inequalities
  doc/src/guides/solving/index.md
  doc/src/guides/solving/reduce-inequalities-algebraically.md
  doc/src/modules/solvers/inequalities.rst
Labels: Documentation, GSoD, solvers.inequalities

#24137 Mentioned that Float cannot represent negative zero
  sympy/core/numbers.py
Labels: Documentation

#24161 Make ShapeError more readable
  .mailmap
  sympy/matrices/common.py
Labels: matrices

#23950 feat: support Contains.as_set
  sympy/sets/contains.py
  sympy/sets/tests/test_contains.py
Labels: sets

#23934 Better eval for beta
  sympy/functions/special/beta_functions.py
  sympy/functions/special/tests/test_beta_functions.py
  sympy/printing/latex.py
  sympy/printing/tests/test_latex.py
Labels: functions

#24066 Fix and test for misinterpreted dimensionless power of exponent
  sympy/physics/units/tests/test_quantities.py
  sympy/physics/units/unitsystem.py
Labels: physics.units

#24051 Solve diophantine documentation guide
  doc/src/guides/solving/index.md
  doc/src/guides/solving/solve-diophantine-equation.md
  doc/src/modules/solvers/diophantine.rst
Labels: Documentation, solvers, solvers.diophantine, GSoD

#23951 Solve matrix equation--documentation guide
  doc/src/guides/solving/index.md
  doc/src/guides/solving/solve-matrix-equation.md
Labels: Documentation, GSoD

#23938 Cache trig tables and evaluate polylog in more cases
  sympy/functions/elementary/trigonometric.py
  sympy/functions/special/zeta_functions.py
Labels: Performance, functions

#24170 Cache log atan-table and use already imported constants
  sympy/functions/elementary/exponential.py
Labels: Performance, functions

#24173 Cache tables and constant computations for cos
  sympy/functions/elementary/trigonometric.py
Labels: Performance, functions

#24179 solvers: checksol checks for Rational before performing numerical check
  sympy/solvers/solvers.py
  sympy/solvers/tests/test_solvers.py
Labels: solvers

#24180 Remove redundant list calls
  sympy/assumptions/cnf.py
  sympy/combinatorics/generators.py
  sympy/diffgeom/diffgeom.py
  sympy/logic/boolalg.py
  sympy/ntheory/elliptic_curve.py
  sympy/parsing/sympy_parser.py
  sympy/physics/quantum/gate.py
  sympy/polys/rings.py
  sympy/solvers/solvers.py
  sympy/stats/frv_types.py
  sympy/tensor/tensor.py
  sympy/utilities/iterables.py
Labels: Performance

#24182 Add workflow for marking (and unmarking) merge conflicts
  .github/workflows/checkconflict.yml
  release/compare_tar_against_git.py
Labels: actions, GitHub Actions

#24174 Use already imported constants
  sympy/functions/elementary/complexes.py
  sympy/functions/elementary/hyperbolic.py
  sympy/functions/special/bessel.py
  sympy/functions/special/error_functions.py
  sympy/functions/special/gamma_functions.py
  sympy/functions/special/hyper.py
  sympy/functions/special/singularity_functions.py
  sympy/functions/special/zeta_functions.py
Labels: Performance, functions

#24200 Fix sign typo in Diophantine title example
  doc/src/guides/solving/index.md
  doc/src/guides/solving/solve-diophantine-equation.md
Labels: Documentation, GSoD
