Repository sympy/sympy, pull requests merged in 2022-12, with the labels that each got.

#24311 Patch limit printing and parsing
  sympy/parsing/latex/_parse_latex_antlr.py
  sympy/parsing/tests/test_latex.py
  sympy/printing/str.py
  sympy/printing/tests/test_str.py
  sympy/series/limits.py
Labels: printing, parsing.latex

#24384 Add a `PermutationGroup.is_dihedral` property
  sympy/combinatorics/named_groups.py
  sympy/combinatorics/perm_groups.py
  sympy/combinatorics/tests/test_perm_groups.py
Labels: Enhancement, combinatorics

#24009 Make SMT Printer warning logs more pythonic.
  sympy/printing/smtlib.py
  sympy/printing/tests/test_smtlib.py
Labels: printing

#24401 fixes puiseux polynomials does not work with algebraic extensions
  sympy/polys/rings.py
  sympy/polys/tests/test_ring_series.py
Labels: polys

#24414 Fixes the boundary of "LessThan" becomes open in sets()
  sympy/sets/sets.py
  sympy/sets/tests/test_sets.py
Labels: sets, logic

#24437 Decompose partition utility from `kbins`
  sympy/utilities/iterables.py
  sympy/utilities/tests/test_iterables.py
Labels: utilities
