Repository sympy/sympy, pull requests merged in 2022-03, with the labels that each got.

#23184 Update setup-python action to v3
  .github/workflows/release.yml
  .github/workflows/runtests.yml
Labels: GitHub Actions

#23187 test: reduce Travis jobs to the doc build
  .travis.yml
Labels: Travis, actions, CI

#23171 Restores pre-1.7 simplify behavior for orient_body_fixed()
  sympy/physics/vector/frame.py
  sympy/physics/vector/tests/test_frame.py
Labels: physics.mechanics

#22883 codegen/fnodes/Module: convert str to Str
  sympy/codegen/fnodes.py
Labels: codegen

#22999 Fixes results of evalf() function based on precision
  .mailmap
  sympy/core/evalf.py
  sympy/core/tests/test_evalf.py
Labels: core.evalf

#23205 release: bump version to 1.10 final
  .github/workflows/release.yml
  sympy/release.py
Labels: Releasing

#23050 Add a test for lambdify used with numba
  .github/workflows/runtests.yml
  .mailmap
  sympy/utilities/tests/test_lambdify.py
Labels: Testing, CI

#23214 Update documentation (primarily for boolalg)
  sympy/functions/special/polynomials.py
  sympy/logic/boolalg.py
  sympy/physics/control/lti.py
  sympy/physics/matrices.py
  sympy/physics/quantum/circuitplot.py
  sympy/physics/quantum/gate.py
Labels: Documentation

#23191 Fixes print order of sympy.vector object.
  sympy/printing/pretty/pretty.py
  sympy/vector/tests/test_printing.py
Labels: printing.pretty

#23236 maint: bump version to 1.10.1 on the 1.10 branch
  .github/workflows/release.yml
  sympy/release.py
Labels: Releasing

#23235 core/function: .diff accepts string arguments again (regression)
  sympy/core/function.py
  sympy/core/tests/test_function.py
Labels: core, core.sympify

#23233 core/function: .diff accepts string arguments again (regression)
  sympy/core/function.py
  sympy/core/tests/test_function.py
Labels: core, core.sympify

#23234 Improve documentation
  doc/src/conf.py
  doc/src/modules/plotting.rst
  sympy/plotting/plot.py
Labels: Documentation

#23196 printing/lambdarepr: NumExprPrinter can make use of codegen AST
  sympy/codegen/pynodes.py
  sympy/core/tests/test_args.py
  sympy/printing/lambdarepr.py
  sympy/printing/tests/test_lambdarepr.py
Labels: printing, unevaluated printing

#22924 Fix `__slots__` issues (overlaps, broken inheritance)
  .mailmap
  sympy/codegen/ast.py
  sympy/codegen/cnodes.py
  sympy/codegen/cxxnodes.py
  sympy/codegen/fnodes.py
  sympy/codegen/matrix_nodes.py
  sympy/concrete/expr_with_intlimits.py
  sympy/concrete/expr_with_limits.py
  sympy/concrete/products.py
  sympy/concrete/summations.py
  sympy/core/numbers.py
  sympy/core/sympify.py
  sympy/geometry/entity.py
  sympy/geometry/polygon.py
  sympy/integrals/integrals.py
  sympy/matrices/expressions/matexpr.py
  sympy/physics/quantum/qexpr.py
  sympy/polys/domains/domainelement.py
  sympy/sets/sets.py
Labels: Uncategorised

#22827 physics : completed list of non-SI units accepted by SI system but missing in SymPy
  sympy/physics/units/__init__.py
  sympy/physics/units/definitions/__init__.py
  sympy/physics/units/definitions/dimension_definitions.py
  sympy/physics/units/definitions/unit_definitions.py
  sympy/physics/units/systems/length_weight_time.py
  sympy/physics/units/systems/si.py
  sympy/physics/units/tests/test_quantities.py
Labels: physics.units

#22969 physics : Added refractive index in Gaussian Beam Parameters and refactored code
  sympy/core/tests/test_args.py
  sympy/physics/optics/gaussopt.py
  sympy/physics/optics/tests/test_gaussopt.py
Labels: physics.optics

#23217 fix: add __setstate__ to support old pickles
  sympy/core/basic.py
  sympy/utilities/tests/test_pickling.py
Labels: core

#23259 fix: add __setstate__ to support old pickles
  sympy/core/basic.py
  sympy/utilities/tests/test_pickling.py
Labels: core

#23251 Remove type annotations from lambdify.
  sympy/utilities/lambdify.py
Labels: Documentation, utilities.lambdify

#23277 integrals - fixes issue #23276 and double integrate with matrix does not raise exception
  sympy/integrals/integrals.py
  sympy/matrices/tests/test_matrices.py
Labels: integrals, matrices

#23298 add type hints to quadratic_residues
  sympy/ntheory/residue_ntheory.py
  sympy/ntheory/tests/test_residue.py
Labels: ntheory

#22781 activate dead code to factor constant term when solving binomial equation
  sympy/polys/polyroots.py
  sympy/polys/tests/test_polyroots.py
  sympy/solvers/tests/test_solvers.py
Labels: polys, solvers.solve

#23273 maint: update prev sympy version to 1.10 for asv
  .github/workflows/runtests.yml
  asv.conf.actions.json
Labels: Performance
