Repository sympy/sympy, pull requests merged in 2023-01, with the labels that each got.

#24458 Fixed limit(x**n, x, -oo) Giving -oo As Answer Irrespective Of Odd/Even n
  sympy/series/limits.py
  sympy/series/tests/test_limits.py
Labels: limits

#24443 Repair `_check_homomorphism()`
  sympy/combinatorics/homomorphisms.py
  sympy/combinatorics/tests/test_homomorphisms.py
Labels: combinatorics

#24455 Repair `PermutationGroup.is_cyclic`
  sympy/combinatorics/perm_groups.py
  sympy/combinatorics/tests/test_perm_groups.py
Labels: combinatorics

#24485 perf: make Mul.is_zero/is_infinite faster
  sympy/core/mul.py
Labels: assumptions, Performance

#24488 Improves the docstring of rigid body
  .mailmap
  sympy/physics/mechanics/particle.py
  sympy/physics/mechanics/rigidbody.py
Labels: physics.mechanics

#24463 Adding electron_rest_mass unit in physics.units
  sympy/physics/units/__init__.py
  sympy/physics/units/definitions/__init__.py
  sympy/physics/units/definitions/unit_definitions.py
  sympy/physics/units/systems/si.py
  sympy/physics/units/tests/test_quantities.py
Labels: physics.units

#24497 Deprecate old issue for Line3D
  sympy/geometry/line.py
  sympy/geometry/tests/test_line.py
Labels: Deprecation Removal

#24498 Deprecate legacy in `Matrix.dot`
  sympy/matrices/matrices.py
  sympy/matrices/tests/test_matrices.py
Labels: Deprecation Removal

#24499 Remove deprecations in physics.units
  sympy/physics/units/quantities.py
  sympy/physics/units/tests/test_quantities.py
Labels: Deprecation Removal

#24501 Type analysis for `strategies.core`
  sympy/strategies/core.py
  sympy/strategies/tests/test_core.py
  sympy/strategies/tests/test_strat.py
Labels: strategies

#24502 Deprecate source function
  doc/src/explanation/active-deprecations.md
  doc/src/explanation/gotchas.rst
  sympy/__init__.py
  sympy/utilities/__init__.py
  sympy/utilities/source.py
  sympy/utilities/tests/test_source.py
Labels: Deprecation Removal

#24513 Remove deprecated a2idx and classof
  doc/src/explanation/active-deprecations.md
  sympy/matrices/matrices.py
  sympy/matrices/tests/test_matrices.py
Labels: Deprecation Removal

#24526 Format the code in sympy/strategies
  sympy/strategies/__init__.py
  sympy/strategies/branch/__init__.py
  sympy/strategies/branch/core.py
  sympy/strategies/branch/tests/test_core.py
  sympy/strategies/branch/tests/test_tools.py
  sympy/strategies/branch/tests/test_traverse.py
  sympy/strategies/branch/tools.py
  sympy/strategies/branch/traverse.py
  sympy/strategies/core.py
  sympy/strategies/rl.py
  sympy/strategies/tests/test_core.py
  sympy/strategies/tests/test_rl.py
  sympy/strategies/tests/test_tools.py
  sympy/strategies/tests/test_traverse.py
  sympy/strategies/tests/test_tree.py
  sympy/strategies/tools.py
  sympy/strategies/tree.py
  sympy/strategies/util.py
Labels: strategies

#24527 Remove deprecated feature from `Eq`
  doc/src/explanation/active-deprecations.md
  sympy/core/relational.py
  sympy/core/tests/test_relational.py
Labels: Deprecation Removal

#24521 Use a separate RNG for the core assumptions
  .mailmap
  sympy/core/assumptions.py
  sympy/core/random.py
  sympy/core/tests/test_assumptions.py
  sympy/core/tests/test_random.py
Labels: core

#24168 Weak runtime shape checks of matrices
  sympy/matrices/expressions/_shape.py
  sympy/matrices/expressions/determinant.py
  sympy/matrices/expressions/hadamard.py
  sympy/matrices/expressions/inverse.py
  sympy/matrices/expressions/kronecker.py
  sympy/matrices/expressions/matadd.py
  sympy/matrices/expressions/matexpr.py
  sympy/matrices/expressions/matmul.py
  sympy/matrices/expressions/matpow.py
  sympy/matrices/expressions/special.py
  sympy/matrices/expressions/tests/test_applyfunc.py
  sympy/matrices/expressions/tests/test_hadamard.py
  sympy/matrices/expressions/tests/test_inverse.py
  sympy/matrices/expressions/tests/test_matadd.py
  sympy/matrices/expressions/tests/test_matexpr.py
  sympy/matrices/expressions/tests/test_matmul.py
  sympy/matrices/expressions/tests/test_special.py
  sympy/matrices/expressions/trace.py
Labels: matrices, matrices.expressions

#24539 Fix `PolyElement.as_expr()`
  sympy/polys/rings.py
  sympy/polys/tests/test_rings.py
Labels: polys

#24535 Implemented Givens rotation
  doc/src/modules/matrices/matrices.rst
  sympy/__init__.py
  sympy/matrices/__init__.py
  sympy/matrices/dense.py
Labels: matrices

#24238 Bodies structure
  doc/src/modules/physics/mechanics/api/part_bod.rst
  doc/src/modules/physics/mechanics/masses.rst
  doc/src/modules/physics/vector/advanced.rst
  sympy/physics/mechanics/body.py
  sympy/physics/mechanics/body_base.py
  sympy/physics/mechanics/particle.py
  sympy/physics/mechanics/rigidbody.py
  sympy/physics/mechanics/tests/test_particle.py
  sympy/physics/mechanics/tests/test_rigidbody.py
Labels: physics.mechanics

#24541 Provide a sparse `symmetrize()` method
  sympy/polys/polyfuncs.py
  sympy/polys/rings.py
  sympy/polys/tests/test_rings.py
Labels: Enhancement, polys

#24492 New structure for the recursive algorithm of the Laplace transform
  sympy/integrals/tests/test_transforms.py
  sympy/integrals/transforms.py
  sympy/utilities/tests/test_wester.py
Labels: integrals.transforms

#24563 Refactor Laplace transforms into separate file
  doc/src/modules/integrals/integrals.rst
  sympy/core/tests/test_args.py
  sympy/integrals/laplace.py
  sympy/integrals/tests/test_laplace.py
  sympy/integrals/tests/test_transforms.py
  sympy/integrals/transforms.py
  sympy/physics/control/control_plots.py
Labels: integrals.transforms

#24577 Type analysis for basic DDM operations
  sympy/polys/matrices/_typing.py
  sympy/polys/matrices/dense.py
Labels: domainmatrix

#24566 Implement lazy dictionary for trigonometric special angles
  sympy/functions/elementary/_trigonometric_special.py
  sympy/functions/elementary/tests/test_trigonometric.py
  sympy/functions/elementary/trigonometric.py
Labels: functions

#24393 maint: unpin scipy version under pypy
  .github/workflows/runtests.yml
Labels: CI

#24583 Clean up numpydoc upstream errors
  sympy/algebras/quaternion.py
  sympy/codegen/ast.py
  sympy/concrete/summations.py
  sympy/core/add.py
  sympy/core/expr.py
  sympy/core/function.py
  sympy/core/numbers.py
  sympy/functions/elementary/trigonometric.py
  sympy/geometry/line.py
  sympy/holonomic/holonomic.py
  sympy/matrices/common.py
  sympy/matrices/dense.py
  sympy/physics/mechanics/jointsmethod.py
  sympy/polys/domains/algebraicfield.py
  sympy/series/approximants.py
  sympy/solvers/diophantine/diophantine.py
  sympy/utilities/enumerative.py
Labels: Documentation

#24589 Fix bug that coordinates could be general functions
  sympy/physics/mechanics/functions.py
  sympy/physics/mechanics/tests/test_functions.py
Labels: physics.mechanics

#24598 Remove redundant `all_classes` from BasicMeta
  sympy/core/core.py
  sympy/core/tests/test_function.py
Labels: core

#24579 Rule-based structure for the inverse Laplace transform
  sympy/integrals/laplace.py
  sympy/integrals/tests/test_laplace.py
Labels: integrals.transforms

#24605 Removed warning from quaternion
  sympy/algebras/quaternion.py
  sympy/algebras/tests/test_quaternion.py
Labels: algebras

#24321 tensor module: add wild objects for tensor matching
  sympy/core/basic.py
  sympy/core/tests/test_args.py
  sympy/tensor/tensor.py
  sympy/tensor/tests/test_tensor.py
Labels: tensor

#24603 Fix Pow for Quantum HermitianOperator if Operator also unitary and exponent not an explicit integer
  sympy/physics/quantum/operator.py
  sympy/physics/quantum/tests/test_operator.py
Labels: physics.quantum

#23499 test: fix use of Float/Rational in tests
  sympy/calculus/tests/test_singularities.py
  sympy/codegen/ast.py
  sympy/codegen/cfunctions.py
  sympy/codegen/tests/test_ast.py
  sympy/concrete/tests/test_sums_products.py
  sympy/core/tests/test_evalf.py
  sympy/core/tests/test_expr.py
  sympy/core/tests/test_numbers.py
  sympy/core/tests/test_relational.py
  sympy/core/tests/test_sympify.py
  sympy/functions/combinatorial/tests/test_comb_numbers.py
  sympy/functions/elementary/tests/test_miscellaneous.py
  sympy/functions/elementary/tests/test_piecewise.py
  sympy/geometry/tests/test_point.py
  sympy/integrals/tests/test_integrals.py
  sympy/integrals/tests/test_intpoly.py
  sympy/matrices/tests/test_matrices.py
  sympy/parsing/tests/test_sympy_parser.py
  sympy/physics/control/tests/test_lti.py
  sympy/physics/quantum/tests/test_density.py
  sympy/physics/quantum/tests/test_qubit.py
  sympy/polys/tests/test_polytools.py
  sympy/polys/tests/test_rootoftools.py
  sympy/series/tests/test_series.py
  sympy/simplify/tests/test_simplify.py
  sympy/simplify/tests/test_trigsimp.py
  sympy/solvers/tests/test_numeric.py
  sympy/solvers/tests/test_solvers.py
  sympy/stats/tests/test_joint_rv.py
  sympy/stats/tests/test_matrix_distributions.py
  sympy/stats/tests/test_rv.py
  sympy/stats/tests/test_stochastic_process.py
  sympy/utilities/tests/test_pickling.py
Labels: floats, Code quality

#24612 minor fix on ntheory.ecm
  sympy/ntheory/ecm.py
Labels: ntheory

#24622 Use pre-generated assumptions instead of calculating a new set in sympy imports
  sympy/core/assumptions.py
Labels: assumptions, Performance

#24615 better introductory documentation for units module
  doc/src/modules/physics/units/examples.rst
  doc/src/modules/physics/units/index.rst
Labels: physics.units

#24558 added bilinear() to tf in control lti
  .mailmap
  doc/src/modules/physics/control/lti.rst
  sympy/physics/control/__init__.py
  sympy/physics/control/lti.py
  sympy/physics/control/tests/test_lti.py
Labels: physics.control

#24587 Fix issues with numpydoc formatting
  sympy/algebras/quaternion.py
  sympy/assumptions/ask.py
  sympy/calculus/accumulationbounds.py
  sympy/calculus/util.py
  sympy/concrete/summations.py
  sympy/core/add.py
  sympy/core/basic.py
  sympy/core/cache.py
  sympy/core/containers.py
  sympy/core/expr.py
  sympy/core/numbers.py
  sympy/core/operations.py
  sympy/core/sorting.py
  sympy/functions/elementary/miscellaneous.py
  sympy/geometry/line.py
  sympy/geometry/plane.py
  sympy/geometry/point.py
  sympy/geometry/polygon.py
  sympy/geometry/util.py
  sympy/logic/boolalg.py
  sympy/matrices/common.py
  sympy/matrices/decompositions.py
  sympy/matrices/expressions/matexpr.py
  sympy/matrices/matrices.py
  sympy/ntheory/residue_ntheory.py
  sympy/parsing/sympy_parser.py
  sympy/polys/domains/integerring.py
  sympy/simplify/powsimp.py
  sympy/solvers/ode/ode.py
  sympy/solvers/polysys.py
  sympy/solvers/solveset.py
  sympy/tensor/array/dense_ndim_array.py
  sympy/tensor/array/ndim_array.py
  sympy/vector/basisdependent.py
Labels: Documentation

#24550 Implement compatibility of Particle and RigidBody with the joints framework
  sympy/physics/mechanics/joint.py
  sympy/physics/mechanics/jointsmethod.py
  sympy/physics/mechanics/tests/test_joint.py
  sympy/physics/mechanics/tests/test_jointsmethod.py
Labels: physics.mechanics

#24632 Move quadratic sieve tests inside functions
  sympy/ntheory/tests/test_qs.py
Labels: ntheory

#24588 Implement Inertia object
  doc/src/explanation/active-deprecations.md
  doc/src/modules/physics/mechanics/api/part_bod.rst
  doc/src/modules/physics/mechanics/masses.rst
  sympy/physics/mechanics/__init__.py
  sympy/physics/mechanics/body.py
  sympy/physics/mechanics/functions.py
  sympy/physics/mechanics/inertia.py
  sympy/physics/mechanics/particle.py
  sympy/physics/mechanics/rigidbody.py
  sympy/physics/mechanics/tests/test_functions.py
  sympy/physics/mechanics/tests/test_inertia.py
  sympy/physics/mechanics/tests/test_rigidbody.py
Labels: physics.mechanics

#24625 Add an `equal_valued` function to compare Float and Rational
  doc/src/modules/core.rst
  sympy/calculus/util.py
  sympy/core/add.py
  sympy/core/evalf.py
  sympy/core/expr.py
  sympy/core/exprtools.py
  sympy/core/mod.py
  sympy/core/numbers.py
  sympy/core/tests/test_numbers.py
  sympy/functions/combinatorial/tests/test_comb_numbers.py
  sympy/functions/elementary/trigonometric.py
  sympy/holonomic/holonomic.py
  sympy/physics/quantum/identitysearch.py
  sympy/physics/quantum/state.py
  sympy/polys/polytools.py
  sympy/printing/c.py
  sympy/printing/fortran.py
  sympy/printing/glsl.py
  sympy/printing/jscode.py
  sympy/printing/julia.py
  sympy/printing/maple.py
  sympy/printing/octave.py
  sympy/printing/pretty/pretty.py
  sympy/printing/rcode.py
  sympy/printing/rust.py
  sympy/series/tests/test_limits.py
Labels: core, floats
