Repository sympy/sympy, pull requests merged in 2023-11, with the labels that each got.

#25859 maint: bump version to 1.12.1
  .github/workflows/release.yml
  .github/workflows/runtests.yml
  .mailmap
  AUTHORS
  asv.conf.actions.json
  bin/sympy_time_cache.py
  doc/src/contributing/docstring.rst
  doc/src/guides/solving/solve-equation-algebraically.md
  doc/src/guides/solving/solve-system-of-equations-algebraically.md
  doc/src/guides/solving/solving-guidance.md
  doc/src/modules/combinatorics/fp_groups.rst
  doc/src/modules/vector/coordsys.rst
  sympy/combinatorics/tests/test_permutations.py
  sympy/core/numbers.py
  sympy/core/tests/test_numbers.py
  sympy/core/tests/test_sympify.py
  sympy/logic/boolalg.py
  sympy/parsing/ast_parser.py
  sympy/parsing/latex/_parse_latex_antlr.py
  sympy/parsing/sympy_parser.py
  sympy/physics/quantum/tests/test_represent.py
  sympy/polys/domains/mpelements.py
  sympy/release.py
Labels: Releasing

#25866 Backport Sage CI to 1.12
  .github/workflows/ci-sage.yml
Labels: CI

#25867 maint(ci): point Sage CI at Sage PR
  .github/workflows/ci-sage.yml
Labels: CI

#25880 feat(matrices): add .lll() method to Matrix
  sympy/matrices/repmatrix.py
  sympy/matrices/tests/test_repmatrix.py
  sympy/testing/quality_unicode.py
Labels: matrices, domainmatrix

#25889 fix(polys): add conversion CC -> EX
  sympy/integrals/tests/test_integrals.py
  sympy/polys/domains/expressiondomain.py
  sympy/polys/domains/integerring.py
  sympy/polys/domains/tests/test_domains.py
Labels: polys, integrals.risch

#25900 fix corner case handling in log_to_real (used by ratint)
  sympy/integrals/rationaltools.py
  sympy/integrals/tests/test_rationaltools.py
Labels: integrals, integrals.risch

#25901 for Poly, sympify string rep with evaluate=False
  sympy/polys/polytools.py
  sympy/polys/tests/test_polytools.py
Labels: polys

#25902 perf(matrices): use DomainMatrix for inv_mod
  sympy/matrices/inverse.py
  sympy/matrices/matrices.py
  sympy/matrices/repmatrix.py
  sympy/matrices/tests/test_matrices.py
  sympy/matrices/tests/test_repmatrix.py
Labels: matrices, Performance, domainmatrix

#25923 Make `cycle_length` code, docs and tests consistent
  .mailmap
  sympy/ntheory/factor_.py
  sympy/ntheory/generate.py
  sympy/ntheory/tests/test_generate.py
Labels: ntheory

#25916 changing orient_explicit method to orient_dcm method, also adding new method orient_explicit
  .mailmap
  doc/src/modules/physics/vector/api/classes.rst
  sympy/physics/vector/frame.py
  sympy/physics/vector/tests/test_frame.py
Labels: physics.vector

#25928 Fixed the style of `isprime` reference
  .mailmap
  AUTHORS
  sympy/ntheory/primetest.py
Labels: ntheory

#25560 Make System public
  doc/src/modules/physics/mechanics/api/index.rst
  doc/src/modules/physics/mechanics/api/system.rst
  doc/src/modules/physics/mechanics/examples/four_bar_linkage_example.rst
  sympy/physics/mechanics/__init__.py
  sympy/physics/mechanics/_system.py
  sympy/physics/mechanics/actuator.py
  sympy/physics/mechanics/functions.py
  sympy/physics/mechanics/pathway.py
  sympy/physics/mechanics/system.py
  sympy/physics/mechanics/tests/test_functions.py
  sympy/physics/mechanics/tests/test_system_class.py
Labels: physics.mechanics, CZI: Codegen/Biomech

#25939 Refactoring of group_numbers
  sympy/combinatorics/group_numbers.py
  sympy/combinatorics/tests/test_group_numbers.py
Labels: combinatorics
