Repository sympy/sympy, pull requests merged in 2023-03, with the labels that each got.

#24826 Fix infinite recursion issues for cse for unevaluated expression
  sympy/simplify/cse_main.py
  sympy/simplify/tests/test_cse.py
Labels: simplify

#24827 [1.12 branch] Fix infinite recursion issues for cse for unevaluated expression
  sympy/simplify/cse_main.py
  sympy/simplify/tests/test_cse.py
Labels: simplify, regression

#24763 Implement an abstract class for bodies
  doc/src/modules/physics/mechanics/api/part_bod.rst
  sympy/physics/mechanics/body.py
  sympy/physics/mechanics/body_base.py
  sympy/physics/mechanics/particle.py
  sympy/physics/mechanics/rigidbody.py
  sympy/physics/mechanics/tests/test_particle.py
  sympy/physics/mechanics/tests/test_rigidbody.py
Labels: physics.mechanics

#24817 ruff-PIE802: optimize any all with generators
  pyproject.toml
  sympy/combinatorics/group_numbers.py
  sympy/diffgeom/tests/test_function_diffgeom_book.py
  sympy/logic/tests/test_boolalg.py
  sympy/matrices/tests/test_immutable.py
  sympy/ntheory/tests/test_digits.py
  sympy/polys/matrices/lll.py
  sympy/polys/tests/test_polyroots.py
  sympy/solvers/ode/tests/test_riccati.py
  sympy/tensor/array/expressions/from_array_to_matrix.py
  sympy/tensor/tests/test_tensor.py
Labels: Linting

#24367 Remove setupegg.py
  .gitignore
  doc/src/install.md
  release/compare_tar_against_git.py
  setupegg.py
  sympy/testing/tests/test_code_quality.py
Labels: Releasing

#24839 remove setupegg.py
  .gitignore
  doc/src/install.md
  release/compare_tar_against_git.py
  setupegg.py
  sympy/testing/tests/test_code_quality.py
Labels: Releasing

#24846 avoid call to setup.py (backport to 1.12)
  .github/workflows/runtests.yml
  README.md
  release/ci_release_script.sh
  release/releasecheck.py
  setup.py
Labels: Releasing

#24858 Fix documentation about singular_value_decomposition()
  .mailmap
  sympy/matrices/decompositions.py
Labels: Documentation, matrices

#24865 Implementation derivative support for MatrixSolve
  sympy/codegen/matrix_nodes.py
  sympy/codegen/tests/test_matrix_nodes.py
Labels: CZI: Codegen

#24861 Hint for how to tweak docstring output in lambdify
  sympy/utilities/lambdify.py
  sympy/utilities/tests/test_lambdify.py
Labels: utilities.lambdify

#24792 Speed up forcing vector computation in KanesMethod
  sympy/physics/mechanics/kane.py
Labels: physics.mechanics

#24794 Use explicit keyword argument in Intersection.__new__
  .mailmap
  sympy/sets/sets.py
Labels: sets

#24867 Fixes diff and Derivative different results in matix expressions
  sympy/matrices/expressions/matexpr.py
  sympy/matrices/expressions/tests/test_matexpr.py
Labels: matrices.expressions

#24877 Apply ruff SIM101 rule: merge isinstance calls
  pyproject.toml
  sympy/categories/baseclasses.py
  sympy/core/function.py
  sympy/integrals/manualintegrate.py
  sympy/matrices/matrices.py
  sympy/physics/quantum/operatorset.py
  sympy/plotting/experimental_lambdify.py
  sympy/printing/tests/test_smtlib.py
Labels: Code quality

#24830 Particle and RigidBody compatibility with the joints framework
  doc/src/modules/physics/mechanics/masses.rst
  sympy/physics/mechanics/joint.py
  sympy/physics/mechanics/jointsmethod.py
  sympy/physics/mechanics/particle.py
  sympy/physics/mechanics/rigidbody.py
  sympy/physics/mechanics/tests/test_joint.py
  sympy/physics/mechanics/tests/test_jointsmethod.py
Labels: physics.mechanics

#24884 perf(core): reduce assumption checking in Mul(x,y)
  sympy/core/mul.py
Labels: core, Performance

#24880 fix type hints for mypy 1.1.1
  sympy/ntheory/tests/test_qs.py
  sympy/parsing/sympy_parser.py
Labels: mypy

#24882 fix(core): make symbol thread-safe
  sympy/core/assumptions.py
  sympy/core/symbol.py
  sympy/core/tests/test_symbol.py
  sympy/printing/repr.py
  sympy/printing/tests/test_jax.py
Labels: core

#24892 test: add a skip_under_pyodide decorator for tests
  sympy/core/tests/test_symbol.py
  sympy/matrices/tests/test_matrices.py
  sympy/testing/pytest.py
  sympy/utilities/tests/test_misc.py
Labels: Testing, mypy

#23693 fix(core): don't use evaluation in assumptions
  sympy/core/add.py
  sympy/core/tests/test_assumptions.py
  sympy/solvers/solveset.py
  sympy/solvers/tests/test_solveset.py
Labels: core, solvers.solveset

#24893 Backport various fixes to 1.12
  sympy/core/assumptions.py
  sympy/core/symbol.py
  sympy/core/tests/test_symbol.py
  sympy/matrices/tests/test_matrices.py
  sympy/ntheory/tests/test_qs.py
  sympy/parsing/sympy_parser.py
  sympy/printing/repr.py
  sympy/printing/tests/test_jax.py
  sympy/testing/pytest.py
  sympy/utilities/tests/test_misc.py
Labels: assumptions, Testing, Code quality, mypy

#24890 Remove qdots from KanesMethod.forcing
  sympy/physics/mechanics/kane.py
  sympy/physics/mechanics/tests/test_kane.py
Labels: physics.mechanics

#24895 Backport of assumptions under evaluate=False fix
  sympy/core/add.py
  sympy/core/tests/test_assumptions.py
  sympy/solvers/solveset.py
  sympy/solvers/tests/test_solveset.py
Labels: assumptions

#24912 Apply ruff PIE810 rule: merge startswith call
  bin/coverage_doctest.py
  bin/test_external_imports.py
  doc/ext/docscrape.py
  pyproject.toml
  sympy/parsing/sympy_parser.py
  sympy/testing/tests/diagnose_imports.py
  sympy/testing/tests/test_code_quality.py
Labels: Code quality

#24905 KanesMethod specify linear solver
  sympy/physics/mechanics/functions.py
  sympy/physics/mechanics/kane.py
  sympy/physics/mechanics/tests/test_functions.py
  sympy/physics/mechanics/tests/test_kane5.py
Labels: physics.mechanics

#24889 Implement Inertia object
  doc/src/explanation/active-deprecations.md
  doc/src/modules/physics/mechanics/api/part_bod.rst
  doc/src/modules/physics/mechanics/masses.rst
  doc/src/modules/physics/vector/advanced.rst
  sympy/physics/mechanics/__init__.py
  sympy/physics/mechanics/body.py
  sympy/physics/mechanics/functions.py
  sympy/physics/mechanics/inertia.py
  sympy/physics/mechanics/rigidbody.py
  sympy/physics/mechanics/tests/test_functions.py
  sympy/physics/mechanics/tests/test_inertia.py
  sympy/physics/mechanics/tests/test_rigidbody.py
Labels: physics.mechanics

#24937 code update to pass flake8 rule C416
  .mailmap
  sympy/parsing/mathematica.py
  sympy/physics/units/dimensions.py
  sympy/polys/multivariate_resultants.py
  sympy/printing/tests/test_tensorflow.py
  sympy/solvers/ode/ode.py
  sympy/solvers/ode/riccati.py
  sympy/solvers/ode/systems.py
  sympy/stats/rv.py
  sympy/tensor/array/expressions/from_array_to_matrix.py
Labels: Code quality

#24938 test(matrices): fix pinv_rank_deficient xfail test
  sympy/matrices/tests/test_matrices.py
Labels: matrices

#24950 LUsolve now propagates iszerofunc properly.
  sympy/matrices/solvers.py
  sympy/matrices/tests/test_solvers.py
Labels: matrices

#24958 fix(polys): fix factor_list over EX domain
  sympy/polys/domains/expressiondomain.py
  sympy/polys/domains/tests/test_domains.py
  sympy/polys/polytools.py
  sympy/polys/tests/test_polytools.py
Labels: polys

#24969 Change joint argument order to avoid deprecation warning
  .mailmap
  sympy/physics/mechanics/joint.py
Labels: physics.mechanics

#24974 physics: Unit dyads access from ReferenceFrames
  .mailmap
  sympy/physics/vector/frame.py
  sympy/physics/vector/tests/test_frame.py
Labels: physics.vector

#24979 Bugfix in `CRootOf._indexed_root()`
  sympy/polys/rootoftools.py
  sympy/polys/tests/test_rootoftools.py
Labels: polys

#24973 Refactoring of `_sqrt_mod_prime_power`
  sympy/ntheory/residue_ntheory.py
Labels: ntheory

#24954 Added the C parser to the CI and passed some tests
  .github/workflows/runtests.yml
  sympy/codegen/cnodes.py
  sympy/parsing/c/c_parser.py
  sympy/parsing/tests/test_c_parser.py
Labels: parsing

#24993 TensorProduct fails for ImmutableMatrix: correct to MatrixBase instead of Matrix
  sympy/physics/quantum/tensorproduct.py
  sympy/physics/quantum/tests/test_tensorproduct.py
Labels: physics.quantum

#24994 Add sphinxcontrib-jquery as a docs dependency (1.12 branch)
  .github/workflows/runtests.yml
  doc/requirements.txt
  doc/src/conf.py
  pyproject.toml
Labels: Documentation
