Repository sympy/sympy, pull requests merged in 2023-02, with the labels that each got.

#24617 fix(solvers): remove duplicate solutions in solve
  sympy/solvers/solvers.py
  sympy/solvers/tests/test_solvers.py
Labels: solvers, solvers.solve

#24648 Fix bug (variable name mistake)
  sympy/ntheory/ecm.py
Labels: ntheory

#24641 Implement loads
  doc/src/explanation/active-deprecations.md
  doc/src/modules/physics/mechanics/api/part_bod.rst
  doc/src/modules/physics/mechanics/masses.rst
  sympy/physics/mechanics/__init__.py
  sympy/physics/mechanics/functions.py
  sympy/physics/mechanics/loads.py
  sympy/physics/mechanics/tests/test_functions.py
  sympy/physics/mechanics/tests/test_loads.py
Labels: physics.mechanics

#24133 Bug Fix: Error on all limits with Piecewise #24127
  sympy/functions/elementary/piecewise.py
  sympy/functions/elementary/tests/test_piecewise.py
Labels: functions.elementary.piecewise

#24606 Remove type comparison for `meijerint`
  sympy/integrals/meijerint.py
Labels: core, integrals.meijerg

#24607 Remove type checking for BasicMeta
  sympy/core/basic.py
  sympy/physics/quantum/circuitplot.py
  sympy/printing/printer.py
Labels: core

#24572 Add Lenstra–Lenstra–Lovász (LLL) basis reduction algorithm
  .mailmap
  sympy/polys/matrices/ddm.py
  sympy/polys/matrices/domainmatrix.py
  sympy/polys/matrices/exceptions.py
  sympy/polys/matrices/lll.py
  sympy/polys/matrices/sdm.py
  sympy/polys/matrices/tests/test_lll.py
  sympy/testing/quality_unicode.py
Labels: matrices, polys

#24661 Fixes the evaluate=False parameter for relational in parse_expr
  sympy/parsing/sympy_parser.py
  sympy/parsing/tests/test_sympy_parser.py
Labels: parsing, unevaluated

#24657 Remove `BasicMeta`
  sympy/core/assumptions.py
  sympy/core/basic.py
  sympy/core/core.py
  sympy/integrals/meijerint_doc.py
  sympy/integrals/tests/test_meijerint.py
  sympy/utilities/tests/test_pickling.py
Labels: core

#24670 core: remove all metaclasses from Basic
  doc/src/explanation/active-deprecations.md
  doc/src/guides/assumptions.rst
  sympy/assumptions/assume.py
  sympy/assumptions/tests/test_wrapper.py
  sympy/assumptions/wrapper.py
  sympy/core/assumptions.py
  sympy/core/basic.py
  sympy/core/function.py
  sympy/core/singleton.py
  sympy/core/tests/test_basic.py
  sympy/physics/quantum/circuitplot.py
  sympy/tensor/tensor.py
  sympy/utilities/tests/test_pickling.py
Labels: core

#24658 Laplace transform: SAGE regression fix
  sympy/integrals/laplace.py
  sympy/integrals/tests/test_laplace.py
Labels: integrals.transforms

#24531 Simplify: fix comparison with non-real argument
  sympy/simplify/simplify.py
  sympy/simplify/tests/test_simplify.py
Labels: simplify

#24681 Add transformation matrix to LLL
  sympy/polys/matrices/ddm.py
  sympy/polys/matrices/domainmatrix.py
  sympy/polys/matrices/lll.py
  sympy/polys/matrices/sdm.py
  sympy/polys/matrices/tests/test_lll.py
Labels: matrices, polys, domainmatrix

#24703 Removed unused variables
  sympy/ntheory/ecm.py
Labels: ntheory

#24708 Improve docstring in `sympy/polys/rings.py`
  sympy/polys/rings.py
Labels: Documentation, polys

#24642 Laplace transform: New trig rules for products of trig functions
  sympy/integrals/laplace.py
  sympy/integrals/tests/test_laplace.py
Labels: Performance, integrals.transforms

#24699 Revert particle frame attribute, while keeping compatibility with Joint
  sympy/physics/mechanics/body.py
  sympy/physics/mechanics/body_base.py
  sympy/physics/mechanics/joint.py
  sympy/physics/mechanics/particle.py
  sympy/physics/mechanics/rigidbody.py
  sympy/physics/mechanics/tests/test_joint.py
  sympy/physics/mechanics/tests/test_jointsmethod.py
  sympy/physics/mechanics/tests/test_particle.py
Labels: physics.mechanics

#24721 Improve coordinate validation
  sympy/physics/mechanics/functions.py
  sympy/physics/mechanics/tests/test_functions.py
Labels: physics.mechanics

#24722 Remove redundant load methods
  sympy/physics/mechanics/loads.py
Labels: physics.mechanics

#24728 Corrected the treatment of `Heaviside(t)`, added two simple rules
  sympy/integrals/laplace.py
  sympy/integrals/tests/test_laplace.py
Labels: integrals.transforms

#24747 Fix erroring test in `sympy/printing/tests/test_aesaracode.py`
  sympy/printing/aesaracode.py
  sympy/printing/tests/test_aesaracode.py
Labels: printing

#24749 Add literature reference to symmetrize function
  sympy/polys/rings.py
Labels: Documentation, polys

#24729 Add support for linting with Ruff
  .github/workflows/runtests.yml
  pyproject.toml
Labels: Code quality, Flake8, CI

#24758 Relax input requirements on polys in algebraic number theory functions
  sympy/polys/numberfields/basis.py
  sympy/polys/numberfields/galoisgroups.py
  sympy/polys/numberfields/tests/test_basis.py
Labels: polys

#24754 Add `docstring_limit` parameter to `lambdify` to improve performance for large expressions
  sympy/utilities/lambdify.py
  sympy/utilities/tests/test_lambdify.py
Labels: utilities.lambdify, CZI: Codegen

#24757 Laplace Transform: PEP8 Compliance
  sympy/integrals/laplace.py
  sympy/integrals/tests/test_laplace.py
Labels: integrals.transforms

#24765 Changed the default to `simplify=False` in LT and ILT
  sympy/integrals/laplace.py
  sympy/integrals/tests/test_laplace.py
  sympy/integrals/tests/test_meijerint.py
  sympy/utilities/tests/test_wester.py
Labels: integrals.transforms

#24775 maint: update AUTHORS file
  .mailmap
  AUTHORS
Labels: Releasing

#24774 maint(release): bump version to 1.13.def on the master branch
  .github/workflows/release.yml
  doc/src/explanation/active-deprecations.md
  sympy/release.py
Labels: Releasing

#24783 maint(ci): fix branchnames for 1.12 benchmarks
  .github/workflows/release.yml
  .github/workflows/runtests.yml
  asv.conf.actions.json
  sympy/release.py
Labels: Releasing, CI

#24769 Move development tool configuration to `pyproject.toml`
  .flake8
  pyproject.toml
  pytest.ini
  release/compare_tar_against_git.py
  setup.cfg
  setup.py
Labels: Flake8, mypy

#24788 Remove deprecated Enum `member.member` access
  sympy/combinatorics/galois.py
Labels: combinatorics

#24798 Correct doc-string argument names and formatting in utilities
  sympy/utilities/codegen.py
  sympy/utilities/enumerative.py
  sympy/utilities/exceptions.py
  sympy/utilities/iterables.py
Labels: Documentation

#24797 Fix doc-strings in combinatorics.util
  sympy/combinatorics/util.py
Labels: Documentation, combinatorics

#24776 maint(ci): add 3.12 prerelease testing and bump versions
  .github/workflows/runtests.yml
  asv.conf.actions.json
Labels: Releasing, CI

#24803 Remove deprecated Enum member.member access
  .github/workflows/runtests.yml
  sympy/combinatorics/galois.py
Labels: combinatorics, Releasing, CI

#24731 System implementation
  doc/src/modules/physics/mechanics/api/system.rst
  doc/src/modules/physics/mechanics/examples/multi_degree_freedom_holonomic_system.rst
  doc/src/modules/physics/mechanics/index.rst
  doc/src/modules/physics/mechanics/joints.rst
  doc/src/modules/physics/mechanics/system.rst
  sympy/physics/mechanics/__init__.py
  sympy/physics/mechanics/loads.py
  sympy/physics/mechanics/system.py
  sympy/physics/mechanics/tests/test_loads.py
  sympy/physics/mechanics/tests/test_system_class.py
Labels: physics.mechanics

#24822 Add detection for negative expressions
  sympy/physics/mechanics/system.py
  sympy/physics/mechanics/tests/test_system_class.py
Labels: physics.mechanics
