Repository sympy/sympy, pull requests merged in 2023-04, with the labels that each got.

#25007 Fix XXE vulnerability for mathml parser
  .github/workflows/runtests.yml
  bin/test_optional_dependencies.py
  sympy/utilities/mathml/__init__.py
  sympy/utilities/tests/test_mathml.py
  sympy/utilities/tests/test_xxe.py
Labels: utilities, security

#25010 Fix XXE vulnerability for mathml parser (1.12 branch)
  .github/workflows/runtests.yml
  bin/test_optional_dependencies.py
  sympy/utilities/mathml/__init__.py
  sympy/utilities/tests/test_mathml.py
  sympy/utilities/tests/test_xxe.py
Labels: utilities, security

#24966 Implemented `ActuatorBase` and `ForceActuator` in `sympy.physics.mechanics`
  sympy/physics/mechanics/_actuator.py
  sympy/physics/mechanics/_pathway.py
  sympy/physics/mechanics/tests/test_actuator.py
Labels: physics.mechanics, CZI: Codegen

#24962 System implementation
  doc/src/modules/physics/mechanics/api/system.rst
  sympy/physics/mechanics/_system.py
  sympy/physics/mechanics/functions.py
  sympy/physics/mechanics/system.py
  sympy/physics/mechanics/tests/test_system_class.py
Labels: physics.mechanics

#25039 Removing functions with the same functionality
  doc/src/modules/ntheory.rst
  sympy/ntheory/residue_ntheory.py
  sympy/polys/galoistools.py
Labels: ntheory, polys

#25071 Refactored sign conventions of actuator and pathway classes in `sympy.physics.mechanics`
  sympy/physics/mechanics/_actuator.py
  sympy/physics/mechanics/_pathway.py
  sympy/physics/mechanics/tests/test_actuator.py
  sympy/physics/mechanics/tests/test_pathway.py
Labels: physics.mechanics, CZI: Codegen

#24977 Remove use of Vector.simp in sympy.physics.vector and .mechanics
  doc/src/modules/physics/mechanics/examples/bicycle_example.rst
  sympy/physics/mechanics/tests/test_joint.py
  sympy/physics/vector/dyadic.py
  sympy/physics/vector/tests/test_dyadic.py
  sympy/physics/vector/tests/test_frame.py
  sympy/physics/vector/tests/test_functions.py
  sympy/physics/vector/tests/test_output.py
  sympy/physics/vector/tests/test_vector.py
  sympy/physics/vector/vector.py
Labels: physics.mechanics, physics.vector

#24896 Updates mechanics test_kane3.py to work with the new linearizer method and uses a Cramer's Rule based linear solver.
  .ci/blacklisted.json
  .ci/generate_durations_log.sh
  sympy/physics/mechanics/kane.py
  sympy/physics/mechanics/lagrange.py
  sympy/physics/mechanics/linearize.py
  sympy/physics/mechanics/tests/test_kane3.py
  sympy/physics/mechanics/tests/test_linearize.py
Labels: physics.mechanics, CZI: Codegen

#25083 added gmpy.invert
  sympy/crypto/crypto.py
  sympy/external/gmpy.py
  sympy/ntheory/ecm.py
  sympy/ntheory/qs.py
  sympy/ntheory/residue_ntheory.py
  sympy/ntheory/tests/test_ecm.py
Labels: ntheory, external

#25079 Show full Linearizer docstrings and minor improvements to the docstrings.
  doc/src/modules/physics/mechanics/api/linearize.rst
  sympy/physics/mechanics/linearize.py
  sympy/physics/mechanics/tests/test_kane3.py
Labels: physics.mechanics, CZI: Codegen
