Repository sympy/sympy, pull requests merged in 2023-08, with the labels that each got.

#25443 perf(matrices): Use DomainMatrix for Matrix.rref over ZZ/QQ
  sympy/matrices/reductions.py
  sympy/polys/matrices/dense.py
  sympy/polys/matrices/domainmatrix.py
  sympy/polys/matrices/rref.py
  sympy/polys/matrices/tests/test_domainmatrix.py
  sympy/polys/matrices/tests/test_inverse.py
  sympy/polys/matrices/tests/test_rref.py
Labels: matrices, Performance, domainmatrix

#25409 Revert "[GSOC 2.2] Add method to evaluate system response of Transfer Functions. "
  sympy/physics/control/lti.py
  sympy/physics/control/tests/test_lti.py
Labels: physics.control

#25470 Adds type checking and informative error message for Rigidbody inertia
  .mailmap
  sympy/physics/mechanics/rigidbody.py
Labels: physics.mechanics

#25478 adding ELLIPSIS to doctests
  sympy/physics/continuum_mechanics/beam.py
  sympy/physics/continuum_mechanics/truss.py
Labels: Documentation, physics.continuum_mechanics, CI

#25474 feat(polys): Add GROUND_TYPES='flint'
  pyproject.toml
  sympy/conftest.py
  sympy/core/numbers.py
  sympy/core/power.py
  sympy/core/tests/test_sympify.py
  sympy/external/gmpy.py
  sympy/external/ntheory.py
  sympy/functions/combinatorial/factorials.py
  sympy/ntheory/primetest.py
  sympy/polys/domains/algebraicfield.py
  sympy/polys/domains/complexfield.py
  sympy/polys/domains/domain.py
  sympy/polys/domains/expressiondomain.py
  sympy/polys/domains/gaussiandomains.py
  sympy/polys/domains/groundtypes.py
  sympy/polys/domains/integerring.py
  sympy/polys/domains/rationalfield.py
  sympy/polys/domains/realfield.py
  sympy/polys/domains/tests/test_domains.py
  sympy/polys/galoistools.py
  sympy/polys/matrices/tests/test_ddm.py
  sympy/polys/matrices/tests/test_sdm.py
  sympy/polys/modulargcd.py
  sympy/polys/numberfields/galois_resolvents.py
  sympy/polys/tests/test_densearith.py
  sympy/printing/latex.py
  sympy/testing/runtests.py
  sympy/utilities/tests/test_pickling.py
Labels: polys, external

#25480 Support for the case of `mpz`
  bin/test_optional_dependencies.py
  sympy/ntheory/ecm.py
  sympy/ntheory/generate.py
  sympy/ntheory/modular.py
  sympy/ntheory/tests/test_generate.py
Labels: ntheory, external, CI

#25500 Swap System.__init__ argument order
  sympy/physics/mechanics/_system.py
  sympy/physics/mechanics/tests/test_system_class.py
Labels: physics.mechanics

#25353 Add documentation of the initialization parameters of Kane's method
  sympy/physics/mechanics/kane.py
Labels: physics.mechanics

#25400 Implemented `WrappingPathway` in `sympy.physics.mechanics`
  sympy/physics/mechanics/_geometry.py
  sympy/physics/mechanics/_pathway.py
  sympy/physics/mechanics/tests/test_geometry.py
  sympy/physics/mechanics/tests/test_pathway.py
Labels: physics.mechanics, CZI: Codegen/Biomech

#25495 Add Flint matrices for ZZ and QQ
  .github/workflows/runtests.yml
  doc/src/modules/polys/domainmatrix.rst
  doc/src/modules/polys/domainsintro.rst
  release/compare_tar_against_git.py
  requirements-test.txt
  sympy/matrices/determinant.py
  sympy/polys/densebasic.py
  sympy/polys/domains/domain.py
  sympy/polys/matrices/_dfm.py
  sympy/polys/matrices/ddm.py
  sympy/polys/matrices/dense.py
  sympy/polys/matrices/dfm.py
  sympy/polys/matrices/domainmatrix.py
  sympy/polys/matrices/normalforms.py
  sympy/polys/matrices/rref.py
  sympy/polys/matrices/sdm.py
  sympy/polys/matrices/tests/test_ddm.py
  sympy/polys/matrices/tests/test_dense.py
  sympy/polys/matrices/tests/test_domainmatrix.py
  sympy/polys/matrices/tests/test_lll.py
  sympy/polys/matrices/tests/test_xxm.py
  sympy/polys/numberfields/exceptions.py
  sympy/polys/numberfields/modules.py
  sympy/testing/runtests.py
  sympy/utilities/decorator.py
Labels: matrices, Performance, domainmatrix

#25501 Refactoring of `_lucas_sequence`
  sympy/ntheory/primetest.py
  sympy/ntheory/tests/test_primetest.py
Labels: ntheory

#25510 Make `physics.mechanics.wrapping_geometry` public
  doc/src/modules/physics/mechanics/api/index.rst
  doc/src/modules/physics/mechanics/api/wrapping_geometry.rst
  sympy/physics/mechanics/__init__.py
  sympy/physics/mechanics/_pathway.py
  sympy/physics/mechanics/tests/test_pathway.py
  sympy/physics/mechanics/tests/test_wrapping_geometry.py
  sympy/physics/mechanics/wrapping_geometry.py
Labels: physics.mechanics, CZI: Codegen/Biomech

#25463 [GSOC_2.4] Support phase unwrapping in frequency response
  sympy/physics/control/control_plots.py
Labels: GSoC

#25329 [GSOC 2.1] Handle the division of Transfer Function instances.
  sympy/physics/control/lti.py
  sympy/physics/control/tests/test_lti.py
Labels: GSoC, physics.control

#25469 Refactoring of the `*Series` classes of the plotting module
  sympy/plotting/plot.py
  sympy/plotting/plot_implicit.py
  sympy/plotting/series.py
  sympy/plotting/tests/test_plot.py
  sympy/plotting/tests/test_series.py
  sympy/plotting/utils.py
Labels: plotting

#25418 [GSOC 2.3] Add System Margins for Transfer Functions
  sympy/physics/control/__init__.py
  sympy/physics/control/lti.py
  sympy/physics/control/tests/test_lti.py
Labels: GSoC, physics.control

#25511 Make `physics.mechanics.pathway` public.
  doc/src/modules/physics/mechanics/api/index.rst
  doc/src/modules/physics/mechanics/api/pathway.rst
  sympy/physics/mechanics/__init__.py
  sympy/physics/mechanics/_actuator.py
  sympy/physics/mechanics/pathway.py
  sympy/physics/mechanics/tests/test_actuator.py
  sympy/physics/mechanics/tests/test_pathway.py
Labels: physics.mechanics, CZI: Codegen/Biomech

#25519 Implemented muscle fibre passive force-length inverse characteristic curve in `sympy.physics._biomechanics`
  sympy/core/tests/test_args.py
  sympy/physics/_biomechanics/__init__.py
  sympy/physics/_biomechanics/characteristic.py
  sympy/physics/_biomechanics/tests/test_characteristic.py
Labels: CZI: Codegen/Biomech, physics.biomechanics

#25529 Use expr.func to reconstruct Basic instances
  .mailmap
  sympy/polys/rationaltools.py
Labels: polys

#25530 Implemented muscle fibre active force-length characteristic curve in `sympy.physics._biomechanics`
  sympy/core/tests/test_args.py
  sympy/physics/_biomechanics/__init__.py
  sympy/physics/_biomechanics/characteristic.py
  sympy/physics/_biomechanics/tests/test_characteristic.py
Labels: CZI: Codegen/Biomech, physics.biomechanics

#25542 Pin sphinx<7.2.0 to avoid doc build failure.
  doc/requirements.txt
Labels: Documentation

#25518 Make _actuator.py public.
  doc/src/modules/physics/mechanics/api/actuator.rst
  doc/src/modules/physics/mechanics/api/index.rst
  doc/src/modules/sets.rst
  sympy/physics/mechanics/__init__.py
  sympy/physics/mechanics/_system.py
  sympy/physics/mechanics/actuator.py
  sympy/physics/mechanics/tests/test_actuator.py
  sympy/physics/mechanics/tests/test_system_class.py
  sympy/physics/mechanics/tests/test_wrapping_geometry.py
  sympy/physics/mechanics/wrapping_geometry.py
Labels: physics.mechanics, CZI: Codegen/Biomech

#25540 Implemented `_NamedMixin` mixin class for adding error-checked `name` attribute to classes
  sympy/physics/_biomechanics/_mixin.py
  sympy/physics/_biomechanics/tests/test_mixin.py
Labels: CZI: Codegen/Biomech, physics.biomechanics

#25504 Move `iroot` to `external`
  sympy/core/power.py
  sympy/external/gmpy.py
  sympy/external/ntheory.py
  sympy/external/tests/test_gmpy.py
  sympy/ntheory/factor_.py
Labels: ntheory, external

#25543 Unpin sphinx
  doc/requirements.txt
Labels: Documentation

#25539 Implemented muscle fiber force-velocity characteristic curve in `sympy.physics._biomechanics`
  sympy/core/tests/test_args.py
  sympy/physics/_biomechanics/__init__.py
  sympy/physics/_biomechanics/characteristic.py
  sympy/physics/_biomechanics/tests/test_characteristic.py
Labels: CZI: Codegen/Biomech, physics.biomechanics

#25550 Fix incorrect type information for `attachments` parameter to `LinearPathway`
  sympy/physics/mechanics/pathway.py
Labels: physics.mechanics, CZI: Codegen/Biomech

#25549 Rename characteristic curve module to `sympy.physics._biomechanics.curve`
  sympy/core/tests/test_args.py
  sympy/physics/_biomechanics/__init__.py
  sympy/physics/_biomechanics/curve.py
  sympy/physics/_biomechanics/tests/test_curve.py
Labels: CZI: Codegen/Biomech, physics.biomechanics

#25548 Implemented zeroth-order activation dynamics in `sympy.physics._biomechanics`
  sympy/physics/_biomechanics/__init__.py
  sympy/physics/_biomechanics/_mixin.py
  sympy/physics/_biomechanics/activation.py
  sympy/physics/_biomechanics/tests/test_activation.py
Labels: CZI: Codegen/Biomech, physics.biomechanics

#25557 Support generic for `Basic`
  sympy/core/basic.py
  sympy/core/tests/test_basic.py
Labels: core

#25565 Ensure printed biomechanics curves are parenthesized
  sympy/physics/_biomechanics/curve.py
  sympy/physics/_biomechanics/tests/test_curve.py
Labels: printing, CZI: Codegen/Biomech, physics.biomechanics

#25553 Implemented first-order activation dynamics in `sympy.physics._biomechanics`
  sympy/physics/_biomechanics/__init__.py
  sympy/physics/_biomechanics/activation.py
  sympy/physics/_biomechanics/tests/test_activation.py
Labels: CZI: Codegen/Biomech, physics.biomechanics

#25290 fix(core): various fixes for latest mpmath changes
  sympy/core/numbers.py
  sympy/core/tests/test_numbers.py
  sympy/core/tests/test_sympify.py
  sympy/polys/domains/mpelements.py
Labels: core, core.sympify, core.numbers

#25567 Implement start of musculotendon model in `sympy.physics._biomechanics`
  sympy/physics/_biomechanics/__init__.py
  sympy/physics/_biomechanics/activation.py
  sympy/physics/_biomechanics/musculotendon.py
  sympy/physics/_biomechanics/tests/test_musculotendon.py
Labels: CZI: Codegen/Biomech, physics.biomechanics

#25537 Refactoring of `is_quad_residue`
  sympy/ntheory/residue_ntheory.py
Labels: ntheory

#25586 Improved two aspects of the biomechanics API
  sympy/physics/_biomechanics/activation.py
  sympy/physics/_biomechanics/curve.py
  sympy/physics/_biomechanics/musculotendon.py
  sympy/physics/_biomechanics/tests/test_activation.py
  sympy/physics/_biomechanics/tests/test_curve.py
  sympy/physics/_biomechanics/tests/test_musculotendon.py
  sympy/physics/mechanics/actuator.py
  sympy/physics/mechanics/pathway.py
  sympy/physics/mechanics/tests/test_pathway.py
Labels: physics.mechanics, CZI: Codegen/Biomech, physics.biomechanics

#24738 Fix commutation issue of matrix adjoint, transpose, inverse
  sympy/matrices/expressions/adjoint.py
  sympy/matrices/expressions/blockmatrix.py
  sympy/matrices/expressions/inverse.py
  sympy/matrices/expressions/matpow.py
  sympy/matrices/expressions/tests/test_blockmatrix.py
  sympy/matrices/expressions/tests/test_inverse.py
  sympy/matrices/expressions/transpose.py
Labels: matrices.expressions

#25604 Add `bit_scan` to `external`
  sympy/__init__.py
  sympy/core/__init__.py
  sympy/core/intfunc.py
  sympy/external/gmpy.py
  sympy/external/ntheory.py
  sympy/external/tests/test_ntheory.py
  sympy/ntheory/__init__.py
  sympy/ntheory/factor_.py
  sympy/ntheory/primetest.py
  sympy/ntheory/residue_ntheory.py
  sympy/ntheory/tests/test_factor_.py
Labels: ntheory

#25585 Fixing a bug in Inverse Quantum Fourier Transform (IQFT) in pyshics.quantum module, file qft.py
  .mailmap
  sympy/physics/quantum/qft.py
  sympy/physics/quantum/tests/test_qft.py
Labels: physics.quantum

#25605 Made the changes in piecewise and added test for the difference in simplify and other in boolean piecewise
  sympy/functions/elementary/piecewise.py
  sympy/functions/elementary/tests/test_piecewise.py
Labels: simplify, functions.elementary.piecewise
