Repository sympy/sympy, pull requests merged in 2023-09, with the labels that each got.

#25595 Noncommutative symbols in `fu`
  sympy/simplify/fu.py
  sympy/simplify/tests/test_fu.py
Labels: simplify

#25562 Install now-required `packaging` dependency of `asv` for benchmarks job in GitHub Actions
  .github/workflows/runtests.yml
Labels: GitHub Actions, CI

#25596 Added inplace row multiplication and row addition methods to matrices
  .mailmap
  sympy/matrices/repmatrix.py
  sympy/matrices/tests/test_matrices.py
Labels: matrices

#25611 Fix Wigner small d-matrix
  .mailmap
  sympy/physics/tests/test_clebsch_gordan.py
  sympy/physics/wigner.py
Labels: physics.quantum

#25608 Implemented reality checks for Inverse Hyperbolic Functions
  .mailmap
  sympy/functions/elementary/hyperbolic.py
  sympy/functions/elementary/tests/test_hyperbolic.py
Labels: assumptions, functions

#25619 Pass `evaluate` consistently for matrix derivative
  sympy/matrices/matrices.py
  sympy/matrices/tests/test_matrices.py
Labels: matrices

#25625 maint: update for new asv
  .github/workflows/runtests.yml
  asv.conf.actions.json
Labels: CI

#25599 expint/polylog: unicode print subscripts in more cases
  .mailmap
  sympy/printing/pretty/pretty.py
  sympy/printing/pretty/pretty_symbology.py
  sympy/printing/pretty/tests/test_pretty.py
Labels: printing.pretty

#25631 Speed up `totientrange`
  .mailmap
  sympy/ntheory/generate.py
Labels: ntheory, Performance

#25555 [GSOC 2.2.2] Update implementation to evaluate system response at given frequency.
  sympy/physics/control/lti.py
  sympy/physics/control/tests/test_lti.py
Labels: GSoC

#24847 Completing the rules of the inverse Laplace transform: Rule Block 5.3
  sympy/integrals/laplace.py
  sympy/integrals/tests/test_laplace.py
  sympy/utilities/tests/test_wester.py
Labels: integrals.transforms

#25633 Fix for #25293 and better treatment of Heaviside(t)
  sympy/integrals/laplace.py
  sympy/integrals/tests/test_laplace.py
Labels: integrals.transforms

#25638 no negative outputs for lcm
  sympy/polys/euclidtools.py
  sympy/polys/tests/test_polytools.py
Labels: polys

#25640 add `int_valued` function
  sympy/combinatorics/permutations.py
  sympy/core/numbers.py
  sympy/core/tests/test_numbers.py
  sympy/holonomic/holonomic.py
  sympy/physics/quantum/spin.py
  sympy/physics/wigner.py
  sympy/plotting/intervalmath/interval_arithmetic.py
  sympy/polys/domains/finitefield.py
  sympy/polys/domains/gmpyintegerring.py
  sympy/polys/domains/integerring.py
  sympy/polys/domains/pythonintegerring.py
  sympy/solvers/diophantine/diophantine.py
Labels: core.numbers

#25648 align divmod with Python behavior
  sympy/core/numbers.py
  sympy/core/tests/test_numbers.py
Labels: core.numbers

#25651 Validate arguments to DMP
  sympy/polys/factortools.py
  sympy/polys/polyclasses.py
  sympy/polys/tests/test_polyclasses.py
  sympy/polys/tests/test_polytools.py
Labels: polys

#25629 Fix `is_euler_pseudoprime`
  sympy/ntheory/primetest.py
  sympy/ntheory/tests/test_primetest.py
Labels: ntheory

#25652 Move GF(p) to_int method to domain rather than element
  doc/src/explanation/active-deprecations.md
  sympy/crypto/crypto.py
  sympy/polys/domains/finitefield.py
  sympy/polys/domains/gmpyintegerring.py
  sympy/polys/domains/integerring.py
  sympy/polys/domains/modularinteger.py
  sympy/polys/domains/pythonintegerring.py
Labels: polys

#25654 Fix mpelement.to_rational when gmpy2 is installed
  sympy/polys/domains/mpelements.py
Labels: polys

#25658 maint(ci): test with python-flint and gmpy2 installed
  .github/workflows/runtests.yml
Labels: polys, CI

#25665 Fixed bug in dmp_rr_prs_gcd in euclidtools
  sympy/polys/euclidtools.py
Labels: polys

#25606 Speed up `n_order`
  sympy/ntheory/residue_ntheory.py
Labels: ntheory

#25670 Fix use of float in parsing test
  sympy/parsing/tests/test_latex_lark.py
Labels: parsing, CI

#25677 added rule to rewrite SingularityFunction as Piecewise
  sympy/printing/codeprinter.py
Labels: functions.elementary.piecewise

#25683 Correct the `QRdocumentation` docs for more easier matrix augmentation
  sympy/matrices/decompositions.py
Labels: matrices

#25647 laplace_transform: support for Piecewise and SingularityFunction
  sympy/integrals/laplace.py
  sympy/integrals/tests/test_laplace.py
Labels: integrals.transforms

#24073 Beam - fixed inconsistencies of draw method
  sympy/physics/continuum_mechanics/beam.py
Labels: physics.continuum_mechanics

#25690 Improved the readability of the debug messages in laplace.py
  sympy/integrals/laplace.py
Labels: Needs Review, integrals.transforms

#25687 allow rhs in rref
  sympy/matrices/matrices.py
  sympy/matrices/reductions.py
  sympy/matrices/tests/test_reductions.py
Labels: matrices

#25693 Piecewiese functions use fewer integrations
  sympy/integrals/laplace.py
  sympy/integrals/tests/test_laplace.py
Labels: Needs Review, integrals.transforms

#25708 Improve warning message of Point.vel
  sympy/physics/vector/point.py
  sympy/physics/vector/tests/test_point.py
Labels: physics.vector

#25717 Fix Rational parsing in Mathematica parser
  .mailmap
  sympy/parsing/mathematica.py
  sympy/parsing/tests/test_mathematica.py
Labels: parsing

#25473 [GSOC 3.1] Add StateSpace class for control package
  sympy/core/tests/test_args.py
  sympy/physics/control/__init__.py
  sympy/physics/control/lti.py
  sympy/physics/control/tests/test_lti.py
  sympy/printing/pretty/pretty.py
  sympy/printing/pretty/tests/test_pretty.py
Labels: GSoC

#25721 Removed unnecessary check in _laplace_expand
  sympy/integrals/laplace.py
Labels: Needs Review, integrals.transforms

#25691 refactor(polys): simplify the DMP class
  doc/src/modules/polys/domainsintro.rst
  sympy/holonomic/holonomic.py
  sympy/holonomic/recurrence.py
  sympy/polys/agca/extensions.py
  sympy/polys/agca/ideals.py
  sympy/polys/agca/modules.py
  sympy/polys/domains/algebraicfield.py
  sympy/polys/domains/old_fractionfield.py
  sympy/polys/domains/old_polynomialring.py
  sympy/polys/domains/quotientring.py
  sympy/polys/domains/tests/test_polynomialring.py
  sympy/polys/euclidtools.py
  sympy/polys/polyclasses.py
  sympy/polys/polytools.py
  sympy/polys/tests/test_polyclasses.py
  sympy/printing/latex.py
  sympy/printing/pretty/pretty.py
  sympy/printing/repr.py
  sympy/printing/str.py
  sympy/printing/tests/test_repr.py
Labels: polys

#25725 dmp fix like #18566
  sympy/polys/euclidtools.py
  sympy/polys/tests/test_heuristicgcd.py
Labels: polys

#25734 Remove setting `_a, _b, _c, _d` attribute directly in quaternion
  sympy/algebras/quaternion.py
Labels: algebras

#25735 Add test for compile_sources, add missing util func
  sympy/utilities/_compilation/tests/test_compilation.py
  sympy/utilities/_compilation/util.py
Labels: utilities.codegen

#25737 .github/workflows/ci-sage.yml: Back to using sagemath/sage @ develop
  .github/workflows/ci-sage.yml
Labels: CI

#25740 Remove `_num, _den` and `_var` setter for `TransferFunction`
  sympy/physics/control/lti.py
Labels: physics.control

#25544 ask: handle real linear inequalities
  .github/workflows/runtests.yml
  sympy/assumptions/ask.py
  sympy/assumptions/lra_satask.py
  sympy/assumptions/tests/test_query.py
  sympy/assumptions/tests/test_rel_queries.py
  sympy/logic/algorithms/dpll2.py
  sympy/logic/algorithms/lra_theory.py
  sympy/logic/inference.py
  sympy/logic/tests/test_inference.py
  sympy/logic/tests/test_lra_theory.py
Labels: assumptions, GSoC, Almost Done

#25743 Add examples sections to docstrings of characteristic curves in `sympy.physics._biomechanics`
  sympy/physics/_biomechanics/curve.py
Labels: CZI: Codegen/Biomech, physics.biomechanics

#25742 Implemented inverse muscle fiber force-velocity characteristic curve in `sympy.physics._biomechanics`
  sympy/core/tests/test_args.py
  sympy/physics/_biomechanics/__init__.py
  sympy/physics/_biomechanics/curve.py
  sympy/physics/_biomechanics/tests/test_curve.py
Labels: CZI: Codegen/Biomech, physics.biomechanics
