Repository sympy/sympy, pull requests merged in 2023-10, with the labels that each got.

#25722 Use Flint for univariate polynomials over ZZ and QQ
  .github/workflows/runtests.yml
  doc/src/explanation/active-deprecations.md
  doc/src/modules/polys/domainsintro.rst
  sympy/core/numbers.py
  sympy/holonomic/holonomic.py
  sympy/holonomic/numerical.py
  sympy/integrals/risch.py
  sympy/polys/agca/extensions.py
  sympy/polys/agca/ideals.py
  sympy/polys/agca/modules.py
  sympy/polys/constructor.py
  sympy/polys/domains/algebraicfield.py
  sympy/polys/domains/old_fractionfield.py
  sympy/polys/domains/old_polynomialring.py
  sympy/polys/matrices/_dfm.py
  sympy/polys/modulargcd.py
  sympy/polys/numberfields/galois_resolvents.py
  sympy/polys/numberfields/galoisgroups.py
  sympy/polys/numberfields/modules.py
  sympy/polys/numberfields/primes.py
  sympy/polys/numberfields/subfield.py
  sympy/polys/numberfields/tests/test_utilities.py
  sympy/polys/numberfields/utilities.py
  sympy/polys/polyclasses.py
  sympy/polys/polymatrix.py
  sympy/polys/polytools.py
  sympy/polys/rootoftools.py
  sympy/polys/sqfreetools.py
  sympy/polys/tests/test_polyclasses.py
  sympy/polys/tests/test_specialpolys.py
  sympy/printing/repr.py
  sympy/printing/str.py
  sympy/printing/tests/test_repr.py
Labels: polys, Performance

#25591 Separate nonmatrix facts
  bin/ask_update.py
  sympy/assumptions/ask_generated.py
  sympy/assumptions/facts.py
  sympy/assumptions/satask.py
Labels: assumptions

#25761 fix: remove deprecated string fallback in sympify
  doc/src/explanation/active-deprecations.md
  sympy/core/sympify.py
  sympy/core/tests/test_sympify.py
  sympy/matrices/expressions/tests/test_funcmatrix.py
  sympy/tensor/array/tests/test_array_comprehension.py
Labels: core, core.sympify

#25760 test: remove warnings when running test_pickling
  sympy/utilities/tests/test_pickling.py
Labels: Testing, utilities

#25764 polys: make ANP use DMP internally
  sympy/polys/domains/algebraicfield.py
  sympy/polys/factortools.py
  sympy/polys/modulargcd.py
  sympy/polys/numberfields/modules.py
  sympy/polys/numberfields/subfield.py
  sympy/polys/polyclasses.py
  sympy/polys/tests/test_factortools.py
  sympy/polys/tests/test_polyclasses.py
Labels: polys, Performance

#25744 Refactor, extend, and bug fix musculotendon classes in `sympy.physics._biomechanics`
  sympy/physics/_biomechanics/__init__.py
  sympy/physics/_biomechanics/activation.py
  sympy/physics/_biomechanics/curve.py
  sympy/physics/_biomechanics/musculotendon.py
  sympy/physics/_biomechanics/tests/test_activation.py
  sympy/physics/_biomechanics/tests/test_curve.py
  sympy/physics/_biomechanics/tests/test_musculotendon.py
Labels: CZI: Codegen/Biomech, physics.biomechanics

#25772 Make `sympy.physics.biomechanics` public
  CODEOWNERS
  doc/src/modules/physics/biomechanics/api/activation.rst
  doc/src/modules/physics/biomechanics/api/curve.rst
  doc/src/modules/physics/biomechanics/api/index.rst
  doc/src/modules/physics/biomechanics/api/musculotendon.rst
  doc/src/modules/physics/biomechanics/index.rst
  doc/src/reference/public/physics/index.rst
  setup.py
  sympy/core/tests/test_args.py
  sympy/functions/special/gamma_functions.py
  sympy/physics/biomechanics/__init__.py
  sympy/physics/biomechanics/_mixin.py
  sympy/physics/biomechanics/activation.py
  sympy/physics/biomechanics/curve.py
  sympy/physics/biomechanics/musculotendon.py
  sympy/physics/biomechanics/tests/__init__.py
  sympy/physics/biomechanics/tests/test_activation.py
  sympy/physics/biomechanics/tests/test_curve.py
  sympy/physics/biomechanics/tests/test_mixin.py
  sympy/physics/biomechanics/tests/test_musculotendon.py
Labels: CZI: Codegen/Biomech, physics.biomechanics

#25784 polys: use float('-inf') instead of -oo for degree(0)
  sympy/polys/densebasic.py
  sympy/polys/factortools.py
  sympy/polys/polyclasses.py
  sympy/polys/polytools.py
  sympy/polys/rings.py
  sympy/polys/tests/test_densebasic.py
  sympy/polys/tests/test_rings.py
Labels: polys, Performance

#25763 Solved incorrect left limit result for atan at inf
  .mailmap
  sympy/functions/elementary/trigonometric.py
  sympy/series/tests/test_limits.py
Labels: limits

#25525 Biomechanical modeling tutorials
  bin/doctest
  bin/test_optional_dependencies.py
  doc/Makefile
  doc/src/tutorials/biomechanics/biomechanical-model-example.rst
  doc/src/tutorials/biomechanics/biomechanics-steerer.svg
  doc/src/tutorials/biomechanics/biomechanics.rst
  doc/src/tutorials/biomechanics/hill-type-muscle-model.svg
  doc/src/tutorials/biomechanics/hill-type-muscle-model.tex
  doc/src/tutorials/index.rst
  pyproject.toml
  sympy/physics/biomechanics/activation.py
  sympy/physics/biomechanics/curve.py
  sympy/physics/biomechanics/musculotendon.py
Labels: Documentation, physics.mechanics, CZI: Codegen/Biomech, physics.biomechanics

#25793 biomechanics: Minor Fixes math rendering and added hyperlinks
  sympy/physics/biomechanics/curve.py
Labels: Documentation, physics.biomechanics

#25791 CI: Bump Python versions in Github Actions
  .github/workflows/runtests.yml
Labels: CI

#25800 Control using exceptions has been eliminated in `factorint`
  sympy/ntheory/ecm.py
  sympy/ntheory/factor_.py
Labels: ntheory

#25512 Best practices document
  doc/src/explanation/best-practices.md
  doc/src/explanation/gotchas.rst
  doc/src/explanation/index.rst
  doc/src/guides/custom-functions.md
  doc/src/modules/simplify/fu.rst
  sympy/testing/runtests.py
Labels: CZI: Documentation

#25803 fix #25781: solving with two powers
  sympy/solvers/solvers.py
  sympy/solvers/tests/test_solveset.py
Labels: solvers.solve

#25804 Use slices in `Sieve.primerange`
  sympy/ntheory/generate.py
Labels: ntheory

#25452 perf(matrices): Use DomainMatrix.inv in Matrix.inv
  sympy/matrices/inverse.py
  sympy/physics/control/lti.py
  sympy/polys/matrices/rref.py
Labels: matrices, Performance, domainmatrix

#25663 feat(polys): use python-flint's nmod for GF(p)
  doc/src/explanation/active-deprecations.md
  sympy/ntheory/tests/test_factor_.py
  sympy/polys/densetools.py
  sympy/polys/domains/finitefield.py
  sympy/polys/domains/modularinteger.py
  sympy/polys/domains/tests/test_domains.py
  sympy/polys/polyutils.py
Labels: polys, Performance

#25814 Reject unordered sets in linear_eq_to_matrix
  .mailmap
  sympy/solvers/solveset.py
  sympy/solvers/tests/test_solveset.py
Labels: solvers.solveset, solvers.linsolve

#25826 Add `is_fibonacci_prp` etc to `external`
  sympy/external/gmpy.py
  sympy/external/ntheory.py
  sympy/external/tests/test_ntheory.py
  sympy/ntheory/primetest.py
  sympy/ntheory/tests/test_primetest.py
Labels: ntheory, external

#25830 diophantine output sign-canonical
  sympy/solvers/diophantine/diophantine.py
  sympy/solvers/diophantine/tests/test_diophantine.py
Labels: solvers.diophantine

#24293 Fix wrong results from npartitions
  sympy/ntheory/partitions_.py
  sympy/ntheory/tests/test_partitions.py
Labels: ntheory

#25836 if comparable, might need real_imag before n(2)
  sympy/core/relational.py
  sympy/solvers/tests/test_solvers.py
Labels: core.relational

#25850 Fixed _eval_as_leading_term for inverse trigonometric and hyperbolic functions
  .mailmap
  sympy/functions/elementary/hyperbolic.py
  sympy/functions/elementary/tests/test_hyperbolic.py
  sympy/functions/elementary/tests/test_trigonometric.py
  sympy/functions/elementary/trigonometric.py
  sympy/series/tests/test_limits.py
Labels: limits

#25854 maint: update authors file
  .mailmap
  AUTHORS
Labels: Releasing
