Repository sympy/sympy, pull requests merged in 2023-07, with the labels that each got.

#25311 polylog: pretty fall back for non-integer order
  sympy/printing/pretty/pretty.py
  sympy/printing/pretty/tests/test_pretty.py
Labels: functions, printing.pretty

#25245 SMT-Lib printing: Handle predicate objects from new assumptions
  sympy/printing/smtlib.py
  sympy/printing/tests/test_smtlib.py
Labels: GSoC

#25330 feat(polys): add a top-level all_roots function
  doc/src/modules/polys/reference.rst
  sympy/__init__.py
  sympy/polys/__init__.py
  sympy/polys/polytools.py
  sympy/polys/tests/test_polytools.py
Labels: polys

#25334 Updated the target frame and the reference frame for counter intuitive directions
  .mailmap
  sympy/physics/mechanics/_actuator.py
  sympy/physics/mechanics/tests/test_actuator.py
Labels: physics.mechanics

#25272 [GSoC] Implemented the cable class
  doc/src/modules/physics/continuum_mechanics/cable.rst
  doc/src/modules/physics/continuum_mechanics/index.rst
  sympy/physics/continuum_mechanics/__init__.py
  sympy/physics/continuum_mechanics/cable.py
  sympy/physics/continuum_mechanics/tests/test_cable.py
Labels: physics.continuum_mechanics

#25336 Add to_DM and clear_denoms methods to Matrix
  sympy/matrices/repmatrix.py
  sympy/matrices/tests/test_domains.py
  sympy/polys/matrices/ddm.py
  sympy/polys/matrices/domainmatrix.py
  sympy/polys/matrices/sdm.py
  sympy/polys/matrices/tests/test_domainmatrix.py
Labels: matrices, polys, domainmatrix

#25132 Simplified hierarchy of Plot class and *Backend classes
  doc/src/modules/plotting.rst
  sympy/plotting/plot.py
  sympy/plotting/plot_implicit.py
  sympy/plotting/tests/test_plot.py
Labels: plotting

#25361 Fix docs preview build
  .github/workflows/docs-preview.yml
Labels: CI

#25346 feat(matrices): Add fraction free solvers for DomainMatrix
  doc/src/modules/polys/domainmatrix.rst
  sympy/matrices/determinant.py
  sympy/polys/matrices/_typing.py
  sympy/polys/matrices/ddm.py
  sympy/polys/matrices/dense.py
  sympy/polys/matrices/domainmatrix.py
  sympy/polys/matrices/domainscalar.py
  sympy/polys/matrices/sdm.py
  sympy/polys/matrices/tests/test_domainmatrix.py
  sympy/polys/matrices/tests/test_domainscalar.py
  sympy/polys/matrices/tests/test_inverse.py
  sympy/polys/matrices/tests/test_rref.py
Labels: matrices, Performance, domainmatrix

#25367 feat(matrices): add cancel_denom, content and primitive
  sympy/polys/matrices/ddm.py
  sympy/polys/matrices/domainmatrix.py
  sympy/polys/matrices/tests/test_domainmatrix.py
Labels: matrices, domainmatrix

#25278 [GSoC'23] Add pseudo-remainder method for sparse
  sympy/polys/rings.py
  sympy/polys/tests/test_rings.py
Labels: polys, Performance

#25171 [GSoC] Modified methods of the Truss class to accept multiple inputs in a single call
  .mailmap
  sympy/physics/continuum_mechanics/tests/test_truss.py
  sympy/physics/continuum_mechanics/truss.py
Labels: physics.continuum_mechanics

#25392 Remove links to the wiki development workflow page
  doc/src/contributing/dependencies.md
  doc/src/index.rst
  doc/src/tutorials/intro-tutorial/next.rst
Labels: Documentation

#25396 Revert "Dimension Cancelling Fix"
  sympy/core/mul.py
  sympy/physics/units/tests/test_dimensions.py
Labels: core, physics.units

#25371 [GSoC'23] Add subresultants PRS method for sparse
  sympy/polys/rings.py
  sympy/polys/tests/test_rings.py
Labels: polys, Performance

#25369 feat(matrices): use scc to speed up charpoly
  sympy/matrices/eigen.py
  sympy/polys/matrices/ddm.py
  sympy/polys/matrices/domainmatrix.py
  sympy/polys/matrices/sdm.py
  sympy/polys/matrices/tests/test_domainmatrix.py
Labels: matrices, Performance

#25395 feat(matrices): add fraction free nullspace and sparse RREF
  sympy/polys/matrices/ddm.py
  sympy/polys/matrices/domainmatrix.py
  sympy/polys/matrices/domainscalar.py
  sympy/polys/matrices/eigen.py
  sympy/polys/matrices/sdm.py
  sympy/polys/matrices/tests/test_ddm.py
  sympy/polys/matrices/tests/test_domainmatrix.py
  sympy/polys/matrices/tests/test_nullspace.py
  sympy/polys/matrices/tests/test_rref.py
  sympy/polys/matrices/tests/test_sdm.py
  sympy/polys/polymatrix.py
Labels: matrices, domainmatrix

#25446 parsing: Add noqa to silence flake8
  sympy/parsing/latex/_parse_latex_antlr.py
Labels: CI

#25439 Sets `JaxPrinter.printmethod` to `_jaxcode`
  sympy/printing/numpy.py
  sympy/printing/tests/test_jax.py
Labels: printing, CZI: Codegen
