Repository sympy/sympy, pull requests merged in 2024-02, with the labels that each got.

#26158 Remove py.typed
  sympy/py.typed
Labels: pyright

#26095 Raise ValueError for unsolvable density function in CRV
  .mailmap
  sympy/stats/crv.py
  sympy/stats/tests/test_continuous_rv.py
Labels: stats

#25702 Auto change color based on the theme
  doc/src/modules/physics/mechanics/api/PinJoint.svg
  doc/src/modules/physics/mechanics/api/PlanarJoint.svg
  doc/src/modules/physics/mechanics/api/WeldJoint.svg
  doc/src/modules/physics/mechanics/api/joint_explanation.svg
  doc/src/modules/physics/mechanics/examples/four_bar_linkage.svg
  doc/src/modules/physics/mechanics/examples/four_bar_linkage_example.rst
  doc/src/modules/physics/mechanics/examples/lin_pend_nonmin_example.rst
  doc/src/modules/physics/mechanics/examples/pendulum_nonmin.svg
  doc/src/modules/physics/mechanics/examples/rollingdisc.svg
  doc/src/modules/physics/mechanics/examples/rollingdisc_example.rst
  doc/src/modules/physics/vector/kin_1.svg
  doc/src/modules/physics/vector/kin_1pt.svg
  doc/src/modules/physics/vector/kin_2.svg
  doc/src/modules/physics/vector/kin_2pt.svg
  doc/src/modules/physics/vector/kin_3.svg
  doc/src/modules/physics/vector/kin_4.svg
  doc/src/modules/physics/vector/kin_angvel1.svg
  doc/src/modules/physics/vector/kin_angvel2.svg
  doc/src/modules/physics/vector/kin_angvel3.svg
  doc/src/modules/physics/vector/kin_rolling.svg
  doc/src/modules/physics/vector/kinematics.rst
  doc/src/modules/physics/vector/simp_rot.svg
  doc/src/modules/physics/vector/vec_add.svg
  doc/src/modules/physics/vector/vec_cross.svg
  doc/src/modules/physics/vector/vec_dot.svg
  doc/src/modules/physics/vector/vec_fix_notfix.svg
  doc/src/modules/physics/vector/vec_mul.svg
  doc/src/modules/physics/vector/vec_rep.svg
  doc/src/modules/physics/vector/vec_simp_der.svg
  doc/src/modules/physics/vector/vectors.rst
  doc/src/modules/vector/coordsys.rst
  doc/src/modules/vector/coordsys_rot.svg
  sympy/physics/mechanics/joint.py
Labels: Documentation

#26122 Fixes dsolve fail with the Bessel equation when division appears
  sympy/solvers/ode/single.py
  sympy/solvers/ode/tests/test_single.py
Labels: solvers.dsolve

#26173 [integrals] fix substitution formula in meijerint
  .mailmap
  sympy/integrals/meijerint.py
  sympy/integrals/tests/test_meijerint.py
  sympy/physics/continuum_mechanics/tests/test_beam.py
Labels: integrals, integrals.meijerg

#26179 Deprecate JointsMethod and Body
  doc/src/explanation/active-deprecations.md
  doc/src/modules/physics/mechanics/api/body.rst
  doc/src/modules/physics/mechanics/api/index.rst
  doc/src/modules/physics/mechanics/api/joint.rst
  doc/src/modules/physics/mechanics/examples/multi_degree_freedom_holonomic_system.rst
  doc/src/modules/physics/mechanics/joints.rst
  sympy/physics/mechanics/body.py
  sympy/physics/mechanics/jointsmethod.py
  sympy/physics/mechanics/rigidbody.py
  sympy/physics/mechanics/tests/test_body.py
  sympy/physics/mechanics/tests/test_joint.py
  sympy/physics/mechanics/tests/test_jointsmethod.py
  sympy/physics/mechanics/tests/test_rigidbody.py
Labels: physics.mechanics

#26183 Conversion to Algebraic Normal Form `to_anf` will now give correct results for a given logical expression.
  sympy/logic/boolalg.py
  sympy/logic/tests/test_boolalg.py
Labels: logic

#26092 Updated redirects
  doc/src/contributing/new-contributors-guide/dev-setup.md
  doc/src/contributing/new-contributors-guide/workflow-process.md
  sympy/combinatorics/perm_groups.py
  sympy/geometry/polygon.py
  sympy/matrices/matrices.py
  sympy/physics/control/control_plots.py
Labels: Documentation

#26186 Simplify unnecessary dict iterators
  sympy/integrals/tests/test_meijerint.py
  sympy/physics/units/prefixes.py
  sympy/polys/polyoptions.py
  sympy/polys/rings.py
  sympy/simplify/hyperexpand.py
  sympy/simplify/trigsimp.py
  sympy/tensor/array/ndim_array.py
Labels: Code quality

#26180 Polys: Refine dup_clear_denoms function and update tests
  sympy/polys/densetools.py
  sympy/polys/tests/test_densetools.py
Labels: polys

#26195 Closes already solved Issues in calculation of integrals.
  sympy/integrals/tests/test_integrals.py
Labels: integrals

#26201 Fix matrix symbol printing with subscript
  sympy/printing/latex.py
  sympy/printing/tests/test_latex.py
Labels: printing.latex

#26209 Implemented leading term for Si function
  sympy/functions/special/error_functions.py
  sympy/functions/special/tests/test_error_functions.py
Labels: series, limits

#26230 Fix typing issue and replaced with actual function names
  sympy/logic/algorithms/dpll2.py
Labels: logic

#26233 Implement asymptotic series expansion of Ci(x) at -oo
  sympy/functions/special/error_functions.py
  sympy/functions/special/tests/test_error_functions.py
Labels: series

#26265 Enable Ruff LOG checks
  pyproject.toml
Labels: CI

#26269 maint(ci): add CI tests for mpmath master branch
  .github/workflows/runtests.yml
  sympy/core/numbers.py
Labels: CI

#26274 fix(matrices): fix Matrix inverse over RR[x]
  sympy/polys/matrices/sdm.py
  sympy/polys/matrices/tests/test_inverse.py
Labels: matrices, floats, domainmatrix

#26282 Refactoring of `gaussian_reduce`
  sympy/solvers/diophantine/diophantine.py
Labels: solvers.diophantine

#26228 Feedback will now act like a TransferFunction
  sympy/physics/control/lti.py
  sympy/physics/control/tests/test_lti.py
Labels: physics.control
