Repository sympy/sympy, pull requests merged in 2024-08, with the labels that each got.

#26891 Add _print_Idx to CodePrinter
  sympy/printing/c.py
  sympy/printing/codeprinter.py
  sympy/printing/fortran.py
  sympy/printing/glsl.py
  sympy/printing/jscode.py
  sympy/printing/julia.py
  sympy/printing/maple.py
  sympy/printing/octave.py
  sympy/printing/rcode.py
  sympy/utilities/tests/test_lambdify.py
Labels: printing, codegen

#26876 fix(printer) Add isnan and isinf support for tensorflow printer
  .mailmap
  sympy/printing/tensorflow.py
  sympy/printing/tests/test_tensorflow.py
Labels: printing, codegen

#26882 fix type casting of number literals in rust code printer
  .mailmap
  doc/src/modules/printing.rst
  sympy/core/tests/test_args.py
  sympy/printing/__init__.py
  sympy/printing/codeprinter.py
  sympy/printing/rust.py
  sympy/printing/tests/test_rust.py
  sympy/utilities/tests/test_codegen_rust.py
Labels: printing, codegen

#26412 Implement the Coulomb kinetic friction actuator
  sympy/physics/mechanics/__init__.py
  sympy/physics/mechanics/actuator.py
  sympy/physics/mechanics/tests/test_actuator.py
Labels: physics.mechanics, GSoC

#26921 Fix bicycle example
  doc/src/tutorials/physics/mechanics/bicycle_example.rst
Labels: Documentation, physics.mechanics

#26920 Fixed incorrect postive roots for Type E
  .mailmap
  sympy/liealgebras/tests/test_type_E.py
  sympy/liealgebras/type_e.py
Labels: liealgebras

#26678 Add customization point for printing code involving Derivative instances
  sympy/printing/codeprinter.py
  sympy/printing/pycode.py
  sympy/printing/tests/test_pycode.py
  sympy/utilities/lambdify.py
  sympy/utilities/tests/test_lambdify.py
Labels: printing, utilities.lambdify

#23681 Improve performance and grammar of Lie algebra E
  sympy/liealgebras/type_e.py
Labels: Performance, liealgebras

#26781 [GSoC] Added PIDController class to control module.
  sympy/core/tests/test_args.py
  sympy/physics/control/__init__.py
  sympy/physics/control/lti.py
  sympy/physics/control/tests/test_lti.py
Labels: GSoC, physics.control

#26933 maint(ci): Add bleeding edge dependencies job
  .github/workflows/runtests.yml
  sympy/polys/domains/realfield.py
  sympy/stats/sampling/tests/test_sample_discrete_rv.py
Labels: CI, flint, mpmath

#26935 fixes permutation of types in heurisch
  sympy/integrals/heurisch.py
  sympy/integrals/tests/test_heurisch.py
  sympy/integrals/tests/test_integrals.py
Labels: integrals.heurisch

#26940 fixes permutation of types in heurisch
  .github/workflows/runtests.yml
  doc/src/modules/sets.rst
  sympy/integrals/heurisch.py
  sympy/integrals/tests/test_heurisch.py
  sympy/integrals/tests/test_integrals.py
  sympy/stats/sampling/tests/test_sample_discrete_rv.py
Labels: integrals.heurisch

#26919 select minpoly from factors
  sympy/polys/numberfields/minpoly.py
  sympy/polys/numberfields/tests/test_minpoly.py
Labels: polys

#26915 Handling negative arguments for inverse trigonometric functions
  sympy/functions/elementary/tests/test_trigonometric.py
  sympy/functions/elementary/trigonometric.py
Labels: functions

#26910 fix(core): make comparisons of Integer(0) and Float(0) consistent.
  sympy/core/evalf.py
  sympy/core/numbers.py
  sympy/core/tests/test_numbers.py
  sympy/geometry/tests/test_point.py
  sympy/integrals/tests/test_integrals.py
  sympy/physics/quantum/qubit.py
  sympy/polys/matrices/tests/test_linsolve.py
  sympy/polys/tests/test_polytools.py
  sympy/solvers/tests/test_numeric.py
  sympy/utilities/tests/test_wester.py
Labels: core, floats

#26948 fix(core): make comparisons of Integer(0) and Float(0) consistent.
  sympy/core/evalf.py
  sympy/core/numbers.py
  sympy/core/tests/test_numbers.py
  sympy/geometry/tests/test_point.py
  sympy/integrals/tests/test_integrals.py
  sympy/physics/quantum/qubit.py
  sympy/polys/matrices/tests/test_linsolve.py
  sympy/polys/tests/test_polytools.py
  sympy/solvers/tests/test_numeric.py
  sympy/utilities/tests/test_wester.py
Labels: core, floats

#26944 test(stats): reenable disabled test
  sympy/stats/sampling/tests/test_sample_discrete_rv.py
Labels: stats, CI

#26925 Docs: Coin random variable as a special case of a Bernoulli random variable
  sympy/stats/frv_types.py
Labels: stats

#26863 [GSoC] Added support of Feedback to work with StateSpace.
  sympy/physics/control/lti.py
  sympy/physics/control/tests/test_lti.py
Labels: GSoC, physics.control

#26955 Validate number of terms for the series function
  sympy/core/expr.py
  sympy/series/tests/test_series.py
Labels: series

#26298 Adding aseries for modified bessel functions
  sympy/functions/special/bessel.py
  sympy/functions/special/tests/test_bessel.py
Labels: series

#23595 Series: Added Leading term and Series Methods for Arg Function
  sympy/functions/elementary/complexes.py
  sympy/functions/elementary/tests/test_complexes.py
Labels: series, GSoC

#26848 [GSoC]Ensure non simplification of exp terms in gruntz
  sympy/core/expr.py
  sympy/series/gruntz.py
  sympy/series/tests/test_aseries.py
  sympy/series/tests/test_gruntz.py
  sympy/series/tests/test_limits.py
Labels: GSoC, limits

#26965 fix(core): disallow `(x**z*y**z) -> (x*y)**z` in as_base_exp, with fix to laplace_transform
  sympy/core/function.py
  sympy/core/mul.py
  sympy/core/tests/test_expr.py
  sympy/core/tests/test_function.py
  sympy/functions/elementary/exponential.py
  sympy/integrals/laplace.py
  sympy/integrals/tests/test_laplace.py
Labels: core, integrals.transforms

#26945 Computing roots of polynomials with real algebraic coefficients
  .mailmap
  sympy/polys/polytools.py
  sympy/polys/rootoftools.py
  sympy/polys/tests/test_polytools.py
  sympy/polys/tests/test_rootoftools.py
  sympy/solvers/tests/test_solvers.py
Labels: polys

#26980 Fix Ratio test to check if limit ratio is NaN
  sympy/concrete/summations.py
  sympy/concrete/tests/test_sums_products.py
Labels: concrete

#26811 [GSOC]: Solver for Arch Class
  .mailmap
  sympy/physics/continuum_mechanics/arch.py
  sympy/physics/continuum_mechanics/tests/test_arch.py
Labels: GSoC, physics.continuum_mechanics

#17451 Add smith_normal_decomp
  sympy/matrices/normalforms.py
  sympy/matrices/tests/test_normalforms.py
  sympy/polys/matrices/ddm.py
  sympy/polys/matrices/normalforms.py
  sympy/polys/matrices/tests/test_normalforms.py
Labels: matrices, domainmatrix

#26983 Implement gcdex for Fields and GaussianIntegerRing
  sympy/matrices/tests/test_normalforms.py
  sympy/polys/domains/field.py
  sympy/polys/domains/gaussiandomains.py
  sympy/polys/domains/tests/test_domains.py
  sympy/polys/matrices/normalforms.py
Labels: polys, domainmatrix

#26036 Fix for bug in pow class
  sympy/core/power.py
  sympy/core/tests/test_expr.py
  sympy/core/tests/test_power.py
  sympy/series/tests/test_series.py
Labels: series

#26984 Second Quantization: Fixed TypeError in FermionState
  sympy/physics/secondquant.py
  sympy/physics/tests/test_secondquant.py
Labels: physics.quantum

#27000 Second Quantization: Fixed index ordering in FermionState
  sympy/physics/secondquant.py
  sympy/physics/tests/test_secondquant.py
Labels: physics.quantum

#26941 [GSoC]Fixed `_eval_subs` method for Orders
  sympy/series/order.py
  sympy/series/tests/test_order.py
Labels: series, GSoC

#26773 Add _forward_jacobian private function for faster Jacobians
  sympy/simplify/_cse_diff.py
  sympy/simplify/tests/test_cse.py
  sympy/simplify/tests/test_cse_diff.py
  sympy/utilities/tests/test_lambdify.py
Labels: GSoC

#27003 limit len of requested subsets
  sympy/solvers/solvers.py
  sympy/solvers/tests/test_solvers.py
Labels: solvers, solvers.solve

#26997 Fix settings not passed to pretty printer
  sympy/interactive/printing.py
  sympy/interactive/tests/test_ipython.py
Labels: interactive

#26989 Return unevaluated limits of UndefinedFuntion
  sympy/calculus/tests/test_finite_diff.py
  sympy/series/gruntz.py
  sympy/series/limits.py
  sympy/series/tests/test_gruntz.py
  sympy/series/tests/test_limits.py
Labels: GSoC, limits

#27014 Fixed order representations containing factorials
  sympy/series/limits.py
  sympy/series/tests/test_limits.py
  sympy/series/tests/test_order.py
Labels: series, GSoC, limits
