Repository sympy/sympy, pull requests merged in 2024-03, with the labels that each got.

#26277 Document how to solve physics vector equations
  doc/src/modules/physics/vector/advanced.rst
Labels: physics.vector

#26290 Fixes for order and missing terms in trigonometric integrals
  sympy/functions/special/error_functions.py
  sympy/functions/special/tests/test_error_functions.py
Labels: series

#26300 Refactoring of `_special_diop_DN`
  sympy/solvers/diophantine/diophantine.py
Labels: solvers.diophantine

#26308 Refactoring of `PQa`
  sympy/solvers/diophantine/diophantine.py
Labels: solvers.diophantine

#26297 Fixed description of `gaussian_reduce`
  sympy/solvers/diophantine/diophantine.py
Labels: solvers.diophantine

#26314 Refactoring of `cornacchia`
  sympy/solvers/diophantine/diophantine.py
  sympy/solvers/diophantine/tests/test_diophantine.py
Labels: solvers.diophantine

#26315 Correct KanesMethod example explanation
  sympy/physics/mechanics/kane.py
Labels: physics.mechanics

#26225 Modify config file to exclude modules required
  pyproject.toml
Labels: Linting

#26050 Move symbolic functions out of `ntheory`
  doc/src/explanation/active-deprecations.md
  doc/src/modules/functions/combinatorial.rst
  doc/src/modules/ntheory.rst
  sympy/__init__.py
  sympy/combinatorics/homomorphisms.py
  sympy/core/power.py
  sympy/core/tests/test_args.py
  sympy/crypto/crypto.py
  sympy/functions/__init__.py
  sympy/functions/combinatorial/numbers.py
  sympy/functions/combinatorial/tests/test_comb_numbers.py
  sympy/ntheory/__init__.py
  sympy/ntheory/factor_.py
  sympy/ntheory/generate.py
  sympy/ntheory/partitions_.py
  sympy/ntheory/primetest.py
  sympy/ntheory/residue_ntheory.py
  sympy/ntheory/tests/test_factor_.py
  sympy/ntheory/tests/test_generate.py
  sympy/ntheory/tests/test_hypothesis.py
  sympy/ntheory/tests/test_partitions.py
  sympy/ntheory/tests/test_residue.py
  sympy/printing/pretty/tests/test_pretty.py
  sympy/printing/tests/test_latex.py
  sympy/printing/tests/test_mathml.py
  sympy/solvers/solveset.py
  sympy/utilities/memoization.py
  sympy/utilities/tests/test_wester.py
Labels: ntheory, functions

#26185 bugfix in fp_groups.py
  .mailmap
  sympy/combinatorics/fp_groups.py
  sympy/combinatorics/tests/test_fp_groups.py
Labels: combinatorics

#26333 Deprecation warning `ntheory` examples
  sympy/functions/combinatorial/numbers.py
  sympy/ntheory/factor_.py
  sympy/ntheory/partitions_.py
  sympy/ntheory/residue_ntheory.py
Labels: Documentation

#26336 Refactoring of `diop_DN`
  sympy/solvers/diophantine/diophantine.py
Labels: solvers.diophantine

#26346 Fixed Maximum bending moment bug in physics beam
  .mailmap
  sympy/physics/continuum_mechanics/beam.py
  sympy/physics/continuum_mechanics/tests/test_beam.py
  sympy/solvers/solvers.py
Labels: physics.continuum_mechanics

#26365 segment and ray tangent when in tangent line
  sympy/geometry/ellipse.py
  sympy/geometry/tests/test_ellipse.py
Labels: geometry

#26367 Improved speed of partial_velocity()
  .mailmap
  sympy/physics/vector/functions.py
Labels: physics.mechanics, physics.vector

#26358 maintain ordering in heurisch mapping
  sympy/integrals/heurisch.py
  sympy/integrals/tests/test_heurisch.py
  sympy/integrals/tests/test_integrals.py
Labels: integrals, integrals.heurisch

#26360 Raise ValueError if Symbol does not print to valid C variable name.
  sympy/printing/c.py
  sympy/printing/tests/test_c.py
Labels: printing

#26391 Use dot, cross, outer as primary methods in Vector and Dyadic
  sympy/physics/mechanics/inertia.py
  sympy/physics/mechanics/kane.py
  sympy/physics/mechanics/lagrange.py
  sympy/physics/vector/dyadic.py
  sympy/physics/vector/functions.py
  sympy/physics/vector/point.py
  sympy/physics/vector/tests/test_vector.py
  sympy/physics/vector/vector.py
Labels: physics.vector

#26403 [typoError] Update calculus.rst, a typo
  .mailmap
  doc/src/tutorials/intro-tutorial/calculus.rst
Labels: Documentation

#26406 maint(ci): add a numpy prerelease job to CI
  .github/workflows/runtests.yml
Labels: CI

#26374 Add attribute to overwrite the velocity constraints
  doc/src/modules/physics/mechanics/examples/four_bar_linkage_example.rst
  sympy/physics/mechanics/system.py
  sympy/physics/mechanics/tests/test_system_class.py
Labels: physics.mechanics

#26424 Test deploy script...
  .github/workflows/release.yml
Labels: Releasing

#26420 Fix incorrect position with respect to velocity
  sympy/physics/vector/point.py
  sympy/physics/vector/tests/test_point.py
Labels: physics.vector

#26426 printing: fix boolean operators in maple printing
  .mailmap
  sympy/printing/maple.py
  sympy/printing/tests/test_maple.py
Labels: printing

#26433 release: Automate GitHub release and docs update
  .github/workflows/release.yml
  sympy/release.py
Labels: Releasing

#26434 release: use GH_TOKEN for GitHub release
  .github/workflows/release.yml
  sympy/release.py
Labels: Releasing

#26172 maint(ci): multicore for pytest in GitHub Actions
  .github/workflows/runtests.yml
Labels: CI

#26413 maint(deps): require mpmath >= 1.1.0, < 1.4.0, Bump version to 1.12.1
  .github/workflows/release.yml
  .gitignore
  setup.py
  sympy/release.py
Labels: Releasing

#24939 Use a tooslow marker for slow tests that are skipped in CI.
  pyproject.toml
  sympy/integrals/tests/test_failing_integrals.py
  sympy/integrals/tests/test_heurisch.py
  sympy/integrals/tests/test_integrals.py
  sympy/simplify/tests/test_hyperexpand.py
  sympy/solvers/ode/tests/test_single.py
  sympy/solvers/ode/tests/test_systems.py
  sympy/testing/pytest.py
  sympy/utilities/tests/test_wester.py
Labels: Testing

#26435 release: bump version to 1.12.1
  .github/workflows/release.yml
  sympy/release.py
Labels: Releasing
