Repository sympy/sympy, pull requests merged in 2024-06, with the labels that each got.

#26654 Modify the behavior of physics.wigner.wigner_3j to make it more intuitive
  sympy/physics/quantum/tests/test_cg.py
  sympy/physics/wigner.py
Labels: physics.quantum

#26636 Merge 1.12 release branch changes to master
  .github/workflows/release.yml
  .mailmap
  AUTHORS
  bin/sympy_time_cache.py
  doc/aptinstall.sh
  release/compare_tar_against_git.py
  setup.py
Labels: Releasing, CI

#26658 Revert "maint(ci): run docs preview only if CI passes"
  .github/workflows/docs-preview.yml
Labels: Documentation, CI

#26644 maint: Update AUTHORS file
  .mailmap
  AUTHORS
Labels: Uncategorised

#26661 maint: update CI on master after 1.13 release branch
  .github/workflows/runtests.yml
  asv.conf.actions.json
Labels: Releasing

#26660 release: bump versions on 1.13 release branch
  .github/workflows/release.yml
  .github/workflows/runtests.yml
  AUTHORS
  asv.conf.actions.json
  release/build_docs.py
  sympy/release.py
  sympy/testing/runtests_pytest.py
Labels: Releasing

#26664 release: cap mpmath < 1.4 in sympy 1.13.0
  setup.py
Labels: Releasing

#26666 fix(polys): fix poly(expr) with mixed rational integer coefficients
  sympy/polys/polytools.py
  sympy/polys/tests/test_polytools.py
Labels: polys

#26669 fix(polys): fix poly(expr) with mixed rational integer coefficients (1.13 branch)
  sympy/polys/polytools.py
  sympy/polys/tests/test_polytools.py
Labels: polys

#26594 Implemented new Method to Calculate Beams with Hinges
  .mailmap
  doc/src/modules/physics/continuum_mechanics/beam_problems.rst
  sympy/physics/continuum_mechanics/beam.py
  sympy/physics/continuum_mechanics/tests/test_beam.py
Labels: physics.continuum_mechanics

#26671 Disable pprint line wrapping in the doctests
  conftest.py
  doc/src/guides/solving/find-roots-polynomial.md
  doc/src/guides/solving/solve-matrix-equation.md
  doc/src/modules/codegen.rst
  doc/src/modules/evalf.rst
  doc/src/modules/integrals/integrals.rst
  doc/src/modules/matrices/matrices.rst
  doc/src/modules/physics/continuum_mechanics/beam_problems.rst
  doc/src/modules/polys/agca.rst
  doc/src/modules/polys/basics.rst
  doc/src/modules/polys/wester.rst
  sympy/categories/baseclasses.py
  sympy/physics/continuum_mechanics/beam.py
  sympy/printing/llvmjitcode.py
  sympy/printing/pretty/stringpict.py
  sympy/solvers/ode/lie_group.py
  sympy/solvers/pde.py
  sympy/testing/runtests.py
Labels: Documentation, Testing

#26672 Disable pprint line wrapping in the doctests
  conftest.py
  doc/src/guides/solving/find-roots-polynomial.md
  doc/src/guides/solving/solve-matrix-equation.md
  doc/src/modules/codegen.rst
  doc/src/modules/evalf.rst
  doc/src/modules/integrals/integrals.rst
  doc/src/modules/matrices/matrices.rst
  doc/src/modules/physics/continuum_mechanics/beam_problems.rst
  doc/src/modules/polys/agca.rst
  doc/src/modules/polys/basics.rst
  doc/src/modules/polys/wester.rst
  sympy/categories/baseclasses.py
  sympy/physics/continuum_mechanics/beam.py
  sympy/printing/llvmjitcode.py
  sympy/printing/pretty/stringpict.py
  sympy/solvers/ode/lie_group.py
  sympy/solvers/pde.py
  sympy/testing/runtests.py
Labels: Documentation, Testing

#26668 maint: remove note about installing mpmath
  README.md
Labels: Uncategorised

#26058 perf(matrices): make values etc faster for sparse matrices
  sympy/matrices/common.py
  sympy/matrices/matrixbase.py
  sympy/matrices/repmatrix.py
  sympy/matrices/tests/test_matrices.py
  sympy/matrices/tests/test_matrixbase.py
  sympy/polys/matrices/_dfm.py
  sympy/polys/matrices/ddm.py
  sympy/polys/matrices/domainmatrix.py
  sympy/polys/matrices/sdm.py
  sympy/polys/matrices/tests/test_xxm.py
Labels: matrices, Performance, domainmatrix

#26623 vector: created VectorKind and Add with vectors now calls VectorAdd
  sympy/vector/__init__.py
  sympy/vector/kind.py
  sympy/vector/scalar.py
  sympy/vector/tests/test_vector.py
  sympy/vector/vector.py
Labels: vector

#26674 perf(matrices): make values etc faster for sparse matrices (1.13)
  sympy/matrices/common.py
  sympy/matrices/matrixbase.py
  sympy/matrices/repmatrix.py
  sympy/matrices/tests/test_matrices.py
  sympy/matrices/tests/test_matrixbase.py
  sympy/polys/matrices/_dfm.py
  sympy/polys/matrices/ddm.py
  sympy/polys/matrices/domainmatrix.py
  sympy/polys/matrices/sdm.py
  sympy/polys/matrices/tests/test_xxm.py
Labels: matrices, Performance, domainmatrix

#26675 maint(ci): update actions versions
  .github/workflows/runtests.yml
Labels: CI

#26627 Reorganised tutorial directories
  .mailmap
  bin/doctest
  doc/src/tutorials/index.rst
  doc/src/tutorials/physics/biomechanics/biomechanical-model-example.rst
  doc/src/tutorials/physics/biomechanics/biomechanics-steerer.svg
  doc/src/tutorials/physics/biomechanics/biomechanics.rst
  doc/src/tutorials/physics/biomechanics/hill-type-muscle-model.svg
  doc/src/tutorials/physics/biomechanics/hill-type-muscle-model.tex
  doc/src/tutorials/physics/biomechanics/index.rst
  doc/src/tutorials/physics/index.rst
  sympy/testing/runtests.py
Labels: Documentation, physics.mechanics

#26679 Print relational when cannot determine truth value
  .mailmap
  sympy/core/coreerrors.py
  sympy/core/relational.py
Labels: core, core.relational

#26694 Removing unnecessary codeblock for handling symbolic exponents in gruntz
  sympy/series/gruntz.py
Labels: series, GSoC

#26693 [GSOC 1.2]removing instance of nsimplify from log _eval_nseries
  sympy/functions/elementary/exponential.py
  sympy/functions/elementary/tests/test_exponential.py
  sympy/functions/elementary/tests/test_hyperbolic.py
Labels: series, GSoC

#26699 maint(ci): test gmpy2 2.2.0rc1 prerelease in CI
  .github/workflows/runtests.yml
Labels: CI

#26709 Eliminated unnecessary processing
  sympy/combinatorics/pc_groups.py
  sympy/combinatorics/permutations.py
  sympy/functions/elementary/piecewise.py
  sympy/functions/special/elliptic_integrals.py
  sympy/logic/algorithms/lra_theory.py
  sympy/polys/rings.py
  sympy/solvers/inequalities.py
  sympy/solvers/ode/lie_group.py
  sympy/solvers/pde.py
  sympy/solvers/simplex.py
Labels: Code quality

#26711 Addition of docstring for `pc_groups.Collector.subword_index`
  sympy/combinatorics/pc_groups.py
Labels: Documentation

#26713 Bugfix: allow lambdify arguments to have names which are invalid python identifiers
  sympy/utilities/lambdify.py
  sympy/utilities/tests/test_lambdify.py
Labels: utilities.lambdify, vector

#26710 Speed up `_primepi`
  sympy/ntheory/generate.py
Labels: ntheory

#26641 Add Duffing spring example
  doc/src/tutorials/physics/index.rst
  doc/src/tutorials/physics/mechanics/duffing-example.rst
  doc/src/tutorials/physics/mechanics/duffing.svg
  doc/src/tutorials/physics/mechanics/index.rst
Labels: physics.mechanics, GSoC

#26722 use a `for` statement
  sympy/geometry/util.py
  sympy/liealgebras/type_a.py
  sympy/liealgebras/type_b.py
  sympy/liealgebras/type_c.py
  sympy/liealgebras/type_d.py
  sympy/liealgebras/type_e.py
  sympy/matrices/common.py
  sympy/matrices/matrixbase.py
  sympy/simplify/radsimp.py
  sympy/utilities/enumerative.py
  sympy/vector/coordsysrect.py
  sympy/vector/point.py
Labels: Code quality

#26720 Fix radsimp for non-Expr arguments
  sympy/simplify/radsimp.py
  sympy/simplify/tests/test_radsimp.py
Labels: simplify

#26723 Fix if statement returning bool
  sympy/combinatorics/free_groups.py
  sympy/combinatorics/perm_groups.py
  sympy/geometry/plane.py
  sympy/holonomic/recurrence.py
  sympy/solvers/ode/nonhomogeneous.py
  sympy/solvers/ode/single.py
  sympy/solvers/simplex.py
Labels: Code quality

#26719 Fix update-docs final version guard
  .github/workflows/release.yml
  .mailmap
  AUTHORS
Labels: Releasing, CI

#26685 [GSoC] Added methods to StateSpace class to calculate state and output vectors.
  sympy/physics/control/lti.py
  sympy/physics/control/tests/test_lti.py
Labels: GSoC, physics.control

#26640 [GSOC] Draw method for Cable class
  sympy/physics/continuum_mechanics/cable.py
  sympy/physics/continuum_mechanics/tests/test_cable.py
Labels: GSoC, physics.continuum_mechanics

#26733 fix(vector): fix printing of negative scalars
  sympy/physics/vector/tests/test_printing.py
  sympy/physics/vector/vector.py
Labels: printing.pretty, physics.vector

#26729 use only relative error in control_plots test
  sympy/physics/control/control_plots.py
  sympy/physics/control/tests/test_control_plots.py
  sympy/polys/polyutils.py
Labels: physics.control

#26737 Changed to list comprehension
  sympy/categories/diagram_drawing.py
  sympy/combinatorics/coset_table.py
  sympy/combinatorics/fp_groups.py
  sympy/combinatorics/generators.py
  sympy/combinatorics/permutations.py
  sympy/combinatorics/tensor_can.py
  sympy/concrete/delta.py
  sympy/concrete/gosper.py
  sympy/functions/special/bsplines.py
  sympy/holonomic/numerical.py
  sympy/holonomic/recurrence.py
  sympy/liealgebras/root_system.py
  sympy/ntheory/ecm.py
  sympy/polys/ring_series.py
  sympy/polys/rootisolation.py
  sympy/series/formal.py
  sympy/simplify/cse_main.py
  sympy/simplify/epathtools.py
  sympy/simplify/gammasimp.py
  sympy/simplify/radsimp.py
  sympy/simplify/trigsimp.py
  sympy/solvers/polysys.py
  sympy/vector/basisdependent.py
  sympy/vector/functions.py
Labels: Code quality

#26738 physics.control: remove numpy as an optional dependency for the pole-zero plot
  sympy/physics/control/control_plots.py
  sympy/physics/control/tests/test_control_plots.py
Labels: physics.control

#26746 fix(matrices): handle multiplication of zero/inf in matmul
  sympy/matrices/tests/test_matrices.py
  sympy/polys/matrices/sdm.py
Labels: matrices, domainmatrix
