Repository sympy/sympy, pull requests merged in 2024-09, with the labels that each got.

#26992 Fixing cdir for limit & leadterm calculation
  sympy/core/add.py
  sympy/core/expr.py
  sympy/core/function.py
  sympy/core/mod.py
  sympy/core/mul.py
  sympy/core/power.py
  sympy/core/tests/test_expr.py
  sympy/functions/combinatorial/factorials.py
  sympy/functions/elementary/complexes.py
  sympy/functions/elementary/exponential.py
  sympy/functions/elementary/hyperbolic.py
  sympy/functions/elementary/integers.py
  sympy/functions/elementary/piecewise.py
  sympy/functions/elementary/trigonometric.py
  sympy/functions/special/bessel.py
  sympy/functions/special/error_functions.py
  sympy/functions/special/gamma_functions.py
  sympy/functions/special/hyper.py
  sympy/functions/special/singularity_functions.py
  sympy/functions/special/tests/test_error_functions.py
  sympy/functions/special/zeta_functions.py
  sympy/integrals/integrals.py
  sympy/series/formal.py
  sympy/series/fourier.py
  sympy/series/limits.py
  sympy/series/tests/test_limits.py
  sympy/series/tests/test_order.py
Labels: series, limits

#27035 Avoid recursion with `nextprime`
  sympy/ntheory/generate.py
Labels: ntheory

#27020 fail when no subset solves poly system; better removal of redundant solutions
  sympy/solvers/solvers.py
  sympy/solvers/tests/test_solvers.py
Labels: solvers.solve

#27040 quality: don't use indexing with enumerate
  sympy/geometry/line.py
  sympy/physics/vector/dyadic.py
  sympy/physics/vector/vector.py
Labels: Code quality, CI

#26703 Add dependabot for updating GitHub Actions workflow versions
  .github/dependabot.yml
  release/compare_tar_against_git.py
Labels: CI

#27013 Fixed bug related to limits of abs
  sympy/series/gruntz.py
  sympy/series/limits.py
  sympy/series/tests/test_limits.py
Labels: GSoC, limits

#27044 Add support for pickling FreeGroup
  .mailmap
  sympy/combinatorics/free_groups.py
  sympy/combinatorics/tests/test_free_groups.py
  sympy/utilities/tests/test_pickling.py
Labels: combinatorics

#27030 Fix bug in TensAdd.canon_bp
  sympy/tensor/tensor.py
  sympy/tensor/tests/test_tensor.py
Labels: tensor

#25664 besselk: implement series expansion for non-integer order
  sympy/functions/special/bessel.py
  sympy/functions/special/tests/test_bessel.py
Labels: series, GSoC

#27060 Fixing `prime` comments
  sympy/ntheory/generate.py
Labels: ntheory

#27065 fix(matrices): Matrix([[], []]) -> Matrix(2, 0, [])
  sympy/matrices/matrixbase.py
  sympy/matrices/tests/test_matrices.py
  sympy/matrices/tests/test_matrixbase.py
  sympy/stats/tests/test_stochastic_process.py
Labels: matrices, regression

#27066 fix(quantum): sympify inputs to clebsch_gordan
  sympy/physics/tests/test_clebsch_gordan.py
  sympy/physics/wigner.py
Labels: physics, regression

#27081 release: make a 1.13.3 release
  .github/workflows/release.yml
  .github/workflows/runtests.yml
  .mailmap
  AUTHORS
  doc/src/modules/holonomic/uses.rst
  doc/src/modules/plotting.rst
  doc/src/tutorials/intro-tutorial/matrices.rst
  sympy/assumptions/ask.py
  sympy/assumptions/refine.py
  sympy/assumptions/relation/equality.py
  sympy/functions/elementary/exponential.py
  sympy/interactive/printing.py
  sympy/matrices/matrixbase.py
  sympy/matrices/tests/test_matrices.py
  sympy/matrices/tests/test_matrixbase.py
  sympy/physics/tests/test_clebsch_gordan.py
  sympy/physics/wigner.py
  sympy/plotting/backends/base_backend.py
  sympy/release.py
  sympy/simplify/simplify.py
  sympy/stats/tests/test_stochastic_process.py
Labels: matrices, Releasing, physics

#27098 cancel now more strict
  sympy/polys/polytools.py
  sympy/polys/tests/test_polytools.py
Labels: polys

#27102 Handle multiple equations and inequalities for `parse_expr`
  sympy/parsing/sympy_parser.py
  sympy/parsing/tests/test_sympy_parser.py
Labels: parsing

#27085 DM uses copy
  sympy/polys/matrices/ddm.py
  sympy/polys/matrices/tests/test_domainmatrix.py
Labels: domainmatrix

#27075 8353: watch for unevaluated algebraic
  sympy/polys/numberfields/minpoly.py
  sympy/polys/numberfields/tests/test_minpoly.py
  sympy/simplify/simplify.py
Labels: polys

#27111 fix(ci): possible fix for benchmark comment on PR
  .github/workflows/comment-on-pr.yml
Labels: CI

#27100 give SparseMatrix own reshape routine
  sympy/matrices/matrixbase.py
Labels: matrices

#27090 _unevaluated_Mul watches for nc args
  sympy/core/expr.py
  sympy/core/mul.py
  sympy/core/tests/test_expr.py
  sympy/polys/partfrac.py
Labels: core

#27105 Fix measure_all_oneshot (Qubit(0)) that yields |01>
  .mailmap
  sympy/physics/quantum/qubit.py
  sympy/physics/quantum/tests/test_qubit.py
Labels: physics.quantum, physics.quantum qip
