Repository sympy/sympy, pull requests merged in 2024-07, with the labels that each got.

#26756 maint(ci): only test numpy nightly wheels on 3.12
  .github/workflows/runtests.yml
Labels: CI

#26779 Fixed incorrect inverse laplace transforms of polynomials in s
  sympy/integrals/laplace.py
  sympy/integrals/tests/test_laplace.py
Labels: integrals.transforms

#26780 Fix a bug with diophantine() when cornacchia() is not called properly
  .mailmap
  sympy/solvers/diophantine/diophantine.py
  sympy/solvers/diophantine/tests/test_diophantine.py
Labels: solvers.diophantine

#26763 release: bump version to 1.13.0 final
  .github/workflows/release.yml
  sympy/release.py
Labels: Releasing

#26782 Merge 1.13 release branch back into master
  .github/workflows/release.yml
  .github/workflows/runtests.yml
  .mailmap
  AUTHORS
  README.md
  bin/doctest
  release/build_docs.py
  sympy/external/gmpy.py
  sympy/polys/numberfields/galois_resolvents.py
  sympy/testing/runtests_pytest.py
Labels: Releasing, CI

#26770 Removed unnecessary int cast in _check_termination of ntheory/factor_.py #26762
  .mailmap
  sympy/ntheory/factor_.py
Labels: ntheory

#25940 polys: use Flint for polynomials and matrices over GF(p)
  sympy/polys/matrices/_dfm.py
  sympy/polys/matrices/tests/test_domainmatrix.py
  sympy/polys/matrices/tests/test_xxm.py
  sympy/polys/polyclasses.py
Labels: matrices, polys, Performance, domainmatrix

#26800 fix(physics.vector): fix printing the zero vector
  sympy/physics/vector/tests/test_printing.py
  sympy/physics/vector/vector.py
Labels: printing.pretty, physics.vector

#26803 release: bump version to 1.13.1
  .github/workflows/release.yml
  sympy/release.py
Labels: Releasing

#26802 Fix GF __call__ with Integer argument (1.13 branch)
  .mailmap
  AUTHORS
  sympy/polys/domains/finitefield.py
  sympy/polys/domains/tests/test_domains.py
Labels: polys, flint

#26790 Fix GF __call__ with Integer argument.
  .mailmap
  sympy/polys/domains/finitefield.py
  sympy/polys/domains/tests/test_domains.py
Labels: polys

#26805 fix(physics.vector): fix printing the zero vector
  sympy/physics/vector/tests/test_printing.py
  sympy/physics/vector/vector.py
Labels: printing, physics.vector, regression

#26735 [GSOC] Initialise the Arches Class
  doc/src/modules/physics/continuum_mechanics/arches.rst
  doc/src/modules/physics/continuum_mechanics/index.rst
  sympy/physics/continuum_mechanics/__init__.py
  sympy/physics/continuum_mechanics/arch.py
  sympy/physics/continuum_mechanics/tests/test_arch.py
Labels: GSoC, physics.continuum_mechanics

#26806 fix(polys): Add RootOf.is_algebraic
  sympy/polys/rootoftools.py
  sympy/polys/tests/test_constructor.py
  sympy/polys/tests/test_polytools.py
  sympy/polys/tests/test_rootoftools.py
Labels: polys

#26812 fix(polys): use resultant in dmp_lift
  sympy/polys/densetools.py
  sympy/polys/domains/gaussiandomains.py
  sympy/polys/tests/test_densetools.py
  sympy/polys/tests/test_polytools.py
Labels: polys

#26816 fix(polys): reduce powers in AlgebraicField.to_sympy
  sympy/polys/domains/algebraicfield.py
  sympy/polys/tests/test_polytools.py
Labels: polys

#26823 fix test on i686
  .mailmap
  sympy/codegen/tests/test_fnodes.py
Labels: codegen

#26813 fix(polys): Fix count_roots for real algebraic fields
  sympy/integrals/rationaltools.py
  sympy/polys/densetools.py
  sympy/polys/tests/test_polytools.py
Labels: polys

#26831 Correction and Implementation in `erf` Function
  sympy/functions/special/error_functions.py
  sympy/functions/special/tests/test_error_functions.py
Labels: functions

#26822 fix(matrices): Use QQ[x,y] for Matrix.inv over RR[x,y]
  sympy/matrices/inverse.py
  sympy/matrices/tests/test_matrixbase.py
Labels: matrices, floats, regression, domainmatrix

#26833 fix(matrices): Use QQ[x,y] for Matrix.inv over RR[x,y]
  sympy/matrices/inverse.py
  sympy/matrices/tests/test_matrixbase.py
Labels: matrices, floats, regression, domainmatrix

#26837 release: bump version to 1.13.2 on the 1.13 release branch
  .github/workflows/release.yml
  sympy/release.py
Labels: Releasing

#26794 Add .codegen.cfunctions.isinf, support isinf and isnan in lambdify
  sympy/codegen/cfunctions.py
  sympy/codegen/tests/test_cfunctions.py
  sympy/core/tests/test_args.py
  sympy/printing/codeprinter.py
  sympy/printing/numpy.py
  sympy/printing/pycode.py
  sympy/printing/tests/test_c.py
  sympy/utilities/tests/test_lambdify.py
Labels: utilities.lambdify, codegen

#26840 Modified `LambertW.eval` to not use `match`
  sympy/functions/elementary/exponential.py
  sympy/functions/elementary/tests/test_exponential.py
Labels: functions

#26841 Modified `LambertW.eval` to not use `match`(1.13 branch)
  sympy/functions/elementary/exponential.py
  sympy/functions/elementary/tests/test_exponential.py
Labels: functions

#26842 Fix sphinx errors for `sympy.sets.sets`
  doc/src/modules/sets.rst
Labels: Documentation

#26839 Revised conditions for `erf.is_real`
  sympy/functions/special/error_functions.py
  sympy/functions/special/tests/test_error_functions.py
Labels: functions

#26843 fix(polys): fix DMP.cancel for GF(p) with Flint
  sympy/polys/domains/finitefield.py
  sympy/polys/matrices/_dfm.py
  sympy/polys/polyclasses.py
  sympy/polys/tests/test_polytools.py
Labels: polys, flint

#26853 changed a comment in KanesMethod at around line 340
  .mailmap
  sympy/physics/mechanics/kane.py
Labels: physics.mechanics

#26861 refactor(polys): Use mpmath mpf for RR and CC
  doc/src/modules/polys/domainsintro.rst
  doc/src/modules/polys/domainsref.rst
  sympy/polys/domains/complexfield.py
  sympy/polys/domains/domain.py
  sympy/polys/domains/mpelements.py
  sympy/polys/domains/realfield.py
  sympy/polys/domains/tests/test_domains.py
Labels: polys, floats, mpmath

#26870 fix(polys): cleanup after gh-26861
  sympy/polys/domains/complexfield.py
  sympy/polys/domains/domain.py
  sympy/polys/domains/realfield.py
Labels: polys

#26884 fix(core): don't flip rationals in as_base_exp
  sympy/core/power.py
  sympy/core/tests/test_power.py
  sympy/printing/tests/test_latex.py
  sympy/stats/drv_types.py
  sympy/stats/tests/test_discrete_rv.py
Labels: core, printing.latex
