Repository sympy/sympy, pull requests merged in 2024-10, with the labels that each got.

#27127 Corrected restructuredtext formatting in linear_eq_to_matrix docstring.
  sympy/solvers/solveset.py
Labels: Documentation

#26900 change code so setting up velocitiy constraints is faster, error if they are nonlinear
  sympy/physics/mechanics/kane.py
  sympy/physics/mechanics/tests/test_linearity_of_velocity_constraints.py
Labels: physics.mechanics

#27135 Add LaTeX printing for `DotProduct`
  sympy/printing/latex.py
  sympy/printing/precedence.py
  sympy/printing/tests/test_latex.py
Labels: printing.latex

#27137 Fix deprecated `mfenced` printing for MathML
  sympy/printing/mathml.py
  sympy/printing/tests/test_mathml.py
Labels: printing.mathml

#27140 Fix non-exception errors for `curl` and `divergence`
  sympy/vector/operators.py
Labels: vector

#27155 Fix lambdify for Sum employing nested loops
  sympy/printing/pycode.py
  sympy/printing/tests/test_lambdarepr.py
  sympy/utilities/tests/test_lambdify.py
Labels: concrete, utilities.lambdify

#27162 Fix: mypy 1.12 issue
  sympy/core/exprtools.py
Labels: core, mypy

#27166 Created an SVG figure
  .mailmap
  doc/src/tutorials/physics/mechanics/multi_degree_freedom_holonomic_system.rst
  doc/src/tutorials/physics/mechanics/multidof-holonomic.png
  doc/src/tutorials/physics/mechanics/multidof-holonomic.svg
Labels: Documentation, physics.mechanics

#27170 Remove unnecessary semicolons
  pyproject.toml
  sympy/combinatorics/tests/test_perm_groups.py
  sympy/functions/combinatorial/tests/test_comb_factorials.py
  sympy/functions/combinatorial/tests/test_comb_numbers.py
  sympy/functions/elementary/trigonometric.py
  sympy/matrices/tests/test_matrices.py
  sympy/matrices/tests/test_matrixbase.py
  sympy/printing/glsl.py
  sympy/printing/julia.py
  sympy/printing/octave.py
  sympy/printing/tests/test_julia.py
  sympy/printing/tests/test_octave.py
  sympy/simplify/combsimp.py
  sympy/solvers/ode/tests/test_ode.py
  sympy/utilities/codegen.py
  sympy/utilities/tests/test_codegen_julia.py
  sympy/utilities/tests/test_codegen_octave.py
  sympy/utilities/tests/test_codegen_rust.py
Labels: Code quality

#27167 Fixed bug with wrong output sign in real Gaunt coefficients
  .mailmap
  sympy/physics/tests/test_clebsch_gordan.py
  sympy/physics/wigner.py
Labels: physics

#27153 Fix numpy printing of `NDimArray`
  sympy/printing/numpy.py
  sympy/printing/tests/test_jax.py
  sympy/printing/tests/test_numpy.py
  sympy/printing/tests/test_str.py
  sympy/tensor/array/ndim_array.py
Labels: printing, utilities.lambdify

#27171 Fix the multiple of the indentation
  sympy/concrete/guess.py
  sympy/concrete/summations.py
  sympy/core/tests/test_expr.py
  sympy/core/tests/test_relational.py
  sympy/core/tests/test_sympify.py
  sympy/crypto/crypto.py
  sympy/functions/combinatorial/numbers.py
  sympy/functions/combinatorial/tests/test_comb_factorials.py
  sympy/functions/combinatorial/tests/test_comb_numbers.py
  sympy/functions/elementary/integers.py
  sympy/functions/elementary/tests/test_piecewise.py
  sympy/functions/special/error_functions.py
  sympy/functions/special/tests/test_gamma_functions.py
  sympy/geometry/plane.py
  sympy/integrals/rde.py
  sympy/integrals/tests/test_heurisch.py
  sympy/liealgebras/type_a.py
  sympy/liealgebras/type_b.py
  sympy/liealgebras/type_c.py
  sympy/liealgebras/type_d.py
  sympy/liealgebras/type_f.py
  sympy/matrices/determinant.py
  sympy/matrices/expressions/matexpr.py
  sympy/matrices/matrixbase.py
  sympy/ntheory/residue_ntheory.py
  sympy/parsing/autolev/_listener_autolev_antlr.py
  sympy/parsing/c/c_parser.py
  sympy/parsing/sympy_parser.py
  sympy/physics/control/lti.py
  sympy/physics/units/util.py
  sympy/polys/subresultants_qq_zz.py
  sympy/simplify/radsimp.py
  sympy/solvers/inequalities.py
  sympy/solvers/ode/lie_group.py
  sympy/solvers/ode/ode.py
  sympy/solvers/ode/tests/test_single.py
  sympy/solvers/pde.py
  sympy/solvers/solveset.py
  sympy/stats/drv.py
  sympy/stats/frv_types.py
  sympy/vector/implicitregion.py
Labels: Code quality

#27103 TensExpr.expand: reuse sympy.core.expand rather than an independent method
  sympy/tensor/tensor.py
  sympy/tensor/tests/test_tensor.py
  sympy/tensor/tests/test_tensor_operators.py
Labels: tensor

#27086 add examples to `Basic.free_symbols`
  sympy/core/basic.py
Labels: Documentation, core

#27184 Add new Mersenne prime
  sympy/ntheory/primetest.py
Labels: ntheory

#27187 maint(ci): add nightly-wheels workflow to ignore list
  release/compare_tar_against_git.py
Labels: CI

#27188 maint(ci): Use python-flint nightly wheels in CI
  .github/workflows/runtests.yml
Labels: CI

#27176 Refactoring of `_handle_bounds`
  sympy/solvers/simplex.py
Labels: solvers

#27104 fix(vector): don't drop terms in VectorAdd.__new__
  sympy/core/add.py
  sympy/printing/tests/test_mathml.py
  sympy/vector/basisdependent.py
  sympy/vector/functions.py
  sympy/vector/tests/test_integrals.py
  sympy/vector/tests/test_vector.py
  sympy/vector/vector.py
Labels: vector

#27175 fix(core): match/replace no longer treat bound symbols as wild cards
  sympy/core/basic.py
  sympy/core/tests/test_expr.py
  sympy/core/tests/test_match.py
Labels: core

#27197 test(quality): Add missing ruff rules that are checked by flake8
  .ci/parse_durations_log.py
  bin/ask_update.py
  bin/mailmap_check.py
  bin/sympy_time.py
  bin/test_import.py
  bin/test_optional_dependencies.py
  bin/test_py2_import.py
  doc/api/conf.py
  doc/ext/docscrape.py
  doc/ext/docscrape_sphinx.py
  doc/ext/numpydoc.py
  doc/src/conf.py
  doc/src/tutorials/physics/control/generate_plots.py
  isympy.py
  pyproject.toml
  release/authors.py
  release/build_docs.py
  release/github_release.py
  setup.py
  sympy/parsing/mathematica.py
  sympy/parsing/tests/test_implicit_multiplication_application.py
  sympy/utilities/pytest.py
  sympy/utilities/randtest.py
  sympy/utilities/runtests.py
  sympy/utilities/tmpfiles.py
Labels: Code quality, CI

#27196 fix(core): don't extract Float from Pow of Add
  sympy/core/add.py
  sympy/core/tests/test_power.py
  sympy/physics/biomechanics/curve.py
  sympy/physics/biomechanics/tests/test_curve.py
  sympy/physics/continuum_mechanics/cable.py
  sympy/physics/control/tests/test_control_plots.py
Labels: core, floats

#27204 ci: remove comment-on-pr workflow
  .github/workflows/comment-on-pr.yml
  .github/workflows/runtests.yml
Labels: CI

#27207 Removal of the inner function `_find_conditions`
  sympy/holonomic/holonomic.py
Labels: holonomic

#27206 ci: remove sage workflow
  .github/workflows/ci-sage.yml
Labels: CI

#27208 Implementation of Ramanujan's congruences
  sympy/functions/combinatorial/numbers.py
  sympy/functions/combinatorial/tests/test_comb_numbers.py
Labels: functions

#27212 Modified to avoid using `gmpy` when calculating `_partition`
  sympy/ntheory/partitions_.py
  sympy/ntheory/tests/test_partitions.py
Labels: ntheory, functions
