Repository sympy/sympy, pull requests merged in 2024-05, with the labels that each got.

#26564 documentation: Clarify method to add name to .mailmap file
  doc/src/contributing/new-contributors-guide/dev-setup.md
  doc/src/contributing/new-contributors-guide/workflow-process.md
Labels: CI

#26569 Continue: Obtaining reaction loads from apply_support
  .mailmap
  sympy/physics/continuum_mechanics/beam.py
  sympy/physics/continuum_mechanics/tests/test_beam.py
Labels: physics.continuum_mechanics

#26574 test: delete broken simplex test
  sympy/solvers/tests/test_simplex.py
Labels: solvers

#26515 fix(polys): fix multi factorisation over QQ<a>
  doc/src/modules/polys/internals.rst
  doc/src/modules/polys/literature.rst
  sympy/polys/compatibility.py
  sympy/polys/densetools.py
  sympy/polys/factortools.py
  sympy/polys/numberfields/subfield.py
  sympy/polys/polyclasses.py
  sympy/polys/polytools.py
  sympy/polys/rings.py
  sympy/polys/sqfreetools.py
  sympy/polys/tests/test_densetools.py
  sympy/polys/tests/test_factortools.py
  sympy/polys/tests/test_polytools.py
  sympy/polys/tests/test_rings.py
  sympy/polys/tests/test_sqfreetools.py
Labels: polys

#26583 Refactoring of `classify_pde`
  sympy/solvers/pde.py
Labels: solvers

#26598 Rewriting to `min` and `max` functions
  sympy/categories/diagram_drawing.py
  sympy/combinatorics/permutations.py
  sympy/holonomic/holonomic.py
  sympy/solvers/diophantine/diophantine.py
  sympy/solvers/simplex.py
Labels: Code quality

#26605 Removed Empty Row Checking
  .mailmap
  sympy/matrices/matrixbase.py
Labels: matrices

#26603 Simple fixes on `holonomic/holonomic.py`.
  sympy/holonomic/holonomic.py
Labels: Code quality

#26606 Enhanced the efficiency of power calculations
  sympy/combinatorics/free_groups.py
  sympy/combinatorics/tests/test_free_groups.py
  sympy/holonomic/holonomic.py
  sympy/holonomic/recurrence.py
  sympy/holonomic/tests/test_holonomic.py
  sympy/holonomic/tests/test_recurrence.py
  sympy/polys/monomials.py
  sympy/polys/tests/test_monomials.py
Labels: combinatorics, polys, Performance, holonomic

#26635 maint: update actions versions in CI (1.12 branch)
  .github/workflows/release.yml
Labels: Releasing, CI

#25461 [GSoC] solve method for cable class
  sympy/physics/continuum_mechanics/cable.py
  sympy/physics/continuum_mechanics/tests/test_cable.py
Labels: physics.continuum_mechanics

#26649 fix(polys): fix apart(full=True) with floats
  sympy/core/numbers.py
  sympy/core/tests/test_numbers.py
  sympy/polys/partfrac.py
  sympy/polys/tests/test_partfrac.py
Labels: polys, floats

#26651 maint: update optional dependencies in CI
  .github/workflows/runtests.yml
Labels: CI
