Repository sympy/sympy, pull requests merged in 2024-12, with the labels that each got.

#27343 Change wording in the solveset FAQ; clarify solve is staying
  .mailmap
  doc/src/modules/solvers/solvers.rst
  doc/src/modules/solvers/solveset.rst
Labels: Documentation, solvers.solveset

#27301 DOC: updated plot docstring
  sympy/plotting/plot.py
Labels: Documentation, plotting

#27347 Fix expectation calculation for Poisson Distribution
  sympy/stats/drv_types.py
  sympy/stats/tests/test_discrete_rv.py
Labels: stats

#27350 Add type hints for `Mul(*terms)` and related methods.
  doc/src/modules/core.rst
  sympy/core/add.py
  sympy/core/basic.py
  sympy/core/evalf.py
  sympy/core/expr.py
  sympy/core/exprtools.py
  sympy/core/mul.py
  sympy/core/power.py
  sympy/core/symbol.py
  sympy/core/sympify.py
  sympy/core/tests/test_basic.py
  sympy/geometry/tests/test_entity.py
  sympy/integrals/manualintegrate.py
  sympy/integrals/meijerint_doc.py
  sympy/logic/boolalg.py
  sympy/matrices/matrixbase.py
  sympy/sets/sets.py
  sympy/simplify/simplify.py
  sympy/solvers/diophantine/tests/test_diophantine.py
  sympy/solvers/ode/single.py
Labels: core, pyright

#27355 Fix Poisson distribution test
  sympy/stats/tests/test_discrete_rv.py
Labels: stats

#27378 Added test for symbolic integration in test_integrals.py
  .mailmap
  sympy/integrals/tests/test_integrals.py
Labels: integrals

#27395 [Quantum] Fix handling of Sum in QExpr and qapply
  sympy/physics/quantum/qapply.py
  sympy/physics/quantum/qexpr.py
  sympy/physics/quantum/state.py
  sympy/physics/quantum/tests/test_qexpr.py
  sympy/physics/quantum/tests/test_sho1d.py
Labels: physics.quantum

#27397 quantum: Deprecate IdentityOperator
  doc/src/explanation/active-deprecations.md
  sympy/core/tests/test_args.py
  sympy/physics/quantum/boson.py
  sympy/physics/quantum/operator.py
  sympy/physics/quantum/tests/test_dagger.py
  sympy/physics/quantum/tests/test_operator.py
  sympy/physics/quantum/tests/test_qapply.py
Labels: physics.quantum

#27352 Add QR Decomposition Method for DomainMatrix and DDM
  sympy/polys/matrices/_dfm.py
  sympy/polys/matrices/ddm.py
  sympy/polys/matrices/domainmatrix.py
  sympy/polys/matrices/sdm.py
  sympy/polys/matrices/tests/test_xxm.py
Labels: matrices, Performance, domainmatrix

#27401 Minor tweak in .calculus.util.function_range
  sympy/calculus/util.py
Labels: Code quality
