Repository sympy/sympy, pull requests merged in 2025-05, with the labels that each got.

#28035 Refactor old-style string formatting to f-strings in assumptions
  sympy/assumptions/ask.py
  sympy/assumptions/assume.py
  sympy/assumptions/relation/binrel.py
Labels: Code quality

#28045 PEP 8: Update None comparisons in simplex.py
  sympy/solvers/simplex.py
Labels: Code quality

#28036 Replacing with `enumerate` or `for` loops
  sympy/combinatorics/partitions.py
  sympy/combinatorics/tests/test_perm_groups.py
  sympy/holonomic/recurrence.py
  sympy/integrals/intpoly.py
  sympy/liealgebras/weyl_group.py
  sympy/physics/quantum/state.py
  sympy/plotting/series.py
  sympy/polys/factortools.py
  sympy/polys/subresultants_qq_zz.py
  sympy/printing/pycode.py
  sympy/sets/ordinals.py
  sympy/solvers/diophantine/diophantine.py
  sympy/tensor/array/tests/test_immutable_ndim_array.py
  sympy/tensor/array/tests/test_mutable_ndim_array.py
  sympy/utilities/lambdify.py
Labels: Code quality

#28063 Define is_annihilation on Pauli operators
  sympy/physics/quantum/pauli.py
  sympy/physics/quantum/tests/test_pauli.py
Labels: physics.quantum

#28057 Document different operator types in physics.quantum
  doc/src/modules/physics/quantum/boson.rst
  doc/src/modules/physics/quantum/fermion.rst
  doc/src/modules/physics/quantum/index.rst
  doc/src/modules/physics/quantum/pauli.rst
  sympy/physics/secondquant.py
Labels: Documentation, physics.quantum

#28075 logic: Fix upper_from_neg bug in LRASolver.reset_bounds()
  .mailmap
  sympy/logic/algorithms/lra_theory.py
  sympy/logic/tests/test_lra_theory.py
Labels: logic

#27353 types: add type hints for symbols(..., seq=True)
  sympy/abc.py
  sympy/concrete/summations.py
  sympy/core/basic.py
  sympy/core/expr.py
  sympy/core/relational.py
  sympy/core/singleton.py
  sympy/core/symbol.py
  sympy/core/tests/test_arit.py
  sympy/core/tests/test_expr.py
  sympy/integrals/manualintegrate.py
  sympy/sets/sets.py
  sympy/simplify/simplify.py
  sympy/stats/stochastic_process_types.py
  sympy/utilities/iterables.py
Labels: core, pyright

#28079 Fix `Max/Min` for `lambdify` with `torch`
  .mailmap
  sympy/printing/pytorch.py
  sympy/printing/tests/test_torch.py
  sympy/utilities/lambdify.py
Labels: utilities.lambdify

#28062 Fix `evaluate=False` for boolean functions
  sympy/core/operations.py
  sympy/logic/boolalg.py
  sympy/logic/tests/test_boolalg.py
  sympy/printing/tests/test_fortran.py
  sympy/printing/tests/test_str.py
Labels: logic

#27671 Added pade approximant functionality
  .mailmap
  doc/src/modules/concrete.rst
  doc/src/modules/polys/reference.rst
  doc/src/modules/series/approximants.rst
  doc/src/modules/series/index.rst
  doc/src/modules/testing/pytest.rst
  sympy/__init__.py
  sympy/concrete/guess.py
  sympy/polys/polytools.py
  sympy/polys/tests/test_polytools.py
  sympy/series/__init__.py
  sympy/series/approximants.py
  sympy/series/tests/test_approximants.py
  sympy/testing/pytest.py
Labels: series, polys

#28096 Refactor conditionals for clarity and conciseness
  sympy/combinatorics/free_groups.py
  sympy/core/add.py
  sympy/core/basic.py
  sympy/core/evalf.py
  sympy/core/mul.py
  sympy/core/numbers.py
  sympy/core/power.py
  sympy/core/relational.py
  sympy/functions/combinatorial/factorials.py
  sympy/functions/elementary/complexes.py
  sympy/functions/elementary/exponential.py
  sympy/functions/elementary/hyperbolic.py
  sympy/functions/elementary/integers.py
  sympy/functions/elementary/trigonometric.py
  sympy/functions/special/bessel.py
  sympy/functions/special/zeta_functions.py
  sympy/holonomic/holonomic.py
  sympy/logic/inference.py
  sympy/physics/quantum/represent.py
  sympy/physics/secondquant.py
  sympy/polys/domains/finitefield.py
  sympy/polys/polyroots.py
  sympy/polys/subresultants_qq_zz.py
  sympy/series/limits.py
  sympy/sets/handlers/power.py
Labels: Code quality

#28099 fix-domainMatrix-subtraction
  sympy/polys/domains/expressiondomain.py
  sympy/polys/matrices/tests/test_domainmatrix.py
Labels: polys, domainmatrix

#28090 functions: add _eval_evalf() helper for erfcinv()
  .mailmap
  sympy/functions/special/error_functions.py
  sympy/functions/special/tests/test_error_functions.py
Labels: core.evalf, functions

#28100 typ: fix mypy checks after new mypy release
  sympy/core/containers.py
  sympy/core/evalf.py
  sympy/functions/elementary/piecewise.py
  sympy/physics/biomechanics/musculotendon.py
  sympy/printing/codeprinter.py
  sympy/sets/sets.py
Labels: CI, typing
