Repository sympy/sympy, pull requests merged in 2025-03, with the labels that each got.

#27667 Fix posify to Preserve Matrix Structure
  sympy/simplify/simplify.py
  sympy/simplify/tests/test_simplify.py
Labels: simplify

#27676 Return 0 instead of ValueError in discrete_log when n = 0
  .mailmap
  sympy/ntheory/residue_ntheory.py
  sympy/ntheory/tests/test_residue.py
Labels: ntheory

#27688 Made solve_triangulated support extension=True for algebraic roots
  .mailmap
  sympy/solvers/polysys.py
  sympy/solvers/tests/test_polysys.py
Labels: solvers, polys

#27694 Fix `qs` to store vectors as integers
  sympy/ntheory/qs.py
  sympy/ntheory/tests/test_qs.py
Labels: ntheory

#27423 Add Fraction-Free LU Decomposition for DomainMatrix
  sympy/polys/matrices/_dfm.py
  sympy/polys/matrices/ddm.py
  sympy/polys/matrices/domainmatrix.py
  sympy/polys/matrices/sdm.py
  sympy/polys/matrices/tests/test_domainmatrix.py
  sympy/polys/matrices/tests/test_fflu.py
  sympy/polys/matrices/tests/test_xxm.py
Labels: matrices, domainmatrix

#27699 added test case for issue 9173
  sympy/series/tests/test_series.py
Labels: series

#27708 Fix ask(Q.finite(x**-1), Q.real(x)) to handle potential division by zero
  sympy/assumptions/handlers/calculus.py
  sympy/assumptions/tests/test_query.py
Labels: assumptions

#27702 RingSeries: Fix prec handling (rational → ceiling int)
  sympy/polys/ring_series.py
  sympy/polys/tests/test_ring_series.py
Labels: ringseries

#27685 Fix IntegerPredicate for Abs to handle non-integer inputs correctly
  sympy/assumptions/handlers/sets.py
  sympy/assumptions/tests/test_query.py
Labels: assumptions

#27721 Enable complex number support in `eval_zeta_function`
  sympy/concrete/summations.py
  sympy/concrete/tests/test_sums_products.py
Labels: concrete

#27693 Enhance Pow handler to correctly handle zero base cases in Q.real evaluation
  sympy/assumptions/handlers/sets.py
  sympy/assumptions/tests/test_query.py
Labels: assumptions

#27736 Fix Rust printing of sympy.sign
  .mailmap
  sympy/printing/rust.py
  sympy/printing/tests/test_rust.py
Labels: printing, codegen

#27732 Add tangent function to eval_trig()
  .mailmap
  sympy/core/evalf.py
  sympy/core/tests/test_evalf.py
Labels: core.evalf

#27716 `_check_smoothness` has been modified to return a vector and `num`
  sympy/ntheory/qs.py
  sympy/ntheory/tests/test_qs.py
Labels: ntheory

#27715 RingSeries: Hyperbolic Trigonometric Functions (sinh, cosh, tanh) added to rs_series.
  sympy/polys/ring_series.py
  sympy/polys/tests/test_ring_series.py
Labels: ringseries

#27764 [feat] rs_asinh function added in ring_series module to compute arcsinh Taylor series at x=0
  doc/src/modules/polys/ringseries.rst
  sympy/polys/ring_series.py
  sympy/polys/tests/test_ring_series.py
Labels: ringseries

#27763 Add documentation warning to `parse_expr()` about internal `eval()` usage
  .mailmap
  sympy/parsing/sympy_parser.py
Labels: parsing

#27766 Merging `_initialize_first_polynomial` and `_initialize_ith_poly`
  sympy/ntheory/qs.py
  sympy/ntheory/tests/test_qs.py
Labels: ntheory

#27760 adding pytorch lambdify functionality
  .github/workflows/runtests.yml
  .mailmap
  bin/test_pytorch.py
  release/compare_tar_against_git.py
  sympy/printing/pytorch.py
  sympy/printing/tests/test_torch.py
  sympy/utilities/lambdify.py
Labels: utilities.lambdify

#27778 Fix LaTeX underscore escaping in wigner_d_small docstring
  .mailmap
  sympy/physics/wigner.py
Labels: Documentation

#27769 Added handling for cases where `floor` and `ceiling` can be evaluated as constants
  sympy/concrete/tests/test_sums_products.py
  sympy/core/evalf.py
  sympy/functions/elementary/integers.py
  sympy/functions/elementary/tests/test_integers.py
  sympy/series/tests/test_limits.py
Labels: core, functions

#27809 ensure primitive_element returns canonicalized minpoly, fix #27798
  sympy/polys/numberfields/subfield.py
  sympy/polys/numberfields/tests/test_subfield.py
Labels: polys

#27811 Refactoring of `itermonomials`
  sympy/polys/monomials.py
Labels: polys

#27803 Fixed a bug where `Mod` returns an incorrect result
  sympy/core/mod.py
  sympy/core/tests/test_arit.py
  sympy/core/tests/test_priority.py
Labels: core

#27797 Prevent incorrect substitution in Limit.doit() for integers
  .mailmap
  sympy/series/limits.py
  sympy/series/tests/test_limits.py
Labels: limits

#27846 Delete xfail as it has been fixed
  sympy/concrete/tests/test_sums_products.py
Labels: concrete

#27817 Fix typo in domainsintro.rst
  .mailmap
  doc/src/modules/polys/domainsintro.rst
Labels: Documentation

#27838 Add Caching to Speed Up Harmonic Number Computation
  sympy/functions/combinatorial/numbers.py
Labels: Performance, functions

#27849 Add option to disable name splitting when printing MathML
  .mailmap
  sympy/printing/latex.py
  sympy/printing/mathml.py
  sympy/printing/tests/test_latex.py
  sympy/printing/tests/test_mathml.py
Labels: printing, printing.mathml
