Repository sympy/sympy, pull requests merged in 2025-02, with the labels that each got.

#27541 Tweak .core.relational._canoncial_coeff to fix gh-27538 (alt)
  sympy/core/relational.py
  sympy/functions/elementary/tests/test_piecewise.py
Labels: core.relational

#27540 Fix factorial parsing for lark parser
  sympy/parsing/latex/lark/grammar/latex.lark
  sympy/parsing/tests/test_latex_lark.py
Labels: parsing, parsing.latex

#27511 ask: Fix bug with algebraic exponential handler
  .mailmap
  sympy/assumptions/handlers/sets.py
  sympy/assumptions/tests/test_query.py
Labels: assumptions

#27530 Conjugate scalars in dagger
  .mailmap
  sympy/physics/secondquant.py
  sympy/physics/tests/test_secondquant.py
Labels: physics.quantum

#27557 Fix mypy error: type-checking for prev_i index
  sympy/tensor/array/expressions/from_array_to_matrix.py
Labels: mypy

#27559 Fix stats.NegativeBinomial parameter p to represent success probability
  sympy/stats/drv_types.py
  sympy/stats/tests/test_discrete_rv.py
Labels: stats

#27569 Assuming the number given to `_ecm_one_factor` is composite
  sympy/ntheory/ecm.py
Labels: ntheory

#27512 ask: Fix prime handler for integer exponentiation
  sympy/assumptions/handlers/ntheory.py
  sympy/assumptions/tests/test_query.py
Labels: assumptions

#27567 remove deprecated function calculate_series,compute_leading_term from gruntz.py,expr.py
  .mailmap
  doc/src/modules/series/series.rst
  sympy/core/expr.py
  sympy/series/gruntz.py
  sympy/series/tests/test_limits.py
Labels: limits

#27583 Show how to index wigner_d* matrices; note Euler angle difference
  .mailmap
  AUTHORS
  sympy/physics/wigner.py
Labels: physics

#27585 maint(ci): unpin Ubuntu versions in CI
  .github/workflows/emscripten.yml
  .github/workflows/nightly-wheels.yml
  .github/workflows/runtests.yml
  asv.conf.actions.json
Labels: CI

#27581 Fix Miller-Rabin test in primetest.py to correctly handle even numbers.
  sympy/ntheory/primetest.py
  sympy/ntheory/tests/test_primetest.py
Labels: ntheory

#27597 Fix incorrect docstring examples in TransferFunction method
  sympy/physics/control/lti.py
Labels: Documentation

#27596 Modernize the documentation installation instructions.
  doc/src/install.md
Labels: Documentation

#27552 Added cmath support for lambdify and implemented CmathPrinter
  sympy/printing/pycode.py
  sympy/printing/tests/test_pycode.py
  sympy/utilities/lambdify.py
  sympy/utilities/tests/test_lambdify.py
Labels: utilities.lambdify

#27611 Removed redundant Poly.unit method in favour of Poly.one
  sympy/polys/polytools.py
Labels: polys

#27635 Fix type error when n is even in qs function
  .mailmap
  sympy/ntheory/qs.py
  sympy/ntheory/tests/test_qs.py
Labels: ntheory

#27641 Refactoring of `SievePolynomial`
  sympy/ntheory/qs.py
  sympy/ntheory/tests/test_qs.py
Labels: ntheory

#27637 Ensure constant term is a unit in _series_inversion1 series inversion
  sympy/polys/ring_series.py
  sympy/polys/tests/test_ring_series.py
Labels: ringseries

#27643 fix(simplify): Change a == b to a = b
  pyproject.toml
  sympy/combinatorics/coset_table.py
  sympy/simplify/hyperexpand.py
Labels: simplify, Linting

#27593 Fix inconsistent behavior of primitive method for zero polynomial
  sympy/polys/polyclasses.py
  sympy/polys/rings.py
  sympy/polys/tests/test_polyclasses.py
  sympy/polys/tests/test_rings.py
Labels: polys

#27664 fix(matrices): Fix Matrix.inv_mod for composite modulus
  sympy/matrices/repmatrix.py
  sympy/matrices/tests/test_repmatrix.py
  sympy/polys/domains/finitefield.py
  sympy/polys/domains/tests/test_domains.py
  sympy/polys/matrices/tests/test_domainmatrix.py
  sympy/stats/rv.py
Labels: matrices

#27577 polys: Add PuiseuxRing and remove the ring cache
  doc/src/modules/polys/ringseries.rst
  pyproject.toml
  sympy/integrals/prde.py
  sympy/integrals/tests/test_integrals.py
  sympy/polys/domains/complexfield.py
  sympy/polys/domains/domain.py
  sympy/polys/domains/fractionfield.py
  sympy/polys/domains/polynomialring.py
  sympy/polys/domains/realfield.py
  sympy/polys/domains/tests/test_domains.py
  sympy/polys/fields.py
  sympy/polys/modulargcd.py
  sympy/polys/monomials.py
  sympy/polys/puiseux.py
  sympy/polys/ring_series.py
  sympy/polys/rings.py
  sympy/polys/tests/test_fields.py
  sympy/polys/tests/test_puiseux.py
  sympy/polys/tests/test_ring_series.py
  sympy/polys/tests/test_rings.py
  sympy/polys/tests/test_solvers.py
  sympy/printing/tests/test_str.py
Labels: polys

#27669 ring series: rs_series extend to work with atan
  sympy/polys/ring_series.py
  sympy/polys/tests/test_ring_series.py
Labels: ringseries

#27555 Fixed handling of integer exponentiation in rational assumptions
  sympy/assumptions/handlers/sets.py
  sympy/assumptions/tests/test_query.py
Labels: assumptions

#27668 Fix recursion error when applying floor to Matrix objects
  sympy/matrices/matrixbase.py
  sympy/matrices/tests/test_matrixbase.py
Labels: matrices

#27672 Avoiding errors when `N` is large
  sympy/ntheory/qs.py
  sympy/ntheory/tests/test_qs.py
Labels: ntheory
