Repository sympy/sympy, pull requests merged in 2025-07, with the labels that each got.

#28201 Follow up for PR-28119 (Improved test formatting, test coverage expansion, bug fix in PolyElement.cofactor)
  sympy/polys/numberfields/minpoly.py
  sympy/polys/rings.py
  sympy/polys/tests/test_rings.py
Labels: polys

#28207 polys: Disallowing negative generator indices in PolyRing.index
  sympy/polys/rings.py
  sympy/polys/tests/test_rings.py
Labels: polys

#28208 Implement `dup_series_*` Functions for Series Manipulation
  doc/src/modules/polys/internals.rst
  sympy/polys/densearith.py
  sympy/polys/densebasic.py
  sympy/polys/densetools.py
  sympy/polys/tests/test_densearith.py
  sympy/polys/tests/test_densetools.py
  sympy/polys/tests/test_hypothesis.py
Labels: polys

#28189 fix(integrals): don't lose roots in ratint
  sympy/functions/special/tests/test_spec_polynomials.py
  sympy/integrals/rationaltools.py
  sympy/integrals/tests/test_rationaltools.py
  sympy/physics/control/tests/test_lti.py
  sympy/polys/polyroots.py
  sympy/polys/tests/test_polyroots.py
  sympy/solvers/ode/tests/test_systems.py
  sympy/solvers/tests/test_solvers.py
  sympy/utilities/tests/test_wester.py
Labels: integrals

#28177 typ: Make Domain a generic type Domain[E]
  doc/src/modules/polys/domainsref.rst
  doc/src/modules/polys/ringseries.rst
  sympy/core/expr.py
  sympy/external/gmpy.py
  sympy/ntheory/factor_.py
  sympy/ntheory/generate.py
  sympy/polys/domains/compositedomain.py
  sympy/polys/domains/domain.py
  sympy/polys/domains/field.py
  sympy/polys/domains/fractionfield.py
  sympy/polys/domains/integerring.py
  sympy/polys/domains/old_polynomialring.py
  sympy/polys/domains/polynomialring.py
  sympy/polys/domains/pythonintegerring.py
  sympy/polys/domains/pythonrationalfield.py
  sympy/polys/domains/rationalfield.py
  sympy/polys/domains/ring.py
  sympy/polys/fields.py
  sympy/polys/orderings.py
  sympy/polys/polyclasses.py
  sympy/polys/polyoptions.py
  sympy/polys/puiseux.py
  sympy/polys/rings.py
  sympy/polys/tests/test_puiseux.py
Labels: polys, typing

#28236 typing: add annotations in densebasic.py
  doc/src/modules/polys/domainsref.rst
  doc/src/modules/polys/internals.rst
  sympy/polys/densearith.py
  sympy/polys/densebasic.py
  sympy/polys/densetools.py
  sympy/polys/domains/algebraicfield.py
  sympy/polys/domains/domain.py
  sympy/polys/domains/simpledomain.py
  sympy/polys/euclidtools.py
  sympy/polys/fields.py
  sympy/polys/monomials.py
  sympy/polys/polyclasses.py
  sympy/polys/polytools.py
  sympy/polys/sqfreetools.py
Labels: polys, typing

#28250 polys: have dup_degree() return -1 for zero poly
  sympy/physics/control/routh_table.py
  sympy/polys/densearith.py
  sympy/polys/densebasic.py
  sympy/polys/polyclasses.py
  sympy/polys/polytools.py
  sympy/polys/rings.py
  sympy/polys/tests/test_densebasic.py
  sympy/polys/tests/test_rings.py
Labels: polys, typing
