Repository sympy/sympy, pull requests merged in 2025-08, with the labels that each got.

#28281 Complete Reference Paths for Trigonometric and Hyperbolic Function reference class link.
  sympy/functions/elementary/exponential.py
  sympy/functions/elementary/hyperbolic.py
  sympy/functions/elementary/trigonometric.py
  sympy/polys/ring_series.py
Labels: functions

#27839 manualintegrate: Add powsimp_rule for simplifying exponent expressions
  .mailmap
  sympy/integrals/manualintegrate.py
  sympy/integrals/tests/test_laplace.py
  sympy/integrals/tests/test_manual.py
Labels: integrals.manualintegrate

#27863 manualintegrate: Add erfc rewrite rule
  sympy/integrals/manualintegrate.py
  sympy/integrals/tests/test_manual.py
Labels: integrals.manualintegrate

#28267 merge non-return annotations from python-type-stubs (except cacheit and TypeAlias)
  doc/src/modules/utilities/misc.rst
  sympy/matrices/matrixbase.py
  sympy/matrices/reductions.py
  sympy/printing/printer.py
  sympy/utilities/misc.py
  sympy/utilities/timeutils.py
Labels: typing

#27827 Handle sum from -∞ to k in eval_sum_residue
  sympy/concrete/summations.py
  sympy/concrete/tests/test_sums_products.py
Labels: concrete

#28293 New function in `densearith` to calculate the square of dense polynomial to modulo `x**n`
  doc/src/modules/polys/internals.rst
  sympy/polys/densearith.py
  sympy/polys/tests/test_densearith.py
Labels: polys

#28307 fix(core): Make int(expr) more robust
  sympy/core/expr.py
  sympy/core/tests/test_expr.py
Labels: core, core.evalf

#28292 typ(polys): type annotations in densearith.py
  doc/src/modules/polys/domainsref.rst
  sympy/polys/densearith.py
  sympy/polys/densebasic.py
  sympy/polys/densetools.py
  sympy/polys/domains/domain.py
  sympy/polys/domains/gaussiandomains.py
  sympy/polys/domains/tests/test_domains.py
  sympy/polys/polyclasses.py
  sympy/polys/polytools.py
  sympy/polys/puiseux.py
Labels: polys, typing

#28334 permutation groups: fix data corruption bug in coset_transversal()
  .mailmap
  sympy/combinatorics/perm_groups.py
Labels: combinatorics

#28235 Added __format__ method to rational
  .mailmap
  sympy/core/numbers.py
  sympy/core/tests/test_expr.py
Labels: core.numbers

#28344 typ(polys): add type annotations in galoistools
  sympy/core/expr.py
  sympy/core/numbers.py
  sympy/core/random.py
  sympy/external/gmpy.py
  sympy/ntheory/residue_ntheory.py
  sympy/polys/domains/integerring.py
  sympy/polys/galoistools.py
  sympy/polys/polyconfig.py
  sympy/polys/polyutils.py
  sympy/utilities/misc.py
Labels: polys, typing

#28350 manualintegrate: support erf*ln
  sympy/integrals/manualintegrate.py
  sympy/integrals/tests/test_manual.py
Labels: integrals.manualintegrate

#28291 fix(polys): remove special zero handling in dup_to_dict
  sympy/polys/densebasic.py
  sympy/polys/densetools.py
  sympy/polys/domains/algebraicfield.py
  sympy/polys/domains/domain.py
  sympy/polys/orderings.py
  sympy/polys/polyclasses.py
  sympy/polys/series/tests/test_hypothesis.py
  sympy/polys/tests/test_densebasic.py
  sympy/polys/tests/test_densetools.py
Labels: polys, typing

#28351 manualintegrate: extend support for products involving special functions
  sympy/integrals/manualintegrate.py
  sympy/integrals/tests/test_manual.py
Labels: integrals.manualintegrate

#28357 test_failing_integrals: drop passing XFAIL test
  sympy/integrals/tests/test_failing_integrals.py
Labels: integrals

#28355 fix(polys): add missing domain parameter to dmp_zero
  doc/src/modules/polys/internals.rst
  sympy/polys/densearith.py
  sympy/polys/densebasic.py
  sympy/polys/densetools.py
  sympy/polys/domains/field.py
  sympy/polys/euclidtools.py
  sympy/polys/factortools.py
  sympy/polys/polyclasses.py
  sympy/polys/rootisolation.py
  sympy/polys/series/ringflint.py
  sympy/polys/series/ringpython.py
  sympy/polys/specialpolys.py
  sympy/polys/sqfreetools.py
  sympy/polys/tests/test_densebasic.py
Labels: polys, typing
