Repository sympy/sympy, changes with the owners that CODEOWNERS names for each.
All owners: @moorepants, @oscarbenjamin, @hanspi42

CODEOWNERS:

# This file allows SymPy developers with write access to the Github repository
# to specify if they'd like to be automatically requested for review in new
# pull requests that touch specific files and directories in the repository.
# The format is essentially:
#
# <file-or-directory> @user1 @user2 ... @usern
#
# See the following link for more information on editing this file:
#
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
#
/sympy/physics/biomechanics/ @moorepants
/sympy/physics/mechanics/ @moorepants
/sympy/physics/vector/ @moorepants
/sympy/solvers/ode/ @oscarbenjamin
/sympy/*laplace* @hanspi42

Update sympy/physics/continuum_mechanics/beam.py
  sympy/physics/continuum_mechanics/beam.py
Owners: none

Update sympy/physics/continuum_mechanics/beam.py
  sympy/physics/continuum_mechanics/beam.py
Owners: none

Update sympy/physics/continuum_mechanics/beam.py
  sympy/physics/continuum_mechanics/beam.py
Owners: none

Update sympy/physics/continuum_mechanics/beam.py
  sympy/physics/continuum_mechanics/beam.py
Owners: none

Update sympy/physics/continuum_mechanics/beam.py
  sympy/physics/continuum_mechanics/beam.py
Owners: none

Update sympy/physics/continuum_mechanics/beam.py
  sympy/physics/continuum_mechanics/beam.py
Owners: none

Create self.ild_variable for a.
  sympy/physics/continuum_mechanics/beam.py
  sympy/physics/continuum_mechanics/tests/test_beam.py
Owners: none

Create self.ild_variable for a.
  sympy/physics/continuum_mechanics/beam.py
  sympy/physics/continuum_mechanics/tests/test_beam.py
Owners: none

Update sympy/physics/continuum_mechanics/beam.py
  sympy/physics/continuum_mechanics/beam.py
Owners: none

Update sympy/physics/continuum_mechanics/beam.py
  sympy/physics/continuum_mechanics/beam.py
Owners: none

Update beam.py
  sympy/physics/continuum_mechanics/beam.py
Owners: none

Update beam.py
  sympy/physics/continuum_mechanics/beam.py
Owners: none

feat(dsolve): skip solving for already solved systems
  sympy/solvers/ode/systems.py
Owners: @oscarbenjamin

add comment
  sympy/solvers/ode/systems.py
Owners: @oscarbenjamin

feat(dsolve): improve use of integration functions
  sympy/solvers/ode/systems.py
  sympy/solvers/ode/tests/test_systems.py
Owners: @oscarbenjamin

feat(dsolve): handle underdetermined ODE systems
  sympy/solvers/ode/ode.py
  sympy/solvers/ode/subscheck.py
  sympy/solvers/ode/systems.py
  sympy/solvers/ode/tests/test_ode.py
  sympy/solvers/ode/tests/test_systems.py
Owners: @oscarbenjamin

remove unused variables
  sympy/solvers/ode/tests/test_systems.py
Owners: @oscarbenjamin

fix(dsolve): solve_ics rejects impossible conditions
  sympy/solvers/ode/ode.py
  sympy/solvers/ode/tests/test_systems.py
Owners: @oscarbenjamin

feat(dsolve): improve dsolve_system for DAEs
  sympy/solvers/ode/ode.py
  sympy/solvers/ode/systems.py
  sympy/solvers/ode/tests/test_systems.py
Owners: @oscarbenjamin

feat(dsolve): tweak test cases
  sympy/solvers/ode/tests/test_systems.py
Owners: @oscarbenjamin

fix(dsolve): handle simple DAE systems in dsolve
  sympy/solvers/ode/systems.py
  sympy/solvers/ode/tests/test_systems.py
Owners: @oscarbenjamin

feat(dsolve): improve constant renumbering
  sympy/solvers/ode/systems.py
  sympy/solvers/ode/tests/test_systems.py
Owners: @oscarbenjamin

Fix typos
  sympy/solvers/ode/tests/test_systems.py
Owners: @oscarbenjamin

feat(dsolve): handle DAEs in dsolve_system
  sympy/solvers/ode/systems.py
  sympy/solvers/ode/tests/test_systems.py
Owners: @oscarbenjamin

Update velocity and test class
  sympy/physics/mechanics/actuator.py
  sympy/physics/mechanics/tests/test_actuator.py
Owners: @moorepants

Update velocity and test class
  sympy/physics/mechanics/actuator.py
  sympy/physics/mechanics/tests/test_actuator.py
Owners: @moorepants

Refactored the tests for better readability.
  sympy/physics/control/tests/test_lti.py
Owners: none

Refactored the tests for better readability.
  sympy/physics/control/tests/test_lti.py
Owners: none

Shape equation formation
  sympy/physics/continuum_mechanics/arch.py
Owners: none

Shape equation formation
  sympy/physics/continuum_mechanics/arch.py
Owners: none

use relative error in control_plots test
  sympy/physics/control/tests/test_control_plots.py
Owners: none

use relative error in control_plots test
  sympy/physics/control/tests/test_control_plots.py
Owners: none

chop small imaginary parts
  sympy/physics/control/tests/test_control_plots.py
Owners: none

chop small imaginary parts
  sympy/physics/control/tests/test_control_plots.py
Owners: none

apply load method added
  sympy/physics/continuum_mechanics/arch.py
Owners: none

apply load method added
  sympy/physics/continuum_mechanics/arch.py
Owners: none

Improved readability of tests.
  sympy/physics/control/tests/test_lti.py
Owners: none

Improved readability of tests.
  sympy/physics/control/tests/test_lti.py
Owners: none

fix(vector): fix printing of negative scalars
  sympy/physics/vector/tests/test_printing.py
  sympy/physics/vector/vector.py
Owners: @moorepants

fix(vector): fix printing of negative scalars
  sympy/physics/vector/tests/test_printing.py
  sympy/physics/vector/vector.py
Owners: @moorepants
